﻿<div class="tabbable page-tabs" id="tabingresos">
    <div class="tab-content">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="COMPRABANTE DE CONTABILIDAD"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" onClick="LimpiarDatos()">F2 <span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-danger" type="button" onClick="ModalComprobante()">F10 <span idioma="Buscar"></span></button>
                        <button class="btn btn-glow btn-info" type="button" onClick="GuardarIngreso()">F3 <span idioma="Guardar"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <input id="IdComprobante" type="hidden" value="0" />
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Tipo"></label>
                            <input type="text" class="form-control text-XX" value="CC" name="Tipo" id="Tipo" disabled />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Numero"></label>
                            <input type="text" class="form-control text-XX" name="Numero" id="Numero" disabled />
                        </div>
                        <div class="col-xs-10 col-sm-2">
                            <label idioma="Fecha"></label>
                            <input type="date" class="form-control" name="Fecha" id="Fecha">
                        </div>
                        <div class="col-xs-4 col-sm-5">
                            <label idioma="Descripción"></label>
                            <input type="text" class="form-control" name="Descripcion" id="Descripcion" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Estado"></label>
                            <input type="text" class="form-control" name="Estado" id="Estado" value="Temporal" />
                        </div>
                    </div>

                    <hr />
                    <table width="100%" class="table table-bordered hover" id="TablaComprobante">
                        <thead>
                            <tr class="bg-primary">
                                <th width="3%" idioma="Nro"></th>
                                <th width="17%" idioma="CUENTA"></th>
                                <th width="25%" idioma="CONCEPTO"></th>
                                <th width="20%" idioma="BENEFICIARIO"></th>
                                <th width="10%" idioma="DÉBITO"></th>
                                <th width="10%" idioma="CRÉDITO"></th>
                                <th width="15%" idioma="CENTRO"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn btn-glow-group" role="group">
                                <button type="button" class="btn btn-glow btn-default" onclick="javascript:VerEstadoCuenta()">F1<span idioma="Catálogo de Cuenta"></span></button>
                                <button type="button" class="btn btn-glow btn-info" onclick="javascript:ModalClientes()">F4<span idioma="Agregar Cuenta"></span></button>
                                <button type="button" class="btn btn-glow btn-default" onclick="javascript:VerEstadoCuenta()">F6<span idioma="Catálogo de Beneficiarios"></span></button>
                                <button type="button" class="btn btn-glow btn-info" onclick="javascript:VerEstadoCuenta()">F7<span idioma="Agregar Beneficiario"></span></button>
                                <button class="btn btn-glow btn-danger" id="btnguardar3" type="button" onclick="GuardarFactura()">F8<span idioma="Eliminar Fila"></span></button>
                                <button class="btn btn-glow btn-success" id="btnguardar3" type="button" onclick="GuardarFactura()">F9<span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-primary" id="btnguardar3" type="button" onclick="ImprimirFactura(0)">F11<span idioma="Imprimir"></span></button>
                                <button class="btn btn-glow btn-warning" id="btnanularped3" type="button" onclick="AnularFactura()">F12<span idioma="Anular"></span></button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-8">
                        <table width="100%" align="right" border="0">
                            <tr>
                                <th width="20%" idioma="Registrado"></th>
                                <td class="text-XX" width="80%" id="TRegistro">&nbsp;</td>
                            </tr>
                            <tr>
                                <th idioma="Contabilizado"></th>
                                <td class="text-XX" id="TContabilizado">&nbsp;</td>
                            </tr>
                            <tr>
                                <th idioma="Anulado"></th>
                                <td class="text-XX" id="TAnulado">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table width="100%" align="right" border="0">
                            <tr>
                                <th width="50%" idioma="Débito"></th>
                                <td class="text-XX" align="right" width="50%" id="TDebito">&nbsp;</td>
                            </tr>
                            <tr>
                                <th idioma="Crédito"></th>
                                <td class="text-XX" align="right" id="TCredito">&nbsp;</td>
                            </tr>
                            <tr>
                                <th idioma="Diferencia"></th>
                                <td class="text-XX" align="right" id="TDiferencia">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalComprobantes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Comporbates Contables"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-1 col-md-1">
                        <label idioma="Prefijo"></label>
                        <select id="BPrefijo" type="text" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <label idioma="Numero"></label>
                        <input id="BNumero" type="text" tabindex="51" class="form-control">
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Descripción"></label>
                        <input id="BDescripcion" type="text" tabindex="51" class="form-control">
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Estado"></label>
                        <select type="text" tabindex="55" class="form-control" id="BEstado" style="width:100%">
                            <option value="Todos">Todos</option>
                            <option value="Temporal">Temporal</option>
                            <option value="Registrado">Registrado</option>
                            <option value="Contabilizado">Contabilizado</option>
                            <option value="Anulado">Anulado</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Desde"></label>
                        <input type="date" tabindex="55" class="form-control" id="BDesde">
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Hasta"></label>
                        <input type="date" tabindex="55" class="form-control" id="BHasta">
                    </div>
                    <div class="col-xs-6 col-md-1">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="CargarModalComprobante(0)"><span idioma="Consultar"></span></button>
                    </div>
                </div>

                <hr />

                <div class="table-responsive" style="height:300px;overflow-y:auto">
                    <table class="table display  table-bordered hover" width="100%" id="TablaBusCompro">
                        <thead>
                            <tr>
                                <th idioma="Prefijo"></th>
                                <th idioma="Numero"></th>
                                <th idioma="Descripcion"></th>
                                <th idioma="Débito"></th>
                                <th idioma="Crédito"></th>
                                <th idioma="Estado"></th>
                                <th idioma="Fecha"></th>
                                <th idioma="Usuario"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/ComprobanteCont.js?unico=' + Math.round(Math.random() * 10000));
</script>




