﻿
<div class="tabbable page-tabs" id="tab-confcuenta">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabtipo" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Tipo"></span></a></li>
        <li><a href="#tabgrupo" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Grupos"></span></a></li>
        <li><a href="#tabclasificacion" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Clasificación"></span></a></li>
        <li><a href="#tabcuentas" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Cuenta Contable"></span></a></li>
        <li><a href="#tabcentrocosto" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Centro de Costo"></span></a></li>
        <li><a href="#tabretenciones" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Retenciones"></span></a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in" id="tabtipo">
            <form id="formMagnitud" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Tipos de Cuentas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarMagnitudes()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="ID"></label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control text-center" id="Tip_Id" readonly value="0" name="Tip_Id" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Descripción"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="Tip_Descripcion" id="Tip_Descripcion" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Estado"></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Tip_Estado" name="Tip_Estado" style="width:100%" required />
                            </div>
                        </div>
                        <hr />
                        <table class="table display  table-bordered hover" id="TablaMagnitudes">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="ID"></th>
                                    <th width="65%" idioma="Descripción"></th>
                                    <th width="10%" idioma="Estado"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane active fade in" id="tabgrupo">
            <form id="formMagnitud" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Grupos de Cuentas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarMagnitudes()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="ID"></label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control text-center" id="Gru_Id" readonly value="0" name="Gru_Id" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Descripción"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="Gru_Descripcion" id="Gru_Descripcion" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Estado"></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Gru_Estado" name="Gru_Estado" style="width:100%" required />
                            </div>
                        </div>
                        <hr />
                        <table class="table display  table-bordered hover" id="TablaMagnitudes">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="ID"></th>
                                    <th width="65%" idioma="Descripción"></th>
                                    <th width="10%" idioma="Estado"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade in" id="tabclasificacion">
            <form id="formMagnitud" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Clasificación de Cuentas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarMagnitudes()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="ID"></label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control text-center" id="Cla_Id" readonly value="0" name="Cla_Id" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Descripción"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="Cla_Descripcion" id="Cla_Descripcion" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Estado"></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Cla_Estado" name="Cla_Estado" style="width:100%" required />
                            </div>
                        </div>
                        <hr />
                        <table class="table display  table-bordered hover" id="TablaMagnitudes">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="ID"></th>
                                    <th width="65%" idioma="Descripción"></th>
                                    <th width="10%" idioma="Estado"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabcuentas">
            <form id="formCuentas" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Cuentas Contables"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="reset" id="btnlimpiar" onclick="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit">F3 <span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="TablaCuentas()">F5 <span idioma="Buscar"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="ModalCambioCliente()">F6 <span idioma="Importar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Nivel"></label>
                            <div class="col-sm-1">
                                <select class="form-control" id="Nivel" name="Nivel" onchange="CambioNivel(this.value)" style="width:100%">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-sm-10">
                                <span class="text-danger" id="caracterescuenta"></span>
                            </div>
                        </div>
                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Cuenta"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control text-XX" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarCuenta(this.value)" onkeyup="ValidarCuenta(this.value)" name="Cuenta" id="Cuenta" autofocus tabindex="0" required />
                            </div>
                        </div>
                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Nombre"></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="Nombre" id="Nombre" required />
                            </div>
                        </div>

                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Sub-Cuenta"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="SubCuenta" id="SubCuenta" readonly />
                            </div>
                        </div>

                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Tipo"></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="Tipo" name="Tipo" required style="width:100%" />
                            </div>
                        </div>

                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Grupo"></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="Grupo" name="Grupo" style="width:100%" />
                            </div>
                        </div>

                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Clasificación"></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="Clasificacion" name="Clasificacion" style="width:100%" />
                            </div>
                        </div>

                        <div class="form-group-min row">
                            <label class="col-sm-1 control-label" idioma="Visible"></label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="form-control" name="Visible" id="Visible" checked>
                            </div>
                            <label class="col-sm-2 control-label text-right" idioma="Ajuste Inflación"></label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="form-control" name="Ajuste" id="Ajuste" />
                            </div>
                        </div>
                        <hr />
                        <h3>Buscar Cuenta</h3>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <label idioma="Nivel"></label>
                                <select class="form-control" id="BNivel" name="BNivel" style="width:100%">
                                    <option value="0">--</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label idioma="Cuenta"></label>
                                <input type="text" class="form-control" name="BCuenta" id="BCuenta" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Sub-Cuenta"></label>
                                <input type="text" class="form-control" name="BSubCuenta" id="BSubCuenta" />
                            </div>
                            <div class="col-md-1">
                                <label idioma="Visible"></label>
                                <select class="form-control" id="BVisible" name="BVisible" style="width:100%">
                                    <option value="">--</option>
                                    <option value="1">SI</option>
                                    <option value="0">NO</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label idioma="Tipo"></label>
                                <select class="form-control" id="BTipo" name="BTipo" style="width:100%" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Grupo"></label>
                                <select class="form-control" id="BGrupo" name="BGrupo" style="width:100%" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Clasificación"></label>
                                <select class="form-control" id="BClasificacion" name="BClasificacion" style="width:100%" />
                            </div>
                        </div>
                        <hr />
                        <div class="table-responsive" style="min-height:400px;">
                            <table class="table display  table-bordered hover" width="100%" id="TablaCuenta" style="font-size:14px">
                                <thead>
                                    <tr>
                                        <th width="10%" idioma="Cuenta"></th>
                                        <th width="15%" idioma="Nombre"></th>
                                        <th width="15%" idioma="Subcuenta"></th>
                                        <th width="5%" idioma="Nivel"></th>
                                        <th width="15%" idioma="Tipo"></th>
                                        <th width="15%" idioma="Grupo"></th>
                                        <th width="15%" idioma="Clasificación"></th>
                                        <th width="9%" idioma="Visible"></th>
                                        <th width="10%" idioma="Inactiva"></th>
                                        <th width="10%" idioma="Ajuste Inflación"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody id="bodyIngreso"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabcentrocosto">
            <form id="formMagnitud" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Centros de Costos"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarMagnitudes()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="ID"></label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control text-center" id="Cen_Id" readonly value="0" name="Cen_Id" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Descripción"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="Cen_Descripcion" id="Cen_Descripcion" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Estado"></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Cen_Estado" name="Cen_Estado" style="width:100%" required />
                            </div>
                        </div>
                        <hr />
                        <table class="table display  table-bordered hover" id="TablaMagnitudes">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="ID"></th>
                                    <th width="65%" idioma="Descripción"></th>
                                    <th width="10%" idioma="Estado"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabretenciones">
            <form id="formRetencion" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Retenciones"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarDatos(2)"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="ID"></label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control text-center" id="Ret_Id" readonly value="0" name="Ret_Id" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Operación"></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Ret_Operacion" name="Ret_Operacion" style="width:100%" required>
                                    <option value="">--Seleccione--</option>
                                    <option value="Compras">Compras</option>
                                    <option value="Ventas">Ventas</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Tipo"></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Ret_Tipo" name="Ret_Tipo" style="width:100%" required>
                                    <option value="">--Seleccione--</option>
                                    <option value="ReteFuente">ReteFuente</option>
                                    <option value="ReteICA">ReteICA</option>
                                    <option value="ReteIVA">ReteIVA</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Descripción"></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="Ret_Descripcion" id="Ret_Descripcion" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Porcentaje"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control text-right text-XX" name="Ret_Porcentaje" id="Ret_Porcentaje" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5)" onkeyup="ValidarTexto(this,3)" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Débito"></label>
                            <div class="col-sm-5">
                                <select class="form-control" id="Ret_Debito" name="Ret_Debito" style="width:100%" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Crédito"></label>
                            <div class="col-sm-5">
                                <select class="form-control" id="Ret_Credito" name="Ret_Credito" style="width:100%" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 control-label" idioma="Estado"></label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Ret_Estado" name="Ret_Estado" style="width:100%" required />
                            </div>
                        </div>
                        <hr />
                        <table class="table display  table-bordered hover" id="TablaRetenciones">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="ID"></th>
                                    <th width="10%" idioma="Operación"></th>
                                    <th width="10%" idioma="Tipo"></th>
                                    <th width="45%" idioma="Descripción"></th>
                                    <th width="10%" idioma="Porcentaje"></th>
                                    <th width="10%" idioma="Cuenta Débito"></th>
                                    <th width="10%" idioma="Cuenta Crédito"></th>
                                    <th width="10%" idioma="Estado"></th>
                                    <th width="5%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/ConfContable.js?unico=' + Math.round(Math.random() * 10000));
</script>




