﻿
<div class="panel panel-primary" style="font-size:14px; color:black;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Carpeta de Scanner"></span></a></h3>
            </div>
            <div class="col-md-8 col-xs-12 text-right">
                <button class="btn btn-glow btn-success" type="button" id="btnlimpiar" onclick="TablaArchivos()"><span idioma="Actualizar"></span></button>
            </div>
        </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            <table class="table display  table-bordered hover" id="TablaScanner">
                <thead>
                    <tr>
                        <th width="70%" idioma="Archivo"></th>
                        <th width="15%" idioma="Fecha"></th>
                        <th width="15%" idioma="Tamaño"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>
            
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Scanner.js?unico=' + Math.round(Math.random() * 10000));
</script>




