﻿<div class="row">
    <div class="col-xs-10 col-sm-10">
        <h3><span idioma="Informe de Facturas por Consignación"></span></h3>
    </div>
    <div class="col-xs-2 col-sm-2 text-right">
        <a href="javascript:LlamarModalAyudas(3)" title="Ayuda de unifcar archivo">
            <img id="logoayuda" src="../images/Ayuda2.png" width="40px" />
        </a>
    </div>
</div>

<form>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Nuevo" onclick="Reporte(1)">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                    <button class="btn btn-glow btn-primary" type="button" tabindex="4" name="submit" id="Nuevo" onclick="Reporte(2)">
                        <i class="fa fa-file-pdf-o"></i>
                        <span idioma="Reporte PDF"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-group block form-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 id="h1" class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                        </h6>
                        <div class="panel-body">
                            <div id="tPrecio1" class="panel-collapse collapse in">
                                <div class="form-group row">

                                    <div class="col-xs-4 col-md-1">
                                        <label idioma="Factura" id="tipofmodal"></label>
                                        <input name="ReFactura" id="ReFactura" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-md-1">
                                        <label idioma="Cliente"></label>
                                        <input name="ReCliente" id="ReCliente" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label idioma="Tipo"></label>
                                        <select name="ReTipo" id="ReTipo" class="form-control" style="width:100%">
                                            <option value="Monturas">Monturas</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label idioma="Estado"></label>
                                        <select name="ReEstado" id="ReEstado" class="form-control" style="width:100%">
                                            <option value="T">Todos</option>
                                            <option value="C">Facturados</option>
                                            <option value="D">Despachadas</option>
                                            <option value="A">Anuladas</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label idioma="Fecha Desde"></label>
                                        <input type="date" name="ReFechaDesde" id="ReFechaDesde" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label idioma="Fecha Hasta"></label>
                                        <input type="date" name="ReFechaHasta" id="ReFechaHasta" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label idioma="Ultimos Días"></label>
                                        <input type="number" name="ReUltimoDia" id="ReUltimoDia" value="3" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-4 col-md-3">
                                        <label idioma="Asesor"></label>
                                        <select id="ReAsesor" name="ReAsesor" style="width:100%" tabindex="1"></select>
                                    </div>
                                    <div class="col-xs-4 col-md-3">
                                        <label idioma="Distrito"></label>
                                        <select id="ReDistrito" name="ReDistrito" style="width:100%" tabindex="1"></select>
                                    </div>
                                    <div class="col-xs-4 col-md-3">
                                        <label idioma="Ciudad"></label>
                                        <select id="ReCiudad" name="ReCiudad" style="width:100%" tabindex="1"></select>
                                    </div>
                                    <div class="col-xs-4 col-md-3">
                                        <label idioma="Grupo"></label>
                                        <select id="ReGrupo" name="ReGrupo" style="width:100%" tabindex="1"></select>
                                    </div>
                                    <div class="col-xs-4 col-md-3">
                                        <label idioma="Zona de Venta"></label>
                                        <select id="ReZVenta" name="ReZVenta" style="width:100%" tabindex="1"></select>
                                    </div>
                                    <div class="col-xs-4 col-md-3">
                                        <label idioma="Zona de Ubicacion"></label>
                                        <select id="ReZUbicacion" name="ReZUbicacion" style="width:100%" tabindex="1"></select>
                                    </div>
                                    
                                </div>
                                                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="tab-pane active fade in" id="consultar">
                <div id="divmodalreportefactura" class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered" id="tablamodalrepfac">

                        <thead>

                            <tr>
                                <th width="2%">&nbsp;</th>
                                <th width="8%"><span idioma="Número"></span></th>
                                <th><span idioma="Código"></span></th>
                                <th width="20%"><span idioma="Cliente"></span></th>
                                <th><span idioma="Tipo_Cliente"></span></th>
                                <th><span idioma="Tipo_Articulo"></span></th>
                                <th><span idioma="Facturado"></span></th>
                                <th><span idioma="Vencimiento"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Descuento"></span></th>
                                <th><span idioma="Subtotal"></span></th>
                                <th><span idioma="IVA"></span></th>
                                <th><span idioma="Flete"></span></th>
                                <th><span idioma="Total"></span></th>
                                <th><span idioma="Abonado"></span></th>
                                <th><span idioma="Saldo"></span></th>
                                <th><span idioma="Usuario"></span></th>
                                <th><span idioma="usu_anula"></span></th>
                                <th><span idioma="Observ_anula"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/ReporteFactura.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>
