﻿<div class="row col-sm-12">
    <div class="panel panel-primary" style="font-size:14px; color:black;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Calculo de Nómina"></span></a></h3>
                </div>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 col-sm-6">
                        <label idioma="Nómina"></label>
                        <select class="form-control" id="Nomina" name="Nomina" onchange="CambioPeriodo(this.value)" style="width:100%" />
                    </div>
                    <div class="col-sm-6">
                        <label idioma="Periodo"></label>
                        <select class="form-control" id="Periodo" name="Periodo" onchange="BuscarNomina(this.value)" style="width:100%" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group-min row">
                            <label class="col-sm-5 control-label" idioma="Asignaciones"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-XX text-right" id="TAsignacion" disabled />
                            </div>
                        </div>
                        <div class="form-group-min row">
                            <label class="col-sm-5 control-label" idioma="Deducciones"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-XX text-right" id="TDeduccion" disabled />
                            </div>
                        </div>
                        <div class="form-group-min row">
                            <label class="col-sm-5 control-label" idioma="Total a Pagar"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-XX text-right" id="TTotalPagar" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group-min row">
                            <label class="col-sm-5 control-label" idioma="Aportes Empleados"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-XX text-right" id="TAporteEmp" disabled />
                            </div>
                        </div>
                        <div class="form-group-min row">
                            <label class="col-sm-5 control-label" idioma="Aportes Patronales"</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-XX text-right" id="TAportePat" disabled />
                            </div>
                        </div>
                        <div class="form-group-min row">
                            <label class="col-sm-5 control-label" idioma="Cantidad Empleados"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-XX text-right" id="TEmpleados" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group-min row">
                            <div class="col-sm-12">
                                <label idioma="Estado"></label>
                                <input type="text" class="form-control text-XX" id="TEstado" disabled />
                            </div>
                        </div>
                        <div class="form-group-min row">
                            <div class="col-sm-12 text-right">
                                <div class="btn btn-glow-group">
                                    <button class="btn btn-glow btn-primary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><span idioma="Reportes"></span><span class="caret"></span></button>
                                    <ul class="dropdown-menu icons-right">
                                        <li><a href="javascript:Imprimir(1,0,0)"><span idioma="Resumen de Concepto"></span></a></li>
                                        <li><a href="javascript:Imprimir(2,0,0)"><span idioma="Resumen de Empleado"></span></a></li>
                                        <li><a href="javascript:Imprimir(3,0,0)"><span idioma="Listado de Aport. Patronal"></span></a></li>
                                        <li><a href="javascript:Imprimir(4,0,0)"><span idioma="Soporte de Nomina (Empresa)"></span></a></li>
                                        <li><a href="javascript:Imprimir(5,0,0)"><span idioma="Soporte de Nomina (Empleado)"></span></a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-glow btn-success" type="button" id="btnlimpiar" onclick="CalcularNomina()"><span idioma="Calcular"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" id="btnlimpiar" onclick="ReversarNomina()"><span idioma="Reversar"></span></button>
                                <button class="btn btn-glow btn-info" type="button" id="btnlimpiar" onclick="CerrarPeriodo()"><span idioma="Cerrar"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" id="btnlimpiar" onclick="AbrirPeriodo()"><span idioma="Abrir"></span></button>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row col-sm-12">
                    <div class="tabbable page-tabs" id="tabingresos">
                        <ul class="nav nav-tabs">
                            <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabCalGeneral" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Calculo General"></span></a></li>
                            <li id="proli7"><a href="#tabCalEmpleado" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Calculo por Empleados"></span></a></li>
                            <li id="proli7"><a href="#tabResuEmpleado" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Resumen de Empleados"></span></a></li>
                            <li id="proli7"><a href="#tabAsistencia" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Asistencia Individual"></span></a></li>
                            <li id="proli7"><a href="#tabContable" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Asiento Contable"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="tabCalGeneral">
                                <div class="table-responsive">
                                    <table class="table display  table-bordered hover" width="100%" id="TablaResuConcepto" style="font-size:14px">
                                        <thead>
                                            <tr class="bg-gris">
                                                <th width="3%" idioma="Orden"></th>
                                                <th width="3%" idioma="Código"></th>
                                                <th width="20%" idioma="Concepto"></th>
                                                <th align="right" width="10%" idioma="Formula"></th>
                                                <th align="right" width="10%" idioma="Formula Apot. Patro."></th>
                                                <th align="right" width="10%" idioma="Asignaciones"></th>
                                                <th align="right" width="10%" idioma="Deducciones"></th>
                                                <th align="right" width="10%" idioma="Aportes Empleados"></th>
                                                <th align="right" width="10%" idioma="Aportes Patronales"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tabResuEmpleado">
                                <div class="table-responsive">
                                    <table class="table display  table-bordered hover" width="100%" id="TablaResuEmpleado" style="font-size:14px">
                                        <thead>
                                            <tr class="bg-gris">
                                                <th width="3%" idioma="Nro"></th>
                                                <th width="3%" idioma="Documento"></th>
                                                <th width="20%" idioma="Empleado"></th>
                                                <th align="right" width="10%" idioma="Cargo"></th>
                                                <th align="right" width="10%" idioma="Sueldo Base"></th>
                                                <th align="right" width="10%" idioma="Asignaciones"></th>
                                                <th align="right" width="10%" idioma="Deducciones"></th>
                                                <th align="right" width="10%" idioma="Aportes Empleados"></th>
                                                <th align="right" width="10%" idioma="Aportes Patronales"></th>
                                                <th align="right" width="10%" idioma="Total a Pagar"></th>
                                            </tr>

                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tabCalEmpleado">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label class="text-XX" idioma="Empleado"></label>
                                        <select class="form-control" id="Empleados" onchange="CalcularNomEmpleado(this.value)" style="width:100%"></select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="text-XX" idioma="Asignaciones"></label>
                                        <input class="form-control text-XX text-right" id="EAsignaciones" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="text-XX" idioma="Deducciones"></label>
                                        <input class="form-control text-XX text-right" id="EDeducciones" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="text-XX" idioma="Total a pagar"></label>
                                        <input class="form-control text-XX text-right" id="ETotalPagar" readonly>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <br />
                                        <button class="btn btn-glow btn-primary" type="button" onclick="Imprimir(5,-1,0)"><span idioma="Imprimir"></span></button>
                                        <button class="btn btn-glow btn-success" type="button" onclick="PagoNomina()"><span idioma="Pagar"></span></button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table display  table-bordered hover" width="100%" style="font-size:14px">
                                        <thead>
                                            <tr class="bg-gris">
                                                <th width="3%" idioma="Orden"></th>
                                                <th width="3%" idioma="Código"></th>
                                                <th width="20%" idioma="Concepto"></th>
                                                <th align="right" width="10%" idioma="Formula"></th>
                                                <th align="right" width="10%" idioma="Formula Apot. Patro."></th>
                                                <th align="right" width="10%" idioma="Asignaciones"></th>
                                                <th align="right" width="10%" idioma="Deducciones"></th>
                                                <th align="right" width="10%" idioma="Aportes Empleados"></th>
                                                <th align="right" width="10%" idioma="Aportes Patronales"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="TBCalEmpleadoNom"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tabAsistencia">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="text-XX" idioma="Empleado"></label>
                                        <select class="form-control" id="AsiEmpleados" onchange="CalcularNomEmpleado(this.value)" style="width:100%"></select>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <br />
                                        <button class="btn btn-glow btn-primary" type="button" id="btnlimpiar" onclick="AdjuntarAsistencia()"><span idioma="Adjuntar Asistencia"></span></button>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="table-responsive">
                                            <table class="table display  table-bordered hover" width="100%" id="TablaResuEmpleado">
                                                <thead>
                                                    <tr class="bg-gris">
                                                        <th idioma="Día"></th>
                                                        <th idioma="Fecha"></th>
                                                        <th idioma="Entrada1"></th>
                                                        <th idioma="Salida1"></th>
                                                        <th idioma="Hora1"></th>
                                                        <th idioma="Entrada2"></th>
                                                        <th idioma="Salida2"></th>
                                                        <th idioma="Hora2"></th>
                                                        <th idioma="T.Horas"></th>
                                                        <th idioma="Ext.Diu"></th>
                                                        <th idioma="Ext.Noc"></th>
                                                        <th idioma="Ext.Fes.Diu"></th>
                                                        <th idioma="Ext.Fes.Noc"></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tabContable">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label idioma="Débito"></label>
                                        <input class="form-control" disabled id="TDebito" />
                                    </div>
                                    <div class="col-md-2">
                                        <label idioma="Crédito"></label>
                                        <input class="form-control" disabled id="TCredito" />
                                    </div>
                                    <div class="col-md-2">
                                        <label idioma="Diferencia"></label>
                                        <input class="form-control" disabled id="TDiferencia"/>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered hover display" width="100%">
                                                <thead>
                                                    <tr class="bg-danger">
                                                        <th width="55%">Cuentas</th>
                                                        <th width="10%">Centro de Costo</th>
                                                        <th width="15%">Débito</th>
                                                        <th width="15%">Crédito</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="TbContabilidadRC"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/CalcularNomina.js?unico=' + Math.round(Math.random() * 10000));
</script>




