﻿
<div class="tabbable page-tabs" id="tab-Empleados">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro Empleados"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Empleados"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="row">
                <div class="col-md-7">
                    <form id="formEmpleados" style="background-color:white">
                        <input type="hidden" name="IdEmpleado" id="IdEmpleado" value="0" />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row"> 
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Empleados"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="CambioDocumento()"><span idioma="Cambio de Documento"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="CargarCombos()"><span idioma="Actualizar Combos"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Tipo Documento"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="TipoDocumento" id="TipoDocumento" style="width:100%" required>
                                            <option value="CC">Cédula Ciudadanía</option>
                                            <option value="CE">Cédula Extrangería</option>
                                            <option value="PA">Pasaporte</option>
                                            <option value="PP">Permisio de Permanencia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Documento"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="Documento" name="Documento" onkeypress="return NumCheck(event, this,0)" onblur="BuscarEmpleado(this.value)" onkeyup="ValidarEmpleado(this.value)" autofocus required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Nombre Completo"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Nombres" id="Nombres" required>
                                    </div>
                                </div>

                                <hr />
                                <h3><span idioma="LUGAR DE NACIMIENTO"></span></h3>
                                <div class="form-group-min row">
                                    <div class="col-sm-4">
                                        <label idioma="País"></label>
                                        <select type="text" class="form-control" name="Pais" onchange="CambioDepartamento(this.value,'Departamento')" id="Pais" required style="width:100%" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Departamento"></label>
                                        <select type="text" class="form-control" name="Departamento" id="Departamento" onchange="CambioCiudad(this.value,'Ciudad')" required style="width:100%" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Ciudad"></label>
                                        <select type="text" class="form-control" name="Ciudad" id="Ciudad" required style="width:100%" />
                                    </div>
                                </div>
                                <hr />

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Estado Civil"></label>
                                    <div class="col-sm-5">
                                        <select type="text" class="form-control" name="EstadoCivil" id="EstadoCivil" style="width:100%" required>
                                            <option value="">--Seleccione una opción--</option>
                                            <option value="SOLTERO">SOLTERO</option>
                                            <option value="CASADO">CASADO</option>
                                            <option value="UNION LIBRE">UNION LIBRE</option>
                                            <option value="VIUDO">VIUDO</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Fecha Nacimiento"></label>
                                    <div class="col-sm-3">
                                        <input type="date" name="FechaNacimiento" id="FechaNacimiento" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Area"></label>
                                    <div class="col-sm-5">
                                        <select type="text" class="form-control" name="Area" id="Area" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Genero"></label>
                                    <div class="col-sm-3">
                                        <select type="text" class="form-control" name="Genero" id="Genero" style="width:100%" required>
                                            <option value="">--Seleccione una opción--</option>
                                            <option value="FEMENINO">FEMENINO</option>
                                            <option value="MASCULINO">MASCULINO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label"><a href="javascript:AgregarCargo()"><span idioma="Cargo"></span> (+)</a></label>
                                    <div class="col-sm-5">
                                        <select type="text" class="form-control" name="Cargo" id="Cargo" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Sueldo Base"></label>
                                    <div class="col-sm-3">
                                        <input type="text" name="Sueldo" id="Sueldo" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Fecha Inicio"></label>
                                    <div class="col-sm-3">
                                        <input type="date" name="FechaInicio" id="FechaInicio" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">&nbsp;</label>
                                    <label class="col-sm-2 control-label text-right" idioma="Fecha Final"></label>
                                    <div class="col-sm-3">
                                        <input type="date" name="FechaFinal" id="FechaFinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Horario"></label>
                                    <div class="col-sm-5">
                                        <select type="text" class="form-control" name="Horario" id="Horario" style="width:100%" />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Número Huella"></label>
                                    <div class="col-sm-3">
                                        <input type="number" name="Huella" id="Huella" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="EPS"></label>
                                    <div class="col-sm-5">
                                        <select type="text" class="form-control" name="EPS" id="EPS" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="AFP"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="AFP" id="AFP" style="width:100%" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="CESANTIAS"></label>
                                    <div class="col-sm-5">
                                        <select type="text" class="form-control" name="CESANTIA" id="CESANTIA" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Nivel Riesgo"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="ClaseRiesgo" id="ClaseRiesgo" style="width:100%" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Centrol de Costo"></label>
                                    <div class="col-sm-5">
                                        <select type="text" class="form-control" name="CentroCosto" id="CentroCosto" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Periodo de Pago"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="PeriodoPago" id="PeriodoPago" style="width:100%" required>
                                            <option value="QUINCENAL">QUINCENAL</option>
                                            <option value="MENSUAL">MENSUAL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Banco"></label>
                                    <div class="col-sm-3">
                                        <select type="text" class="form-control" name="Banco" id="Banco" style="width:100%" />
                                    </div>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="TipoCuenta" id="TipoCuenta" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="AHORRO">AHORRO</option>
                                            <option value="CORRIENTE">CORRIENTE</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Número de Cuenta"></label>
                                    <div class="col-sm-3">
                                        <input type="text" name="Cuenta" id="Cuenta" onkeypress="return NumCheck(event, this,0)" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Teléfono"></label>
                                    <div class="col-sm-5">
                                        <input type="text" name="Telefonos" id="Telefonos" class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Celular"></label>
                                    <div class="col-sm-3">
                                        <input type="text" id="Celular" name="Celular" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Correo Personal"></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="Email" id="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Dirección"></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Direccion" id="Direccion" required>
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Barrio"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="Barrio" id="Barrio" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Pantalón"></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Pantalon" id="Pantalon" required>
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Camisa"></label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="Camisa" id="Camisa" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Tipo de Sangre"></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="TipoSangre" id="TipoSangre" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Estado"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Estado" id="Estado" style="width:100%" required>
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="INACTIVO">INACTIVO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Foto del Usuario y Grupo"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="text-center">
                                <div class="form-group row">
                                    <center><img src="../../imagenes/img_avatar.png" id="Foto_Empleado" width="60%" /></center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="tabbable page-tabs" id="tab-opciones">
                            <ul class="nav nav-tabs">
                                <li id="proli1" class="active"><a href="#tabdocumentos" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Litar Documentos"></span></a></li>
                                <li id="proli7"><a href="#tabnuevoducumento" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Nuevo Ducumento"></span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tabdocumentos">
                                    <div class="form-group-min row">
                                        <div class="col-md-12">
                                            <h3><span idioma="Documentos del Empleado"></span></h3>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table display  table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th width="3%">#</th>
                                                        <th width="90%" idioma="Documento"></th>
                                                        <th width="7%">&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="TablaDocumentos"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="tabnuevoducumento">
                                    <h3>AGREGAR NUEVO DOCUMENTO</h3>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-md-9">
                                            <div class="col-xs-4 col-md-6">
                                                <label idioma="Tipo de Documento"></label>
                                                <select class="form-control" id="TipoDocumentoEmpleado" style="width:100%" onchange="CambioDocumentoEmpleado(this.value)" />
                                            </div>

                                            <div class="col-xs-4 col-md-6">
                                                <label idioma="Número de Documento"></label>
                                                <select class="form-control" id="NroDocumentoEmpleado" style="width:100%">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-md-3">
                                            <br />
                                            <button class="btn btn-glow btn-primary" type="button" onclick="GuardarDocumentoArchivo()"><span idioma="Guardar"></span></button>
                                        </div>
                                        <div class="col-xs-4 col-md-12">
                                            <label idioma="Examinar Documento"></label>
                                            <input type="file" name="ArchivoEmpleado" id="ArchivoEmpleado" onchange="GuardarDocumentoPDF(this.id)" accept="application/pdf" class="form-control" />
                                        </div>
                                    </div>
                                    <hr />
                                    <h3 id="CreacionDocumento"></h3>
                                    <iframe id="DocumentoEmpleados" width="100%" height="600px"></iframe>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Consultar Usuarios"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="Tipo Documento"></label>
                                    <select type="text" class="form-control" id="CTipoDocumento" style="width:100%">
                                        <option value="T">Todos</option>
                                        <option value="CC">Cédula Ciudadanía</option>
                                        <option value="CE">Cédula Extrangería</option>
                                        <option value="PA">Pasaporte</option>
                                        <option value="PP">Permisio de Permanencia</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Documento"></label>
                                    <input class="form-control" id="CDocumento" />
                                </div>
                                <div class="col-md-3">
                                    <label idioma="Nombre Completo"></label>
                                    <input class="form-control" id="CNombre" />
                                </div>
                                <div class="col-md-3">
                                    <label idioma="Cargo"></label>
                                    <select type="text" class="form-control" name="CCargo" id="CCargo" style="width:100%"></select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Estado"></label>
                                    <select class="form-control" id="CEstado" style="width:100%">
                                        <option value="TODOS">TODOS</option>
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label idioma="EPS"></label>
                                    <select type="text" class="form-control" name="CEPS" id="CEPS" style="width:100%"></select>
                                </div>
                                <div class="col-md-3">
                                    <label idioma="AFP"></label>
                                    <select type="text" class="form-control" name="CAFP" id="CAFP" style="width:100%"></select>
                                </div>
                                <div class="col-md-3">
                                    <label idioma="CESANTIAS"></label>
                                    <select type="text" class="form-control" name="CCESANTIA" id="CCESANTIA" style="width:100%"></select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Area"></label>
                                    <select type="text" class="form-control" name="CArea" id="CArea" style="width:100%"></select>
                                </div>
                                <div class="col-md-1 text-right">
                                    <br />
                                    <button class="btn btn-glow btn-primary" title="Limpiar" type="button" onclick="ConsultarEmpleados()"><span idioma="Consultar"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table display  table-bordered hover" id="TablaEmpleados">
                                            <thead>
                                                <tr>
                                                    <th width="3%" idioma="Foto"></th>
                                                    <th width="3%" idioma="ID"></th>
                                                    <th width="3%" idioma="Huella"></th>
                                                    <th width="10%" idioma="Tipo"><br><span idioma="Documento"></span></th>
                                                    <th width="10%" idioma="Documento"></th>
                                                    <th width="35%" idioma="Nombre Completo"></th>
                                                    <th idioma="Genero"></th>
                                                    <th idioma="Fecha Nacimiento"></th>
                                                    <th idioma="Lugar Nacimiento"></th>
                                                    <th width="10%" idioma="Cargo"></th>
                                                    <th idioma="Area"></th>
                                                    <th width="10%" idioma="Sueldo"></th>
                                                    <th width="10%" idioma="Banco"></th>
                                                    <th width="10%" idioma="Tipo Cuenta"></th>
                                                    <th width="10%" idioma="Cuenta"></th>
                                                    <th width="15%" idioma="EPS"></th>
                                                    <th width="15%" idioma="AFP"></th>
                                                    <th width="15%" idioma="CESANTITAS"></th>
                                                    <th width="10%" idioma="FechaInicio"></th>
                                                    <th width="10%" idioma="FechaFin"></th>
                                                    <th width="10%" idioma="Horario"></th>
                                                    <th width="10%" idioma="Dirección"></th>
                                                    <th idioma="Barrio"></th>
                                                    <th width="10%" idioma="Teléfono"></th>
                                                    <th width="10%" idioma="Celular"></th>
                                                    <th idioma="Camisa"></th>
                                                    <th idioma="Pantalón"></th>
                                                    <th idioma="Tipo Sangre"></th>
                                                    <th width="10%" idioma="Email"></th>
                                                    <th width="10%" idioma="Estado"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioDocumento" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de Dcoumento"></span>&nbsp;&nbsp;<span id="SCambioDocumento"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="NUEVO Tipo de Documento"></label>
                        <center>
                            <select type="text" class="form-control" name="DTipoDocumento" id="DTipoDocumento" style="width:100%" required>
                                <option value="CC">Cédula Ciudadanía</option>
                                <option value="CE">Cédula Extrangería</option>
                                <option value="PA">Pasaporte</option>
                                <option value="PP">Permisio de Permanencia</option>
                            </select>
                        </center>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO Documento"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarDocumento()"><span idioma="Cambiar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>

            </div>

        </div>
    </div>
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Empleados.js?unico=' + Math.round(Math.random() * 10000));
</script>




