﻿
<div class="tabbable page-tabs" id="tab-Empleados">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Prestamo de Nómina"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Prestamos"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h3 class="panel-title"><span idioma="Datos del Empleado"></span></h3>
                                </div>
                                <div class="col-md-8 col-xs-12 text-right">
                                    <button class="btn btn-glow btn-info" type="button" onclick="ModalEmpleados()"><span idioma="Buscar Empleado"></span></button>
                                    <button class="btn btn-glow btn-warning" type="button"><span idioma="Estado de Cuenta"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <label idioma="Tipo"></label>
                                    <input type="text" class="form-control" name="TipoDocumento" id="TipoDocumento" disabled>
                                </div>
                                <div class="col-sm-4">
                                    <label idioma="Documento"></label>
                                    <input type="text" class="form-control" id="Documento" name="Documento" onkeypress="return NumCheck(event, this,0)" onblur="BuscarEmpleado(this.value)" onkeyup="ValidarEmpleado(this.value)">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="Empleado"></label>
                                    <input type="text" class="form-control" name="Nombres" id="Nombres" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label idioma="Cargo"></label>
                                    <input type="text" class="form-control" name="Cargo" id="Cargo" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label idioma="Sueldo Base"></label>
                                    <input type="text" name="Sueldo" id="Sueldo" class="form-control text-right text-XX" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label idioma="Fecha Inicio"></label>
                                    <input name="FechaInicio" id="FechaInicio" class="form-control" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label idioma="Fecha Final"></label>
                                    <input type="date" name="FechaFinal" id="FechaFinal" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label idioma="Banco"></label>
                                    <input type="text" class="form-control" name="Banco" id="Banco" disabled>
                                </div>
                                <div class="col-sm-4">
                                    <label idioma="Tipo Cuenta"></label>
                                    <input type="text" class="form-control" name="TipoCuenta" id="TipoCuenta" disabled>
                                </div>
                                <div class="col-sm-4">
                                    <label idioma="Número de Cuenta"></label>
                                    <input type="text" name="Cuenta" id="Cuenta" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label idioma="Teléfono"></label>
                                    <input type="text" name="Telefonos" id="Telefonos" class="form-control" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label idioma="Celular"></label>
                                    <input type="text" id="Celular" name="Celular" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="Correo Electrónico"></label>
                                    <input type="text" name="Correo" id="Correo" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form id="formPrestamo" style="background-color:white">
                        <input type="hidden" name="IdPrestamo" id="IdPrestamo" value="0" />
                        <input type="hidden" name="IdEmpleado" id="IdEmpleado" value="0" />
                        <div class="panel panel-success" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><span idioma="Datos del Préstamo"></span></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-primary" type="submit"><span idioma="Guardar"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label idioma="Tipo de Préstamo"></label>
                                        <select type="text" class="form-control" name="TipoPrestamo" id="TipoPrestamo" onchange="CalTipoPrestamo(this.value)" style="width:100%" required>
                                            <option value="VALE">VALE</option>
                                            <option value="PRESTAMO">PRÉSTAMO</option>
                                            <option value="CONVENIO">CONVENIO</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8">
                                        <label idioma="Descripción"></label>
                                        <input type="text" class="form-control" id="Descripcion" name="Descripcion">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label idioma="Monto del Préstamo"></label>
                                        <input type="text" class="form-control text-right text-XX" name="Monto" id="Monto" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="CalcularCuota(this)">
                                    </div>

                                    <div class="col-sm-6">
                                        <label idioma="Saldo Actual"></label>
                                        <input type="text" class="form-control text-right text-XX" name="Saldo" id="Saldo" disabled>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label idioma="Forma de Pago"></label>
                                        <select type="text" class="form-control" name="FormaPago" id="FormaPago" onchange="CambioFormaPago(this.value)" style="width:100%" required>
                                            <option value="QUINCENAL">QUINCENAL</option>
                                            <option value="MENSUAL">MENSUAL</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Número de Cuotas"></label>
                                        <select name="NCuota" id="NCuota" class="form-control" onchange="CalcularCuota('')" style="width:100%" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Valor Cuota (Mensual)"></label>
                                        <input name="ValorCuota" id="ValorCuota" class="form-control text-right text-XX" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label idioma="Descuento en Prima"></label>
                                        <input name="Prima" id="Prima" class="form-control text-right text-XX" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="CalcularCuota(this)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label idioma="Fecha Inicio"></label>
                                        <input type="date" id="FechaIniCuota" name="FechaIniCuota" class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <label idioma="Desembolso del Préstamo"></label>
                                        <select type="text" class="form-control" name="Desembolso" id="Desembolso" style="width:100%">
                                            <option value="EFECTIVO">EFECTIVO</option>
                                            <option value="TRANSFERENCIA">TRANSFERENCIA</option>
                                            <option value="CHEQUE">CHEQUE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Consultar Usuarios"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label idioma="Empleado"></label>
                                    <select type="text" class="form-control" name="CEmpleado" id="CEmpleado" style="width:100%"></select>
                                </div>
                                <div class="col-md-3">
                                    <label idioma="Cargo"></label>
                                    <select type="text" class="form-control" name="CCargo" id="CCargo" style="width:100%"></select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Estado"></label>
                                    <select class="form-control" id="CEstado" style="width:100%">
                                        <option value="TODOS">TODOS</option>
                                        <option value="PENDIENTES" selected>PENDIENTES</option>
                                        <option value="PAGADOS">PAGADOS</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Tipo de Préstamo"></label>
                                    <select class="form-control" id="CTipo" style="width:100%">
                                        <option value="VALE">VALE</option>
                                        <option value="PRESTAMO">PRÉSTAMO</option>
                                        <option value="CONVENIO">CONVENIO</option>
                                    </select>
                                </div>
                                <div class="col-md-2 text-right">
                                    <br />
                                    <button class="btn btn-glow btn-primary" title="Limpiar" type="button" onclick="ConsultarPrestamos()"><span idioma="Consultar"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table display  table-bordered hover" id="TablaPrestamos">
                                            <thead>
                                                <tr>
                                                    <th width="3%">&nbsp;</th>
                                                    <th width="3%" idioma="ID">&nbsp;</th>
                                                    <th width="25%" idioma="Empleado"></th>
                                                    <th idioma="Cargo"></th>
                                                    <th idioma="Sueldo"></th>
                                                    <th idioma="Fecha_Inicio"></th>
                                                    <th idioma="Prestamo"></th>
                                                    <th idioma="Descripción"></th>
                                                    <th idioma="Monto"></th>
                                                    <th idioma="NCuota"></th>
                                                    <th idioma="Valor_Cuota"></th>
                                                    <th idioma="Prima"></th>
                                                    <th idioma="Saldo"></th>
                                                    <th idioma="Pagado"></th>
                                                    <th idioma="Registrado"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/PrestamoNomina.js?unico=' + Math.round(Math.random() * 10000));
</script>




