﻿<div class="row">
    <div class="col-xs-10 col-sm-10">
        <h3><span idioma="Interfaz Contable con Helisa"></span></h3>
    </div>
    <div class="col-xs-2 col-sm-2 text-right">
        <a href="javascript:LlamarModalAyudas(3)" title="Ayuda de unifcar archivo">
            <img id="logoayuda" src="../images/Ayuda2.png" width="40px" />
        </a>
    </div>
</div>

<form>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Nuevo" onclick="Reporte(1)">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <label idioma="Almacén"></label>
                    <select class="form-control" id="Almacen">
                    </select>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <label idioma="Opción"></label>
                    <select class="form-control" id="Tipo">
                        <option value="1">Facturas</option>
                        <option value="2">Recibos</option>
                        <option value="3">Terceros</option>
                    </select>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <label idioma="Fecha Desde"></label>
                    <input type="date" class="form-control" id="Fechad"/>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <label idioma="Fecha Desde"></label>
                    <input type="date" class="form-control" id="Fechah" />
                </div>
            </div>
            <div class="table-responsive">
                <table class="table display  table-bordered" id="tablafactura">
                    <thead>
                        <tr>
                            <th><span idioma="Tipo Doc."></span></th>
                            <th><span idioma="Número Doc."></span></th>
                            <th><span idioma="Fecha"></span></th>
                            <th><span idioma="Cuenta"></span></th>
                            <th><span idioma="Concepto"></span></th>
                            <th><span idioma="Centro de costo"></span></th>
                            <th><span idioma="Valor"></span></th>
                            <th><span idioma="Naturaleza"></span></th>
                            <th><span idioma="Identidad del tercero"></span></th>
                            <th><span idioma="D.V."></span></th>
                            <th><span idioma="Nombre del tercero"></span></th>
                            <th><span idioma="Ciudad"></span></th>
                            <th><span idioma="País"></span></th>
                            <th><span idioma="Cuenta bancaria"></span></th>
                            <th><span idioma="Doc. fuente"></span></th>
                            <th><span idioma="Código del negocio"></span></th>
                            <th><span idioma="Nombre del negocio"></span></th>
                            <th><span idioma="Código del tercero"></span></th>
                            <th><span idioma="Base"></span></th>
                            <th><span idioma="Inversión"></span></th>
                            <th><span idioma="Obligación financiera"></span></th>
                            <th><span idioma="Clase mov."></span></th>
                        </tr>
                    </thead>
                </table>
                <table class="table display  table-bordered hidden" id="tablatercero" >
                    <thead>
                        <tr>
                            <th><span idioma="Documento"></span></th>
                            <th><span idioma="DV"></span></th>
                            <th><span idioma="Clase"></span></th>
                            <th><span idioma="Nombre"></span></th>
                            <th><span idioma="Dirección"></span></th>
                            <th><span idioma="Teléfono"></span></th>
                            <th><span idioma="FAX"></span></th>
                            <th><span idioma="Ciudad"></span></th>
                            <th><span idioma="Nombre de la Ciudad"></span></th>
                            <th><span idioma="Apartado"></span></th>
                            <th><span idioma="Correo Electrónico"></span></th>
                            <th><span idioma="Apellido1"></span></th>
                            <th><span idioma="Apellido2"></span></th>
                            <th><span idioma="Nombre1"></span></th>
                            <th><span idioma="Nombre2"></span></th>
                            <th><span idioma="Naturaleza"></span></th>
                            <th><span idioma="Actividad Económica"></span></th>
                            <th><span idioma="Código Área"></span></th>
                            <th><span idioma="Número Móvil"></span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>


<!--<tr>
    <th><span idioma="Tipo Doc."></span></th>
    <th><span idioma="Fecha"></span></th>
    <th><span idioma="Número Doc."></span></th>
    <th><span idioma="Cuenta"></span></th>
    <th><span idioma="Concepto"></span></th>
    <th><span idioma="Centro de costo"></span></th>
    <th><span idioma="Valor"></span></th>
    <th><span idioma="Naturaleza"></span></th>
    <th><span idioma="Identidad del tercero"></span></th>
    <th><span idioma="Doc. Fuente"></span></th>
    <th><span idioma="Código del negocio"></span></th>
    <th><span idioma="Nombre del negocio"></span></th>
    <th><span idioma="Numero Cheque"></span></th>
    <th><span idioma="Código del tercero"></span></th>
    <th><span idioma="Cuenta bancaria"></span></th>
    <th><span idioma="id/Vendedor/Cobrador"></span></th>
    <th><span idioma="Forma de Pago"></span></th>
    <th><span idioma="Base"></span></th>
    <th><span idioma="Nro Operación"></span></th>
    <th><span idioma="Fecha Cheque"></span></th>
    <th><span idioma="Inversión"></span></th>
    <th><span idioma="Obligación financiera"></span></th>
</tr>-->

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/InterfazContable.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>
