﻿
<div class="row">

    <div class="col-md-6 hidden-xs" >
        <img src="../Adjunto/imagenes/logosistema.png" width="100%" />
        <hr />
        <div class="form-group row">
            <div class="col-md-4">

                <div class="sprocket-mosaic-g-item" data-mosaic-content="">
                    <div style="display: none;" data-mosaic-order-title="Presión" data-mosaic-order-date="2015-04-06 14:05:21"></div>
                    <div class="sprocket-mosaic-g-image-container">
                        <img src="../Adjunto/imagenes/logo_menu/Presion.png" alt="" class="sprocket-mosaic-g-image">
                        <div class="sprocket-mosaic-g-effect"></div>
                    </div>
                    <div class="sprocket-mosaic-g-content overlay-mode">
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/presion" target="_blank">Presión</a>
                        <div class="sprocket-mosaic-g-text">
                            CALIBRATION SERVICE S.A.S. ofrece el servicio de calibración de instrumentos en la magnitud de presión, empleando el procedimiento de calibración<span class="roksprocket-ellipsis">…</span>
                            <a href="http://www.calibrationservicesas.com/index.php/calibracion/presion" target="_blank" class="sprocket-mosaic-g-readon">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sprocket-mosaic-g-item" data-mosaic-content="">
                    <div style="display: none;" data-mosaic-order-title="Temperatura y humedad" data-mosaic-order-date="2015-04-06 14:47:52"></div>				<div class="sprocket-mosaic-g-image-container">
                        <img src="../Adjunto/imagenes/logo_menu/Temperatura_Humedad.png" alt="" class="sprocket-mosaic-g-image">
                        <div class="sprocket-mosaic-g-effect"></div>
                    </div>

                    <div class="sprocket-mosaic-g-content overlay-mode">
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/temperatura-y-humedad" target="_blank">Temperatura y humedad</a>

                        <div class="sprocket-mosaic-g-text">
                            CALIBRATION SERVICE S.A.S. cuenta con una cámara ambiental homogenizada/caracterizada, con la capacidad de generar diversas condiciones ambientales, ofrece el servicio<span class="roksprocket-ellipsis">…</span>
                        </div>
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/temperatura-y-humedad" target="_blank" class="sprocket-mosaic-g-readon">Descargar</a>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="sprocket-mosaic-g-item" data-mosaic-content="">
                    <div style="display: none;" data-mosaic-order-title="Masas y Balanzas" data-mosaic-order-date="2015-04-06 17:44:55"></div>				<div class="sprocket-mosaic-g-image-container">
                        <img src="../Adjunto/imagenes/logo_menu/Masa_Balanza.png" alt="" class="sprocket-mosaic-g-image">
                        <div class="sprocket-mosaic-g-effect"></div>
                    </div>

                    <div class="sprocket-mosaic-g-content overlay-mode">
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/masas-y-balanzas" target="_blank">					Masas y Balanzas				</a>

                        <div class="sprocket-mosaic-g-text">
                            CALIBRATION SERVICE S.A.S. ofrece el servicio de calibración en la magnitud de masas y balanzas con un alcance de 0<span class="roksprocket-ellipsis">…</span>
                        </div>
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/masas-y-balanzas" target="_blank" class="sprocket-mosaic-g-readon">Descargar</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">

                <div class="sprocket-mosaic-g-item" data-mosaic-content="">
                    <div style="display: none;" data-mosaic-order-title="Longitud" data-mosaic-order-date="2015-04-06 19:31:48"></div>				<div class="sprocket-mosaic-g-image-container">
                        <img src="../Adjunto/imagenes/logo_menu/Longitud.png" alt="" class="sprocket-mosaic-g-image">
                        <div class="sprocket-mosaic-g-effect"></div>
                    </div>

                    <div class="sprocket-mosaic-g-content overlay-mode">
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/longitud" target="_blank">					Longitud				</a>

                        <div class="sprocket-mosaic-g-text">
                            CALIBRATION SERVICE S.A.S. ofrece el servicio de calibración en la magnitud de longitud, con un alcance de 0 mm a<span class="roksprocket-ellipsis">…</span>
                        </div>
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/longitud" target="_blank" class="sprocket-mosaic-g-readon">Descargar</a>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="sprocket-mosaic-g-item" data-mosaic-content="">
                    <div style="display: none;" data-mosaic-order-title="Par Torsional" data-mosaic-order-date="2015-04-06 20:18:37"></div>				<div class="sprocket-mosaic-g-image-container">
                        <img src="../Adjunto/imagenes/logo_menu/ParTorsional.png" alt="" class="sprocket-mosaic-g-image">
                        <div class="sprocket-mosaic-g-effect"></div>
                    </div>

                    <div class="sprocket-mosaic-g-content overlay-mode">
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/par-torsional" target="_blank">					Par Torsional				</a>
                        <div class="sprocket-mosaic-g-text">
                            CALIBRATION SERVICE S.A.S. ofrece el servicio de calibración en la magnitud de Par Torsional para los diferentes tipos y clases<span class="roksprocket-ellipsis">…</span>
                        </div>
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/par-torsional" target="_blank" class="sprocket-mosaic-g-readon">Descargar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sprocket-mosaic-g-item" data-mosaic-content="">
                    <div style="display: none;" data-mosaic-order-title="Corriente" data-mosaic-order-date="2015-04-06 20:35:02"></div>				<div class="sprocket-mosaic-g-image-container">
                        <img src="../Adjunto/imagenes/logo_menu/Corriente.png" alt="" class="sprocket-mosaic-g-image">
                        <div class="sprocket-mosaic-g-effect"></div>
                    </div>

                    <div class="sprocket-mosaic-g-content overlay-mode">
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/corriente" target="_blank">					Corriente				</a>
                        <div class="sprocket-mosaic-g-text">
                            CALIBRATION SERVICE S.A.S. ofrece el servicio de calibración de instrumentos eléctricos, empleando patrones de alta exactitud y una resolución de<span class="roksprocket-ellipsis">…</span>
                        </div>
                        <a href="http://www.calibrationservicesas.com/index.php/calibracion/corriente" target="_blank" class="sprocket-mosaic-g-readon">Descargar</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6">

        <ul class="info-blocks">
            <li class="bg-info" id="opc_ingreso">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Registro/Ingreso',2,'ul_registro')">Ingreso</a>
                    <small>Ingreso de Equipos</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Registro/Ingreso',2,'ul_registro')"><i class="icon-pencil"></i></a>
                <span class="bottom-info bg-primary">Presione F1</span>
            </li>

            <li class="bg-primary" id="opc_foto">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Registro/FotoIngresos',1)">Fotos</a>
                    <small>Ingreso de Equipos</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Registro/FotoIngresos',1)"><i class="icon-pencil"></i></a>
                <span class="bottom-info bg-info">Presione F2</span>
            </li>

            <li class="bg-primary" id="opc_foto_dev">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Registro/FotoDevolucion',1)">Fotos</a>
                    <small>Devoluciones</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Registro/FotoDevolucion',1)"><i class="icon-pencil"></i></a>
                <span class="bottom-info bg-info">Presione F2</span>
            </li>

            <li class="bg-primary" id="opc_foto_dev">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Movil/FotoRecoger',1)">Fotos</a>
                    <small>Ejecutar Vuelta</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Movil/FotoRecoger',1)"><i class="icon-pencil"></i></a>
                <span class="bottom-info bg-info">Presione F2</span>
            </li>

            <li class="bg-primary" id="opc_foto_dev">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Movil/FotoEntregar',1)">Fotos</a>
                    <small>Entregar Equipos</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Movil/FotoEntregar',1)"><i class="icon-pencil"></i></a>
                <span class="bottom-info bg-info">Presione F2</span>
            </li>

            <li class="bg-primary" id="opc_foto_dev">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Inventario/FotoEquipos',1)">Fotos</a>
                    <small>Inventarios</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Inventario/FotoEquipos',1)"><i class="icon-pencil"></i></a>
                <span class="bottom-info bg-info">Presione F2</span>
            </li>


            <li class="bg-info" id="opc_cotizacion">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Registro/Cotizacion',2,'ul_registro')">Cotización</a>
                    <small>Cotizacione de servicios</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Registro/Cotizacion',2,'ul_registro')"><i class="icon-coin"></i></a>
                <span class="bottom-info bg-primary">Presione F3</span>
            </li>

            <li class="bg-info" id="opc_devolucion">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Registro/Cotizacion',2,'ul_registro')">Devoluciones</a>
                    <small>Registro</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Registro/Devolucion',2,'ul_registro')"><i class="icon-coin"></i></a>
                <span class="bottom-info bg-primary">Presione F3</span>
            </li>

            <li class="bg-primary" id="opc_facturacion">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('Laboratorio/OpePreTemperatura',2,'ul_laboratorio')">Facturación</a>
                    <small>Facturación de Servicios</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('Laboratorio/PlaCertiTemperaturaIF',2,'ul_laboratorio')"><i class="icon-cart2"></i></a>
                <span class="bottom-info bg-info">Presione F4</span>
            </li>


            <li class="bg-info" id="opc_caja">
                <div class="top-info">
                    <a href="#">Caja</a>
                    <small>Recibos y Cartera</small>
                </div>
                <a href="#"><i class="icon-calculate"></i></a>
                <span class="bottom-info bg-primary">Presione F5</span>
            </li>

            <li class="bg-info" id="opc_estatus">
                <div class="top-info">
                    <a href="#">Estatus</a>
                    <small>Ingreso por Cotización</small>
                </div>
                <a href="#"><i class="icon-stats2"></i></a>
                <span class="bottom-info bg-primary">Presione F7</span>
            </li>
            <li class="bg-info" id="opc_ingresarequipos">
                <div class="top-info">
                    <a href="#">Laboratorio</a>
                    <small>Ingresar Equipos</small>
                </div>
                <a href="#"><i class="icon-stats2"></i></a>
                <span class="bottom-info bg-primary">Presione F7</span>
            </li>

            <li class="bg-info" id="opc_reportaingreso">
                <div class="top-info">
                    <a href="#">Laboratorio</a>
                    <small>Reportar Equipos</small>
                </div>
                <a href="#"><i class="icon-stats2"></i></a>
                <span class="bottom-info bg-primary">Presione F7</span>
            </li>

            <li class="bg-info" id="opc_certificados">
                <div class="top-info">
                    <a href="#">Laboratorio</a>
                    <small>Certificados</small>
                </div>
                <a href="#"><i class="icon-stats2"></i></a>
                <span class="bottom-info bg-primary">Presione F7</span>
            </li>
            <li class="bg-primary" id="opc_vueltas">
                <div class="top-info">
                    <a href="javascript:LlamarOpcionMenu('GENERAL/RegistroVueltas',2,'ul_general')">Registro</a>
                    <small>Diligencias</small>
                </div>
                <a href="javascript:LlamarOpcionMenu('GENERAL/RegistroVueltas',2,'ul_general')"><i class="icon-cart2"></i></a>
                <span class="bottom-info bg-info">Presione F4</span>
            </li>

        </ul>
    </div>
</div>


<!-- /info blocks -->

<script src="../js/Index.js"></script>



