﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabfacturas">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a href="#tabcalendario" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Agenda Personal"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcalendario">
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Agenda Personal"></span></a></h3>
                                </div>
                                <div class="col-md-8 col-xs-12 text-right">
                                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="BuscarFecha()">F2 <span idioma="Ir a una Fecha"></span></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="javascript:CambiarMes(1)"><span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on" style="-moz-user-select: none;"><span class="fc-text-arrow">‹</span></span></a>
                                        <a href="javascript:CambiarMes(2)"><span class="fc-button fc-button-next fc-state-default" unselectable="on" style="-moz-user-select: none;"><span class="fc-text-arrow">›</span></span></a>
                                    </div>

                                    <div class="col-md-4 text-center">
                                        <h3 id="TituloCalendario">Meses</h3>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <a href="javascript:CargarAgenda(1)"><span id="OpcionAgenda1" class="fc-button  fc-state-default fc-state-active" style="-moz-user-select: none;">Meses</span></a>
                                        <a href="javascript:CargarAgenda(2)"><span id="OpcionAgenda2" class="fc-button  fc-state-default" style="-moz-user-select: none;">Semanas</span></a>
                                        <a href="javascript:CargarAgenda(3)"><span id="OpcionAgenda3" class="fc-button  fc-state-default" style="-moz-user-select: none;">Días</span></a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Cliente</label>
                                        <select class="form-control" style="width:100%" id="ClienteAgenda" onchange="FiltroAgenda()"></select>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="bg-danger text-center" idioma="Festivos"></label>
                                        <input type="checkbox" class="form-control" checked id="CFestivos" onchange="FiltroAgenda()" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="bg-warning text-center" idioma="Culminación Contrato"></label>
                                        <input type="checkbox" class="form-control" checked id="CCulminacion" onchange="FiltroAgenda()" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="bg-success text-center" idioma="Cumpleaños"></label>
                                        <input type="checkbox" class="form-control" checked id="CCumpleanos" onchange="FiltroAgenda()" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="bg-info text-center" idioma="Eventos"></label>
                                        <input type="checkbox" class="form-control" checked id="CEventos" onchange="FiltroAgenda()" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="bg-primary text-center" idioma="Actividades"></label>
                                        <input type="checkbox" class="form-control" checked id="CActividades" onchange="FiltroAgenda()" />
                                    </div>
                                </div>
                                <hr />
                                <div class="table-responsive" id="Calendario">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Tipo"></label>
                                    <select name="CoTipo" id="CoTipo" class="form-control" style="width:100%">
                                        <option value="T">Todos</option>
                                        <option value="Evento">Evento</option>
                                        <option value="Actividad">Actividad</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Estado"></label>
                                    <select name="CoEstado" id="CoEstado" class="form-control" style="width:100%">
                                        <option value="T">Todos</option>
                                        <option value="Activo">Activo</option>
                                        <option value="Bloqueado">Bloqueado</option>
                                    </select>
                                </div>

                                <div class="col-xs-4 col-md-4">
                                    <label idioma="Cliente"></label>
                                    <select name="CoCliente" id="CoCliente" class="form-control" style="width:100%" />
                                </div>
                                <div class="col-xs-6 col-sm-2">
                                    <label idioma="Fecha Desde"></label>
                                    <input type="date" name="CoFechaDesde" id="CoFechaDesde" class="form-control" />
                                </div>
                                <div class="col-xs-6 col-sm-2">
                                    <label idioma="Fecha Hasta"></label>
                                    <input type="date" name="CoFechaHasta" id="CoFechaHasta" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <label idioma="Titulo"></label>
                                    <input type="text" name="CoTitulo" id="CoTitulo" class="form-control" />
                                </div>

                                <div class="col-xs-6 col-sm-4">
                                    <label idioma="Descripción"></label>
                                    <input type="text" name="CoDescripcion" id="CoDescripcion" class="form-control" />
                                </div>

                                <div class="col-xs-4 col-md-4 text-right">
                                    <br>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="ConsularEventos()"><span idioma="Consultar"></span></button>
                                </div>
                            </div>
                            <hr />
                            <div class="table-responsive" style="min-height:300px;">
                                <table class="table display  table-bordered hover" id="TablaCoCalendario">

                                    <thead>

                                        <tr>
                                            <th width="3%"><span idioma="&nbsp;"></span></th>
                                            <th width="3%"><span idioma="ID"></span></th>
                                            <th width="5%"><span idioma="Tipo"></span></th>
                                            <th width="5%"><span idioma="Estado"></span></th>
                                            <th width="12%"><span idioma="Título"></span></th>
                                            <th width="15%"><span idioma="Cliente"></span></th>
                                            <th width="20%"><span idioma="Descripción"></span></th>
                                            <th width="10%"><span idioma="Vista"></span></th>
                                            <th width="8%"><span idioma="FechaInicio"></span></th>
                                            <th width="8%"><span idioma="FechaFinal"></span></th>
                                            <th width="8%"><span idioma="Recordatorio"></span></th>
                                            <th width="8%"><span idioma="Registro"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalEvento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="FormEvento">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Administrar Actividad ó Evento"></span></h4>
                </div>
                <input type="hidden" id="IdEvento" name="IdEvento" value="0" />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Tipo"></label>
                            <select class="form-control" name="Tipo" id="Tipo" style="width:100%">
                                <option value="Evento">Evento</option>
                                <option value="Actividad">Actividad</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Estado"></label>
                            <select class="form-control" name="Estado" id="Estado" style="width:100%">
                                <option value="Activo">Activo</option>
                                <option value="Bloqueado">Bloqueado</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Vistas (No seleccione ninguna si desea que el evento lo vea solo usted)"></label>
                            <select multiple class="form-control" id="Vistas" name="Vistas" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Título"></label>
                            <input class="form-control" name="Titulo" id="Titulo" maxlength="80" placeholder="Título no mayor a 80 caracteres" required>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Cliente"></label>
                            <select class="form-control" id="Cliente" name="Cliente" style="width:100%" />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Descripción"></label>
                            <textarea class="form-control" rows="4" name="Descripcion" id="Descripcion" required />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Adjuntar Archivo"></label>
                            <input type="file" class="form-control" name="Archivo" id="Archivo" onchange="GuardarDocumento(this.id)" accept="application/pdf">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Fecha Inicio"></label><br>
                            <input type="date" id="FechaInicio" name="FechaInicio" class="form-control" required />
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label idioma="Hora Inicio"></label><br>
                            <input type="time" id="HoraInicio" name="HoraInicio" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Fecha Recordatorio"></label><br>
                            <input type="date" id="FechaRecordatorio" name="FechaRecordatorio" class="form-control" required />
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Fecha Final"></label><br>
                            <input type="date" id="FechaFinal" name="FechaFinal" class="form-control" required />
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label idioma="Hora Final"></label><br>
                            <input type="time" id="HoraFinal" name="HoraFinal" class="form-control" />
                        </div>
                    </div>
                    <div id="RegistroEvento"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-danger" type="button" onclick="EliminarArchivo()"><span idioma="Eliminar Archivo"></span></button>
                    <button class="btn btn-glow btn-info" type="button" onclick="VerArchivo(0)"><span idioma="Ver Archivo"></span></button>
                    <button class="btn btn-glow btn-primary" type="submit"><span idioma="Agregar Evento/Actividad"></span></button>
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </form>
        
    </div>
</div>

<div id="ModalVerEvento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Ver Evento ó Actividad"></span></h4>
            </div>
            <input type="hidden" id="IdEvento" name="IdEvento" value="0" />
            <div class="modal-body with-padding">
                <table width="100%" border="0">
                    <tr>
                        <th width="20%" style="text-align:right">ID</th>
                        <td width="5%">:</td>
                        <td width="80%" id="TID">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Registrado por</th>
                        <td>:</td>
                        <td id="TRegistro">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Tipo</th>
                        <td>:</td>
                        <td id="TTipo">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Estado</th>
                        <td>:</td>
                        <td id="TEstado">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Vista</th>
                        <td>:</td>
                        <td id="TVista">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Título</th>
                        <td>:</td>
                        <td id="TTitulo">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Cliente</th>
                        <td>:</td>
                        <td id="TClientes">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Descripción</th>
                        <td>:</td>
                        <td id="TDescripcion">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Fecha/Inicio</th>
                        <td>:</td>
                        <td id="TFechaInicio">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Fecha/Final</th>
                        <td>:</td>
                        <td id="TFechaFinal">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Fecha/Recordatorio</th>
                        <td>:</td>
                        <td id="TFechaRecordatorio">&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Archivo</th>
                        <td>:</td>
                        <td id="TArchivo">&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" id="btnagregartarea" onclick="AgregarTarea()"><span idioma="Tareas realizadas del Evento/Actividad"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalTarea" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Tarea  de la Actividad ó Evento"></span> <span id="TituloTarea"></span></h4>
            </div>
            <input type="hidden" id="IdEvento" name="IdEvento" value="0" />
            <div class="modal-body with-padding">
                <input type="hidden" value="0" id="IdEvenTarea" />
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-1">
                        <label idioma="ID"></label>
                        <input class="form-control text-center" name="IdTarea" id="IdTarea" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Descripción de la Tarea"></label>
                        <textarea class="form-control" rows="4" name="Tarea" id="Tarea" required />
                    </div>
                </div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-bordered display hover" id="TablaEventoTarea">
                        <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="15%">Registro</th>
                                <th width="60%">Tarea</th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-default" type="button" onclick="NuevaTarea()"><span idioma="Nueva Tarea"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="GuardarTarea()"><span idioma="Guardar Tarea"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Calendario.js?unico=' + Math.round(Math.random() * 10000));
</script>




