﻿<div class="tabbable page-tabs" id="tabquejas">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-radio-partial"></i><span idioma="Responder/Asignar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formmonturas" style="background-color:white">
                <input type="hidden" name="NFactura" id="NFactura" disabled required />
                <div class="panel panel-primary" style="font-size:14px; color:black;">

                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><span id="Menu_Empresa" idioma="Registro de Quejas del Cliente"></span></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="cerrarMesaA()"><span idioma="Cerrar mesa de ayuda"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="seguimientoMA()"><span idioma="Ver historial"></span></button>
                                <!--button class="btn btn-glow btn-success" type="button" onclick="GuardaQueja()">F3 <span idioma="Guardar"></span></!--button>-->
                                <!--button class="btn btn-glow btn-danger" type="button" onclick="EnviarAcuse()">F4 <span idioma="Enviar Acuse Queja"></span></!--button>-->
                                <button class="btn btn-glow btn-warning" type="button" onclick="ImprimirQueja(0)"><span idioma="Imprimir mesa de trabajo"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <h3><span idioma="DESCRIPCION DE LA SOLICITUD"></span></h3>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <label idioma=""></label>
                                    <textarea class="form-control" name="Descripcion" id="Descripcion" rows="18" readonly />
                                </div>
                                <div class="col-md-3">
                                    <div class="col-md-6">
                                        <label idioma="Tipo"></label>
                                        <select id="tipoSolc">
                                            <option value="0">--</option>
                                            <option value="Error de sistema">Error de sistema</option>
                                            <option value="Mejora">Mejora</option>
                                            <option value="Modulo nuevo">Módulo nuevo</option>
                                            <option value="Requerimiento">Requerimiento</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Atención"></label>
                                        <select id="prioriSolc">
                                            <option value="0">--</option>
                                            <option value="Alta">Alta</option>
                                            <option value="Media">Media</option>
                                            <option value="Baja">Baja</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Fecha de incidencia"></label>
                                        <input type="text" class="form-control" name="Fecha" id="Fecha" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label idioma="Control"></label>
                                        <input type="text" class="form-control" name="control_act" id="control_act" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label idioma="Caso"></label>
                                        <input type="text" class="form-control" name="caso_act" id="caso_act" readonly />
                                    </div>

                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="Asesor" id="Asesor" readonly />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="Cargo" id="Cargo" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Departamento origen"></label>
                                        <input type="text" class="form-control" name="DepartamentoOri" id="DepartamentoOri" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Departamento destino"></label>
                                        <input type="text" class="form-control" name="DepartamentoDest" id="DepartamentoDest" readonly />
                                    </div>
                                </div>

                                <div class="col-lg-9">
                                    <br />
                                    <div class="col-xs-12 col-md-12 col-sm-12">
                                        <h3><span idioma="CAPTURAS DE PANTALLA"></span></h3>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body text-center">
                                                <a id="icon_a" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagen_a" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body text-center">
                                                <a id="icon_b" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagen_b" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body text-center">
                                                <a id="icon_c" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagen_c" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body text-center">
                                                <a id="icon_d" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagen_d" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 hidden" id="informacion_padre">
                                    <hr />
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico inicial"></label>
                                        <input type="text" class="form-control" name="asesor_padre" id="asesor_padre" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Cargo inicial"></label>
                                        <input type="text" class="form-control" name="cargo_padre" id="cargo_padre" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Departamento inicial"></label>
                                        <input type="text" class="form-control" name="depto_padre" id="depto_padre" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Fecha inicial de incidencia"></label>
                                        <input type="text" class="form-control" name="fecha_padre" id="fecha_padre" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label idioma="Control"></label>
                                        <input type="text" class="form-control" name="control_padre" id="control_padre" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label idioma="Caso"></label>
                                        <input type="text" class="form-control" name="caso_padre" id="caso_padre" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <h3><span idioma="RESPUESTA A LA INCIDENCIA"></span></h3>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <label idioma="Respuesta tecnica"></label>
                                    <textarea class="form-control" name="Investigacion" id="Investigacion" rows="16" />
                                </div>
                                <div class="col-xs-4 col-md-3 col-sm-3">
                                    <div class="col-md-12">
                                        <label idioma="Departamento redireccion:"></label>
                                        <select id="dptoRed" onchange="dptoRedireccion(this.value)"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Tipo"></label>
                                        <select id="tipoSolcInv" onchange="ocultarActividad(this.value)">
                                            <option value="0">--</option>
                                            <option value="Error de sistema">Error de sistema</option>
                                            <option value="Mejora">Mejora</option>
                                            <option value="Modulo nuevo">Módulo nuevo</option>
                                            <option value="Requerimiento">Requerimiento</option>
                                            <option value="Capacitacion">Capacitación</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Atención"></label>
                                        <select id="prioriSolcInv">
                                            <option value="0">--</option>
                                            <option value="Alta">Alta</option>
                                            <option value="Media">Media</option>
                                            <option value="Baja">Baja</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Fecha de respuesta"></label>
                                        <input type="text" class="form-control" name="FechaInv" id="FechaInv" disabled />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="AsesorInv" id="AsesorInv" disabled />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="CargoInv" id="CargoInv" disabled />
                                    </div>
                                    <div class="pull-right">
                                        <br />
                                        <button type="button" class="btn btn-glow btn-warning" id="gResp">Guardar datos</button>
                                        &nbsp;
                                        <button type="button" class="btn btn-glow btn-success" id="eResp">Enviar respuesta</button>
                                    </div>
                                </div>
                                <div class="row col-lg-6">
                                    <br />
                                    <div class="col-xs-12 col-md-12 col-sm-12">
                                        <h3><span idioma="CAPTURAS DE PANTALLA"></span></h3>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-header">
                                                <a href="#" class="glyphicon glyphicon-remove" onclick="removerCapt(1)"></a>
                                            </div>
                                            <div class="card-body text-center">
                                                <a id="iconr_1" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagenr_1" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-header">
                                                <a href="#" class="glyphicon glyphicon-remove" onclick="removerCapt(2)"></a>
                                            </div>
                                            <div class="card-body text-center">
                                                <a id="iconr_2" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagenr_2" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-header">
                                                <a href="#" class="glyphicon glyphicon-remove" onclick="removerCapt(3)"></a>
                                            </div>
                                            <div class="card-body text-center">
                                                <a id="iconr_3" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagenr_3" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-header">
                                                <a href="#" class="glyphicon glyphicon-remove" onclick="removerCapt(4)"></a>
                                            </div>
                                            <div class="card-body text-center">
                                                <a id="iconr_4" style="font-size:120px; text-align: center; height: 150px; width:100%;" class="glyphicon glyphicon-picture"></a>
                                                <img id="imagenr_4" class="card-img-top hidden" onclick="mostrarImagen(this.src)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row hidden" id="actividades">
                            <br />
                            <div class="col-md-12">
                                <h3><span idioma="PASAR A ACTIVIDADES POR REALIZAR"></span></h3>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <label idioma="Descripcion de la actividad"></label>
                                    <textarea class="form-control" name="actividad" id="actividad" rows="11" />
                                </div>
                                <div class="col-xs-4 col-md-3 col-sm-3">
                                    <div class="col-md-12">
                                        <label idioma="Fecha de Investigación"></label>
                                        <input type="date" class="form-control" name="FechaInvPrev" id="FechaInvPrev" />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="AsesorInvAct" id="AsesorInvAct" disabled />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="CargoInvAct" id="CargoInvAct" disabled />
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <br />
                                    <button type="button" class="btn btn-glow btn-warning" id="gAct">Guardar datos</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-glow btn-success" onclick="asignarActividad()" id="aAct">Asignar actividad</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" id="conformidadPa">
                            <br />
                            <div class="col-md-12">
                                <h3><span idioma="CONFORMIDAD PARA EL CIERRE DE LA INCIDENCIA"></span></h3>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <label idioma="Detalle de conformidad"></label>
                                    <textarea class="form-control" name="conformidad" id="conformidad" rows="11" readonly />
                                </div>
                                <div class="col-xs-4 col-md-3 col-sm-3">
                                    <div class="col-md-12">
                                        <label idioma="Fecha de finalización"></label>
                                        <input class="form-control" name="FechaFin" id="FechaFin" readonly />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Calificacion"></label>
                                        <input class="form-control" name="cali_cierre" id="cali_cierre" readonly />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Departamento de cierre"></label>
                                        <input class="form-control" name="dpto_cierre" id="dpto_cierre" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label idioma="Tipo"></label>
                        <select id="tipoSolcBS" class="form-control" style="width: 100%">
                            <option value="0">-Seleccione-</option>
                            <option value="Error de sistema">Error de sistema</option>
                            <option value="Mejora">Mejora</option>
                            <option value="Módulo nuevo">Módulo nuevo</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label idioma="Prioridad"></label>
                        <select id="prioriSolcBS" class="form-control" style="width: 100%">
                            <option value="0">-Seleccione-</option>
                            <option value="Alta">Alta</option>
                            <option value="Media">Media</option>
                            <option value="Baja">Baja</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label idioma="Estado"></label>
                        <select id="estadoBS" class="form-control" style="width: 100%">
                            <option value="">-Seleccione-</option>
                            <option value="0">Formulado</option>
                            <option value="5">Respondido</option>
                            <option value="10">Actividad</option>
                            <option value="15">Cerrado</option>
                        </select>
                    </div>

                    <div class="col-xs-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesdeBS" id="CFechaDesdeBS" class="form-control" />
                    </div>
                    <div class="col-xs-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHastaBS" id="CFechaHastaBS" class="form-control" />
                    </div>



                    <div class="col-xs-4 col-sm-1 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="buscarMTrabajos()"><span idioma="Buscar"></span></button>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" id="TablaMTrabajo" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="5%">&nbsp;</th>
                                    <th width="8%"><span idioma="Usuario reporta"></span></th>
                                    <th width="8%"><span idioma="Fecha reporta"></span></th>
                                    <th><span idioma="Departamento origen"></span></th>
                                    <th><span idioma="Departamento destino"></span></th>
                                    <th><span idioma="Prioridad"></span></th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Cant doc's"></span></th>
                                    <th><span idioma="Descripcion"></span></th>
                                    <th><span idioma="Estado"></span></th>

                                    <th width="8%"><span idioma="Usuario responde"></span></th>
                                    <th width="8%"><span idioma="Fecha respuesta"></span></th>
                                    <th><span idioma="Prioridad"></span></th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Cant doc's"></span></th>
                                    <th><span idioma="Respuesta"></span></th>

                                    <th width="8%"><span idioma="Departamento cierre"></span></th>
                                    <th width="8%"><span idioma="Fecha cierre"></span></th>
                                    <th width="15%"><span idioma="Evaluacion"></span></th>
                                    <th><span idioma="Conformidad"></span></th>
                                    <!--
                                <th width="8%"><span idioma="Usuario actividad"></span></th>
                                <th width="15%"><span idioma="Fecha de Investigación"></span></th>
                                <th><span idioma="Actividad"></span></th>
    -->
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="ModalDocumentos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="DetQueja"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive">
                    <table class="table display  table-bordered">
                        <thead>
                            <tr>
                                <th width="70%" idioma="Documento"></th>
                                <th width="15%" idioma="Asesor"></th>
                                <th width="15%" idioma="Fecha"></th>
                            </tr>
                        </thead>
                        <tbody id="TBDocumentos"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" onclick="CerrarModal();"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalEnvio" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="DetEnvio"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" value="0" id="eTipoEnvio" />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label idioma="Cliente"></label>
                        <input type="text" class="form-control" id="eCliente" readonly />
                    </div>
                    <div class="col-md-6">
                        <label idioma="Correo Electrónico"></label>
                        <input type="text" class="form-control" id="eCorreo" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label idioma="Descrión de la Queja"></label>
                        <textarea type="text" class="form-control" rows="10" id="eDescripcion" readonly />
                    </div>
                    <div class="col-md-6">
                        <label id="tipoenvio">&nbsp;</label>
                        <textarea type="text" class="form-control" rows="10" id="eEnvio" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="Observación Adicional">&nbsp;</label>
                        <textarea type="text" class="form-control" rows="4" id="eObservacion" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" onclick="CerrarModal()"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="EnviarCorreo()"><span idioma="Enviar Correo"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Quejas.js?unico=' + Math.round(Math.random() * 10000));
</script>

<script>
    $("#dptoBS, #dptoRed").html(CargarCombo(54, 1, "", ""));
    var consultaMTrabajo = [];
    var mesaTrabajo = 0;

    $(document).ready(function () {
        if (localStorage.getItem("mesaayuda")) {
            buscarMTrabajos();
        }

    });

    async function buscarMTrabajos() {
        try {
            var tipo = "".prioridad = "", estado = "", desde = "", hasta = "";
            if ($("#tipoSolcBS").val() !== "") {
                tipo = $("#tipoSolcBS").val();
            }
            if ($("#prioriSolcBS").val() !== "") {
                prioridad = $("#prioriSolcBS").val();
            }
            if ($("#estadoBS").val() !== "") {
                estado = $("#estadoBS").val();
            }
            if ($("#CFechaDesdeBS").val() !== "") {
                desde = $("#CFechaDesdeBS").val();
            }
            if ($("#CFechaHastaBS").val() !== "") {
                hasta = $("#CFechaHastaBS").val();
            }
            consultaMTrabajo = await LlamarAjax("Quejas/BuscarMesaTrabajo", "tipo=" + tipo + "&estado=" + estado + "&prioridad=" + prioridad + "&desde=" + desde + "&hasta=" + hasta).split("|");
            if (consultaMTrabajo[0] == "0") {
                limpiarCampos();
                var datajson = JSON.parse(consultaMTrabajo[1]);
                consultaMTrabajo = datajson;
                if (localStorage.getItem("mesaayuda")) {
                    for (var i = 0; i < consultaMTrabajo.length; i++) {
                        if (localStorage.getItem("mesaayuda") !== undefined && String(localStorage.getItem("mesaayuda")) !== 'NaN' && Number(consultaMTrabajo[i].control_act_mesa) == Number(localStorage.getItem("mesaayuda"))) {
                            mesaTrabajo = i;
                            break;
                        }
                    }
                    llenarCampos();
                }
                $('#TablaMTrabajo').DataTable({
                    data: datajson,
                    bProcessing: true,
                    bDestroy: true,
                    columns: [
                        { "data": "control_act_mesa" },
                        { "data": "usr_reg_mesa" },
                        { "data": "fe_ing_mesa" },
                        { "data": "dpto_origen_mesa" },
                        { "data": "departamento_dest" },
                        { "data": "prio_mesa" },
                        { "data": "tipo_mesa" },
                        { "data": "cant_fotos_reg" },
                        { "data": "detalle_mesa" },
                        { "data": "usr_leyo" },

                        { "data": "esp_res_mesa" },
                        { "data": "fec_res_mesa" },
                        { "data": "prio_esp_mesa" },
                        { "data": "tipo_esp_mesa" },
                        { "data": "cant_fotos_resp" },
                        { "data": "resp_mesa" },

                        { "data": "dpto_cierre_mesa" },
                        { "data": "fe_cierre_mesa" },
                        { "data": "eval_mesa" },
                        { "data": "det_cierre_mesa" }
                    ],
                    "language": {
                        "url": LenguajeDataTable
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'excel', 'csv', 'copy', 'colvis'
                    ]
                });
                consultaMTrabajo = datajson;

            } else {
                swal("Acción Cancelada", consultaMTrabajo[1], "warning");
            }
        } catch (error) {
            console.log("Ha ocurrido un error en [buscarMTrabajos]: " + error);
        }
    }

    $("#TablaMTrabajo > tbody").on("click", "tr", function (e) {
        limpiarCampos();
        var row = $(this).parents("td").context.cells;
        mesaTrabajo = Number(row[0].innerText);
        /****Seccion de pregunta****/
        for (var i = 0; i < consultaMTrabajo.length; i++) {
            if (Number(consultaMTrabajo[i].control_act_mesa) == Number(mesaTrabajo)) {
                mesaTrabajo = i;
                break;
            }
        }
        if (consultaMTrabajo[mesaTrabajo].usr_leyo == undefined || consultaMTrabajo[mesaTrabajo].usr_leyo == null || String(consultaMTrabajo[mesaTrabajo].usr_leyo) !== "null") {
            var marcarLeida = LlamarAjax("Quejas/MarcarMesaLeida", "identificacion=" + consultaMTrabajo[mesaTrabajo].identificacion).split("|");
            if (marcarLeida !== undefined && marcarLeida.length > 0) {
                $.jGrowl(marcarLeida[1], { life: 1500, theme: (Number(marcarLeida[0]) == 0 ? 'growl-success' : 'growl-danger'), header: '' });
            }
        }  
        $('#tabquejas a[href="#tabcrear"]').tab('show');
        llenarCampos();
    });

    function llenarCampos() {
        $('#tabquejas a[href="#tabcrear"]').tab('show');
        $("#tipoSolc").val(consultaMTrabajo[mesaTrabajo].tipo_mesa).attr('disabled', 'true').change();
        $("#prioriSolc").val(consultaMTrabajo[mesaTrabajo].prio_mesa).attr('disabled', 'true').change();
        $("#Fecha").val(consultaMTrabajo[mesaTrabajo].fe_ing_mesa);
        $("#control_act").val((consultaMTrabajo[mesaTrabajo].control_act_mesa));
        $("#caso_act").val((consultaMTrabajo[mesaTrabajo].caso_act_mesa));
        $("#Asesor").val((consultaMTrabajo[mesaTrabajo].usr_reg_mesa).toUpperCase());
        $("#Cargo").val((consultaMTrabajo[mesaTrabajo].cargo_origen_mesa).toUpperCase());
        $("#DepartamentoOri").val((consultaMTrabajo[mesaTrabajo].dpto_origen_mesa).toUpperCase());
        $("#DepartamentoDest").val((consultaMTrabajo[mesaTrabajo].departamento_dest).toUpperCase());
        $("#Descripcion").val(consultaMTrabajo[mesaTrabajo].detalle_mesa);
        for (var j = 0; j < Number(consultaMTrabajo[mesaTrabajo].cant_fotos_reg); j++) {
            var terminal = (j == 0 ? "a" : j == 1 ? "b" : j == 2 ? "c" : "d");
            document.getElementById("imagen_" + terminal).setAttribute("src", url + "imagenes/MesaTrabajo/" + (Number(consultaMTrabajo[mesaTrabajo].mesa_padre) == 0 ? consultaMTrabajo[mesaTrabajo].identificacion : consultaMTrabajo[mesaTrabajo].mesa_padre) + "/" + (j) + ".jpg");
            $("#imagen_" + terminal).removeClass("hidden");
            $("#icon_" + terminal).addClass("hidden");
        }
        if (consultaMTrabajo[mesaTrabajo].mesa_padre > 0) {
            $("#informacion_padre").removeClass("hidden");
            $("#asesor_padre").val(consultaMTrabajo[mesaTrabajo].info_padre).attr('disabled', 'true').change();
            $("#cargo_padre").val(consultaMTrabajo[mesaTrabajo].cargo_padre).attr('disabled', 'true').change();
            $("#depto_padre").val(consultaMTrabajo[mesaTrabajo].dpto_padre);
            $("#fecha_padre").val((consultaMTrabajo[mesaTrabajo].fecha_padre));
            $("#control_padre").val((consultaMTrabajo[mesaTrabajo].control_padre));
            $("#caso_padre").val((consultaMTrabajo[mesaTrabajo].caso_padre).toUpperCase());
        } else {
            $("#informacion_padre").addClass("hidden");
        }
        /****Seccion de respuesta*****/
        if (consultaMTrabajo[mesaTrabajo].status_mesa >= 5) {
            $("#tipoSolcInv").val(consultaMTrabajo[mesaTrabajo].tipo_esp_mesa).change();
            $("#prioriSolcInv").val(consultaMTrabajo[mesaTrabajo].prio_esp_mesa).change();
        }
        $("#dptoRed").val(String(consultaMTrabajo[mesaTrabajo].id_dpto_redir == 0 ? consultaMTrabajo[mesaTrabajo].id_dpto_origen_mesa : consultaMTrabajo[mesaTrabajo].id_dpto_redir)).change();
        $("#Investigacion").val(consultaMTrabajo[mesaTrabajo].resp_mesa).change();
        $("#FechaInv").val(consultaMTrabajo[mesaTrabajo].fec_res_mesa);
        $("#AsesorInv").val((consultaMTrabajo[mesaTrabajo].esp_res_mesa == null ? '' : consultaMTrabajo[mesaTrabajo].esp_res_mesa).toUpperCase());
        $("#CargoInv").val((consultaMTrabajo[mesaTrabajo].car_res_mesa == null ? '' : consultaMTrabajo[mesaTrabajo].car_res_mesa).toUpperCase());
        $(".card-header").addClass("hidden");
        for (var i = 0; i < consultaMTrabajo[mesaTrabajo].cant_fotos_resp; i++) {
            document.getElementById("imagenr_" + (i + 1)).setAttribute("src", url + "imagenes/MesaTrabajo/" + consultaMTrabajo[mesaTrabajo].identificacion + "/R-" + (i) + ".jpg");
            $("#imagenr_" + (i + 1)).removeClass("hidden");
            $("#iconr_" + (i + 1)).addClass("hidden");
        }
        /*Seccion de actividad*/
        $("#actividad").val(consultaMTrabajo[mesaTrabajo].actividad).attr('readonly', 'true').change();
        $("#FechaInvPrev").removeAttr('disabled').val(consultaMTrabajo[mesaTrabajo].fecha_previa_acti).attr('disabled', 'true').change();
        /*Seccion de conformidad*/
        $("#conformidad").val(consultaMTrabajo[mesaTrabajo].det_cierre_mesa).change();
        $("#FechaFin").val(consultaMTrabajo[mesaTrabajo].fe_cierre_mesa);
        $("#cali_cierre").val(consultaMTrabajo[mesaTrabajo].eval_mesa);
        $("#dpto_cierre").val(consultaMTrabajo[mesaTrabajo].dpto_cierre_mesa);
        /**seccion validaciones Extras*/
        if (consultaMTrabajo[mesaTrabajo].status_mesa == 15) {
            /*Bloqueo los combos de respuesta*/
            $("#dptoRed, #tipoSolcInv, #prioriSolcInv").attr('disabled', 'true').change();
            /*Bloqueo botones y campos de respuesta*/
            $("#gResp, #eResp").addClass("hidden");
            $("#Investigacion").attr('readonly', 'true').change();
            /*Bloqueo botones y campos de actividad*/
            $("#gAct, #aAct").addClass("hidden");
            $("#actividad").attr('readonly', 'true').change();
            /*Muestro los campos de la conformidad de cierre*/
            $("#conformidadPa").removeClass("hidden");
        }
        if (Number(consultaMTrabajo[mesaTrabajo].responder) == 1) {
            $("#gResp, #eResp").addClass("hidden");
            $("#Investigacion").attr('readonly', 'true').change();
        }
        if (Number(consultaMTrabajo[mesaTrabajo].activ) == 1) {
            $("#gAct, #aAct").addClass("hidden");
            $("#actividad").attr('readonly', 'true').change();
        }
        if (Number(consultaMTrabajo[mesaTrabajo].mismo_usr) == 1 || Number(consultaMTrabajo[mesaTrabajo].estado) == 1) {
            $("#gResp, #eResp, #gAct, #aAct").addClass("hidden");
            $("#Investigacion").attr('readonly', 'true').change();
            $("#tipoSolcInv, #prioriSolcInv, #dptoRed").attr('disabled', 'true').change();
        }
    }

    $.connection.hub.start().done(function () {
        $('#eResp').click(async function () {
            try {
                var respuesta = ($("#Investigacion").val()).trim(), tipo = ($("#tipoSolcInv").val()).trim(), prioridad = ($("#prioriSolc").val()).trim(), dpto = ($("#dptoRed").val()).trim();
                if (await validarDatosRspuesta() == true) {
                    var respuestaMTrabajo = LlamarAjax("Quejas/RespuestaIncidencia",
                        "respuesta=" + respuesta
                        + "&tipo=" + tipo
                        + "&priroridad=" + prioridad
                        + "&identificacion=" + consultaMTrabajo[mesaTrabajo].identificacion
                        + "&img_a=" + (capturesB64_r[0] == undefined ? '' : capturesB64_r[0].result)
                        + "&img_b=" + (capturesB64_r[1] == undefined ? '' : capturesB64_r[1].result)
                        + "&img_c=" + (capturesB64_r[2] == undefined ? '' : capturesB64_r[2].result)
                        + "&img_d=" + (capturesB64_r[3] == undefined ? '' : capturesB64_r[3].result)
                        + "&departamento=" + dpto).split("|");
                    console.log("-respuestaMTrabajo- ", respuestaMTrabajo);
                    if (respuestaMTrabajo[0] == 0) {
                        var usuarios = '/';
                        var JSONUSR = JSON.parse(respuestaMTrabajo[2]);
                        for (var i = 0; i < JSONUSR.length; i++) {
                            usuarios += JSONUSR[i].id_usuario_registro + "/";
                        }
                        swal("", respuestaMTrabajo[1], "success");
                        console.log("Usuarios: ", usuarios);
                        chat.server.send(usuariochat, "<b>Buen día... La mesa de ayuda <strong>" + consultaMTrabajo[mesaTrabajo].control_act_mesa + "</strong> en la que has participado ha sido respondida </b><br><br><b>" + tipo + "," + prioridad + "</b><br>" + respuesta, "", usuarios);

                        $.jGrowl(respuestaMTrabajo[1], { life: 1500, theme: 'growl-success', header: '' });
                    } else {
                        swal("Acción Cancelada", respuestaMTrabajo[1], "warning");
                    }
                }
            } catch (error) {
                console.log("Ha ocurrido un error [enviarRespuesta]: " + error);
            }
        });
    });

    function asignarActividad() {
        try {
            var actividad = "", fecha = "";
            if ($("#actividad").val() !== "") {
                actividad = $("#actividad").val();
            }
            if ($("#FechaInvPrev").val() !== "") {
                fecha = $("#FechaInvPrev").val();
            }
            if (actividad !== "" && fecha !== "") {
                var asignarActi = LlamarAjax("Quejas/ActividadIncidencia",
                    "identificacion=" + consultaMTrabajo[mesaTrabajo - 1].identificacion
                    + "&actividad=" + actividad
                    + "&fecha=" + fecha).split("|");
                if (asignarActi[0] == 0) {
                    swal("", asignarActi[1], "success");
                } else {
                    swal("Acción Cancelada", asignarActi[1], "warning");
                }
            } else {
                swal("Acción Cancelada", "Debe completar todos los campos requeridos para agregar la actividad correctamente", "warning");
            }
        } catch (error) {
            console.log("Ha ocurrido9 un error en [asignarActividad]: " + error);
        }
    }

    function cerrarMesaA() {
        try {
            if (consultaMTrabajo[mesaTrabajo] !== undefined) {
                var respuestaMTrabajo = LlamarAjax("Quejas/CerrarCalidad", "identificacion=" + consultaMTrabajo[mesaTrabajo].identificacion).split("|");
                console.log(respuestaMTrabajo);
                if (respuestaMTrabajo[0] == 0) {
                    swal("", respuestaMTrabajo[1], "success");
                } else {
                    swal("Acción Cancelada", respuestaMTrabajo[1], "warning");
                }
            } else {
                swal("Acción Cancelada", "Debe seleccionar una mesa de ayuda para realizar esta acción", "warning");
            }
        } catch (error) {
            console.log("Ha ocurrido un error en [cerrarMesaA]: " + error);
        }
    }

    function mostrarImagen(imagen) {
        try {
            console.log("src: ", imagen);
            if (imagen !== undefined && String(imagen) !== 'NaN' && imagen.length > 0) {
                $("#img_mostrar").attr("src", imagen);
                $("#id_modal_imagenes").modal("show");

            }
        } catch (error) {
            console.log("Ha ocurrido un error en [mostrarImagen]: " + error);
        }
    }
</script>

<script>
    window.addEventListener("paste", processEvent);
    var captures_r = [];
    var capturesB64_r = [];
    $("#dpto").html(CargarCombo(54, 0, "", ""));
    async function processEvent(e) {
        var reader = new window.FileReader();
        for (var i = 0; i < e.clipboardData.items.length; i++) {
            var clipboardItem = e.clipboardData.items[0];
            var type = clipboardItem.type;
            if (type.indexOf("image") != -1) {
                var blob = clipboardItem.getAsFile();
                var blobUrl = URL.createObjectURL(blob);
                await reader.readAsDataURL(clipboardItem.getAsFile());
                if (captures_r.length < 4) {
                    captures_r.push(blobUrl);
                    capturesB64_r.push(reader);
                    for (var i = 0; i < 4; i++) {
                        if ((captures_r[i] !== undefined && String(captures_r[i]) !== 'NaN') && document.getElementById("imagen_" + (i + 1)).getAttribute("src") !== undefined && String(document.getElementById("imagen_" + (i + 1)).getAttribute("src")) !== 'NaN') {
                            document.getElementById("imagenr_" + (i + 1)).setAttribute("src", captures_r[i]);
                            $("#imagenr_" + (i + 1)).removeClass("hidden").change();
                            $("#iconr_" + (i + 1)).addClass("hidden");
                        }
                    }
                }
            }
        }
    }

    function removerCapt(captura) {
        try {
            captures_r.splice((captura - 1), 1);
            capturesB64_r.splice((captura - 1), 1);
            document.getElementById("imagen_" + captura).setAttribute("src", undefined);
            $("#imagenr_" + captura).addClass("hidden");
            $("#iconr_" + captura).removeClass("hidden");
        } catch (error) {
            console.log("Ha ocurrido un error en [removerCapt]: " + error);
        }
    }

    async function validarDatosRspuesta() {
        try {
            var respuesta = ($("#Investigacion").val()).trim(), tipo = ($("#tipoSolcInv").val()).trim(), prioridad = ($("#prioriSolc").val()).trim(), dpto = ($("#dptoRed").val()).trim();
            var textDep = ($('select[id="dptoRed"] option:selected').text());
            if (respuesta == "" && tipo == "0" && prioridad == "0") {
                swal("Acción Cancelada", "Debe completar todos los campos para poder responder la mesa de ayuda", "warning");
                return false;
            }
            if (respuesta == "" || tipo == "0" || prioridad == "0") {
                swal("Acción Cancelada", "Debe completar todos los campos para poder responder la mesa de ayuda", "warning");
                return false;
            }
            if (respuesta !== "" && tipo !== "0" && prioridad !== "0") {
                if (consultaMTrabajo[mesaTrabajo].id_dpto_origen_mesa !== Number(dpto)) {
                    var confirmacion = await swal.queue([{
                        title: ValidarTraduccion('Advertencia'),
                        text: ValidarTraduccion('¿Está seguro que desea redireccionar la mesa de trabajo a: ' + textDep + '?'),
                        type: 'question',
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        confirmButtonText: ValidarTraduccion('Si'),
                        cancelButtonText: ValidarTraduccion('Cancelar'),
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                resolve(true)
                            })
                        }
                    }]);
                    if (confirmacion[0] == undefined && confirmacion.toLowerCase() == "cancel") {
                        return false;
                    }
                    if (confirmacion[0] != undefined && confirmacion[0] == true) {
                        return true;
                    }
                } else {
                    return true;
                }
                if (consultaMTrabajo[mesaTrabajo].id_dpto_origen_mesa == Number(value)) {
                    return true;
                }
            }

            if (tipo == "Error de sistema" && capturesB64_r.length < 1 && consultaMTrabajo[mesaTrabajo - 1].dep_origen !== Number(dpto)) {
                swal("Acción Cancelada", "Debe enviar al menos un PRINT de pantalla para poder hacer la redireccion de un Error de sistema", "warning");
                return false;
            }
        } catch (error) {
            console.log("Ha ocurrido un error en [validarDatosBuscar]: " + error);
        }
    }

    function limpiarCampos() {
        try {
            /**Limpioando los campos */
            $("#Descripcion").val("");
            $("#tipoSolc").val("0").attr('disabled', 'true').change();
            $("#prioriSolc").val("0").attr('disabled', 'true').change();
            $("#Fecha").val("");
            $("#Asesor").val("");
            $("#Departamento").val("");
            $("#imagen_a, #imagen_b, #imagen_c, #imagen_d").addClass("hidden").attr("src", undefined);
            $("#icon_a, #icon_b, #icon_c, #icon_d").removeClass("hidden");
            /***************************************************************************** */
            $("#Investigacion").val("").removeAttr('readonly').change();
            $("#tipoSolcInv").val("0").removeAttr('disabled').change();
            $("#prioriSolcInv").val("0").removeAttr('disabled').change();
            $("#FechaInv").val("").change();
            $("#AsesorInv").val("").change();
            $("#CargoInv").val("");
            $(".card-header").removeClass("hidden");
            $("#imagenr_1, #imagenr_2, #imagenr_3, #imagenr_4").addClass("hidden").attr("src", undefined);
            $("#iconr_1, #iconr_2, #iconr_3, #iconr_4").removeClass("hidden");

            $("#actividad").removeAttr("readonly").val("");
            $("#FechaInvPrev").removeAttr("disabled").val("");

            $("#conformidad").val("").change();
            $("#FechaFin").val("").change();
            $("#califInvAct").val("").change();

            $("#conformidadPa").addClass("hidden");

            $("#gResp, #eResp, #gAct, #aAct").removeClass("hidden");


        } catch (error) {
            console.log("Ha ocurrido un error en [verMTrabajo]: " + error);
        }
    }

    function ocultarActividad(tipo) {
        if (tipo == 'Error de sistema' || tipo == 'Capacitacion') {
            $("#actividades").addClass("hidden");
        } else {
            $("#actividades").removeClass("hidden");
        }
    }

    function dptoRedireccion(value) {
        try {
            //if ((consultaMTrabajo[mesaTrabajo].id_dpto_redir == 0 ? consultaMTrabajo[mesaTrabajo].id_departamento_dest : consultaMTrabajo[mesaTrabajo].id_dpto_redir) !== Number(value) && $('select[id="dptoRed"] option:selected').text() !== consultaMTrabajo[mesaTrabajo].dpto_padre) {
            if (consultaMTrabajo[mesaTrabajo].status_mesa < 5 && Number(consultaMTrabajo[mesaTrabajo].mismo_usr) !== 1) {
                if ($('select[id="dptoRed"] option:selected').text() == consultaMTrabajo[mesaTrabajo].dpto_origen_mesa || $('select[id="dptoRed"] option:selected').text() == consultaMTrabajo[mesaTrabajo].dpto_padre) {
                    $("#tipoSolcInv").removeAttr('disabled').change();
                    $("#prioriSolcInv").removeAttr('disabled').change();
                } else {
                    $("#tipoSolcInv").val(consultaMTrabajo[mesaTrabajo].tipo_mesa).attr('disabled', 'true').change();
                    $("#prioriSolcInv").val(consultaMTrabajo[mesaTrabajo].prio_mesa).attr('disabled', 'true').change();
                }
            }
        } catch (error) {
            console.log("Ha ocurrido un error en [dptoRedireccion]: " + error);
        }
    }

    function seguimientoMA() {
        mostrarSeguimiento(consultaMTrabajo[mesaTrabajo].identificacion);
    }
    
</script>






