﻿<div class="row">
    <div class="col-sm-12">
        <div class="tabbable page-tabs" id="tabdevolucion">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcrear">
                    <form id="formmonturas" style="background-color:white">
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Devolución"></span></a></h3>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2<span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-success" type="button" id="btnguardar1" onclick="GuardarDevolucion()">F3<span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-warning " type="button" id="btnenviar" onclick="EnviarDevolucion()">F4<span idioma="Enviar"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" id="btnenviar" onclick="EntregarDevolucion()">F6<span idioma="Entregar"></span></button>
                                        <button class="btn btn-glow btn-warning " type="button" id="btnenviar" onclick="EnviarCertificado()">F7 <span idioma="Enviar Certificado"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-xs-6 col-sm-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onblur="BuscarCliente(this.value)" onkeyup="ValidarCliente(this.value)" pattern="[0-9]{1,12}" max="12" min="1" name="Cliente" id="Cliente" autofocus tabindex="0" />
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-sm-5">
                                            <label idioma="Nombre del Cliente"></label><br>
                                            <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Devolución"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarDevolucion(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Devolucion" id="Devolucion" tabindex="10" />
                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <label idioma="Departamento/Ciudad"></label>
                                            <input type="text" class="form-control" name="Ciudad" id="Ciudad" readonly tabindex="11" />
                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                            <label idioma="Sitio"></label><br>
                                            <select class="form-control" id="Sitio" name="Sitio" required tabindex="4" style="width:100%">
                                                <option value="NO">NO</option>
                                                <option value="SI">SI</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="hidden-xs col-md-4 col-sm-4">
                                            <label idioma="Sede"></label><br>
                                            <select class="form-control" id="Sede" name="Sede" required tabindex="3" style="width:100%" />
                                        </div>
                                        <div class="hidden-xs col-md-2 col-sm-3">
                                            <label idioma="Contacto"></label><br>
                                            <select class="form-control" id="Contacto" name="Contacto" onchange="DatosContacto(this.value)" required tabindex="4" style="width:100%" />
                                        </div>

                                        <div class="col-xs-12 col-sm-3 col-sm-3">
                                            <label idioma="Email"></label>
                                            <input type="text" class="form-control" name="Email" id="Email" readonly />
                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control" name="Telefonos" id="Telefonos" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="SaldoClienteDev"></div>
                            <div class="col-md-12" id="divAnulaciones"></div>
                        </div>
                                         
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table display  table-bordered hover" width="100%" id="Malla" style="font-size:14px">
                                        <thead>
                                            <tr class="bg-primary">
                                                <th width="3%" height="40px"><input type="checkbox" id="seleccionatodo" onchange="SeleccionarTodo()" class="form-control" /></th>
                                                <th width="10%" idioma="Ingreso / fecha <br> usuario"></th>
                                                <th width="10%" idioma="Magnitud<br>Equipo-Intervalo"></th>
                                                <th width="10%" idioma="Marca<br>Modelo"></th>
                                                <th width="10%" idioma="Serie"></th>
                                                <th width="3%" idioma="Ubicación"></th>
                                                <th width="10%" idioma="Certificado"></th>
                                                <th width="20%" idioma="Observación"></th>
                                                <th width="20%" idioma="Observación Devolución"></th>
                                                <th width="5%">&nbsp;</th>
                                            </tr>
                                        </thead>

                                        <tbody id="bodyIngreso"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn btn-glow-group" role="group">
                                    <button type="button" class="btn btn-glow btn-info" onclick="ModalClientes('Dev')">F1 <span idioma="Clientes"></span></button>
                                    <button class="btn btn-glow btn-success"  type="button" onclick="GuardarDevolucion()">F3 <span idioma="Guardar"></span></button>
                                    <button class="btn btn-glow btn-primary"  type="button" onclick="ImprimirDevolucion(0,0)">F6 <span idioma="Imprimir Devolución"></span></button>
                                    <button class="btn btn-glow btn-warning"  type="button" onclick="ImprimirEtiqueta()">F7 <span idioma="Imprimir Etiqueta Envío"></span></button>
                                    <button class="btn btn-glow btn-danger"  type="button" onclick="AnularDevolucion()">F8 <span idioma="Anular"></span></button>
                                    <button class="btn btn-glow btn-info"  type="button" onclick="InicializarCamaraDev()">F9 <span idioma="Tomar Fotos"></span></button>
                                    <button class="btn btn-glow btn-info"  type="button" onclick="VerFotosDev()">F10 <span idioma="Ver Fotos"></span></button>
                                    <button class="btn btn-glow btn-info"  type="button" onclick="VerFotosEntrega()">F11 <span idioma="Ver Fotos Entrega"></span></button>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-6  col-sm-6 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tipo de Cliente"></label>
                                                <input class="form-control text-XX text-center" id="TipoCliente" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Plazo de Pago"></label>
                                                <input class="form-control text-XX text-center" id="PlazoPago" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Total Equipos:"></label>
                                                <input class="form-control text-XX text-center" id="Totales" value="0" readonly style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Fecha de Registro"></label>
                                                <input class="form-control text-XX text-center" id="FechaReg" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Usuario"></label>
                                                <input class="form-control text-XX text-center" id="UsuarioReg" value="0" readonly style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones"></label>
                                                <textarea class="form-control" name="Observaciones" id="Observaciones" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6  col-sm-6 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <label idioma="Quién Recibió"></label>
                                                <input class="form-control text-XX text-center" id="RPersona" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-12">
                                                <label idioma="Fecha de Entrega"></label>
                                                <input class="form-control text-XX text-center" id="RFecha" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-2 col-xs-12">
                                                <br>
                                                <button class="btn btn-glow btn-success" title="Ver Devolución Firmada" type="button" onclick="VerDevolucionFirma()"><span data-icon='&#xe2c7;'></span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <label idioma="EmpresaEnvio"></label>
                                                <input class="form-control text-XX text-center" id="REmpresa" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-12">
                                                <label idioma="Guía de Envío"></label>
                                                <input class="form-control text-XX text-center" id="RGuia" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-2 col-xs-12">
                                                <br>
                                                <button class="btn btn-glow btn-success" title="Ver Guía de Envía" type="button" onclick="VerGuia()"><span data-icon='&#xe2c7;'></span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones de la Entrega"></label>
                                                <textarea class="form-control" name="RObservacion" id="RObservacion" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Devolucion"></label>
                                <input name="CDevolucion" id="CDevolucion" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Ingreso"></label>
                                <input name="CIngreso" id="CIngreso" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Entregado"></label>
                                <select name="CEntregado" id="CEntregado" class="form-control" style="width:100%">
                                    <option value="T">TODOS</option>
                                    <option value="1">SI</option>
                                    <option value="0">NO</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Cliente"></label>
                                <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuarios"></label>
                                <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-1 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularDevoluciones()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Equipos"></label>
                                <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Serie"></label>
                                <input name="CSerie" id="CSerie" class="form-control" />
                            </div>

                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaDevoluciones" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%">&nbsp;</th>
                                            <th width="3%"><span idioma="Devolución"></span></th>
                                            <th><span idioma="NIT/Cédula"></span></th>
                                            <th width="15%"><span idioma="Cliente"></span></th>
                                            <th width="15%"><span idioma="Sede"></span></th>
                                            <th width="15%"><span idioma="Cotancto"></span></th>
                                            <th><span idioma="Departamento"></span></th>
                                            <th><span idioma="Ciudad"></span></th>
                                            <th><span idioma="Teléfonos"></span></th>
                                            <th><span idioma=" Correo Electrónico"></span></th>
                                            <th><span idioma="Cantidad Equipos"></span></th>
                                            <th><span idioma="Fecha"></span></th>
                                            <th><span idioma="Entregado"></span></th>
                                            <th><span idioma="Usuario"></span></th>
                                            <th><span idioma="Anulado"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="enviar_devolucion" class="modal fade" role="dialog">
    <form id="formenviardevolucion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío del Remisión Número"></span> <span id="spremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdfdevolucion" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="enviar_certificado" class="modal fade" role="dialog">
    <form id="formenviarcertificado">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Devolución Número"></span> <span id="cespremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="CeCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="CeCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="CObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <div id="detcertificados">

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="entregar_devolucion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Devolución Número"></span> <span id="spremision"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label idioma="Cliente"></label>
                        <input type="text" class="form-control" id="ACliente" readonly />
                    </div>
                    <div class="col-sm-7">
                        <label idioma="Sede"></label>
                        <input type="text" class="form-control" id="ASede" readonly />
                    </div>
                    <div class="col-sm-5">
                        <label idioma="Contacto"></label>
                        <input type="text" class="form-control" id="AContacto" readonly />
                    </div>
                    <div class="col-sm-3">
                        <label idioma="Nro Devolución"></label>
                        <input type="text" class="form-control" id="ADevolucion" readonly />
                    </div>
                    <div class="col-sm-5">
                        <label idioma="Asesor Logístico"></label>
                        <input type="text" class="form-control" id="AAsesor" readonly />
                    </div>
                    <div class="col-sm-4">
                        <label idioma="Fecha"></label>
                        <input type="text" class="form-control" id="AFecha" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <label idioma="Personal que se le entregó el equipo"></label>
                        <select class="form-control" id="AEntrega" style="width:100%" />

                    </div>
                    <div class="col-sm-4">
                        <label idioma="Fecha de Entrega"></label>
                        <input type="date" class="form-control" id="AFechaEnt" />
                    </div>
                    <div class="col-sm-6">
                        <label idioma="Tipo de envío"></label>
                        <select class="form-control" id="AEmpresaEnv" style="width:100%"/>
                    </div>
                    <div class="col-sm-6">
                        <label idioma="Guía de envío"></label>
                        <input type="text" class="form-control" id="AGuia" />
                    </div>
                    <div class="col-sm-12">
                        <label idioma="Observación de la entrega"></label>
                        <textarea type="text" rows="4" class="form-control" id="AObservacion" />
                    </div>
                    <div class="col-sm-10">
                        <label idioma="Seleccione el archivo de la devolución firmada"></label>
                        <input type="file" name="OArchivo" id="AArchivo" onchange="GuardarDocumento()" accept="application/pdf" class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <button class="btn btn-glow btn-success"  type="button" onclick="InicializarCamara()" >Iniciar Cámara</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="GuardarEntDevolucion()"><span idioma="Entregar Devolución"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modal_camara_web" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body with-padding">
				<div class="row">
					<div class="col-sm-7">
						<div class="panel panel-success" style="font-size:14px;">
							<div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Cámara Vídeo</h6></div>
                            <div class="panel-body">
                                <div id="camaraweb"></div>
                                <div class="row text-center">
                                    <button class="btn btn-glow btn-success" onclick="TomarFotoDev()" type='button'>F12 Capturar Foto</button>
                                    <button class="btn btn-glow btn-danger" onclick="EliminarFotoDev()" type='button'>F10 Eliminar Foto</button>
                                </div>
                                
                            </div>
						</div>
					</div>
					<div class="col-sm-5">
						<form id="guardarfotocamara" >
							<div class="panel panel-success" style="font-size:14px;">
								<div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Foto de la devolución número <span id="FotoNumDevolucion"></span></h6></div>
								<div class="panel-body">
									<div id="fotocamdevo" >
										
									</div>
									<input type='hidden' name='id_imagen' id="id_imagen" value="">	
									<canvas  id="tci6fotonue" style="display:none;"></canvas>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" id="botonDetener222" class="btn btn-glow btn-danger" data-dismiss="modal"><span idioma="Cerrar"></span></button>
				</div> 
			</div>
		</div>
	</div>
</div>

<div id="modalDetalleDevo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulodetalle"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group">
                    <div id="detallemovimiento"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalFotosDev" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Fotos de la Devolución Nro"></span> <span id="springresodev"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div id="AlbunFotosDevolucion" style="height:450px">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalFotosEntrega" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Fotos de Entrega de la Devolución Nro"></span> <span id="springresoent"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div id="AlbunFotosEntrega" style="height:450px">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalClientesDev" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Clientes"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Razón Social"></label>
                        <input name="CRazon" id="CRazon" class="form-control" onkeyup="CargarModalClientes('dev')" autofocus />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Cédula/Nit"></label>
                        <input name="CCedula" id="CCedula" class="form-control" onkeyup="CargarModalClientes('dev')" />
                    </div>

                </div>

                <div class="table-responsive" style="min-height:300px;">
                    <table class="table table-bordered hover " id="tablamodalclientedev">
                        <thead>
                            <tr>
                                <th><span idioma="Tipo Cliente"></span></th>
                                <th><span idioma="NIT/Cédula"></span></th>
                                <th width="20%"><span idioma="Nombre"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Teléfonos"></span></th>
                                <th><span idioma="Email"></span></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <font size="2px" color="red"><i>Busque el cliente por razón social o cédula/NIT y haga un click en la fila del cliente que desea seleccionar</i></font>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar [Esc]"></span></button>
            </div>
        </div>
    </div>
</div>



<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Devolucion.js?unico=' + Math.round(Math.random() * 10000));
</script>




