﻿<div class="row">
    <div class="col-sm-12">
        <div class="tabbable page-tabs" id="tabingresos">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcrear">
                    <form id="formmonturas" style="background-color:white">
                        <div class="panel panel-info" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Órden de Compra"></span></a></h3>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="15" onblur="BuscarCliente(this.value)" onkeyup="ValidarCliente(this.value)" pattern="[0-9]{1,15}" name="Cliente" id="Cliente" autofocus tabindex="0" />
                                        </div>
                                        <div class="col-xs-10 col-sm-4 col-sm-5">
                                            <label idioma="Nombre del Cliente"></label><br>
                                            <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Orden de Compra"></label>
                                            <input type="text" class="form-control" onblur="BuscarOrden(this.value)" name="Orden" id="Orden" tabindex="10" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Ciudad"></label>
                                            <input type="text" class="form-control" name="Ciudad" id="Ciudad" readonly tabindex="11" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Departamento"></label>
                                            <input type="text" class="form-control" name="Departamento" id="Departamento" readonly />
                                        </div>

                                        <div class="hidden-xs col-sm-4 col-sm-4">
                                            <label idioma="Dirección"></label><br>
                                            <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                                        </div>

                                        <div class="col-xs-4 col-sm-3 col-sm-3">
                                            <label idioma="Email"></label>
                                            <input type="text" class="form-control" name="Email" id="Email" readonly />
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control" name="Telefonos" id="Telefonos" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="SaldoClienteDev"></div>
                        <div class="row">
                            <div id="divAnulaciones" class="col-sm-12 hidden">
                                <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion">Prueba</span></label>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" width="100%" id="Malla" style="font-size:14px">
                                <thead>
                                    <tr class="bg-info">
                                        <th width="10px" height="40px" idioma="Nro"></th>
                                        <th width="60px" idioma="Ingreso / fecha <br> usuario"></th>
                                        <th width="90px" idioma="Equipo"></th>
                                        <th width="90px" idioma="Servicio<br>Método"></th>
                                        <th width="40px" idioma="Estado"></th>
                                        <th width="40px" idioma="Cantidad"></th>
                                        <th width="50px" idioma="Cotización"></th>
                                        <th width="120px" idioma="Orden de Compra"></th>
                                        <th width="120px" idioma="Observación"></th>
                                    </tr>
                                </thead>
                                <tbody id="bodyOrden"></tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-glow btn-primary" onclick="javascript:ModalClientes('Ord')">F1 <span idioma="Clientes"></span></button>
                                <button type="button" class="btn btn-glow btn-success" onclick="javascript:AgregarOrden()">F3 <span idioma="Asignar Órden de Compra"></span></button>
                                <button type="button" class="btn btn-glow btn-danger" onclick="javascript:EliminarTodaOrden()">F4 <span idioma="Eliminar Toda la Órden de Compra"></span></button>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-6  col-sm-6 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tipo de Cliente"></label>
                                                <input class="form-control text-XX text-center" id="TipoCliente" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Plazo de Pago"></label>
                                                <input class="form-control text-XX text-center" id="PlazoPago" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Total Equipos:"></label>
                                                <input class="form-control text-XX text-center" id="Totales" value="0" readonly style="width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Remisión"></label>
                                <input name="CRemision" id="CRemision" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Orden"></label>
                                <input name="COrden" id="COrden" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Ingreso"></label>
                                <input name="CIngreso" id="CIngreso" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Cliente"></label>
                                <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Tipo Orden"></label>
                                <select name="CTipo" id="CTipo" class="form-control" style="width:100%">
                                    <option value="Todas">Todos</option>
                                    <option value="Orden de Compra">Orden de Compra</option>
                                    <option value="Correo Electrónico">Correo Electrónico</option>
                                    <option value="Cotización Autorizada">Cotización Autorizada</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Equipos"></label>
                                <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Serie"></label>
                                <input name="CSerie" id="CSerie" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularOrdenes()"><span idioma="Buscar"></span></button>
                            </div>
                        
                        </div>
                   
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive" >
                                <table class="table display  table-bordered hover" id="TablaOrdenes" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%" height="40px" idioma="Nro"></th>
                                            <th width="5%" idioma="Ingreso"></th>
                                            <th width="10%" idioma="Remision / fecha <br> usuario"></th>
                                            <th width="15%" idioma="Cliente"></th>
                                            <th width="15%" idioma="Equipo"></th>
                                            <th width="20%" idioma="Observación"></th>
                                            <th width="5%" idioma="Cotización"></th>
                                            <th width="5%" idioma="Factura"></th>
                                            <th width="10%" idioma="Tipo de Compra"></th>
                                            <th width="10%" idioma="Orden de Compra"></th>
                                            <th width="10%" idioma="Fecha de Compra"></th>
                                            <th width="10%" idioma="Asesor"></th>
                                            <th width="3%">&nbsp;</th>
                                            <th width="3%">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modalOrden" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Agregar órden de Compra a los Ingresos"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group-min row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Ingresos Seleccionados"></label>
                        <textarea type="text" name="OSeleccion" id="OSeleccion" rows="2" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group-min row">
                    <div class="col-xs-12 col-sm-4">
                        <label><span idioma="Tipo"></span></label>
                        <select name="OTipo" id="OTipo" class="form-control" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option value="Orden de Compra">Orden de Compra</option>
                            <option value="Correo Electrónico">Correo Electrónico</option>
                            <option value="Cotización Autorizada">Cotización Autorizada</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label idioma="Número de Orden de Compra"></label>
                        <input name="ONumero" id="ONumero" class="form-control text-XX text-center" />
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label idioma="Fecha Orden"></label>
                        <input type="date" name="OFecha" id="OFecha" class="form-control text-XX text-center" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" idioma="Hora"></label>
                        <input class="form-control" type="time" id="OHora">
                    </div>
                </div>
                <hr />
                <h3><span idioma="APROBACIÓN DE LA COTIZACIÓN"></span></h3>
                <div class="form-group-min row">
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Usuario que aprueba/reprueba"></label>
                        <input class="form-control" type="text" id="OUsuario">
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" idioma="Cédula"></label>
                        <input class="form-control" type="text" id="OCedula">
                    </div>
                    <div class="col-md-4">
                        <label class="form-control-label" idioma="Cargo"></label>
                        <input class="form-control" type="text" id="OCargo">
                    </div>
                </div>
                <hr />
                <div class="form-group-min row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Examinar Archivo"></label>
                        <input type="file" name="OArchivo" id="OArchivo" onchange="GuardarDocumentoAdjunto(this.id,3,'')" accept="application/pdf" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="GuardarOrden()"><span idioma="Agregar Órden de Compra"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalClientesOrd" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Clientes"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Razón Social"></label>
                        <input name="CRazon" id="CRazon" class="form-control" onkeyup="CargarModalClientes('ord')" autofocus />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Cédula/Nit"></label>
                        <input name="CCedula" id="CCedula" class="form-control" onkeyup="CargarModalClientes('ord')" />
                    </div>

                </div>

                <div class="table-responsive" style="min-height:300px;">
                    <table class="table table-bordered hover " id="tablamodalclienteord">
                        <thead>
                            <tr>
                                <th><span idioma="Tipo Cliente"></span></th>
                                <th><span idioma="NIT/Cédula"></span></th>
                                <th width="20%"><span idioma="Nombre"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Teléfonos"></span></th>
                                <th><span idioma="Email"></span></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <font size="2px" color="red"><i>Busque el cliente por razón social o cédula/NIT y haga un click en la fila del cliente que desea seleccionar</i></font>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar [Esc]"></span></button>
            </div>
        </div>
    </div>
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Orden.js?unico=' + Math.round(Math.random() * 10000));
</script>




