﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabsolicitudes">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar Solicitud"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcrear">
                    <form id="formsolicitud" style="background-color:white">
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Solicitud"></span></a></h3>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2<span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit">F3 <span idioma="Generar Solicitud"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="ModalCambioCliente()"><span idioma="Cambio de Cliente/Sede/Remisión"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" maxlength="20" onblur="BuscarCliente(this.value,0)" onkeyup="ValidarCliente(this.value)" id="Cliente" autofocus tabindex="0" />
                                        </div>
                                        <div class="col-xs-10 col-sm-4 col-sm-5">
                                            <label idioma="Nombre del Cliente"></label>
                                            <input type="text" class="form-control" id="NombreCliente" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Solicitud"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarSolicitud(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Solicitud" id="Solicitud" tabindex="10" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Remisión"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarRemisiom(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Remision" id="Remision" tabindex="10" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Estado" class="label-info"></label>
                                            <input type="text" class="form-control" id="Estado" disabled />
                                        </div>

                                        <div class="hidden-xs col-sm-4 col-sm-4">
                                            <label idioma="Sede"></label>
                                            <select class="form-control" id="Sede" name="Sede" required tabindex="3" style="width:100%" />
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-sm-3">
                                            <label idioma="Contacto"></label>
                                            <select class="form-control" id="Contacto" name="Contacto" onchange="DatosContacto(this.value)" required tabindex="4" style="width:100%" />
                                        </div>

                                        <div class="col-xs-4 col-sm-3 col-sm-3">
                                            <label idioma="Emial"></label>
                                            <input type="text" class="form-control" id="Email" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-3">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control" id="Telefonos" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="SaldoClienteDev"></div>

                        <div class="row">
                            <div id="divAnulaciones" class="col-md-12">
                                
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" width="100%" style="font-size:14px">
                                <thead>
                                    <tr class="bg-primary">
                                        <th width="3%">Nro</th>
                                        <th width="3%" idioma="Ingreso"></th>
                                        <th width="20%" idioma="Equipo"></th>
                                        <th width="3%" idioma="Cant"></th>
                                        <th width="10%" idioma="Servicio"></th>
                                        <th width="20%"><span idioma="Punto Específico"></span><br><span idioma="Punto Método"></span></th>
                                        <th width="15%"><span idioma="A Nombre de/"></span><br><span idioma="Dirección de"></span></th>
                                        <th width="18%"><span idioma="Declaración de"></span><br><span idioma="Conformidad"></span></th>
                                        <th width="18%" idioma="Observación"></th>
                                        <th width="15%"><span idioma="Proxima Calibractión/"></span><br><span idioma="Certificado"></span></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="TBSolicitudDet"></tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn btn-glow-group" role="group">
                                    <button type="button" class="btn btn-glow btn-info" onclick="ModalClientes('Sol')">F1 <span idioma="Clientes"></span></button>
                                    <button type="button" class="btn btn-glow btn-primary" onclick="BuscarServicio()">F4 <span idioma="Agregar Equipo"></span></button>
                                    <button type="button" class="btn btn-glow btn-info" onclick="CargarOIngreso()">F6<span idioma="Agregar Ingreso"></span></button>
                                    <button class="btn btn-glow btn-success" type="submit">F7 <span idioma="Generar Solicitud"></span></button>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="ImprimirSolicitud(0)">F8 <span idioma="Imprimir"></span></button>
                                    <button class="btn btn-glow btn-danger" type="button" onclick="AnularSolicitud()">F9 <span idioma="Anular"></span></button>
                                    <button class="btn btn-glow btn-warning" type="button" onclick="EliminarSolicitud()">F10 <span idioma="Eliminar Solicitud"></span></button>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-5 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tipo de Cliente"></label>
                                                <input class="form-control text-XX text-center" id="TipoCliente" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Plazo de Pago"></label>
                                                <input class="form-control text-XX text-center" id="PlazoPago" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Total Equipos:"></label>
                                                <input class="form-control text-XX text-center" id="Totales" value="0" readonly style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Fecha de Registro"></label>
                                                <input class="form-control text-XX text-center" id="FechaReg" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Usuario"></label>
                                                <input class="form-control text-XX text-center" id="UsuarioReg" value="0" readonly style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones"></label>
                                                <textarea class="form-control" name="Observacion" id="Observacion" required rows="8"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">
                                    <div class="panel-body">
                                        <i><b><span idioma="Para utilizar nuestro servicio gratuito de transporte de ítems en Bogotá D.C. diligencie ambas ubicaciones o la ubicación de entrega si desea recibirlo por correo certificado."></span></b></i>
                                        <h5><label idioma="Ubicación de Recogida"><input type="checkbox" id="CheRecoger" onchange="ActivarRecogida(this)"></label></h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label idioma="Dirección, Ciudad, Depto. Y Páis"></label>
                                                <input type="text" class="form-control" id="MRDireccion" name="MRDirecion" disabled required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Contacto"></label>
                                                <input type="text" class="form-control" id="MRContacto" name="MRContacto" disabled required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Teléfono"></label>
                                                <input type="text" class="form-control" id="MRTelefono" name="MRTelefono" disabled required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Correo Electrónico"></label>
                                                <input type="text" class="form-control" id="MRCorreo" name="MRCorreo" disabled required>
                                            </div>
                                        </div>
                                        <h5><label idioma="Ubicación de Entrega"><input type="checkbox" id="CheEntregar" onchange="ActivarEntrega(this)"></label></h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label idioma="Dirección, Ciudad, Depto. Y Páis"></label>
                                                <input type="text" class="form-control" id="MEDireccion" name="MEDirecion" disabled required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Contacto"></label>
                                                <input type="text" class="form-control" id="MEContacto" name="MEContacto" disabled required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Teléfono"></label>
                                                <input type="text" class="form-control" id="METelefono" name="METelefono" disabled required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Correo Electrónico"></label>
                                                <input type="text" class="form-control" id="MECorreo" name="MECorreo" disabled required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Solicitud"></label>
                                <input name="CSolicitud" id="CSolicitud" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Cotización"></label>
                                <input name="CCotizacion" id="CCotizacion" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Cliente"></label>
                                <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Estado"></label>
                                <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                                    <option value="0">Todos</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Cotizado">Cotizado</option>
                                    <option value="Anulado">Anulado</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Asesor"></label>
                                <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Equipos"></label>
                                <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-1 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularSolicitud()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaSolicitudes" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%">&nbsp;</th>
                                            <th width="3%" idioma="Solicitud"></th>
                                            <th width="3%" idioma="Fecha"></th>
                                            <th width="10%" idioma="Estado"></th>
                                            <th width="20%" idioma="Cliente"></th>
                                            <th width="7%" idioma="Dirección"></th>
                                            <th width="7%" idioma="Teléfono"></th>
                                            <th width="7%" idioma="Correo"></th>
                                            <th width="7%" idioma="Observación"></th>
                                            <th width="7%" idioma="Cant Equipo"></th>
                                            <th width="7%" idioma="Cotización"></th>
                                            <th width="7%" idioma="Asesor"></th>
                                            <th width="7%" idioma="Anulado"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="ModalArticulos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="FormArticuloSol">
            <div class="modal-content">
                <div class="modal-header bg-info">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Agregar Equipo"></span></h4>
                </div>
                <div class="modal-body with-padding">

                    <div class="form-group-min row">
                        <div class="col-xs-6 col-md-6">
                            <label idioma="Magnitud"></label>
                            <select name="Magnitud" id="Magnitud" class="form-control" onchange="CargarIntervalos(this.value)" required style="width:100%"></select>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <label><a href="javascript:AgregarOpcion(1,'EQUIPO','Equipo')"><span idioma="Equipos (+)"></span></a></label>
                            <select name="Equipo" id="Equipo" class="form-control" onchange="MagnitudEquipo(this.value)" required style="width:100%"></select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-xs-12 col-md-4">
                            <label><a href="javascript:AgregarOpcion(2,'MARCA','Marca')"><span idioma="Marcas (+)"></span></a></label>
                            <select name="Marca" id="Marca" class="form-control" onchange="CargarModelos(this.value)" required style="width:100%"></select>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label><a href="javascript:AgregarOpcion(3,'MODELO','Modelo')"><span idioma="Modelos (+)"></span></a></label>
                            <select name="Modelo" id="Modelo" class="form-control" required style="width:100%"></select>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label><a href="javascript:AgregarIntervalo()" id="LabIntervalo"><span idioma="Intervalo de Rangos (+)"></span></a></label>
                            <select name="Intervalo" id="Intervalo" class="form-control" required style="width:100%"></select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label idioma="Serie"></label>
                                <input class="form-control" id="Serie" tabindex="36" name="Serie" type="text" readonly required />
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Ingreso"></label>
                            <input class="form-control text-XX text-center" maxlength="4" id="Ingreso" value="0" tabindex="36" type="text" readonly />
                        </div>
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Cantidad"></label>
                            <input class="form-control text-XX text-center" maxlength="4" id="Cantidad" value="1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)" tabindex="36" name="Cantidad" type="text" />
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-control-label" idioma="Acreditación"></label>
                                <select class="form-control" name="Acreditacion" id="Acreditacion" style="width:100%">
                                    <option value="SI">SI</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <label class="form-control-label" idioma="Sitio"></label>
                            <select class="form-control" id="Sitio" Name="Sitio" onchange="CambioContratacion()" required style="width:100%">
                                <option value="SI">SI</option>
                                <option value="NO" selected>NO</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="form-control-label" idioma="Express"></label>
                                <select class="form-control" id="Express" name="Express" onchange="CambioContratacion()" style="width:100%">
                                    <option value="SI">SI</option>
                                    <option value="NO" selected>NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-control-label" idioma="Sub-Contratada"></label>
                                <select class="form-control" id="SubContratado" name="SubContratado" style="width:100%">
                                    <option value="SI">SI</option>
                                    <option value="NO" selected>NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <fieldset style="background-color:aliceblue">
                            <legend><label><span idioma="Datos de la Certificación"></span></label></legend>

                            <div class="col-xs-12 col-md-6">
                                <label idioma="Punto Específico de la Calibración"></label>
                                <input class="form-control" id="Punto" tabindex="36" value="N/A" name="Punto" type="text" required autocomplete="on" />
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label idioma="Método de la Calibración"></label>
                                <input class="form-control" id="Metodo" tabindex="36" value="LABORATORIO" name="Metodo" type="text" required autocomplete="on" />
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label idioma="A Nombre de"></label>
                                <input type="text" id="NombreCa" name="NombreCa" class="form-control" tabindex="35" required autocomplete="on" />
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label idioma="Dirección"></label>
                                <input type="text" id="Direccion" name="Direccion"  value="SEDE" class="form-control" tabindex="35" required autocomplete="on" />
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label idioma="Declaración de Conformidad"></label>
                                <input class="form-control" id="Declaracion" tabindex="36" value="N/A" name="Declaracion" type="text" required autocomplete="on" />
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label idioma="Observación"></label>
                                <input class="form-control" id="Observacion" tabindex="36" value="N/A" name="Observacion" type="text" required autocomplete="on" />
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label><span idioma="Tipo de Certificado"></span></label>
                                    <select id="Certificado" name="Certificado" class="form-control" tabindex="10" style="width:100%" required>
                                        <option value="">--</option>
                                        <option value="DIGITAL">DIGITAL</option>
                                        <option value="IMPRESO">IMPRESO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-control-label" idioma="Próxima Calibración"></label>
                                    <input class="form-control" type="text" id="Proxima" name="Proxima">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" onclick="LimpiarServicio()"><span idioma="Limpiar"></span></button>
                        <button class="btn btn-glow btn-info" type="button" onclick="ActualizarIngresoSol()"><span idioma="Actualizar Ingreso"></span></button>
                        <button class="btn btn-glow btn-success" type="submit"><span idioma="Agregar"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modalIntervalo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Intervalo de Medición"></span></h4>
                <input type="hidden" id="NumIntervalo" value="1" />
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4">
                        <label><a href="javascript:AgregarOpcion(4,'MEDIDA','IMedida')"><span idioma="Unidade de Medida (+)"></span></a></label>
                        <select name="IMedida" id="IMedida" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Dede"></label>
                        <input name="IDesde" id="IDesde" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Hasta"></label>
                        <input name="IHasta" id="IHasta" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="GuardarIntervalo()"><span idioma="Guardar"></span></button>
            </div>

        </div>
    </div>
</div>



<div id="enviar_remision" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío del Remisión Número"></span> <span id="spremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdfremision" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalIngresoSol" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Ingresos"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="tablamodalingresosol">
                        <thead>
                            <tr>
                                <th><span idioma="Remisión"></span></th>
                                <th><span idioma="Ingresos"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Equipo"></span></th>
                                <th><span idioma="serie"></span></th>
                                <th><span idioma="Asesor"></span></th>
                                <th><span idioma="Observación"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalClientesSol" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Clientes"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Razón Social"></label>
                        <input name="CRazon" id="CRazon" class="form-control" onkeyup="CargarModalClientes('sol')" autofocus />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Cédula/Nit"></label>
                        <input name="CCedula" id="CCedula" class="form-control" onkeyup="CargarModalClientes('sol')" />
                    </div>

                </div>

                <div class="table-responsive" style="min-height:300px;">
                    <table class="table table-bordered hover " id="tablamodalclientesol">
                        <thead>
                            <tr>
                                <th><span idioma="Tipo Cliente"></span></th>
                                <th><span idioma="NIT/Cédula"></span></th>
                                <th width="20%"><span idioma="Nombre"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Teléfonos"></span></th>
                                <th><span idioma="Email"></span></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <font size="2px" color="red"><i>Busque el cliente por razón social o cédula/NIT y haga un click en la fila del cliente que desea seleccionar</i></font>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar [Esc]"></span></button>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Solicitud.js?unico=' + Math.round(Math.random() * 10000));
</script>




