﻿
<div>
    <div class="panel panel-primary" style="font-size:14px; color:black;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Anticipo de Clientes"></span></a></h3>
                </div>
                <div class="col-md-10 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">[F2] <span idioma="Limpiar/Cancelar"></span></button>
                    <button class="btn btn-glow btn-info" type="button" onclick="ModalAnticipo()">[F10] <span idioma="Buscar"></span></button>
                    <button class="btn btn-glow btn-success" type="button" id="btnGuardar" onclick="GuardarAnticipo()">[F3] <span idioma="Guardar"></span></button>
                    <button class="btn btn-glow btn-warning hidden" type="button" id="btnEnviar" onclick="EnviarAnticipo()">[F4] <span idioma="Enviar"></span></button>
                    <button class="btn btn-glow btn-warning hidden" type="button" id="btnImprimir" onclick="ImprimirAnticipo(1)">[F6] <span idioma="Imprimir"></span></button>
                    <button class="btn btn-glow btn-danger hidden" type="button" id="btnAnular" onclick="AnularAnticipo()">[F8] <span idioma="Anular"></span></button>

                </div>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-sm-9">
                        <div class="form-group-min row">
                            <div class="col-xs-3 col-md-3 col-sm-3">
                                <label idioma="NIT/C.C."></label>
                                <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onblur="BuscarCliente(this.value,0)" onkeyup="ValidarCliente(this.value)" pattern="[0-9]{1,12}" max="12" min="1" name="Cliente" id="Cliente" autofocus tabindex="0" />
                            </div>
                            <div class="col-xs-9 col-md-11 col-sm-10">
                                <br>
                                <label id="NombreCliente"></label>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="form-group-min row">
                                <label idioma="Concepto"></label>
                                <textarea class="form-control" id="Concepto" name="Concepto" rows="2" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-sm-3">
                        <div class="col-xs-6 col-md-12 col-sm-12">
                            <div class="form-group-min row">
                                <label idioma="Anticipo"></label>
                                <div style="font-size:23px; font-weight:bold" id="NAnticipo" class="text-center">0</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-12 col-sm-12">
                            <div class="form-group-min row">
                                <a href="javascript:LlamarModalMovimientos()"><span idioma="Monto Anticipo"></span></a>
                                <input type="text" class="form-control text-right text-XX" name="Anticipo" id="Anticipo" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="CalcularTotal(this)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-danger text-XX" id="Detalle_Movimiento"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="SaldoClienteDev"></div>
    <a class="btn btn-glow btn-info" href="javascript:ModalClientes()">F1 <span idioma="Clientes"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:CargarModaltarjeta()">F8 <span idioma="Tarjeta"></span></a>
    <a class="btn btn-glow btn-default hidden" href="javascript:CargarModalCheque()">F3 <span idioma="Cheques"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:CargarModalConsig()">F4 <span idioma="Depósito hecho por el Cliente"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:LimpiarPagos()">F6 <span idioma="Limpiar Movimientos"></span></a>
    <hr />
    <div id="divAnulaciones" class="col-md-12 hidden">
        <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion"></span></label>
    </div>

   
       
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="#" class="text-XX"><span idioma="Convenio"></span></a>
                                <input class="form-control  text-right text-XX" id="Convenio" name="Convenio" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="CalcularTotal(this)" style="font-size:20px; font-weight:bold" />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="#" class="text-XX"><span idioma="Efectivo"></span></a>
                                <input class="form-control  text-right text-XX" id="Efectivo" name="Efectivo" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="CalcularTotal(this)" style="font-size:20px; font-weight:bold" />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="javascript:CargarVerPagos('C','Recibo por Cheque')" class="text-XX"><span idioma="Cheque"></span></a>
                                <input class="form-control text-right text-XX" value="0" id="TCheque" name="TCheque" disabled />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="javascript:CargarVerPagos('T','Recibo por Tarjeta')" class="text-XX"><span idioma="Tarjeta"></span></a>
                                <input class="form-control text-right text-XX" value="0" id="TTarjeta" name="TTarjeta" disabled />
                            </div>
                        </div>

                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="javascript:CargarVerPagos('CO','Recibo por Consignación')" class="text-XX"><span idioma="Depósito"></span></a>
                                <input class="form-control  text-right text-XX" id="TConsignacion" name="TConsignacion" value="0" disabled />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="" class="text-XX"><span idioma="Recibo de Caja"></span></a>
                                <input class="form-control  text-right text-XX" id="ReciboCaja" name="ReciboCaja" value="0" disabled style="font-size:20px; font-weight:bold" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="" class="text-XX"><span idioma="Diferencia"></span></a>
                                <input class="form-control  text-right text-XX" id="Diferencia" name="Diferencia" value="0" disabled style="font-size:20px; font-weight:bold" />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="form-group-min">
                                <a href="" class="text-XX"><span idioma="Saldo"></span></a>
                                <input class="form-control  text-right text-XX" id="Saldo" name="Saldo" value="0" disabled style="font-size:20px; font-weight:bold" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        



<div id="modalAnticipos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Recibos de Caja"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group-min row">

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Nro Anticipo"></label>
                        <input name="BNRecibo" id="BNAnticipo" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Documento"></label>
                        <input name="BDocumento" id="BDocumento" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Cliente"></label>
                        <input name="BCliente" id="BCliente" class="form-control" />
                    </div>

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Estado"></label>
                        <select name="BEstado" id="BEstado" class="form-control" style="width:100%">
                            <option value="T">Todos</option>
                            <option value="Registrado">Registrado</option>
                            <option value="Anulado">Anulado</option>
                            <option value="Enviado">Enviado</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="BFechaDesde" id="BFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="BFechaHasta" id="BFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Ultimos Días"></label>
                        <input type="number" name="BUltimoDia" id="BUltimoDia" value="3" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="CargarModalAnticipos()"><span idioma="Consultar"></span></button>
                    </div>
                </div>
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="tablamodalanticipos">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Nro Anticipo"></span></th>
                                <th width="8%"><span idioma="Documento"></span></th>
                                <th width="20%"><span idioma="Cliente"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Monto"></span></th>
                                <th><span idioma="Saldo"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Usuario"></span></th>
                                <th><span idioma="Anulado"></span></th>
                                <th><span idioma="Enviado"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="enviar_anticipo" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarpedido">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Pedido Nro"></span> <span id="sppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group-min row">
                        <div class="col-md-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-md-6">
                            <label idioma="Correo"></label>
                            <input type="email" class="form-control" id="eCorreo" required />
                        </div>
                    </div>
                    <iframe id="resultadopdfpedido" width="100%" height="400px"></iframe>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalTarjeta" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formfacturarpedido">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Recibo por Tarjeta "></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group-min row">
                        <label idioma="Tipo" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <select type="text" class="form-control"  name="ttipo" id="ttipo" tabindex="200" style="width:100%" required >
                            </select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label idioma="Número" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <input type="number" class="form-control" name="tnumero" id="tnumero" tabindex="201" required />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label idioma="Valor" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control text-right" name="Tarjeta" id="Tarjeta" tabindex="202" value="0" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                        </div>
                    </div>
                    
                    <div class="form-group-min row">
                        <label idioma="Autorización" class="col-md-4 col-xs-12  control-label"></label>
                        <div class="col-md-8 col-xs-12">
                            <input type="text" class="form-control" name="tautoriza" id="tautoriza" tabindex="205" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" ><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-danger" tabindex="3" type="button" onclick="LimpiarTarjeta()"><span idioma="Limpiar tarjeta"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalCheque" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Recibo por Cheque"></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group-min">
                                        <div class="form-group-min row">
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Banco"></label>
                                                <select name="ChBanco" id="ChBanco" tabindex="200" style="width:100%" required></select>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Plaza"></label>
                                                <select name="ChPlaza" id="ChPlaza" tabindex="200" style="width:100%" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group-min row">
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Número"></label>
                                                <input type="text" class="form-control" pattern="[0-9]{1,20}" max="20" min="1" name="ChNumero" id="ChNumero" tabindex="200" required/>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Número de Cuenta"></label>
                                                <input type="text" class="form-control" name="ChCuenta" id="ChCuenta" tabindex="200" required/>
                                            </div>
                                        </div>
                                        <div class="form-group-min row">
                                            <div class="col-md-6 col-xs-6">
                                                <label>
                                                    <span idioma="A primer Beneficiario"></span>
                                                    <input type="radio" name="ChTipoC" value="1" id="ChTipoC_B" tabindex="200"  />
                                                </label>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>
                                                    <span idioma="Para Cambio"></span>
                                                    <input type="radio" name="ChTipoC" value="2" id="ChTipoC_C"  />
                                                </label>
                                            </div>
                                        </div>
                                        <hr style="margin-top:0px; margin-bottom:0px;" />
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <h3><label idioma="GIRADOR"></label></h3>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label>
                                                    <span idioma="Persona Natural"></span>
                                                    <input type="radio" name="ChPersona" onchange="chCambioPersona('N')" id="ChPersona_N" required />
                                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label>
                                                    <span idioma="Persona Jurídica"></span>
                                                    <input type="radio" name="ChPersona" onchange="chCambioPersona('J')" id="ChPersona_J" checked required />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <label idioma="Nombre"></label>
                                                <input type="text" class="form-control" inicial="" name="ChNombre" id="ChNombre" tabindex="201" required />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Cédula"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChCedula" id="ChCedula" tabindex="201" required />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Teléfono"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChTelefono" id="ChTelefono" tabindex="201" required />
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label idioma="Dirección"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChDireccion" id="ChDireccion" tabindex="201" required />
                                            </div>
                                        </div>
                                        <hr style="margin-top:6px; margin-bottom:6px;" />
                                        <div class="row">
                                            <div class="col-md-5 col-xs-4">
                                                <label idioma="Fecha"></label>
                                                <input type="date" class="form-control" name="ChFecha" id="ChFecha" tabindex="201" required />
                                            </div>
                                            <div class="col-md-2 col-xs-2">
                                                <label idioma="#Cheques"></label>
                                                <input type="text" class="form-control text-center" onkeyup="ValidarTexto(this,1)" name="ChCantidad" id="ChCantidad" tabindex="201" required />
                                            </div>
                                            <div class="col-md-5 col-xs-6">
                                                <label idioma="Valor"></label>
                                                <input type="text" class="form-control text-right" name="Cheque" id="Cheque" tabindex="201" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Autorización"></label>
                                                <input type="text" class="form-control" name="ChAutorizacion" id="ChAutorizacion" tabindex="201"/>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Autorizado por"></label>
                                                <input type="text" class="form-control" name="ChAutorizado" id="ChAutorizado" tabindex="201"/>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7 col-xs-12">
                            <br>
                            <div class="row">
                                <div class="col-md-12 col-xs-12 text-right">
                                    <button type="button" onclick="LimpiarCheque()" class="btn btn-glow btn-default"><span idioma="Limpiar"></span></button>
                                    <button type="submit" class="btn btn-glow btn-success"><span idioma="Guardar Cheque"></span></button>
                                </div>
                            </div>
                            <div class="table-responsive" id="divtabcheque">
                                <table class="table display  table-bordered">
                                    <thead>
                                        <tr>
                                            <th idioma="Id"></th>
                                            <th idioma="Banco"></th>
                                            <th idioma="Plaza"></th>
                                            <th idioma="Número"></th>
                                            <th idioma="Cuenta"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class=" col-md-12 col-xs-12">
                                <font size="5px"><b><span idioma="Total En Cheques"></span>:</b>&nbsp;<span id='chTotales'>0</span></font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalVerCheque" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span id ="TituloVerPagos"></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div id="VerChequeRecibo"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalMovBancarioAnti" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Movimientos Bancarios"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="row">
                        <div class="col-xs-4 col-sm-6">
                            <label idioma="Cuenta Bancaria"></label>
                            <select class="form-control" id="MCuenta" onchange="CargarModalMovimientos()" style="width:100%" />
                        </div>
                        <div class="col-sm-3">
                            <label idioma="Año"></label>
                            <select class="form-control" id="MAnio" onchange="CargarModalMovimientos()" style="width:100%" />
                        </div>
                        <div class="col-sm-3">
                            <label idioma="Mes"></label>
                            <select class="form-control" id="MMes" onchange="CargarModalMovimientos()" style="width:100%">
                                <option value="">--Seleccione--</option>
                                <option value="1">1. Enero</option>
                                <option value="2">2. Febrero</option>
                                <option value="3">3. Marzo</option>
                                <option value="4">4. Abril</option>
                                <option value="5">5. Mayo</option>
                                <option value="6">6. Junio</option>
                                <option value="7">7. Julio</option>
                                <option value="8">8. Agosto</option>
                                <option value="9">9. Septiembre</option>
                                <option value="10">10. Octubre</option>
                                <option value="11">11. Noviembre</option>
                                <option value="12">12. Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive" style="min-height:350px;">
                        <table class="table display  table-bordered hover"  width="100%" id="MTablaMovimientoAnti" style="font-size:14px">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="3%" idioma="ID"></th>
                                    <th width="10%" idioma="Fecha"></th>
                                    <th width="10%" idioma="Referencia"></th>
                                    <th width="18%" idioma="Descripción"></th>
                                    <th width="7%" idioma="Oficina"></th>
                                    <th width="10%" idioma="Entrada"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalConsignacion" class="modal fade" role="dialog" style="color:black;">
    <form id="formfacturarpedido">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consignar"></span> </h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group-min row">
                        <div class="col-md-12 col-xs-12">
                            <label idioma="Cuenta donde consignó el cliente"></label>
                            <select type="text" class="form-control" name="con_cuenta" id="con_cuenta" tabindex="300" style="width:100%" required></select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-12 col-xs-12">
                            <label idioma="Número de control"></label>
                            <input type="text" class="form-control" name="con_numero" id="con_numero" tabindex="301" required />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Fecha de consignación"></label>
                            <input type="date" class="form-control text-right" name="con_fecha" id="con_fecha" tabindex="302" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Tipo de Movimiento"></label>
                            <select name="con_tipo" style="width:100%" id="con_tipo">
                                <option value="" selected>--Seleccione--</option>
                                <option value="E">Efectivo</option>
                                <option value="M">Trasnferencia</option>
                                <option value="C">Cheque</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Valor a Consignar"></label>
                            <input type="text" class="form-control text-right" name="Consignacion" disabled id="Consignacion" tabindex="303" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-danger" tabindex="3" type="button" onclick="LimpiarConsignacion()"><span idioma="Limpiar Consignación"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

    
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Anticipo.js?unico=' + Math.round(Math.random() * 10000));
    
</script>




