﻿<div class="panel panel-primary" style="font-size:14px; color:black;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Gestón de Cartera"></span></a></h3>
            </div>
            <div class="col-sm-8 col-xs-12 text-right">
                <button class="btn btn-glow btn-success" type="button" onclick="TablaGestion()"><span idioma="Buscar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" onclick="EnviarCorreo()"><span idioma="Enviar Correo Masivo"></span></button>
                <button class="btn btn-glow btn-info" type="button" onclick="PDFGestionCartera(1)"><span idioma="PDF Gestión Cartera"></span></button>
                <button class="btn btn-glow btn-info" type="button" onclick="PDFGestionCartera(2)"><span idioma="PDF Gestión Cartera (Equipos)"></span></button>
            </div>
        </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <label idioma="Fecha"></label>
                    <input type="date" class="form-control" id="Fecha" name="Fecha" />
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Estado de Cartera"></label>
                    <select class="form-control" id="Estado" name="Estado" style="width:100%">
                        <option value="0">Todas</option>
                        <option value="1">Vencidas</option>
                        <option value="2">Pre-Bloqueadas</option>
                        <option value="3">Bloqueadas</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <label idioma="Tipo Cliente"></label>
                    <select class="form-control" id="TipoCliente" name="TipoCliente" style="width:100%" />
                </div>
                <div class="col-sm-3">
                    <label idioma="Cliente"></label>
                    <select class="form-control" id="Cliente" name="Cliente" style="width:100%" />
                </div>
                <div class="col-sm-2">
                    <label idioma="Días Vencidos"></label>
                    <input class="form-control text-center" id="Dias" name="Dias" />
                </div>
                <div class="col-sm-2">
                    <label idioma="Asesor"></label>
                    <select class="form-control" id="Asesor" name="Asesor" style="width:100%" />
                </div>
            </div>
            <h3>TOTALES</h3>
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <label class="text-XX" idioma="Facturado"></label>
                    <input type="text" id="TFacturado" disabled class="form-control text-center text-XX" />
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label class="text-XX" idioma="Abonado"></label>
                    <input type="text" id="TAbonado" disabled class="form-control text-center text-XX" />
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label class="text-XX" idioma="Saldo "></label>
                    <input type="text" id="TSaldo" disabled class="form-control text-center text-XX" />
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label class="text-XX" idioma="Vencido"></label>
                    <input type="text" id="TVencido" disabled class="form-control text-center text-XX" />
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Ordenar por"></label>
                    <select class="form-control" id="Orden" name="Orden" style="width:100%">
                        <option value="1">Cliente</option>
                        <option value="4">Saldo</option>
                        <option value="11">Monto Vencido</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-1">
                    <label idioma="Opción"></label>
                    <select class="form-control" id="TipoOrden" name="TipoOrden" style="width:100%">
                        <option value="1">Ascedente</option>
                        <option value="2">Descendente</option>
                    </select>
                </div>

                <div class="col-xs-4 col-sm-1">
                    <label idioma="Gestionado"></label>
                    <select class="form-control" id="Gestion" name="Gestion" style="width:100%">
                        <option value="0">Todos</option>
                        <option value="1">SI</option>
                        <option value="2">NO</option>
                    </select>
                </div>

            </div>
            <hr />
            <div class="table-responsive">
                <table class="table display  table-bordered hover" width="100%" style="font-size:14px">
                    <thead>
                        <tr>
                            <th width="3%" idioma="Nro"></th>
                            <th width="7%" idioma="Tipo<br>Cliente"></th>
                            <th width="5%" idioma="Telefonos<br>Email<br>Ciudad"></th>
                            <th width="5%" idioma="Equipos"></th>
                            <th width="5%" idioma="SubTotal"></th>
                            <th width="5%" idioma="Descuento"></th>
                            <th width="5%" idioma="IVA"></th>
                            <th width="5%" idioma="Total"></th>
                            <th width="5%" idioma="Abonado"></th>
                            <th width="5%" idioma="Saldo"></th>
                            <th width="5%" idioma="Vencido"></th>
                            <th width="15%" idioma="Gestion"></th>
                        </tr>
                    </thead>
                    <tbody id="TBGestionCartera"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="ModalMoviPago" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Detalle de Movimiento de Banco"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" id="MId" value="0" />
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label idioma="Fecha"></label>
                        <input class="form-control" id="MFecha" disabled />
                    </div>
                    <div class="col-sm-2">
                        <label idioma="Referencia"></label>
                        <input class="form-control" id="MReferencia" disabled />
                    </div>
                    <div class="col-sm-4">
                        <label idioma="Descripción"></label>
                        <input class="form-control" id="MDescripcion" disabled />
                    </div>
                    <div class="col-sm-2">
                        <label idioma="Entrada"></label>
                        <input class="form-control text-right" id="MEntrada" disabled />
                    </div>
                    <div class="col-sm-2">
                        <label idioma="Salida"></label>
                        <input class="form-control text-right" id="MSalida" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label idioma="Tipo de Operación"></label>
                        <select class="form-control" id="MOperacion" style="width:100%" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label idioma="Concepto de Pago"></label>
                        <textarea rows="4" class="form-control" id="MMovimiento" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="GuardarEdiMovimiento()"><span idioma="Realizar Pago"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalGestionar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Gestionar Cliente"></span> <span id="GesCliente"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" value="0" id="GesIdCliente" />
                <input type="hidden" value="0" id="GesPosicion" />
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label class="text-XX" idioma="Ingrese la Descripción de la Gestión"></label>
                        <textarea name="GesObservacion" id="GesObservacion" rows="6" autofocus class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label class="text-XX" idioma="Número de devoluciones"></label>
                        <select name="Devolucion" id="Devolucion" class="form-control" multiple style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" id="GuardarGestion"><span idioma="Guardar Gestón"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalTablaGestionar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Gestión del Cliente"></span> <span id="GesTabCliente"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <table width="100%" class="table" id="TablaDetGestion">
                            <thead>
                                <tr>
                                    <th width="15%" idioma="Fecha"></th>
                                    <th width="15%" idioma="Usuario"></th>
                                    <th width="65%" idioma="Gestión"></th>
                                    <th width="5%" idioma="Devolución"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalTablaEquipos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Equipos pendientes del cliente"></span> <span id="GesTabClienteEqui"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <div class="table-responsive">
                            <table width="100%" class="table table-bordered" id="TablaDetEquipos">
                                <thead>
                                    <tr>
                                        <th width="10%" idioma="Foto"></th>
                                        <th width="15%" idioma="Remisión"></th>
                                        <th width="7%" idioma="Ingreso"></th>
                                        <th width="25%" idioma="Equipo"></th>
                                        <th width="25%" idioma="Tiempo"></th>
                                        <th width="10%" idioma="Cotización"></th>
                                        <th width="10%" idioma="Certificado"></th>
                                        <th width="10%" idioma="Informe Técnico"></th>
                                        <th width="10%" idioma="Órden Compra"></th>
                                        <th width="10%" idioma="Factura"</th>
                                        <th width="10%" idioma="Devolución"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>


<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/GestionCartera.js?unico=' + Math.round(Math.random() * 10000));
</script>




