﻿<div class="tabbable page-tabs">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabmovimiento" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="MOVIMINETOS BANCARIOS"></span></a></li>
        <li id="proli7"><a href="#tabconsolidado" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="CONSOLIDADO"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabmovimiento">
            <div class="panel panel-primary" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Movimientos Bancarios"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-warning" type="button" onclick="SubirArchivo()"><span idioma="Importar Movimientos"></span></button>
                            <button class="btn btn-glow btn-success" type="button" onclick="ExportarExcel()"><span idioma="Exportar Excel"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">
                                <label idioma="Cuenta Bancaria"></label>
                                <select class="form-control" id="Cuenta" name="Cuenta" onchange="TablaMovimientos()" style="width:100%" />
                            </div>
                            <div class="col-sm-1">
                                <label idioma="Año"></label>
                                <select class="form-control" id="Anio" name="Anio" onchange="TablaMovimientos()" style="width:100%" />
                            </div>
                            <div class="col-sm-2">
                                <label idioma="Mes"></label>
                                <select class="form-control" id="Mes" name="Mes" onchange="TablaMovimientos()" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option value="1">1. Enero</option>
                                    <option value="2">2. Febrero</option>
                                    <option value="3">3. Marzo</option>
                                    <option value="4">4. Abril</option>
                                    <option value="5">5. Mayo</option>
                                    <option value="6">6. Junio</option>
                                    <option value="7">7. Julio</option>
                                    <option value="8">8. Agosto</option>
                                    <option value="9">9. Septiembre</option>
                                    <option value="10">10. Octubre</option>
                                    <option value="11">11. Noviembre</option>
                                    <option value="12">12. Diciembre</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" width="100%" id="TablaMovimiento" style="font-size:14px">
                                <thead>
                                    <tr class="bg-gris">
                                        <th width="3%" idioma="Nro"></th>
                                        <th width="18%" idioma="Movimiento"></th>
                                        <th width="15%" idioma="Operación"></th>
                                        <th width="10%" idioma="Fecha"></th>
                                        <th width="10%" idioma="Referencia"></th>
                                        <th width="18%" idioma="Descripción"></th>
                                        <th width="7%" idioma="Oficina"></th>
                                        <th width="10%" idioma="Entrada"></th>
                                        <th width="10%" idioma="Salida"></th>
                                        <th width="20%" idioma="Información Adicional"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody id="TBMovimiento"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabconsolidado">
            <div class="panel panel-primary" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Consolidado de Movimientos Bancarios"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-info" type="button" onclick="Consolidacion()"><span idioma="Consultar"></span></button>
                            <button class="btn btn-glow btn-success" type="button" onclick="ExportarExcel()"><span idioma="Generar PDF"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <label idioma="Banco"></label>
                                <select class="form-control" id="CBanco" name="CBanco" style="width:100%" />
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <label idioma="Cuenta Bancaria"></label>
                                <select class="form-control" id="CCuenta" name="CCuenta" style="width:100%" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CRFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CRFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Graficar"></label>
                                <select name="CGraficar" id="CGraficar" class="form-control" style="width:100%">
                                    <option value="0">NO</option>
                                    <option value="1">SI</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Graficar"></label>
                                <select name="TipoGrafica" id="TipoGrafica" class="form-control" style="width:100%">
                                    <option value="Consolidado">Consolidado</option>
                                    <option value="Detallado">Detallado</option>
                                </select>
                            </div>
                        </div>
                        <h3>Totales</h3>
                        <div class="form-group row">
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Entradas"></label>
                                <input name="TEntrada" id="TEntrada" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Salidas"></label>
                                <input name="TSalida" id="TSalida" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Total"></label>
                                <input name="TTotal" id="TTotal" disabled class="form-control text-right text-XX" />
                            </div>
                        </div>
                        <hr />
                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" width="100%" id="TablaConsolidado" style="font-size:14px">
                                <thead>
                                    <tr class="bg-gris">
                                        <th width="3%" idioma="Nro"></th>
                                        <th width="30%" idioma="Cuenta"></th>
                                        <th width="12%" idioma="Movimiento"></th>
                                        <th width="12%" idioma="Operación"></th>
                                        <th width="10%" idioma="Fecha"></th>
                                        <th width="10%" idioma="Referencia"></th>
                                        <th width="18%" idioma="Descripción"></th>
                                        <th width="7%" idioma="Oficina"></th>
                                        <th width="10%" idioma="Entrada"></th>
                                        <th width="10%" idioma="Salida"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <hr />
                        <div class="form-group hidden" id="DivGrafica1">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span id="SpanGrafica1" idioma="Grafica Consolidado de Movimientos"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-9">
                                            <canvas id="Grafica1"></canvas>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table display  table-bordered hover" style="font-size:10px">
                                                <thead>
                                                    <tr>
                                                        <th>Año/Mes</th>
                                                        <th>Entrada</th>
                                                        <th>Salida</th>
                                                        <th>Resultado</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Tabla1"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden" id="DivGrafica2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span id="SpanGrafica2" idioma="Grafica Consolidado de Movimientos"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-9">
                                            <canvas id="Grafica2"></canvas>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table display  table-bordered hover" style="font-size:10px">
                                                <thead>
                                                    <tr>
                                                        <th>Año/Mes</th>
                                                        <th>Entrada</th>
                                                        <th>Salida</th>
                                                        <th>Resultado</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Tabla2"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden" id="DivGrafica3">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span id="SpanGrafica3" idioma="Grafica Consolidado de Movimientos"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-9">
                                            <canvas id="Grafica3"></canvas>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table display  table-bordered hover" style="font-size:10px">
                                                <thead>
                                                    <tr>
                                                        <th>Año/Mes</th>
                                                        <th>Entrada</th>
                                                        <th>Salida</th>
                                                        <th>Resultado</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Tabla3"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden" id="DivGrafica4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span id="SpanGrafica4" idioma="Grafica Consolidado de Movimientos"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-9">
                                            <canvas id="Grafica4"></canvas>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table display  table-bordered hover" style="font-size:10px">
                                                <thead>
                                                    <tr>
                                                        <th>Año/Mes</th>
                                                        <th>Entrada</th>
                                                        <th>Salida</th>
                                                        <th>Resultado</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Tabla4"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="ModalMoviPago" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Detalle de Movimiento de Banco"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" id="MId" value="0" />
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label idioma="Fecha"></label>
                        <input class="form-control" id="MFecha" disabled />
                    </div>
                    <div class="col-sm-2">
                        <label idioma="Referencia"></label>
                        <input class="form-control" id="MReferencia" disabled />
                    </div>
                    <div class="col-sm-4">
                        <label idioma="Descripción"></label>
                        <input class="form-control" id="MDescripcion" disabled />
                    </div>
                    <div class="col-sm-2">
                        <label idioma="Entrada"></label>
                        <input class="form-control text-right" id="MEntrada" disabled />
                    </div>
                    <div class="col-sm-2">
                        <label idioma="Salida"></label>
                        <input class="form-control text-right" id="MSalida" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label idioma="Tipo de Operación"></label>
                        <select class="form-control" id="MOperacion" style="width:100%" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label idioma="Concepto de Pago"></label>
                        <textarea rows="4" class="form-control" id="MMovimiento" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="GuardarEdiMovimiento()"><span idioma="Realizar Pago"></span></button>
            </div>
        </div>
    </div>
</div>


<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/MovimientoBancario.js?unico=' + Math.round(Math.random() * 10000));
</script>




