﻿<div class="row">
    <div class="col-xs-10 col-sm-10">
        <h3><span idioma="Informe de Consignacion"></span></h3>
    </div>
    <div class="col-xs-2 col-sm-2 text-right">
        <a href="javascript:LlamarModalAyudas(3)" title="Ayuda de unifcar archivo">
            <img id="logoayuda" src="../images/Ayuda2.png" width="40px" />
        </a>
    </div>
</div>

<form>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Nuevo" onclick="Reporte(1)">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                    <button class="btn btn-glow btn-primary" type="button" tabindex="4" name="submit" id="Nuevo" onclick="Reporte(2)">
                        <i class="fa fa-file-pdf-o"></i>
                        <span idioma="Reporte PDF"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-group block form-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 id="h1" class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                        </h6>
                        <div class="panel-body">
                            <div id="tPrecio1" class="panel-collapse collapse in">
                                <div class="form-group row">
                                    <div class="col-xs-6 col-md-3">
                                        <label idioma="Fecha Desde"></label>
                                        <input type="date" id="RFechaI" class="form-control" tabindex="1"  />
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <label idioma="Fecha Hasta"></label>
                                        <input type="date" id="RFechaF" class="form-control" tabindex="1"  />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-md-3">
                                        <label idioma="Recibo de Caja Número"></label>
                                        <input type="text" id="RNumero" class="form-control" tabindex="1"  />
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label idioma="Asesor"></label>
                                        <select id="RAsesor" class="form-control" style="width:100%" />
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label idioma="Cuenta Bancaria"></label>
                                        <select id="RCuenta" class="form-control" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-md-6">
                                        <label idioma="Nombre del Cliente"></label>
                                        <input type="text" id="RCliente"  class="form-control" tabindex="1"  />
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <label idioma="Código"></label>
                                        <input type="text" id="RCodigo" class="form-control" tabindex="1"  />
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <label idioma="NIT/Cédula"></label>
                                        <input type="text" id="RNit" class="form-control" tabindex="1"  />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-xs-12 col-md-2">
                                        <label><span idioma="Consignaciones Anulados" class="text-danger"></span> <input type="checkbox" id="RAnulado" /></label>
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <label><span idioma="Ordenar por Asesor"></span> <input type="checkbox" id="ROrdenarAse" /></label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbable page-tabs">
                <ul class="nav nav-tabs">
                    <li id="opcion1" class="active"><a href="#consultar" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Consulta"></span></a></li>
                    <li id="opcion2"><a href="#pdf" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="PDF"></span></a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="consultar">
                        <div class="table-responsive">
                            <table class="table display " id="tablaconsulta">
                                <thead>
                                    <tr>
                                        <th><span idioma="Recibo"></span></th>
                                        <th><span idioma="Nro Consig"></span></th>
                                        <th><span idioma="Planilla/Control"></span></th>
                                        <th><span idioma="Fecha Consig"></span></th>
                                        <th><span idioma="Fecha Registro"></span></th>
                                        <th><span idioma="CodCliente"></span></th>
                                        <th><span idioma="Cliente"></span></th>
                                        <th><span idioma="Asesor"></span></th>
                                        <th><span idioma="Valor"></span></th>
                                        <th><span idioma="Movimiento"></span></th>
                                        <th><span idioma="Estado"></span></th>
                                        <th><span idioma="Cuenta"></span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade in " id="pdf">
                        <iframe id="resultadopdf" width="100%" height="700px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/ReporteConsignacion.js?unico=' + Math.round(Math.random() * 10000));
    
</script>
