﻿

<input type="hidden" value="2" id="opcion" />
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Informe de Cartera de Clientes"></span></a></h3>
            </div>
            <div class="col-sm-8 col-xs-12 text-right">
                <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Nuevo" onclick="Reporte(1)">
                    <i class="glyphicon glyphicon-file" title="Consultar"></i>
                    <span idioma="Consultar"></span>
                </button>
                <button class="btn btn-glow btn-primary" type="button" tabindex="4" name="submit" id="Nuevo" onclick="Reporte(2)">
                    <i class="fa fa-file-pdf-o"></i>
                    <span idioma="Reporte PDF"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-group block form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 id="h1" class="panel-title panel-trigger">
                        <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                    </h6>
                    <div class="panel-body">
                        <div id="tPrecio1" class="panel-collapse collapse in">
                            <div class="form-group row">
                                <div class="col-xs-6 col-sm-6">
                                    <label idioma="Cliente"></label>
                                    <select id="Cliente" name="Cliente" class="form-control" tabindex="1" ></select>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label idioma="Asesor"></label>
                                    <select id="Asesor" name="Asesor" class="form-control" tabindex="1"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><input type="radio" name="opcion" value="1"  /><span idioma="Informe de Cartera Semanal Detallada"></span></label><br>
                                <label><input type="radio" name="opcion" value="2"  /><span idioma="Informe de Cartera Quincenal Detallada"></span></label><br />
                                <label><input type="radio" name="opcion" value="3"  /><span idioma="Informe de Cartera Mensual Detallada"></span></label><br />
                                <hr style="margin-top:2px; margin-bottom:2px;" />
                                <label><input type="radio" name="opcion" value="4"  /><span idioma="Informe de Cartera Semanal Resumida"></span></label><br />
                                <label><input type="radio" name="opcion" value="5"  /><span idioma="Informe de Cartera Quincenal Resumida"></span></label><br />
                                <label><input type="radio" name="opcion" value="6"  /><span idioma="Informe de Cartera Mensual Resumida"></span></label><br />
                                <hr style="margin-top:2px; margin-bottom:2px;" />
                                <label><input type="radio" name="opcion" value="9" /><span idioma="Informe de Facturas Canceladas ó Abonadas"></span></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-xs-6 col-sm-4">
                                        <label idioma="Estado"></label>
                                        <select id="Estado" name="Estado" class="form-control" tabindex="1">
                                            <option value="T">Todos</option>
                                            <option value="1">Abierto</option>
                                            <option value="2">Pre-Bloqueado</option>
                                            <option value="3">Bloqueado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label idioma="Estado Cartera"></label>
                                        <select class="form-control" id="EstadoCar">
                                            <option value="0">Todas</option>
                                            <option value="1">Vencida</option>
                                            <option value="2">A la Fecha</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label idioma="Número de factura"></label>
                                        <input type="text" id="Factura" class="form-control" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-6 col-sm-4">
                                        <label idioma="Fecha Inicial"></label>
                                        <input type="date" id="FechaI" name="FechaI" class="form-control" tabindex="1" required />
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label idioma="Fecha Final"></label>
                                        <input type="date" id="FechaF" name="FechaF" class="form-control" tabindex="1" required />
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <label idioma="Orden"></label>
                                        <select class="form-control" id="Orden">
                                            <option value="1">Cliente</option>
                                            <option value="2">Fecha Vencida</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ciudad"></label>
                                        <select id="Ciudad" name="Ciudad" class="form-control" tabindex="1" ></select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Departamento"></label>
                                        <select id="Departamento" name="Departamento" class="form-control" tabindex="1"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="table-responsive">
            <table class="table display  table-bordered hover" id="tablaconsulta">
                <thead>
                    <tr>
                        <th><span idioma="Cliente"></span></th>
                        <th><span idioma="Departamento"></span></th>
                        <th><span idioma="Ciudad"></span></th>
                        <th><span idioma="Dirección"></span></th>
                        <th><span idioma="Telefonos"></span></th>
                        <th><span idioma="Email"></span></th>
                        <th><span idioma="Factura"></span></th>
                        <th><span idioma="Fecha Factura"></span></th>
                        <th><span idioma="Fecha Vencimiento"></span></th>
                        <th><span idioma="Dias Vencidos"></span></th>
                        <th><span idioma="Estado"></span></th>
                        <th><span idioma="Asesor"></span></th>
                        <th><span idioma="MontoFactura"></span></th>
                        <th><span idioma="Abonado"></span></th>
                        <th><span idioma="Saldo_Fecha"></span></th>
                        <th id="opc_car1"><span idioma="Opción"></span>1</th>
                        <th id="opc_car2"><span idioma="Opción"></span>2</th>
                        <th id="opc_car3"><span idioma="Opción"></span>3</th>
                        <th id="opc_car4"><span idioma="Opción"></span>4</th>
                        <th id="opc_car5"><span idioma="Opción"></span>5</th>
                        <th id="opc_car6"><span idioma="Opción"></span>6</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/ReporteCartera.js?unico=' + Math.round(Math.random() * 10000));
</script>
