﻿
<div class="row">
    <div class="col-md-8">
        <form id="FormPrevia">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span  idioma="Operaciones previas al Certificado (Presión) Versión 06"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-2 text-center text-XX">
                                <label>Revisión</label>
                                <select id="Revision" name="Revision" required onchange="BuscarIngreso(-1,'','0')" style="width:100%;">
                                    <option value="1">PRIMERA</option>
                                    <option value="2">SEGUNDA</option>
                                    <option value="3">TERCERA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label idioma="Nró Ingreso" ></label>
                                <input type="text" class="form-control text-center text-XX" required onkeypress="return NumCheck(event, this,0)" maxlength="12" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="IngresoPresionOP" autofocus tabindex="0" />
                            </div>
                            <div class="col-md-2">
                                <label>Remisión</label>
                                <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                            </div>
                            <div class="col-md-4">
                                <label>Especialista del Reporte</label>
                                <input type="text" class="form-control" id="Usuario" disabled />
                            </div>
                            <div class="col-md-2">
                                <label>Fecha Recibido</label>
                                <input type="text" class="form-control" id="FechaRec" name="fecha" readonly />
                            </div>
                            <div class="col-md-2">
                                <label>Tiempo Trans</label>
                                <input type="text" class="form-control" id="Tiempo" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <table width="100%" class="tabcertificado" border="1">
                                <tr class="tabcertr">
                                    <th colspan="7" class="text-XX text-center bg-gris">INFORMACIÓN DE LA CALIBRACIÓN</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Solicitante:</th>
                                    <td id="Solicitante" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2">Número de Certificado:</th>
                                    <td colspan="3" class="text-XX" id="Certificado" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Dirección:</th>
                                    <td id="Direccion" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2">Número de Ingreso:</th>
                                    <td colspan="3" id="TIngreso" class="text-XX" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Fecha de Recepción:</th>
                                    <td colspan="6" id="FechaIng" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Fecha de Calibración:</th>
                                    <td id="FechaCal" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2">Unidad de calibración:</th>
                                    <td colspan="3" id="Medida" style="padding-left:20px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%">Fecha de Expedición:</th>
                                    <td width="50%" id="FechaExp" style="padding-left:10px;">&nbsp;</td>
                                    <th width="8%">Conversión:</th>
                                    <td width="8%" align="center" id="UnidadCon">&nbsp;</td>
                                    <td width="8%" align="center" id="ValorCon">&nbsp;</td>
                                    <td width="7%" align="center" id="MedidaCon">psi</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Próxima Calibración:</th>
                                    <td colspan="5" id="Proxima">&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                            <table width="100%" class="tabcertificado" border="1">
                                <tr class="tabcertr">
                                    <th colspan="8" class="text-XX text-center bg-gris">DATOS DEL INSTRUMENTO BAJO CALIBRACIÓN (IBC)</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Instrumeto:</th>
                                    <td colspan="3" style="padding-left:10px;" id="Equipo">&nbsp;</td>
                                    <th>Rango de medida:</th>
                                    <td colspan="3" class="text-XX" style="padding-left:10px;" id="RangoMedida">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Fabricante:</th>
                                    <td colspan="3" style="padding-left:10px;" id="Marca">&nbsp;</td>
                                    <th>División de Escala:</th>
                                    <td colspan="2"><input type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5,1)" onkeyup="CalcularSerie(this,3)" onchange="GuardarTemporal()" class="form-control sinbordecon text-XX bg-amarillo" id="DivEscala" name="DivEscala" required /></td>
                                    <td colspan="1" class="medida" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Modelo:</th>
                                    <td colspan="3" id="Modelo" style="padding-left:10px;">&nbsp;</td>
                                    <th>Resolución:</th>
                                    <td colspan="2"><input type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5,1)" onkeyup="CalcularSerie(this,3)" onchange="GuardarTemporal()" class="form-control sinbordecon text-XX bg-amarillo" id="Resolucion" name="Resolucion" required /></td>
                                    <td colspan="1" class="medida" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%">Serie:</th>
                                    <td colspan="3" width="35%" id="Serie" style="padding-left:10px;">&nbsp;</td>
                                    <th width="15%">Clase:</th>
                                    <td width="10%" colspan="1"><input type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3,1)" onkeyup="CalcularSerie(this,3)" class="form-control sinbordecon text-XX bg-amarillo" id="Clase" name="Clase" required /></td>
                                    <th width="5%">%</th>
                                    <td width="10%">
                                        <select id="DelRango" name="DelRango" onchange="GuardarTemporal()" style="width:100%;background-color:khaki;" required>
                                            <option value="">--</option>
                                            <option value="DEL RANGO">DEL RANGO</option>
                                            <option value="DE LECTURA">DE LECTURA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Fluido Usado:</th>
                                    <td>
                                        <select id="Fluido" name="Fluido" required onchange="GuardarTemporal()" style="width:120px;background-color:khaki;">
                                            <option value="ACEITE">ACEITE</option>
                                            <option value="ALCOHOL">ALCOHOL</option>
                                            <option value="AGUA">AGUA</option>
                                            <option value="AIRE">AIRE</option>
                                        </select>
                                    </td>
                                    <th>Coef. Sec.()</th>
                                    <td colspan="1"><input type="text" style="width:100px;" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5,1)" onkeyup="CalcularSerie(this,3)" onchange="GuardarTemporal()" class="form-control sinbordecon text-XX bg-amarillo" id="CoeSec" name="CoeSec" required /></td>
                                    <th>Tope en el cero:</th>
                                    <td colspan="2">
                                        <select id="TopeCero" name="TopeCero" required onchange="GuardarTemporal()" style="width:100%;background-color:khaki;">
                                            <option value="">--</option>
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </td>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Cuenta con Gliserina:</th>
                                    <td colspan="3">
                                        <select id="Gliserina" name="Gliserina" required onchange="GuardarTemporal()" style="width:80px;background-color:khaki;">
                                            <option value="">--</option>
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </td>

                                    <th>Altura Patrón:</th>
                                    <td colspan="2"><input type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="CalcularSerie(this,3)" onchange="GuardarTemporal()" class="form-control sinbordecon text-XX bg-amarillo" id="AlturaPatron" name="AlturaPatron" required /></td>
                                    <th>mm</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th>Tipo de Lectura:</th>
                                    <td colspan="3">
                                        <select id="TipoLectura" name="TipoLectura" required onchange="GuardarTemporal()" style="width:100%;background-color:khaki;">
                                            <option value="">--</option>
                                            <option value="ANALOGO">ANALOGO</option>
                                            <option value="DIGITAL">DIGITAL</option>
                                        </select>
                                    </td>
                                    <th>Altura IBC:</th>
                                    <td colspan="2"><input type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="CalcularSerie(this,3)" onchange="GuardarTemporal()" class="form-control sinbordecon text-XX bg-amarillo" id="AlturaIBC" name="AlturaIBC" required /></td>
                                    <th>mm</th>
                                </tr>
                            </table>
                            <hr />
                            <table width="100%" class="tabcertificado" border="1">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="text-XX text-center bg-gris">CONDICIONES EXTERNAS</th>
                                    </tr>
                                    <tr>
                                        <th width="52%" class="text-center bg-gris">DESCRIPCIÓN</th>
                                        <th width="8%" class="text-center bg-gris">SI</th>
                                        <th width="8%" class="text-center bg-gris">NO</th>
                                        <th width="40%" class="text-center bg-gris">OBSERVACIONES</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycondicion"></tbody>
                            </table>
                            <hr />
                            <div class="row">
                                <div class="col-md-3 text-center text-XX">
                                    <label>Patrón a Utilizar</label>
                                    <select id="RangoPatron" name="RangoPatron" required style="width:100%;"></select>
                                </div>
                            </div>

                            <hr />

                            <table width="65%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th width="25%" class="text-center bg-gris">Valor Nominal</th>
                                    <th width="25%" rowspan="2" class="text-center bg-gris">Lectura 1</th>
                                    <th width="25%" rowspan="2" class="text-center bg-gris">Lectura 2</th>
                                    <th width="25%" rowspan="2" class="text-center bg-gris">Lectura 3</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris medida">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center text-XX2"><input type="text" name="PrLectura" id="PrLectura" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th class="text-center"><input type="text" name="PrSerie" id="PrSerie1" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                    <th class="text-center"><input type="text" name="PrSerie" id="PrSerie2" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                    <th class="text-center"><input type="text" name="PrSerie" id="PrSerie3" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                </tr>
                                <tbody id="TBSerie"></tbody>
                            </table>

                            <hr />

                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="2" class="text-center bg-gris">Presión<br>Nominal</th>
                                    <th colspan="2" class="text-center bg-gris">Lectura<br>Patrón</th>
                                    <th colspan="2" class="text-center bg-gris">Error por Ecuación</th>
                                    <th class="text-center bg-gris">Lectura<br>Patrón<br>Corregida</th>
                                    <th class="text-center bg-gris">Lectura<br>IBC</th>
                                    <th class="text-center bg-gris">Corrección <br>de medida</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="11%" class="text-center bg-gris">% F.S.</th>
                                    <th width="11%" class="text-center bg-gris medida">&nbsp;</th>
                                    <th width="11%" class="text-center bg-gris medida">&nbsp;</th>
                                    <th width="11%" class="text-center bg-gris">psi</th>
                                    <th width="11%" class="text-center bg-gris">psi</th>
                                    <th width="11%" class="text-center bg-gris medida">&nbsp;</th>
                                    <th width="11%" class="text-center bg-gris medida">&nbsp;</th>
                                    <th width="11%" class="text-center bg-gris medida">&nbsp;</th>
                                    <th width="11%" class="text-center bg-gris medida">&nbsp;</th>
                                </tr>
                                <tbody id="TBSerie">
                                    <tr>
                                        <th class="text-center"><input type="text" name="Porcentaje" id="Porcentaje1" value="30" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                        <th class="text-center "><input type="text" name="Lectura" id="Lectura1" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                        <th class="text-center"><input type="text"  name="LecturaPatMed" id="LecturaPatMed1" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida2(this)" onkeyup="CalcularSerie(this, 1)" class="form-control sinbordecon text-XX12 text-center bg-amarillo" /></th>
                                        <td class="text-center "><input type="text" name="LecturaPatCon" id="LecturaPatCon1" readonly class="form-control sinbordecon text-XX12  text-center" /></td>
                                        <td class="text-center "><input type="text" name="ErrorEcuaCon" id="ErrorEcuaCon1" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <td class="text-center "><input type="text" name="ErrorEcuaMed" id="ErrorEcuaMed1" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <th class="text-center "><input type="text" name="LecturaPatCor" id="LecturaPatCor1" readonly class="form-control sinbordecon text-XX12 text-center" /></th>
                                        <th class="text-center"><input type="text"  name="LecturaIBCMed" id="LecturaIBCMed1" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida2(this)" onkeyup="CalcularSerie(this, 1)" class="form-control sinbordecon text-XX12 text-center bg-amarillo" /></th>
                                        <th class="text-center "><input type="text" name="CorreccionMed" id="CorreccionMed1" readonly class="form-control sinbordecon text-XX12 text-center" /></th>
                                    </tr>
                                    <tr>
                                        <th class="text-center "><input type="text" name="Porcentaje" id="Porcentaje2" value="60" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                        <th class="text-center "><input type="text" name="Lectura" id="Lectura2" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                        <th class="text-center"><input type="text"  name="LecturaPatMed" id="LecturaPatMed2" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida2(this)" onkeyup="CalcularSerie(this, 2)" class="form-control sinbordecon text-XX12  text-center bg-amarillo" /></th>
                                        <td class="text-center "><input type="text" name="LecturaPatCon" id="LecturaPatCon2" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <td class="text-center "><input type="text" name="ErrorEcuaCon" id="ErrorEcuaCon2" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <td class="text-center "><input type="text" name="ErrorEcuaMed" id="ErrorEcuaMed2" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <th class="text-center "><input type="text" name="LecturaPatCor" id="LecturaPatCor2" readonly class="form-control sinbordecon text-XX12 text-center" /></th>
                                        <th class="text-center"><input type="text"  name="LecturaIBCMed" id="LecturaIBCMed2" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida2(this)" onkeyup="CalcularSerie(this, 2)" class="form-control sinbordecon text-XX12 text-center bg-amarillo" /></th>
                                        <th class="text-center "><input type="text" name="CorreccionMed" id="CorreccionMed2" readonly class="form-control sinbordecon text-XX12 text-center" /></th>
                                    </tr>
                                    <tr>
                                        <th class="text-center "><input type="text" name="Porcentaje" id="Porcentaje3" value="100" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                        <th class="text-center "><input type="text" name="Lectura" id="Lectura3" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                        <th class="text-center"><input type="text"  name="LecturaPatMed" id="LecturaPatMed3" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida2(this)" onkeyup="CalcularSerie(this, 3)" class="form-control sinbordecon text-XX12 text-center bg-amarillo" /></th>
                                        <td class="text-center "><input type="text" name="LecturaPatCon" id="LecturaPatCon3" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <td class="text-center "><input type="text" name="ErrorEcuaCon" id="ErrorEcuaCon3" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <td class="text-center "><input type="text" name="ErrorEcuaMed" id="ErrorEcuaMed3" readonly class="form-control sinbordecon text-XX12 text-center" /></td>
                                        <th class="text-center "><input type="text" name="LecturaPatCor" id="LecturaPatCor3" readonly class="form-control sinbordecon text-XX12 text-center" /></th>
                                        <th class="text-center"><input type="text"  name="LecturaIBCMed" id="LecturaIBCMed3" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida2(this)" onkeyup="CalcularSerie(this, 3)" class="form-control sinbordecon text-XX12 text-center bg-amarillo" /></th>
                                        <th class="text-center "><input type="text" name="CorreccionMed" id="CorreccionMed3" readonly class="form-control sinbordecon text-XX12 text-center" /></th>
                                    </tr>

                                </tbody>

                            </table>
                            <hr />

                        </div>
                        <div id="registroingreso"></div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-glow btn-primary" type="button" onclick="ModalCotizacion()" title="Ver Cotizaciones"><span class="icon-grande" data-icon="&#xe003;"></span></button>
                                <button class="btn btn-glow btn-success" type="submit" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="ReportarEquipo()" title="Reportar Equipo"><span class="icon-grande" data-icon="&#xe220;"></span></button>
                                <button class="btn btn-glow btn-default" type="button" onclick="GenerarCertificado()">Generar Certificado</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos por Reportar"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label idioma="Cliente"></label>
                            <select id="ClienteIngreso" class="form-control" onchange="ConsularReportesIngresos()" style="width:100%" />
                        </div>
                        <div class="col-md-4">
                            <label idioma="Cotizaciones Aprobadas"></label>
                            <input id="Aprobadas" type="checkbox" onchange="ConsularReportesIngresos()" checked class="form-control text-center" style="width:100%">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="TablaReportar">
                            <thead>
                                <tr>
                                    <th width="5%">Nro</th>
                                    <th width="10%">Ingreso</th>
                                    <th width="75%">Equipo</th>
                                    <th width="10%">Fecha<br>Reportado</th>
                                    <th width="10%">Tiempo<br>Transcurrido</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="enviar_cotizacion" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarcotizacion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Reporte del Ingreso Número"></span> <span id="spcotizacion"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalcotizacion" class="modal fade" tabindex="-1" role="dialog">
    
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="DATOS DE LA COTIZACION"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Servicio de Calibración"></label><br>
                        <textarea class="form-control" id="CServicio" rows="4" name="Servicio" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Método"></label><br>
                        <textarea class="form-control" id="CMetodo" rows="4" name="Metodo" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Punto de Calibración"></label><br>
                        <textarea class="form-control" id="CPunto" rows="3" name="CPunto" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Observación de Calibración"></label><br>
                        <textarea class="form-control" id="CObservCerti" rows="3" name="CObservCerti" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Proxima Calibración"></label><br>
                        <input type="text" class="form-control" id="CProxima" name="CProxima" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Días de Entrega"></label><br>
                        <input type="text" class="form-control" id="CEntrega" name="CEntrega" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Asesor Comercial"></label><br>
                        <input type="text" class="form-control" id="CAsesorComer" name="CAsesorComer" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ReportarEquipo" class="modal fade" tabindex="-1" role="dialog">
    <form id="formreportar">
        <input type="hidden" name="idreporte" id="idreporte" value="0" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Reportar Equipo del Ingreso Número"></span> <span id="rpingreso"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="tabbable page-tabs" id="tabreportaringreso">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Reporte1" onclick="javascript:NroReporte = 1;" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 1"></span></a></li>
                            <li><a href="#Reporte2" data-toggle="tab" onclick="javascript:NroReporte = 2;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 2"></span></a></li>
                            <li><a href="#Reporte3" data-toggle="tab" onclick="javascript:NroReporte = 3;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 3"></span></a></li>
                            <li><a href="#Reporte4" data-toggle="tab" onclick="javascript:NroReporte = 4;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 4"></span></a></li>
                            <li><a href="#Reporte5" data-toggle="tab" onclick="javascript:NroReporte = 5;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 5"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="Reporte1">
                                <input type="hidden" id="IdReporte1" value="0" />
                                <div id="registroingreso1"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto1" onchange="CambioConcepto(this.value,1)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="2">Requiere Ajuste o Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme1" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(1)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(1)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(1)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(1)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste1" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro1" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion1" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion1" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto1" id="NumFoto1" disabled onchange="MostrarFoto(1, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento1" id="Documento1" accept="image/*" onchange="GuardarDocumento(1)" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan1" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte2">
                                <input type="hidden" id="IdReporte2" value="0" />
                                <div id="registroingreso2"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto2" onchange="CambioConcepto(this.value,2)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="2">Requiere Ajuste o Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme2" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(2)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(2)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(2)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(2)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste2" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro2" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion2" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion2" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto2" id="NumFoto2" disabled onchange="MostrarFoto(2, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento2" id="Documento2" accept="image/*" onchange="GuardarDocumento(2)" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan2" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte3">
                                <input type="hidden" id="IdReporte3" value="0" />
                                <div id="registroingreso3"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto3" onchange="CambioConcepto(this.value,3)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="2">Requiere Ajuste o Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme3" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(3)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(3)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(3)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(3)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste3" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro3" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion3" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion3" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto3" id="NumFoto3" disabled onchange="MostrarFoto(3, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento3" id="Documento3" accept="image/*" onchange="GuardarDocumento(3)" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan3" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte4">
                                <input type="hidden" id="IdReporte4" value="0" />
                                <div id="registroingreso4"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto4" onchange="CambioConcepto(this.value,4)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="2">Requiere Ajuste o Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme4" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(4)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(4)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(4)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(4)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste4" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro4" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion4" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion4" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto4" id="NumFoto4" disabled onchange="MostrarFoto(4, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento4" id="Documento4" accept="image/*" onchange="GuardarDocumento(4)" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan4" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte5">
                                <input type="hidden" id="IdReporte5" value="0" />
                                <div id="registroingreso5"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto5" onchange="CambioConcepto(this.value,5)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="2">Requiere Ajuste o Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme5" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(5)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(5)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(5)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(5)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste5" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro5" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion5" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion5" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto5" id="NumFoto5" disabled onchange="MostrarFoto(5, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento5" id="Documento5" accept="image/*" onchange="GuardarDocumento(5)" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan5" width="95%" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="enviar_reporte" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarreporte">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Reporte del Ingreso Número"></span> <span id="rspreporte"></span></h4>
                </div>
                <input type="text" class="form-control" id="rReporte" readonly />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="rCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="rCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="RObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/OperPrevPresion_06.js?unico=' + Math.round(Math.random() * 10000));
</script>




