﻿
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formProveedores" style="background-color:white">
                <input type="hidden" name="IdProveedor" id="IdProveedor" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Desacargos Laborales"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="GenerarPDF()"><span idioma="Generar PDF"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="CambioNIT()"><span idioma="Firma del Ejecutador"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Fecha de Registro"></label>
                                    <input type="text" class="form-control" name="FechaR" id="FechaR" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Usuario"></label>
                                    <input type="text" class="form-control" name="Usuario" id="Usuario" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Estado"></label>
                                    <input type="text" class="form-control" name="Estado" id="Estado" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="# Control"></label>
                                    <input type="text" class="form-control" name="Control" id="Control" readonly />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Documento"></label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="Documento" name="Documento" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Colaborador"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Colaborador" id="Colaborador" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Cargo"></label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="Cargo" id="Cargo" readonly />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Documento"></label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="DocumentoI" id="DocumentoI" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Ejecuta el Descargo"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Ejecuta" id="Ejecuta" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Cargo"></label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="CargoE" id="CargoE" readonly />
                                </div>
                            </div>

                            <hr />
                            <h3><span idioma="MOTIVO DEL DESCARGO"></span></h3>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <textarea type="text" class="form-control" name="Descargo" id="Descargo" rows="4" readonly />
                                </div>
                            </div>
                            <hr />
                            <h3><span idioma="TESTIMONIO DEL COLABORADOR"></span></h3>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿Comprende el motivo por el cuál fue citado? "></label>
                                    <textarea type="text" class="form-control" name="Motivo" id="Motivo" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿Acepta usted haber cometido la falta de la cual se le está acusando?"></label>
                                    <textarea type="text" class="form-control" name="Acusado" id="Acusado" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="Haga una descripción detallada de los hechos"></label>
                                    <textarea type="text" class="form-control" name="Descripcion" id="Descripcion" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿Conoce usted la gravedad de la falta de la que se le acusa?"></label>
                                    <textarea type="text" class="form-control" name="Gravedad" id="Gravedad" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿Fue notificado sobre la falta de la que se le acusa?"></label>
                                    <textarea type="text" class="form-control" name="Notificacion" id="Notificacion" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿Cree usted que es justo con la empresa cometer la falta de la que se le acusa?"></label>
                                    <textarea type="text" class="form-control" name="Empresa" id="Empresa" rows="4" readonly />
                                </div>
                            </div>

                            <hr />

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label" idioma="Firma del Colaborador"></label><br>
                                    <canvas id="pad1" width="520px" height="250px" style="background-color:darkgray;"></canvas>
                                    <div class="row text-center">
                                        <button type="button" class="btn btn-glow btn-primary" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
                                            <i class="glyphicon glyphicon-file"></i><span idioma="Borrar"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" idioma="Firma del Ejecutador"></label><br>
                                    <canvas id="pad1" width="520px" height="250px" style="background-color:darkgray;"></canvas>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Control"></label>
                            <input name="MControl" id="MControl" class="form-control" />
                        </div>
                        
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Empleado"></label>
                            <select name="MNombre" id="MNombre" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Ejecutador"></label>
                            <select name="MCargo" id="MCargo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-1 text-center">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarProveedores()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaProveedores">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                    <th width="15%"><span idioma="Razón Social"></span></th>
                                    <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                    <th width="8%"><span idioma="Contacto"></span></th>
                                    <th width="5%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Dirección"></span></th>
                                    <th><span idioma="Telefonos"></span></th>
                                    <th><span idioma="Celular"></span></th>
                                    <th><span idioma="Correo Electrónico"></span></th>
                                    <th><span idioma="Ciudad"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="País"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioNitPro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Proveedor"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="12" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Proveedores.js?unico=' + Math.round(Math.random() * 10000));
                    //$('body').removeClass('nav-md');
                    //$('body').addClass('nav-sm');

</script>




