﻿<div class="tabbable page-tabs" id="tab-perfil_funciones">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i
                    class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span
                    idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <id="formClientes" style="background-color:white">

                <input type="hidden" name="IdCliente" id="IdCliente" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span
                                            id="Menu_Empresa"
                                            idioma="Registro de evaluación de ingreso del personal"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar"
                                    onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span
                                        idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="CambioNIT()"><span
                                        idioma="Cambio de NIT/Cédula"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="EnviarClave()"><span
                                        idioma="Enviar Clave de Acceso"></span></button>
                                <button class="btn btn-glow btn-success" type="button"
                                    onclick="EnviarCliEEstCuen()"><span idioma="Enviar Estado Cuenta"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre del cargo"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="TipoCliente" name="TipoCliente"
                                        onchange="CongTipoCliente(this.value)" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Area"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="TipoCliente" name="TipoCliente"
                                        onchange="CongTipoCliente(this.value)" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Cargo del jefe inmediato"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="TipoCliente" name="TipoCliente"
                                        onchange="CongTipoCliente(this.value)" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Personal a cargo"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Comercial" id="Comercial">
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Objetivo general del cargo"></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Comercial" id="Comercial"> </textarea>
                                </div>
                            </div>



                            <hr />
                            <div class="form-group">
                                <div class="tabbable page-tabs" id="tab-opciones">
                                    <ul class="nav nav-tabs">
                                        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcomerciales"
                                                data-toggle="tab"><i class="icon-checkbox-partial"></i><span
                                                    idioma="Perfil del cargo"></span></a></li>
                                        <li id="proli7"><a href="#tabsedes" data-toggle="tab"><i
                                                    class="icon-checkmark3"></i><span
                                                    idioma="Competencias y habilidades"></span></a></li>
                                        <li id="proli7"><a href="#tabcontacto" data-toggle="tab"><i
                                                    class="icon-checkmark3"></i><span
                                                    idioma="Requerimientos tecnológicos y administrativos"></span></a>
                                        </li>
                                        <li id="proli7"><a href="#tabcontabilidad" data-toggle="tab"><i
                                                    class="icon-checkmark3"></i><span
                                                    idioma="Descripción de responsabilidades y funciones"></span></a>
                                        </li>
                                        <li id="proli7"><a href="#tabdocumentos" data-toggle="tab"><i
                                                    class="icon-checkmark3"></i><span
                                                    idioma="Requerimientos en seguridad y salud en el trabajo"></span></a>
                                        </li>
                                        <li id="proli7"><a href="#tabfactores" data-toggle="tab"><i
                                                    class="icon-checkmark3"></i><span
                                                    idioma="Factores de riesgo en el puesto de trabajo"></span></a>
                                        </li>
                                        <li id="proli7"><a href="#tabestadocuenta" data-toggle="tab"><i
                                                    class="icon-checkmark3"></i><span
                                                    idioma="Examenes ocupacionales requeridos"></span></a>
                                        </li>


                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tabcomerciales">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-2 control-label"
                                                            idioma="Descripción del perfil"></label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" name="Comercial"
                                                                id="Comercial"> </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-2 control-label"
                                                            idioma="Educación"></label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" name="Comercial"
                                                                id="Comercial"> </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-2 control-label"
                                                            idioma="Formación"></label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="Comercial"
                                                                id="Comercial">
                                                        </div>
                                                    </div>


                                                    <div class="form-group-min row">
                                                        <label class="col-sm-2 control-label"
                                                            idioma="Experiencia"></label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="Comercial"
                                                                id="Comercial">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-2 control-label"
                                                            idioma="Habilidades específicas"></label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" name="Comercial"
                                                                id="Comercial"> </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-2 control-label"
                                                            idioma="Conocimientos específicos"></label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" name="Comercial"
                                                                id="Comercial"> </textarea>
                                                        </div>
                                                    </div>



                                                </div>


                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabsedes">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Habilidades administrativas"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Habilidad comercial"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Negociación"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Toma de decisiones"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Servicio al cliente"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Orientación al resultado"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Conocimiento del negocio"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Pensamiento estrategico"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Control y seguimiento"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Análisis y manejo de información"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Trabajo en equipo"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Seguimiento de normas y procedimientos"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>




                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Capacidad comercial y asesora"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Competencia técnica"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Comunicación"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Capacidad para enseñar"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Organización"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Manejo de conflictos"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Iniciativa"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Tolerancia a presiones"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Atención al detalle"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Análisis de problemas"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Capacidad de aprendizaje"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Energía (Fuerza)"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Liderazgo de grupos"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Sociabilidad"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Escucha"></label>
                                                    <select name="MHabitual" id="MHabitual" class="form-control"
                                                        style="width:100%">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <hr>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-12 text-right">
                                                    <button class="btn btn-glow btn-default" type="button"
                                                        onclick="LimpiarSede()"><span idioma="Limpiar"></span></button>
                                                    <button class="btn btn-glow btn-primary" type="button"
                                                        onclick="GuardarSede()"><span idioma="Agregar"></span></button>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="table-responsive" style="min-height:300px">
                                                <table class="table display  table-bordered hover" id="TablaSede">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%" idioma="Id"></th>
                                                            <th idioma="Sede"></th>
                                                            <th idioma="Dirección"></th>
                                                            <th idioma="Departamento"></th>
                                                            <th idioma="Ciudad"></th>
                                                            <th width="3%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                            </div>
                                        </div>


                                        <div class="tab-pane fade in" id="tabcontacto">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Office
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Correo electrónico
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Oficina y computador
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Navegación en internet
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Teléfono móvil
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Plataformas, aplicativos, etc...
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>






                                            <hr>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-12 text-right">
                                                    <button class="btn btn-glow btn-default" type="button"
                                                        onclick="LimpiarContacto()"><span
                                                            idioma="Limpiar"></span></button>
                                                    <button class="btn btn-glow btn-primary" type="button"
                                                        onclick="GuardarContacto()"><span
                                                            idioma="Agregar"></span></button>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="table-responsive" style="min-height:300px">
                                                <table class="table display  table-bordered hover" id="TablaContacto">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%" idioma="Id"></th>
                                                            <th idioma="Nombres"></th>
                                                            <th idioma="Email"></th>
                                                            <th idioma="Teléfonos"></th>
                                                            <th idioma="Fax/Celular"></th>
                                                            <th width="3%">&nbsp;</th>
                                                            <th width="3%">&nbsp;</th>
                                                            <th width="3%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabcontabilidad">
                                            <br />
                                            <div class="form-group-min row">
                                                <label class="col-sm-2 control-label"
                                                    idioma="Responsabilidades y funciones generales"></label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="Comercial"
                                                        id="Comercial"> </textarea>
                                                </div>
                                            </div>
                                            <div class="form-group-min row">
                                                <label class="col-sm-2 control-label"
                                                    idioma="Responsabilidades en seguridad y salud en el trabajo"></label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="Comercial"
                                                        id="Comercial"> </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabdocumentos">
                                            <br />
                                            <div class="form-group row">
                                                <div class="form-group-min row">
                                                    <label class="col-sm-2 control-label"
                                                        idioma="Riesgos ocupacionales"></label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" name="Comercial"
                                                            id="Comercial"> </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group-min row">
                                                    <label class="col-sm-2 control-label"
                                                        idioma="Elementos de protección personal"></label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" name="Comercial"
                                                            id="Comercial"> </textarea>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr />
                                            <h3 id="CreacionDocumento"></h3>
                                            <iframe id="DocumentoCliente" width="100%" height="600px"></iframe>
                                        </div>
                                        <div class="tab-pane fade in" id="tabestadocuenta">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Exámen médico ocupacional
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Colesterol total-HDL
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Evaluación sistema músculo esquelético
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Perfil lipídico
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Optometría
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Exámen para trabajo en alturas
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Audiometría
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Espirometría
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Otros
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-min row">
                                                <label class="col-sm-2 control-label" idioma="Observaciones"></label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="Comercial"
                                                        id="Comercial"> </textarea>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group-min row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table display  table-bordered hover"
                                                            id="TabCliEEstCuen">
                                                            <thead>
                                                                <tr>
                                                                    <th idioma="Factura"></th>
                                                                    <th idioma="Fecha"></th>
                                                                    <th idioma="Vencimiento"></th>
                                                                    <th idioma="Días Vencidos"></th>
                                                                    <th idioma="SubtTotal"></th>
                                                                    <th idioma="Descuento"></th>
                                                                    <th idioma="IVA"></th>
                                                                    <th idioma="Total Pagar"></th>
                                                                    <th idioma="Abonado"></th>
                                                                    <th idioma="Saldo"></th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Nombre del cargo"></label>
                            <input name="MDocumento" id="MDocumento" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Area"></label>
                            <input name="MCliente" id="MCliente" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Cargo del jefe inmediato"></label>
                            <input name="MComercial" id="MComercial" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Personal a cargo"></label>
                            <input name="MCliente" id="MCliente" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Objetivo general del cargo"></label>
                            <input name="MCliente" id="MCliente" class="form-control" />
                        </div>
                       
                        <div class="col-xs-4 col-md-1 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarClientes()"><span
                                    idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaClientes">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="Nombre del cargo"></span></th>
                                    <th width="15%"><span idioma="Area"></span></th>
                                    <th width="15%"><span idioma="Cargo del jefe inmediato"></span></th>
                                    <th width="8%"><span idioma="Personal a cargo"></span></th>
                                    <th width="5%"><span idioma="Objetivo general del cargo"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioNitCli" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span
                        idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Cliente"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)"
                                autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                        idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span
                        idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalReeContacto" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <input type="hidden" id="IdReemplazo" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Reemplazar Contacto"></span>
                </h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <table class="table display  table-bordered hover" id="TablaReeContacto">
                        <thead>
                            <tr>
                                <th width="5%">Id</th>
                                <th idioma="Nombres"></th>
                                <th idioma="Email"></th>
                                <th idioma="Teléfonos"></th>
                                <th idioma="Fax/Celular"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                        idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="Reemplazar()"><span
                        idioma="Reemplazar y Eliminar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalPermisoContacto" class="modal fade" role="dialog">
    <form id="FormPermisos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span
                            idioma="Permisos del Contacto"></span> <span id="ContacPermiso"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <input id="IdContacPermiso" name="IdContacPermiso" type="hidden" />
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table display  table-bordered hover">
                                <tbody>
                                    <tr>
                                        <td>Ver Cotizaciones y Reportes</td>
                                        <td><input type="checkbox" id="PermCotizacion" name="PermCotizacion" n
                                                class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Estado de los ingresos(equipos/instrumentos)</td>
                                        <td><input type="checkbox" id="PermIngreso" name="PermIngreso" n
                                                class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Estado de Cuenta de recibos y facturas</td>
                                        <td><input type="checkbox" id="PermEstadoCuenta" name="PermEstadoCuenta" n
                                                class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Generar Solicitudes de Cotizaciones</td>
                                        <td><input type="checkbox" id="PermSolicitudes" name="PermSolicitudes" n
                                                class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Descargar Certificados</td>
                                        <td><input type="checkbox" id="PermCertificados" name="PermCertificados" n
                                                class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Administrar Inventario</td>
                                        <td><input type="checkbox" id="PermInventarios" name="PermInventarios" n
                                                class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Realizar Quejas</td>
                                        <td><input type="checkbox" id="PermQuejas" name="PermQuejas" n
                                                class="form-control permiso" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                            idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" type="submit"><span
                            idioma="Asignar Permisos"></span></button>
                </div>

            </div>
        </div>
    </form>

</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/PerfilFunciones.js?unico=' + Math.round(Math.random() * 10000));
</script>