﻿    
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formProveedores" style="background-color:white">
                <input type="hidden" name="IdProveedor" id="IdProveedor" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Evaluación de la Eficacia de la Capacitación"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="GenerarPDF()"><span idioma="Generar PDF"></span></button>                                
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Fecha de Registro"></label>
                                    <input type="text" class="form-control" name="FechaR" id="FechaR" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Usuario"></label>
                                    <input type="text" class="form-control" name="Usuario" id="Usuario" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Estado"></label>
                                    <input type="text" class="form-control" name="Estado" id="Estado" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="# Control"></label>
                                    <input type="text" class="form-control" name="Control" id="Control" readonly />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Documento"></label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="DocumentoI" id="DocumentoI" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Nombre" id="Nombre" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Cargo al que Aplica/Ocupado"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Cargo" id="Cargo" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Tema de la Capacitación"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Tema" id="Tema" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Capacitador"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Capacitador" name="Capacitador" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Fecha de Capacitación"></label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="FechaC" id="FechaC" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Evaluador"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Evaluador" id="Evaluador" readonly />
                                </div>
                            </div>
                            <hr/>
                            <h3><span idioma="CALIFICACIÓN"></span></h3>
                            <table class="table display  table-bordered hover">
                                <thead>
                                    <tr class="bg-primary">
                                        <th colspan="2" align="right" idioma="ÍTEM"></th>
                                        <th colspan="2" align="right" idioma="CALIFICACIÓN PARCIAL"></th>                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="2" align="right">1.</th>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="right">2.</th>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="right">3.</th>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="right">4.</th>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="right">5.</th>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>                                                                       
                                    <tr>
                                        <th colspan="2" align="right" idioma="CALIFICACIÓN TOTAL"></th>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                            <tr>
                                <hr/>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label idioma="1."></label>
                                        <textarea type="text" class="form-control" name="1" id="1" rows="4" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label idioma="2."></label>
                                        <textarea type="text" class="form-control" name="2" id="2" rows="4" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label idioma="3."></label>
                                        <textarea type="text" class="form-control" name="3" id="3" rows="4" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label idioma="4."></label>
                                        <textarea type="text" class="form-control" name="4" id="4" rows="4" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label idioma="5."></label>
                                        <textarea type="text" class="form-control" name="5" id="5" rows="4" readonly />
                                    </div>
                                </div>
                           </div>
                     </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Control"></label>
                            <input name="MControl" id="MControl" class="form-control" />
                        </div>                        
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Nombre"></label>
                            <select name="MNombre" id="MNombre" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Capacitador"></label>
                            <select name="MCapacitador" id="MCapacitador" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-1 text-center">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarProveedores()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaProveedores">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                    <th width="15%"><span idioma="Razón Social"></span></th>
                                    <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                    <th width="8%"><span idioma="Contacto"></span></th>
                                    <th width="5%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Dirección"></span></th>
                                    <th><span idioma="Telefonos"></span></th>
                                    <th><span idioma="Celular"></span></th>
                                    <th><span idioma="Correo Electrónico"></span></th>
                                    <th><span idioma="Ciudad"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="País"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioNitPro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Proveedor"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="12" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Proveedores.js?unico=' + Math.round(Math.random() * 10000));
                    //$('body').removeClass('nav-md');
                    //$('body').addClass('nav-sm');

</script>




