﻿
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7" class="eliminahoja"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formHojaVida" style="background-color:white">
                <input type="hidden" name="IdEmpleado" id="IdEmpleado" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Hoja de Vida del Colaborador"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default eliminahoja" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-warning eliminahoja" type="button" onclick="ModalEmpleados()"><span idioma="Buscar Empleado"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="ImprimirHojaVida()"><span idioma="Generar PDF"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Documento"></label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="Documento" name="Documento" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Nombre Completo"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="Nombre" id="Nombre" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Fecha de Nacimiento"></label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="FechaN" id="FechaN" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Lugar de Nacimiento"></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="LugarN" id="LugarN" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Estado Civil"></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="EstadoC" id="EstadoC" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Direccion de Residencia"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Telefono/Celular"></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="Telefono" id="Telefono" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Correo Electronico"></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="Correo" id="Correo" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Cargo Dentro de Laboratorio"></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="Cargo" id="Cargo" readonly />
                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-3">
                                    <div class="text-center">
                                        <div class="form-group-min row">
                                            <img id="FotoEmpleado" src="../imagenes/img_avatar.png" width="99%" />
                                        </div>
                                        <div class="form-group-min row">
                                            <button class="btn btn-glow btn-success" onclick="SubirFotoEmpleado()" type="button"><span idioma="Subir Foto"></span></button>
                                            <button class="btn btn-glow btn-danger" onclick="EliminarFotoEmpleado()" type="button"><span idioma="Eliminar Foto"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="form-group-min row">
                                <div class="col-sm-12">
                                    <label idioma="PERFIL PROFESIONAL"></label>
                                    <textarea type="text" class="form-control" name="Perfil" id="Perfil" rows="4" />
                                </div>
                            </div>

                            <hr />


                            <h3><span idioma="FORMACIÓN ACADÉMICA"></span></h3>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Estudios Secundarios"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Estudios" id="Estudios" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Pregrado"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Pregrado" id="Pregrado" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Postgrado"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Postgrado" id="Postgrado" />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group-min row">
                                <div class="col-sm-12">
                                    <label idioma="OTROS ESTUDIOS"></label>
                                    <textarea type="text" class="form-control" rows="10" name="OtrosE" id="OtrosE" />
                                </div>
                            </div>
                            <hr />
                            <h3><span idioma="EXPERIENCIA LABORAL"></span></h3>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Ultimo Cargo"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="UltimoC" id="UltimoC" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Logros"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Logros" id="Logros" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Jefe Inmediato"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Jefe" id="Jefe" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Telefono de Contacto"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoC" id="TelefonoC" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Tiempo Laborado"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TiempoL" id="TiempoL" />
                                </div>
                            </div>
                            <hr />
                            <h3><span idioma="REFERENCIAS FAMILIARES"></span></h3>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="NombreRF" id="NombreRF0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Relación_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="RelacionRF" id="RelacionRF0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Telefono Contacto_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoRF" id="TelefonoRF0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="NombreRF" id="NombreRF1" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Relación_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="RelacionRF" id="RelacionRF1" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Telefono Contacto_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoRF" id="TelefonoRF1" />
                                </div>
                            </div>
                            <hr />
                            <h3><span idioma="REFERENCIAS PERSONALES"></span></h3>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="NombreRP" id="NombreRP0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Relación_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="RelacionRP" id="RelacionRP0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Telefono Contacto_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoRP" id="TelefonoRP0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="NombreRP" id="NombreRP1" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Relacion_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="RelacionRP" id="RelacionRP1" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Telefono Contacto_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoRP" id="TelefonoRP1" />
                                </div>
                            </div>
                            <hr />
                            <h3><span idioma="REFERENCIAS LABORALES"></span></h3>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="NombreRL" id="NombreRL0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Cargo_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="CargoRL" id="CargoRL0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Telefono Contacto_1"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoRL" id="TelefonoRL0" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="NombreRL" id="NombreRL1" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Cargo_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="CargoRL" id="CargoRL1" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Telefono Contacto_2"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoRL" id="TelefonoRL1" />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12 col-xs-12 text-right">
                                    <button class="btn btn-glow btn-default eliminahoja" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                    <button class="btn btn-glow btn-warning eliminahoja" type="button" onclick="ModalEmpleados()"><span idioma="Buscar Empleado"></span></button>
                                    <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                    <button class="btn btn-glow btn-success" type="button" onclick="ImprimirHojaVida()"><span idioma="Generar PDF"></span></button>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group-min row">
                                <div class="col-md-6">
                                    <h3><span idioma="Certificaciones Adjuntas"></span></h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-glow btn-success" type="button" onclick="AgregarAnexos()"><span idioma="Agregar Anexos"></span></button>
                                </div>
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover">
                                        <thead>
                                            <tr>
                                                <th width="3%">#</th>
                                                <th width="46%" idioma="Foto"></th>
                                                <th width="46%" idioma="Archivo"></th>
                                                <th width="5%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TablaAnexos"></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="NIT/Cédula"></label>
                            <input name="MDocumento" id="MDocumento" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <label idioma="Nombre"></label>
                            <select name="MNombre" id="MNombre" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Cargo"></label>
                            <select name="MCargo" id="MCargo" class="form-control" style="width:100%" />
                        </div>
                        
                        <div class="col-xs-4 col-md-3 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarProveedores()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaProveedores">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                    <th width="15%"><span idioma="Razón Social"></span></th>
                                    <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                    <th width="8%"><span idioma="Contacto"></span></th>
                                    <th width="5%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Dirección"></span></th>
                                    <th><span idioma="Telefonos"></span></th>
                                    <th><span idioma="Celular"></span></th>
                                    <th><span idioma="Correo Electrónico"></span></th>
                                    <th><span idioma="Ciudad"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="País"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalSubirArchivo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Anexos para la Hoja de Vida"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group-min row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Nombre del Archivo"></label>
                        <input id="NombreArchivo" autofocus class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Examinar Archivo"></label>
                        <input  id="DocumentoArchivo" type="file" onchange="GuardarDocumentoHoja()" accept="image/*" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="GuardarAnexo()"><span idioma="Guardar Anexo"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/HojaVida.js?unico=' + Math.round(Math.random() * 10000));

</script>




