﻿
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formPermisolaboral" style="background-color:white">
                <input type="hidden" name="IdEmpleado" id="IdEmpleado" value="0" />
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Permiso Laboral"></span></a></h3>
                        </div>
                        <div class="col-md-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default eliminapermiso" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-warning eliminapermiso" type="button" onclick="BuscarEmpleado()"><span idioma="Buscar Empleado"></span></button>
                            <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            <button class="btn btn-glow btn-success" type="button" onclick="ImprimirPermisolaboral()"><span idioma="Generar PDF"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label idionma="Fecha Registro"></label>
                                <input type="text" class="form-control" name="Fecha" id="Fecha" readonly />
                            </div>
                            <div class="col-sm-2">
                                <label idioma="Estado"></label>
                                <input type="text" class="form-control" name="Estado" id="Estado" readonly />
                            </div>
                            <div class="col-sm-2">
                                <label idioma="# Control"></label>
                                <input type="text" class="form-control" name="Control" id="Control" readonly />
                            </div>
                            <div class="col-sm-2">
                                <label idioma="Fecha Apro/Recha"></label>
                                <input type="text" class="form-control" name="FechaApro/Recha" id="FechaApro/Recha" readonly />
                            </div>
                            <div class="col-sm-4">
                                <label idioma="Usuario Apro/Recha"></label>
                                <input type="text" class="form-control" name="UsuarioApro/Recha" id="UsuarioApro/Recha" readonly />
                            </div>

                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label idioma="Documento"></label>
                                <input type="text" class="form-control" name="Documento" id="Documento" readonly />
                            </div>
                            <div class="col-md-6">
                                <label idioma="Nombre"></label>
                                <input type="text" class="form-control" name="Nombre" id="Nombre" readonly />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Cargo"></label>
                                <input type="text" class="form-control" name="Cargo" id="Cargo" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label idioma="Telefono"></label>
                                <input type="text" class="form-control" name="Telefono" id="Telefono" readonly />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Celular"></label>
                                <input type="text" class="form-control" name="Celular" id="Celular" readonly />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Correo Electrónico"></label>
                                <input type="text" class="form-control" name="Correo" id="Correo" readonly />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Dirección"></label>
                                <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                            </div>
                        </div>
                        <hr />
                        <h3><span idioma="TIEMPO SOLICITADO"></span></h3>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" class="form-control" rows="12" name="FechaD" id="FechaD" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Hora Desde"></label>
                                <input type="time" class="form-control" rows="12" name="HoraD" id="HoraD" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" class="form-control" rows="12" name="FechaH" id="FechaH" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Hora Hasta"></label>
                                <input type="time" class="form-control" rows="12" name="HoraH" id="HoraH" />
                            </div>
                            <div class="col-md-1">
                                <label idioma="Recuperar"></label>
                                <input type="checkbox" class="form-control" rows="12" name="Recuperar" id="Recuperar" />
                            </div>
                            <div class="col-md-3">
                                <label idioma="Cálculo del Tiempo"></label>
                                <input type="text" class="form-control" rows="12" name="Calculo" id="Calculo" readonly />
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label idioma="MOTIVO DEL PERMISO"></label>
                                <textarea class="form-control" rows="12" name="Motivo" id="Motivo" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <h3><span idioma="SOPORTE ANEXOS"></span></h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-glow btn-success" type="button" onclick="AgregarAnexos()"><span idioma="Agregar Anexos"></span></button>
                            </div>
                            <div class="col-md-12">
                                <table class="table display  table-bordered hover">
                                    <thead>
                                        <tr>
                                            <th width="3%">#</th>
                                            <th width="97%" idioma="Archivo"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Anexos"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label idioma="OBSERVACiÓN"></label>
                                <textarea class="form-control" rows="12" name="Observación" id="Observación" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-xs-4 col-md-1">
                        <label idioma="Control"></label>
                        <input name="MControl" id="MControl" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label idioma="NIT/Cédula"></label>
                        <input name="MDocumento" id="MDocumento" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Nombre"></label>
                        <select name="MNombre" id="MNombre" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Cargo"></label>
                        <select name="MCargo" id="MCargo" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                    </div>
                </div>
                <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaProveedores">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                <th width="15%"><span idioma="Razón Social"></span></th>
                                <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                <th width="8%"><span idioma="Contacto"></span></th>
                                <th width="5%"><span idioma="Estado"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Telefonos"></span></th>
                                <th><span idioma="Celular"></span></th>
                                <th><span idioma="Correo Electrónico"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Departamento"></span></th>
                                <th><span idioma="País"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/PermisoLaboral.js?unico=' + Math.round(Math.random() * 10000));
</script>




