﻿
<body class="full-width page-condensed" style="background-color:white;">

    <input type="hidden" id="Idioma" value="@Session["Idioma"].ToString()" />
    <input type="hidden" id="urlinicio" value="@Session["urlprincipal"].ToString()" />

    <div class="login-wrapper">
        <form action="" method="post">
            @Html.AntiForgeryToken()
            <div class="popup-header">
                <span class="text-semibold" idioma="Seleccione un Almacén"></span>
                <div class="btn btn-glow-group pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i></a>
                    <ul class="dropdown-menu icons-right dropdown-menu-right">
                        <li><a href="#"><i class="icon-info"></i><span idioma="Cambio de Usuario"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="well">
                <div class="form-group has-feedback">
                    <label idioma="Almacén"></label>
                    <select id="Almacenes" name="Almacenes" class="form-control" tabindex="1" required></select>
                </div>


                <div class="form-group has-feedback">

                </div>

                <div class="row form-actions">
                    <div class="col-xs-6">
                        <div class="checkbox checkbox-success">
                            <label>

                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-glow btn-warning pull-right"><i class="icon-menu2"></i> <span idioma="Seleccionar"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        var url = $("#urlinicio").val();
        $("form").prop('action', url + 'InicioSesion/BuscarAlmacen');
        $("#Almacenes").html(CargarCombo(1, 1, url));
        $("#Almacenes").focus();

        TraducirIdioma($("#Idioma").val() * 1);

    </script>
</body>
