﻿<body class="full-width page-condensed">
    <!-- Navbar -->
    <div class="navbar navbar-inverse" role="navigation" style="height:120px; padding:0px 0px 0px 0px; background-color:aliceblue">
        <a class="navbar-brand" href="http://www.calibrationservicesas.com/">
            <img src="~/logos/logo.png" height="90px" />
        </a>
    </div>
    <!-- /navbar -->
    <!-- Login wrapper -->
    <div class="login-wrapper">
        <form role="form" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" id="Idioma" value="@Session["Idioma"].ToString()" />
            <input type="hidden" id="urlprincipal" value="@Session["urlprincipal"].ToString()" />
            <input type="hidden" id="intentos" value="@Session["intentos"].ToString()" />
            <div class="popup-header">
                <span class="text-semibold">Control de Acceso</span>
                <div class="btn-group pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i></a>
                    <ul class="dropdown-menu icons-right dropdown-menu-right">
                        <li><a href="javascript:ReenviarClave()">Recordar Contraseña</a></li>
                    </ul>
                </div>
            </div>
            <div class="well">
                <div class="form-group has-feedback">
                    <label>Usuario</label>
                    <input type="text" class="form-control" placeholder="Usuario" name="usuario" id="Usuario" autofocus autocomplete="off" required>
                    <i class="icon-users form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                    <label>Clave</label>
                    <input type="password" class="form-control" placeholder="Clave" name="Clave" required>
                    <i class="icon-lock form-control-feedback"></i>
                </div>
                <div class="row form-actions">
                    <div class="col-xs-6">
                        &nbsp;
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-glow btn-warning pull-right"><i class="icon-menu2"></i> Acceder</button>
                    </div>
                </div>

                <div class="form-group has-feedback">

                    @if (@Session["error"] != null)
                    {
                        <p class="text-danger">@Session["error"].ToString()</p>
                    }

                </div>

            </div>
        </form>
        <br />
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <a target="_blank" href="https://chrome.google.com/webstore/detail/webrtc-network-limiter/npeicpdbkakmehahjeeohfdhnlpdklia/related?hl=en-US">Activador de IP Local</a>
            </div>
            <div class="col-xs-6 col-md-6">
                <a href="javascript:ModalCerrarSesionIni()">Cerrar Sesión Activa</a>
            </div>
        </div>
    </div>

    <!-- /login wrapper -->
    <!-- Footer -->
    <div class="footer clearfix">
        <div class="pull-left">&copy; 2013. Londinium Admin Template by <a href="http://themeforest.net/user/Kopyov">Eugene Kopyov</a></div>
        <div class="pull-right icons-group">
            <a href="#"><i class="icon-screen2"></i></a>
            <a href="#"><i class="icon-balance"></i></a>
            <a href="#"><i class="icon-cog3"></i></a>
        </div>
    </div>
    <!-- /footer -->

    <div id="modalCerrarSesion" class="modal fade" role="dialog">
        <form id="FormDesbAcceso">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-success">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cerrar Sesión">Cerrar Sesión</span></h4>
                    </div>
                    <div class="modal-body with-padding">
                        <div class="form-group has-feedback">
                            <label>Usuario</label>
                            <input type="text" class="form-control" name="CeUsuario" id="CeUsuario" value="" required autofocus>
                            <i class="icon-users form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Clave</label>
                            <input type="password" class="form-control" name="CeClave" id="CeClave" required>
                            <i class="icon-lock form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Cédula/Pasaporte/PP</label>
                            <input type="password" class="form-control" name="CeDocumento" id="CeDocumento" required>
                            <i class="icon-lock form-control-feedback"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-glow btn-success" type="submit"><span idioma="Liberar Sesión">Liberar Sesión</span></button>
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar">Cerrar</span></button>
                    </div>
                </div>
            </div>
        </form>
        
    </div>

    <script>

        var url = $("#urlprincipal").val();
        $("form").prop('action', url + 'InicioSesion/BuscarUsuario');

        function ModalCerrarSesionIni() {
            IPLocal();
            $("#CeUsuario").val("");
            $("#CeClave").val("");
            $("#CeDocumento").val("");
            $("#CeEmail").val("");
            $("#modalCerrarSesion").modal("show");
        }

        $("#FormDesbAcceso").submit(function (e) {
            e.preventDefault();
            var direccion = $("#urlprincipal").val();
            var parametros = $("#FormDesbAcceso").serialize();
            var datos = LlamarAjax("InicioSesion/DesbloquearSesion", parametros, direccion).split("|");
            if (datos[0] == "0") {
                $("#modalCerrarSesion").modal("hide");
                swal("", datos[1], "success");
            } else
                swal("Acción Cancelada", datos[1], "warning");
        })

        function ReenviarClave() {
            var direccion = $("#urlprincipal").val();
            var usuario = $("#Usuario").val();
            if (usuario == "") {
                $("#Usuario").focus();
                swal("Acción Cancelada", "Debe de ingresar el usuario", "warning");
                return;
            }
            var datos = LlamarAjax("InicioSesion/EnvioClaveCorreo", "usuario=" + usuario, direccion).split("|");
            if (datos[0] == "0") {
                swal("", datos[1], "success");
            } else {
                swal("Acción Cancelada", datos[1], "warning");
            }
        }

        function sena() {
            console.log("Configuracion/PruebaSena?nombre=Leudis&apellido=WanDerBiest&cedula=20933558&fecha_nac" + new Date() + "&sueldo=1000.255&sexo=M");
            var datos = LlamarAjax("Configuracion/PruebaSena", "nombre=Leudis&apellido=WanDerBiest&cedula=20933558&fecha_nac" + new Date() + "&sueldo=1000.255&sexo=M").split(" | ");
            console.log(datos);
            if (datos[0] == "0") {
                swal("", datos[1], "success");
            } else {
                swal("Acción Cancelada", datos[1], "warning");
            }
        }
        
    </script>
</body>
