﻿
<body style="background-color:white;">

    <input type="hidden" id="Idioma" value="@Session["Idioma"].ToString()" />
    <input type="hidden" id="urlinicio" value="@Session["urlprincipal"].ToString()" />
    

    <div class="row" style="margin-top:150px; margin-left:100px; margin-right:100px;">
        <div class="col-md-7 col-xs-12" style="height:300px">
            
            <center><img src="~/imagenes/logo11.jpg" width="350px" /></center>
            <p>Para realizar pedidos automáticos debe de ingresar el código del cliente y 
                la clave de acceso.<br> Si no posee una clave de acceso solicítela aquí. <button class="btn btn-glow btn-success" type="button">Solicitar Clave</button></p>
            
        </div>
           
        <div class="col-md-5 col-xs-12" style="height:400px">
            

            <form action="" method="post">

                <input type="hidden" name="tipo" value="1" />

                @Html.AntiForgeryToken()
                <div class="popup-header">
                    <span idioma="Acceso a Pedidos Automáticos" class="text-semibold"></span>
                </div>
                <div class="well" style="background-color:white">
                    <div class="form-group">
                        <label idioma="Cliente"></label>
                        <div class="input-group">
                            <input name="usuario" id="usuario" type="text" tabindex="1" autofocus class="form-control" style="float:left; width:20%;" required>
                            <input name="Nombre" id="Nombre"  type="text"   class="form-control" style="float:left; width:80%;">
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label idioma="Clave"></label>
                        <input type="password" name="clave" tabindex="2" class="form-control" style="width:40%" required>
                    </div>
                    <div class="form-group has-feedback">

                        @if (@Session["error"] != null)
                        {
                            <label class="text-danger">@Session["error"].ToString()</label>
                        }

                    </div>

                    <div class="row form-actions">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-glow btn-primary pull-left"><i class="icon-menu2"></i><span idioma="Recordar Contraseña"></span></button>
                        </div>

                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-glow btn-warning pull-right"><i class="icon-menu2"></i><span idioma="Acceder"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        var url = $("#urlinicio").val();
        $("form").prop('action', url + 'InicioSesion/BuscarUsuario');
        TraducirIdioma($("#Idioma").val() * 1);

        
        $("#usuario").delayPasteKeyUp(function () {
            var datos = LlamarAjax(url + "InicioSesion/BuscarCliente", "usuario=" + usuario);
            $("#Nombre").val("");
            if (datos != "XX")
                $("#Nombre").val(datos);
        }, 1500);

        function EnviarClaveCorreo() {
            var usuario = $("#Nombre").val();
            var codigo = $("#usuario").val();

            ActivarLoad();
            setTimeout(function () {

                if (usuario == "") {
                    $("#usuario").focus();
                    swal(ValidarTraduccion("Acción Cancelada"), ValidarTraduccion("Este cliente no se encuentra registrado"), "warning");
                } else {
                    var datos = LlamarAjax(url + "InicioSesion/EnvioPedido", "usuario=" + usuario + "&codigo=" + codigo)
                    DesactivarLoad();
                    alert(datos);
                    datos = datos.split("|");
                    if (datos[0] == "0") {
                        swal("", ValidarTraduccion("Clave enviada al correo electrónico") + " " + datos[1] + ". " + ValidarTraduccion("Si su correo no es el que aparece en el mensaje favor comunicarse con la empresa"), "warning");
                    } else {
                        $("#usuario").focus();
                        swal(ValidarTraduccion("Acción Cancelada"), ValidarTraduccion(datos[1]), "warning");
                    }
                }
            }, 15);
        }
        
    </script>
</body>
