﻿
@{
    ViewBag.Title = "RespaldoBase";
}

<div class="row">
    <div class="col-xs-10 col-sm-10">
        <h3><span idioma="Respaldo de Bases de Datos"></span></h3>
    </div>
    <div class="col-xs-2 col-sm-2 text-right">
        <a href="javascript:LlamarModalAyudas(3)" title="Ayuda de unifcar archivo">
            <img id="logoayuda" src="../images/Ayuda2.png" width="40px" />
        </a>
    </div>
</div>

<form>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right">
                    <button class="btn btn-glow btn-primary" type="button" name="submit" id="Nuevo" onclick="Respaldar()">
                        <i class="fa fa-file-pdf-o"></i>
                        <span idioma="Respaldar"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table display  table-responsive table-bordered"  >
                <caption>Bases de Datos del Sistema</caption>
                <thead>
                    <tr>
                        <th width="3%">#</th>
                        <th width="6%"><input type='checkbox' id='seleccion' onclick="Seleccionar(this)" class='form-control' checked /></th>
                        <th width="20%"><span idioma="Base de Datos"></span></th>
                        <th><span idioma="Resultado"></span></th>
                        <th><span idioma="Descargar Archivo"></span></th>
                    </tr>
                </thead>
                <tbody id="detalle_tabla"></tbody>
            </table>
        </div>
    </div>
</form>


<script>
    var url = localStorage.getItem("urlprincipal");
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/RespaldoBase.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>



