﻿
<div class="tabbable page-tabs" id="tab-grupoinventario">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabgrupo" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Grupos"></span></a></li>
        <li><a href="#tabequipos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Equipos"></span></a></li>
        <li><a href="#tabmarcas" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Marcas"></span></a></li>
        <li><a href="#tabmodelos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Modelos"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabgrupo">
            <form id="formGrupo" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Grupos"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarGrupos()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Gru_Id" readonly value="0" name="Gru_Id" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Iniciales"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Gru_Inicial"  name="Gru_Inicial" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Gru_Descripcion" id="Gru_Descripcion" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Cuenta Contable"></label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="Gru_CuentaContable" name="Gru_CuentaContable" style="width:100%" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Gru_Estado" name="Gru_Estado" style="width:100%" required />
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaGrupos">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="5%" idioma="Inicial"></th>
                                        <th width="65%" idioma="Descripción"></th>
                                        <th width="10%" idioma="Cuenta Contable"></th>
                                        <th width="10%" idioma="Estado"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabequipos">
            <form id="formEquipos" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Equipos"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarEquipos()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Grupo"></label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="Equ_Grupo" name="Equ_Grupo" onchange="CambioGrupoEquipo()" style="width:100%" required></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Equ_Id" value="0" readonly name="Equ_Id" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Equ_Descripcion" id="Equ_Descripcion" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Equ_Estado" name="Equ_Estado" style="width:100%" required>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaEquipos">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="15%" idioma="Grupo"></th>
                                        <th width="55%" idioma="Descripción"></th>
                                        <th width="10%" idioma="Estado"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabmarcas">
            <form id="formMarca" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Marcas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarMarca()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Mar_Id" name="Mar_Id" value="0" readonly required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="Mar_Descripcion" name="Mar_Descripcion" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Mar_Estado" name="Mar_Estado" style="width:100%" required />
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaMarcas">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="90%" idioma="Descripción"></th>
                                        <th width="10%" idioma="Estado"></th>
                                        <th width="5%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabmodelos">
            <form id="formModelos" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Marcas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Marca"></label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="Mod_Marca" name="Mod_Marca" style="width:100%" required></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Mod_Id" name="Mod_Id" value="0" readonly required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="Mod_Descripcion" name="Mod_Descripcion" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Mod_Estado" name="Mod_Estado" style="width:100%" required>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaModelos">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="20%" idioma="Marca"></th>
                                        <th width="70%" idioma="Descripción"></th>
                                        <th width="10%" idioma="Estado"></th>
                                        <th width="5%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalReemplazoInv" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <input type="hidden" id="NumeroReemplazo" value="0" />
                <input type="hidden" id="IdReemplazo" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TituloReemplazar" idioma="Cliente"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label id="TextoReemplazo" idioma="Ingrese el NIT/Cédula del Cliente"></label>
                        <center>
                            <select name="OpcionReemplazo" id="OpcionReemplazo" class="form-control" style="width:100%" />
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="ReemplazarEquipos()"><span idioma="Reemplazar y Eliminar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/GrupoInventario.js?unico=' + Math.round(Math.random() * 10000));
</script>




