﻿
<div class="tabbable page-tabs" id="tab-inventario">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro de Inventarios"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="row">
                <div class="col-md-9">
                    <form id="formArticulos" style="background-color:white">
                        <input type="hidden" name="IdArticulo" id="IdArticulo" value="0" />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Inventarios"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                        <button class="btn btn-danger" type="button" onclick="IPLocal2()">Ver IP</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group-min row">
                                    <label class="col-md-2 control-label" idioma="Grupo"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="Grupo" onchange="CargarEquipos(this.value)" name="Grupo" required />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Tipo de Inventario"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="TipoInventario" name="TipoInventario" required style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="SUMINISTRO">SUMINISTRO</option>
                                            <option value="ACTIVO">ACTIVO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-md-2 control-label" idioma="Código Interno"></label>
                                    <div class="col-sm-4">
                                        <input class="form-control" name="CodigoInterno" id="CodigoInterno" disabled />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Código Barras"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="CodigoBarras" id="CodigoBarras" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label"><a href="javascript:AgregarOpcion(2,'ARTICULO','Equipo')"><span idioma="Equipo"></span> (+)</a></label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="Equipo" id="Equipo" required style="width:100%" />
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="Presentación"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="Presentacion" id="Presentacion" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label"><a href="javascript:AgregarOpcion(3,'MARCA','Marca')"><span idioma="Marcas"></span> (+)</a></label>
                                    <div class="col-sm-5">
                                        <select name="Marca" id="Marca" class="form-control" onchange="CargarModelos(this.value)" required style="width:100%" />
                                    </div>
                                    <label class="col-sm-1 control-label text-right"><a href="javascript:AgregarOpcion(4,'MODELO','Modelo')"><span idioma="Modelos:"></span></a></label>
                                    <div class="col-sm-4">
                                        <select id="Modelo" name="Modelo" class="form-control" style="width:100%" required />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Descripción"></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="Descripcion" id="Descripcion" rows="2" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Última Factura"></label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="UltimaFactura" id="UltimaFactura" disabled />
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="Fecha"></label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="Fecha" id="Fecha" disabled />
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="Existencia"></label>
                                    <div class="col-sm-2">
                                        <input type="text" name="Existencia" id="Existencia" disabled value="0" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Proveedor"></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="Proveedor" id="Proveedor" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Católogo"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Catalogo" id="Catalogo" required style="width:100%">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Usa Referencia"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Referencia" id="Referencia" required style="width:100%">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Cuenta Contable"></label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="CuentaContable" name="CuentaContable" style="width:100%" required />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Estado"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Estado" id="Estado" required style="width:100%">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Fotos del Catálogo"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="text-center">
                                <div class="form-group row">
                                    <img src="../../imagenes/logo_articulo.png" height="300px" />
                                </div>
                                <div class="form-group row">
                                    <button class="btn btn-glow btn-success" type="button"><span idioma="Subir Foto"></span></button>
                                    <button class="btn btn-glow btn-danger" type="button"><span idioma="Eliminar Foto"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Precios" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Tabla de Precios"></span></a></li>
                    <li><a href="#tabexistencia" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Existencias y Ubicaciones"></span></a></li>
                    <li><a href="#tabkardex" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Kardex"></span></a></li>
                </ul>
                <div class="tab-content">
                    <div id="Precios" class="tab-pane fade in active">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel-group block form-group">
                                    <h3><span idioma="Debe de ingresar el precio SIN IVA"></span></h3>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span idioma="Ultimo Costo"></span></label>
                                                    <input type="text" id="UltimoCosto" name="UltimoCosto" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="7" style="font-size:22px;" value="0" />
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span idioma="IVA"></span></label>
                                                    <select type="text" id="Iva" name="Iva" style="width:100%;font-size:22px;" />
                                                </div>
                                                <div class="col-xs-4 col-sm-6 text-right">
                                                    <br />
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="CalcularPrecio()">Calcular Precios</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio1" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio1" name="Precio1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="3" value="0" />
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio2" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio2" name="Precio2" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="4" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio3" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio3" name="Precio3" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="5" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio4" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio4" name="Precio4" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="6" value="0"/>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio5" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio5" name="Precio5" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="7" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio6" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio6" name="Precio6" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="8" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio7" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio7" name="Precio7" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="9" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio8" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio8" name="Precio8" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="10" value="0"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio9" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio9" name="Precio9" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="11" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio10" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio10" name="Precio10" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="12" value="0"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tabsedes">
                        <div class="table-responsive" style="min-height:300px">
                            <table class="table display  table-bordered hover" id="TablaSede">
                                <thead>
                                    <tr>
                                        <th idioma="Ubicación"></th>
                                        <th idioma="Responsable"></th>
                                        <th idioma="Serie"></th>
                                        <th idioma="Accesorios"></th>
                                        <th idioma="Costo"></th>
                                        <th idioma="Costo"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Tipo Artículo"></label>
                            <select name="MTipo" id="MTipo" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="SUMINISTRO">SUMINISTRO</option>
                                <option value="ACTIVO">ACTIVO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Grupo"></label>
                            <select name="MGrupo" id="MGrupo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Equipo"></label>
                            <select name="MEquipo" id="MEquipo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Marca"></label>
                            <select name="MMarca" id="MMarca" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Modelo"></label>
                            <select name="MModelo" id="MModelo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Estado"></label>
                            <select name="MEstado" id="MEstado" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="1">Activos</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Presentación"></label>
                            <input name="MPresentacion" id="MPresentacion" class="form-control"/>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <label idioma="Proveedor"></label>
                            <select name="MProveedor" id="MProveedor" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2 text-center">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarArticulos()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaArticulos">
                            <thead>
                                <tr>
                                    <th width="3%">ID</th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Grupo"></span></th>
                                    <th><span idioma="Código Interno"></span></th>
                                    <th><span idioma="Código Barras"></span></th>
                                    <th width="10%"><span idioma="Equipo"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th><span idioma="Presentación"></span></th>
                                    <th><span idioma="Existencias"></span></th>
                                    <th><span idioma="Proveedor"></span></th>
                                    <th><span idioma="Ultimo Costo"></span></th>
                                    <th><span idioma="Ultima Factura"></span></th>
                                    <th><span idioma="IVA"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Catálogo"></span></th>
                                    <th><span idioma="Referencia"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioReferencia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Cliente"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalCalPrecio" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TitCalPrecio" idioma="Calcular Precios"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" id="Pos" />
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Costo"></label>
                        <input type="text" class="form-control text-right" disabled style="font-size:22px" id="Cos" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Porcentaje"></label>
                        <input type="text" class="form-control text-center" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="CalcularResultado(this,3)" style="font-size:22px" id="Por" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Base"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3)" onkeyup="CalcularResultado(this,1)" style="font-size:22px" id="PreBas" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="IVA"></label>
                        <input type="text" class="form-control text-center" disabled style="font-size:22px" id="IVA" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Venta"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ArtCalcularResultado(this,2)" style="font-size:22px" id="PreVen" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-danger" tabindex="34" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" tabindex="33" type="button" onclick="AgregarPrecio()"><span idioma="Agregar Precio"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Inventarios.js?unico=' + Math.round(Math.random() * 10000));
</script>




