﻿
<div class="tabbable page-tabs" id="tab-inventario">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabtomacodigo" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Toma Física Código y Foto"></span></a></li>
        <li><a href="#tabtomalote" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Toma Física por Lote"></span></a></li>
        <li><a href="#tabtomaexcel" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Toma Física por Excel"></span></a></li>
        <li><a href="#tabtomacerrar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Cerrar Toma Física"></span></a></li>
        <li><a href="#tabauditoria" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Historial Toma Física"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabtomacodigo">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info hidden" id="BuscarArticulo">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Información General"></span></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Tipo"></label>
                                    <input id="TTipo" class="form-control" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Grupo"></label>
                                    <select id="TGrupo" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigo(1)"></select>
                                </div>

                                <div class="col-sm-3">
                                    <label idioma="Equipo"></label>
                                    <select id="TEquipo" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigo(2)"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Presentación"></label>
                                    <select id="TPresentacion" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigo(3)"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Marca"></label>
                                    <select id="TMarca" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigo(4)"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Modelo"></label>
                                    <select id="TModelo" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigo(5)"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Código"></label>
                                    <select id="TCodigo" class="form-control" tabindex="3" style="width:100%" onchange="SeleccionarCodigo(this.value)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2 col-sm-3">
                            <label idioma="Ubicación"></label>
                            <select type="text" id="Ubicacion1" class="form-control" required style="width:100%" onchange="TablaTomaFisica(1)" />
                        </div>
                        <div class="col-xs-2 col-sm-3">
                            <label idioma="Responsable"></label>
                            <select type="text" id="Responsable1" class="form-control" required style="width:100%" onchange="TablaTomaFisica(1)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 col-sm-3 col-md-3">
                            <label idioma="Código de Barras/Interno"></label>
                            <input type="text" id="Codigo" class="form-control input-lg" tabindex="8" required onkeyup="BuscarCodigoToma(this.value, event, 0)" />
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1">
                            <label idioma="Cantidad"></label>
                            <input type="text" id="TFisica1" value="1" name="TFisica1" maxlength="4" tabindex="7" onkeypress="return NumCheck(event, this,0)" class="form-control text-XX text-center" onkeyup="ActivarGuardar(this.id, event)" required />
                        </div>

                        <div class="col-xs-3 col-sm-1 col-md-1">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="GuardarToma()">
                                <span data-icon="&#xe26c;"></span><br /><span idioma="Agregar"></span>
                            </button>
                        </div>

                        <div id="buscarmonttoma" class="col-xs-2 col-sm-1 col-md-1 hidden-xs hidden-sm">
                            <br>
                            <button class="btn btn-glow btn-success" type="button" onclick="ActivarBuscar()">
                                <span data-icon="&#xe003;"></span><br /><span id="SpanBuscar" idioma="Buscar"></span>
                            </button>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1">
                            <label idioma="Toma"></label>
                            <select id="numero" name="numero" class="form-control input-lg" style="width:100%">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>

                        <div class="col-xs-3 col-sm-1 col-md-1">
                            <br>
                            <button class="btn btn-glow btn-danger" type="button" onclick="InicializarToma(1)">
                                <span data-icon="&#xe0d8;"></span><br /><span idioma="Inicializar"></span>
                            </button>
                        </div>
                        <div class="col-xs-3 col-sm-1 col-md-1">
                            <br>
                            <button class="btn btn-glow btn-info" type="button" tabindex="3" onclick="TablaTomaFisica()">
                                <i class="glyphicon glyphicon-file" title="Buscar Toma Física"></i>
                                <br /><span idioma="Mostrar"></span>
                            </button>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <img src="../../imagenes/logo_articulo.png" id="ImgenArticulo" height="300px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <input type="hidden" id="IdArticuloB" />
                            <table class="table  table-responsive" style="font-size:16px;">
                                <tr>
                                    <th width="20%"><span idioma="Código Interno"></span>:</th>
                                    <td id="CodigoIntB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Código Barras"></span>:</th>
                                    <td id="CodigoBarB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Tipo"></span>:</th>
                                    <td id="TipoB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Grupo"></span>:</th>
                                    <td id="GrupoB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Equipo"></span>:</th>
                                    <td id="EquipoB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th><span idioma="Presentación"></span>:</th>
                                    <td id="PresentacionB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Marca"></span>:</th>
                                    <td id="MarcaB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th><span idioma="Modelo"></span>:</th>
                                    <td id="ModeloB">&nbsp;</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="panel panel-info">
                <div class="panel-heading">
                    <span idioma="Artículos Chequeadas"></span>
                </div>
                <div class="panel-body">
                    <div class="datatable">
                        <table class="table display table-bordered hover" id="TablaToma1">
                            <thead>
                                <tr>
                                    <th width="5%"><span idioma="Nro"></span></th>
                                    <th width="10%"><span idioma="Código"></span></th>
                                    <th><span idioma="Artículo"></span></th>
                                    <th width="12%"><span idioma="Toma Física1"></span></th>
                                    <th width="12%"><span idioma="Fecha"></span></th>
                                    <th width="12%"><span idioma="Toma Física2"></span></th>
                                    <th width="12%"><span idioma="Fecha2"></span></th>
                                    <th width="3%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabtomalote">
            <div class="form-group row">
                <div class="col-xs-2 col-sm-3">
                    <label idioma="Ubicación"></label>
                    <select type="text" id="Ubicacion2" class="form-control" required style="width:100%" onchange="TablaTomaFisica(2)" />
                </div>
                <div class="col-xs-2 col-sm-3">
                    <label idioma="Responsable"></label>
                    <select type="text" id="Responsable2" class="form-control" required style="width:100%" onchange="TablaTomaFisica(2)" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-7 col-md-3">
                    <label idioma="Codigo de Barras"></label>
                    <input type="text" id="CodigoLote" class="form-control input-lg" onkeyup="BuscarCodigoLote(this.value, event)" />
                </div>

                <div class="col-xs-2 col-md-1">
                    <label idioma="Toma"></label>
                    <select id="numerolote" class="form-control input-lg" style="width:100%">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="col-xs-3 col-sm-1 col-md-1">
                    <br>
                    <button class="btn btn-glow btn-danger" type="button" onclick="InicializarToma(2)">
                        <span data-icon="&#xe0d8;"></span><br /><span idioma="Inicializar"></span>
                    </button>
                </div>
                <div class="col-xs-3 col-sm-1 col-md-1">
                    <br>
                    <button class="btn btn-glow btn-info" type="button" tabindex="3" onclick="TablaTomaFisica()">
                        <i class="glyphicon glyphicon-file" title="Buscar Toma Física"></i>
                        <br /><span idioma="Mostrar"></span>
                    </button>
                </div>
            </div>
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span idioma="Artículos Chequeadas"></span>
                </div>
                <div class="panel-body">
                    <div class="">
                        <table class="table display table-bordered hover" id="TablaToma2">
                            <thead>
                                <tr>
                                    <th width="5%"><span idioma="Nro"></span></th>
                                    <th width="10%"><span idioma="Código"></span></th>
                                    <th><span idioma="Artículo"></span></th>
                                    <th width="12%"><span idioma="Toma Física1"></span></th>
                                    <th width="12%"><span idioma="Fecha"></span></th>
                                    <th width="12%"><span idioma="Toma Física2"></span></th>
                                    <th width="12%"><span idioma="Fecha2"></span></th>
                                    <th width="3%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabtomaexcel">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="panel-title"><span id="Menu_Empresa" idioma="Toma Física por Excel"></span></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" tabindex="3" onclick="ConsultaExcel()">
                                <i class="glyphicon glyphicon-file" title="Buscar Toma Física"></i>
                                <span idioma="Mostrar en Pantalla"></span>
                            </button>

                            <button class="btn btn-glow btn-danger" type="button" tabindex="3" onclick="InicializarToma(3)">
                                <i class="fa fa-file-text-o"></i>
                                <span idioma="Inicializar Toma"></span>
                            </button>

                            <button class="btn btn-glow btn-primary dropdown-toggle" type="button" tabindex="5" onclick="ImportarExcel()">
                                <i class="fa fa-file-excel-o"></i>
                                <span idioma="Importar a Excel"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <div class="form-group row">
                                <div class="col-xs-2 col-sm-6">
                                    <label idioma="Ubicación"></label>
                                    <select type="text" id="EUbicacion" class="form-control" required style="width:100%" />
                                </div>
                                <div class="col-xs-2 col-sm-6">
                                    <label idioma="Responsable"></label>
                                    <select type="text" id="EResponsable" class="form-control" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Tipo"></label>
                                    <select class="form-control" id="ETipo" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option value="SUMINISTRO">SUMINISTRO</option>
                                        <option value="ACTIVO">ACTIVO</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Grupo"></label>
                                    <select id="EGrupo" class="form-control" tabindex="3" style="width:100%"></select>
                                </div>

                                <div class="col-sm-3">
                                    <label idioma="Equipo"></label>
                                    <select id="EEquipo" class="form-control" tabindex="3" style="width:100%"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Presentación"></label>
                                    <select id="EPresentacion" class="form-control" tabindex="3" style="width:100%"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Marca"></label>
                                    <select id="EMarca" class="form-control" tabindex="3" style="width:100%"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Modelo"></label>
                                    <select id="EModelo" class="form-control" tabindex="3" style="width:100%"></select>
                                </div>
                                <div class="col-sm-6">
                                    <br />
                                    <label><input type="checkbox" id="ETomaNula" tabindex="5" /><span idioma="Mostrar toma física diferente a nulo"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Existencia"></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="eexistencia" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Toma Física"></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="etoma" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Diferencia"></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="ediferencia" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Valor Dif."></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="evalor" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">

                        <table class="table display  table-bordered hover" id="TablaTomaExcel" style="font-size:12px;">
                            <thead>
                                <tr>
                                    <th width="5%"><span idioma="Nro"></span></th>

                                    <th width="5%"><span idioma="ID"></span></th>
                                    <th width="8%"><span idioma="Código"></span></th>
                                    <th><span idioma="Ubicación"></span></th>
                                    <th><span idioma="Responsable"></span></th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Grupo"></span></th>
                                    <th><span idioma="Equipo"></span></th>
                                    <th><span idioma="Presentación"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th width="5%"><span idioma="Exist."></span></th>
                                    <th width="5%"><span idioma="Toma"></span></th>
                                    <th><span idioma="Último Costo"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabtomacerrar">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="panel-title"><span id="Menu_Empresa" idioma="Cerrar Toma Física"></span></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" tabindex="3" onclick="ConsultaCerrar()">
                                <i class="glyphicon glyphicon-file" title="Buscar Toma Física"></i>
                                <span idioma="Mostrar en Pantalla"></span>
                            </button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="CerrarToma()">
                                <i class="glyphicon glyphicon-ok" title="Cerrar Toma Física"></i>
                                <span idioma="Cerrar"></span>
                            </button>
                            <button class="btn btn-glow btn-info" type="button" tabindex="4" onclick="ImprimirPDF()">
                                <i class="fa fa-file-pdf-o"></i>
                                <span idioma="Reporte PDF"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <div class="form-group row">
                                <div class="col-xs-2 col-sm-3">
                                    <label idioma="Ubicación"></label>
                                    <select type="text" id="Ubicacion1" class="form-control" required style="width:100%" onchange="LimpiarCerrar()" />
                                </div>
                                <div class="col-xs-2 col-sm-3">
                                    <label idioma="Responsable"></label>
                                    <select type="text" id="Responsable1" class="form-control" required style="width:100%" onchange="LimpiarCerrar()" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Tipo"></label>
                                    <select class="form-control" id="CTipo" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option value="SUMINISTRO">SUMINISTRO</option>
                                        <option value="ACTIVO">ACTIVO</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Grupo"></label>
                                    <select id="CGrupo" class="form-control" tabindex="3" style="width:100%" onchange="LimpiarCerrar()"></select>
                                </div>

                                <div class="col-sm-3">
                                    <label idioma="Equipo"></label>
                                    <select id="CEquipo" class="form-control" tabindex="3" style="width:100%" onchange="LimpiarCerrar()"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Presentación"></label>
                                    <select id="CPresentacion" class="form-control" tabindex="3" style="width:100%" onchange="LimpiarCerrar()"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Marca"></label>
                                    <select id="CMarca" class="form-control" tabindex="3" style="width:100%" onchange="LimpiarCerrar()"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Modelo"></label>
                                    <select id="CModelo" class="form-control" tabindex="3" style="width:100%" onchange="LimpiarCerrar()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Existencia"></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="cexistencia" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Toma Física"></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="ctoma" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Diferencia"></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="cdiferencia" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label idioma="Valor Dif."></label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control text-right text-XX14" id="cvalor" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table display table-bordered hover" id="TablaDiferencia">
                            <thead>
                                <tr>
                                    <th width="5%"><span idioma="Nro"></span></th>
                                    <th width="8%"><span idioma="Código"></span></th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Grupo"></span></th>
                                    <th><span idioma="Equipo"></span></th>
                                    <th><span idioma="Presentación"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th width="5%"><span idioma="Existencia"></span></th>
                                    <th width="5%"><span idioma="Toma_Física"></span></th>
                                    <th width="5%"><span idioma="Diferencia"></span></th>
                                    <th width="10%"><span idioma="Valor Dif"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabauditoria">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="panel-title"><span id="Menu_Empresa" idioma="Historial Auditoría de Toma Física"></span></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" name="submit" id="Nuevo" onclick="ConsultaAuditoria(1)">
                                <i class="glyphicon glyphicon-file" title="Consultar"></i>
                                <span idioma="Consultar"></span>
                            </button>
                            <button class="btn btn-glow btn-primary" type="button" name="submit" id="Nuevo" onclick="ConsultaAuditoria(2)">
                                <i class="fa fa-file-pdf-o"></i>
                                <span idioma="Reporte PDF"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="panel-group block form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 id="h1" class="panel-title panel-trigger">
                                    <a data-toggle="collapse" href="#tPrecio1"><span class="Rango de búsqueda"></span></a>
                                </h6>
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label idioma="Tipo"></label>
                                            <select class="form-control" id="ATipo" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option value="SUMINISTRO">SUMINISTRO</option>
                                                <option value="ACTIVO">ACTIVO</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Grupo"></label>
                                            <select id="AGrupo" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>

                                        <div class="col-sm-3">
                                            <label idioma="Equipo"></label>
                                            <select id="AEquipo" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Presentación"></label>
                                            <select id="APresentacion" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label idioma="Marca"></label>
                                            <select id="AMarca" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Modelo"></label>
                                            <select id="AModelo" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Auditoria"></label>
                                            <input type="text" name="ACodigo" id="ACodigo" class="form-control" tabindex="6" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha de Inicio"></label>
                                            <input type="date" id="AFechaDesde" class="form-control" tabindex="4" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha Final"></label>
                                            <input type="date" id="AFechaHasta" class="form-control" tabindex="5" />
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table display " id="TablaAuditoria">
                            <thead>
                                <tr>
                                    <th width="3%">#</th>
                                    <th width="5%"><span idioma="Auditoría"></span></th>
                                    <th><span idioma="Fecha"></span></th>
                                    <th><span idioma="Ubicación"></span></th>
                                    <th><span idioma="Responsable"></span></th>
                                    <th><span idioma="Código"></span></th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Grupo"></span></th>
                                    <th><span idioma="Equipo"></span></th>
                                    <th><span idioma="Presentación"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th><span idioma="Exist."></span></th>
                                    <th><span idioma="TomaFísica"></span></th>
                                    <th width="3%"><span idioma="Diferencia"></span></th>
                                    <th><span idioma="ValorDiferencia"></span></th>
                                    <th><span idioma="Usuario"></span></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioReferencia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Cliente"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalCalPrecio" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TitCalPrecio" idioma="Calcular Precios"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" id="Pos" />
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Costo"></label>
                        <input type="text" class="form-control text-right" disabled style="font-size:22px" id="Cos" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Porcentaje"></label>
                        <input type="text" class="form-control text-center" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="CalcularResultado(this,3)" style="font-size:22px" id="Por" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Base"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3)" onkeyup="CalcularResultado(this,1)" style="font-size:22px" id="PreBas" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="IVA"></label>
                        <input type="text" class="form-control text-center" disabled style="font-size:22px" id="IVA" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Venta"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ArtCalcularResultado(this,2)" style="font-size:22px" id="PreVen" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-danger" tabindex="34" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" tabindex="33" type="button" onclick="AgregarPrecio()"><span idioma="Agregar Precio"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/TomaFisica.js?unico=' + Math.round(Math.random() * 10000));
</script>




