﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Informe por las magnitudes"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-primary" type="button" onclick="ImprimirInforme()"><span idioma="Generar PDF"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label idioma="Magnitud"></label>
                            <select class="form-control" id="Magnitud" style="width:100%" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Fecha Inicio"></label>
                            <input type="date" class="form-control" id="FechaDesde" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Fecha Final"></label>
                            <input type="date" class="form-control" id="FechaHasta" name="fecha" />
                        </div>
                        <div class="col-md-2 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="CargarTablas()"><span idioma="Cargar Tablas"></span></button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="TIPOS DE INSTRUMENTOS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 1. Resultados Tipos Instrumentos"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="INSTRUMENTO"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla1"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes1"></div>
                            </div>
                            <div class="col-md-7">
                                <canvas id="myTabla1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="MARCAS DE INSTRUMENTOS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 2. Resultados tipos de marcas"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="MARCA"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla2"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes2"></div>
                            </div>
                            <div class="col-md-7">
                                <canvas id="myTabla2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="MODELOS DE INSTRUMENTOS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 3. Resultados Tipos de Modelos"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="MODELO"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla3"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes3"></div>
                            </div>
                            <div class="col-md-7">
                                <canvas id="myTabla3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="RANGOS DE INSTRUMENTOS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 4. Resultados Rangos del Instrumento"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="RANGO"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla4"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes4"></div>
                            </div>
                            <div class="col-md-7">
                                <canvas id="myTabla4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="EMPRESAS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 5. Resultados de Empresas"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="EMPRESA"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla5"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes5"></div>
                            </div>
                            <div class="col-md-7">
                                <canvas id="myTabla5"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="CERTIFICADO POR ESPECIALISTA"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 6. Resultados por Especialistas"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="TÉCNICO ESPECIALISTA"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla6"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes6"></div>
                            </div>
                            <div class="col-md-6">
                                <canvas id="myTabla6"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="INSTUMENTOS CON CERTIFICADOS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 7. Instrumentos con Certificados"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="INSTRUMENTO"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla7"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes7"></div>
                            </div>
                            <div class="col-md-7">
                                <canvas id="myTabla7"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="INFORMES"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <h3><span idioma="Tabla 8. INFORMES"></span></h3>
                                <table width="100%" align="center" id="TablaInformes" border="1" class="table table-bordered hover ">
                                    <thead>
                                        <tr>
                                            <th width="5%">&nbsp;</th>
                                            <th width="5%" idioma="INGRESO"></th>
                                            <th width="35%" idioma="EMPRESA"></th>
                                            <th idioma="INSTRUMENTO"></th>
                                            <th width="10%" idioma="INFORME NÚMERO"></th>
                                            <th width="45%" idioma="CAUSA DEL INFORME"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="QUEJAS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <h3><span idioma="Tabla 9. QUEJAS"></span></h3>
                                <table width="100%" align="center" border="1" id="TablaQuejas" class="table table-bordered hover ">
                                    <thead>
                                        <tr>
                                            <th width="5%">&nbsp;</th>
                                            <th width="5%" idioma="INGRESO"></th>
                                            <th width="35%" idioma="EMPRESA"></th>
                                            <th idioma="INSTRUMENTO"></th>
                                            <th width="10%" idioma="QUEJA"></th>
                                            <th width="45%" idioma="CAUSA DEL INFORME"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="TIEMPO DE ENTREGAS"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <h3><span idioma="Tabla 10. Tiempo de entregas"></span></h3>
                                <table width="100%" align="center" border="1" class="table ">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="TIEMPO DE ENTREGA"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                            <th style="text-align:center;"><span idioma="PORCENTAJE"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla10"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes10"></div>
                            </div>
                            <div class="col-md-6">
                                <canvas id="myTabla10"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="NCUESTA SATISFACCIÓN DEL CLIENTE"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <h3><span idioma="Tabla 11. Encuesta Satisfacción del Cliente (Máximo 5 puntos)"></span></h3>
                                <table border="1" class="table" style="width:60%">
                                    <thead>
                                        <tr>
                                            <th width="75%" style="text-align:center;"><span idioma="PREGUNTA"></span></th>
                                            <th style="text-align:center;"><span idioma="PROMEDIO"></span></th>
                                            <th style="text-align:center;"><span idioma="CANTIDAD"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla11"></tbody>
                                </table>
                                <div class="text-info" id="TotalMes11"></div>
                            </div>
                            <div class="col-md-12">
                                <canvas id="myTabla11"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <form id="FormInformeGerencia">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="CONCLUSIONES"></span></a></h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>〆 TRABAJO NO CONFORME (TNC)/ NO CONFORMIDADES Y ACCIÓN CORRECTIVA:</label>
                                        <textarea class="form-control" rows="6" id="TrabajoNoConforme" name="TrabajoNoConforme" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>〆 ACCIONES PREVENTIVAS / FUENTES PONTENCIALES DE NO CONFORMIDADES:</label>
                                        <textarea class="form-control" rows="6" id="AccionesPreventivas" name="AccionesPreventivas" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>〆 AUDITORIAS INTERNAS:</label>
                                        <textarea class="form-control" rows="6" id="AuditoriasInternas" name="AuditoriasInternas" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>〆 AUIDITORIAS EXTERNAS:</label>
                                        <textarea class="form-control" rows="6" id="AuditoriasExternas" name="AuditoriasExternas" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>〆 OPORTUNIDADES DE MEJORA:</label>
                                        <textarea class="form-control" rows="6" id="OportunidadesMejora" name="OportunidadesMejora" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>〆 SUGERENCIAS DEL PERSONAL / CONCLUSIÓN:</label>
                                        <textarea class="form-control" rows="6" id="Sugerencias" name="Sugerencias" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="form-group row text-center">
                                    <div class="col-md-12">
                                        <button class="btn btn-glow btn-success" type="submit"><span idioma="Guardar Informe"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="ImprimirInforme()"><span idioma="Generar PDF"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/InformeGerencia.js?unico=' + Math.round(Math.random() * 10000));
</script>




