﻿

<div class="row">
    <div class="col-md-12">
        <form id="FormPrevia" onkeypress = "return pulsar(event)">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ver.06 Certificado (Par Torsional)"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                            <button class="btn btn-glow btn-default" type="button" onclick="LlamarOpcionMenu('Laboratorio/OpePreParTor',2,'ul_laboratorio')"><span idioma="Operaciones Previas"></span></button>
                            <button class="btn btn-glow btn-danger" type="button" onclick="EliminarTemporal()"><span idioma="EliminarTemporal"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-2 hidden-xs">
                                <label idioma="Tipo de Certificado"></label>
                                <select class="form-control text-center" onchange="CambioCertificado(this.value)" required name="NumCertificado" id="NumCertificado" tabindex="0" style="width:100%">
                                    <option value="1">EN SENTIDO HORARIO</option>
                                    <option value="2">EN SENTIDO FUERA DE HORARIO</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Nró Ingreso"></label>
                                <input type="text" class="form-control text-center text-XX" required onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarIngreso(this.value, event,'1')" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="Ingreso" autofocus tabindex="1" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Remisión"></label>
                                <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Especialista del Reporte"></label>
                                <input type="text" class="form-control" id="Usuario" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha Recibido"></label>
                                <input type="text" class="form-control" id="FechaRec" name="fecha" readonly />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Tiempo Trans"></label>
                                <input type="text" class="form-control" id="Tiempo" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <table width="80%" class="tabcertificado" align="center" border="1">
                                <tr class="tabcertr">
                                    <th colspan="7" class="text-XX text-center bg-gris" idioma="INFORMACIÓN DE LA CALIBRACIÓN"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Solicitante"></th>
                                    <td id="Solicitante" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2" idioma="Número de Certificado"></th>
                                    <td colspan="3" class="text-XX" id="Certificado" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Dirección"></th>
                                    <td id="Direccion" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2" idioma="Número de Ingreso"></th>
                                    <td colspan="3" id="TIngreso" class="text-XX" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Recepción"></th>
                                    <td colspan="6" id="FechaIng" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Calibración"></th>
                                    <td id="FechaCal" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2" idioma="Unidad de calibración"></th>
                                    <td colspan="3" id="Medida" style="padding-left:20px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Fecha de Expedición"></th>
                                    <td width="50%" id="FechaExp" style="padding-left:10px;">&nbsp;</td>
                                    <th width="8%" idioma="Conversión"></th>
                                    <td width="8%" align="center" id="UnidadCon">&nbsp;</td>
                                    <td width="8%" align="center" id="ValorCon">&nbsp;</td>
                                    <td width="7%" align="center" id="MedidaCon">N·m</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Próxima Calibración"></th>
                                    <td colspan="1" id="Proxima">
                                        <input type="date" name="ProximaCali" id="ProximaCali" onchange="GuardarTemporal()" style="width:220px" class="sinbordecon text-XX bg-amarillo" />
                                        <select style="width:120px" id="TiempoCali" onchange="CambioTiempoCali(this.value)">
                                            <option value="0">--</option>
                                            <option value="1">1 Años</option>
                                            <option value="2">2 Años</option>
                                        </select>
                                        <span class="text-danger text-XX" id="firmacertificado"></span>
                                    </td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                            <table width="80%" class="tabcertificado" align="center" border="1">
                                <tr class="tabcertr">
                                    <th colspan="6" class="text-XX text-center bg-gris"><span idioma="DATOS DEL INSTRUMENTO BAJO CALIBRACIÓN (IBC)"></span> <a href="javascript:ModalActualizarInstr()"><span idioma="(Actualizar)"></span></a></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Instrumeto"></th>
                                    <td colspan="1" style="padding-left:10px;" id="Equipo">&nbsp;</td>
                                    <td colspan="4" style="padding-left:10px;" id="Descripcion">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fabricante"></th>
                                    <td style="padding-left:10px;" id="Marca">&nbsp;</td>
                                    <th idioma="Rango de medida"></th>
                                    <td colspan="3" class="text-XX" style="padding-left:10px;" id="RangoMedida">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Modelo"></th>
                                    <td id="Modelo" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Resolución"></th>
                                    <td colspan="1" id="Resolucion" style="padding-left:10px;">&nbsp;</td>
                                    <td colspan="2" style="padding-left:10px;" id="MedResolucion">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Tipo de indicación"></th>
                                    <td style="padding-left:10px;" id="Indicacion">&nbsp;</td>
                                    <th idioma="Tolerancia"></th>
                                    <td colspan="1" id="Tolerancia" style="padding-left:10px;">&nbsp;</td>
                                    <td colspan="2" style="padding-left:10px;" id="MedTolerancia">%</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Serie"></th>
                                    <td width="40%" id="Serie" style="padding-left:10px;">&nbsp;</td>
                                    <th width="15%" idioma="Clasificación"></th>
                                    <td width="10%" style="padding-left:10px;" id="Clasificacion">&nbsp;</td>
                                    <th width="10%" idioma="Clase"></th>
                                    <td width="10%" style="padding-left:10px;" id="Clase">&nbsp;</td>
                                </tr>
                            </table>
                            <hr />
                            <table width="80%" class="tabcertificado" align="center" border="1">
                                <thead>
                                    <tr class="tabcertr">
                                        <th colspan="5" class="text-XX text-center bg-gris" idioma="DATOS DEL INSTRUMENTO UTILIZADO EN LA CALIBRACIÓN"></th>
                                    </tr>
                                </thead>
                                <tbody id="TBodyPatron"></tbody>
                            </table>
                            <hr />

                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="13" class="text-XX text-center bg-gris" idioma="SELECCIÓN DE LOS PATRÓNES A UTILIZAR EN LA CALIBRACIÓN"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="8%" class="text-center bg-gris" idioma="% Del Intervalo"></th>
                                    <th width="8%" class="text-center bg-gris"><span idioma="VALOR"></span><br><span idioma="NOMINAL"></span></th>
                                    <th width="8%" class="text-center bg-gris"><span idioma="Punto a Calibrar"></span> <br>(SI)</th>
                                    <th width="10%" class="text-center bg-gris"><span idioma="Mejor Patrón"></span><br><span idioma="para calibrar"></span></th>
                                    <th width="7%" class="text-center bg-gris">U <span idioma="patrón"></span></th>
                                    <th width="7%" class="text-center bg-gris"><span idioma="Deriva del"></span><br><span idioma="patrón"></span></th>
                                    <th width="8%" class="text-center bg-gris"><span idioma="Resolución del"></span><br><span idioma="patrón"></span></th>
                                    <th width="8%" class="text-center bg-gris"><span idioma="Incertidumbre"></span> <br><span idioma="Expandida"></span></th>
                                    <th width="4%" rowspan="2" class="text-center bg-gris" idioma="Decimales"></th>
                                    <th width="8%" rowspan="2" class="text-center bg-gris">a<sub>0 (<span idioma="intercepto"></span>)</sub></th>
                                    <th width="8%" rowspan="2" class="text-center bg-gris">a<sub>1</sub></th>
                                    <th width="8%" rowspan="2" class="text-center bg-gris">a<sub>2</sub></th>
                                    <th width="8%" rowspan="2" class="text-center bg-gris">a<sub>3</sub></th>

                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris medida">&nbsp;</th>
                                    <th class="text-center bg-gris">N.m</th>
                                    <th class="text-center bg-gris">N.m</th>
                                    <th class="text-center bg-gris">N.m</th>
                                    <th class="text-center bg-gris">N.m</th>
                                    <th class="text-center bg-gris">N.m</th>
                                    <th class="text-center bg-gris medida">&nbsp;</th>
                                </tr>
                                <tbody id="TBpatron"></tbody>
                            </table>
                            <hr />
                            <!--PRE-CARGAS-->
                            <div style="text-align:center" class="negativo text-danger"></div>
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="8" class="text-XX text-center bg-gris" idioma="PRECARGAS"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="12%" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Unidad"></th>
                                    <th width="13%" class="text-center bg-gris"><span idioma="Serie"></span>1</th>
                                    <th width="13%" class="text-center bg-gris"><span idioma="Serie"></span>2</th>
                                    <th width="13%" class="text-center bg-gris"><span idioma="Serie"></span>3</th>
                                    <th width="13%" class="text-center bg-gris"><span idioma="Serie"></span>4</th>
                                    <th width="13%" class="text-center bg-gris"><span idioma="Serie"></span>5</th>
                                    <th width="13%" class="text-center bg-gris">∆ <span idioma="Posición"></span></th>
                                </tr>

                                <tr class="tabcertr">
                                    <th class="text-center text-XX" id="RangoMaximo">&nbsp;</th>
                                    <th class="text-center text-XX medida">&nbsp;</th>
                                    <th class="text-center"><input type="text" name="PrSerie1" id="PrSerie1" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                    <th class="text-center"><input type="text" name="PrSerie2" id="PrSerie2" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                    <th class="text-center"><input type="text" name="PrSerie3" id="PrSerie3" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                    <th class="text-center"><input type="text" name="PrSerie4" id="PrSerie4" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                    <th class="text-center"><input type="text" name="PrSerie5" id="PrSerie5" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                    <th class="text-center"><input type="text" name="PrPosicion" id="PrPosicion" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onblur="FormatoSalida2(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control sinbordecon text-XX text-center bg-amarillo" /></th>
                                </tr>
                            </table>
                            <hr />
                            <div class="col-md-4 text-center text-XX">
                                <center>
                                    <label idioma="Hora de Inicio de la Calibración"></label>
                                    <input type="text" class="form-control text-XX bg-warning text-center" id="CaHoraIni" readonly value="" style="width:200px">
                                </center>
                                <br />
                            </div>
                            <div class="col-md-4 text-center text-XX">
                                <center>
                                    <label idioma="Hora Final de la Calibración"></label>
                                    <input type="text" class="form-control text-XX bg-warning text-center" id="CaHoraFin" readonly value="0" style="width:200px">
                                </center>
                                <br />
                            </div>
                            <div class="col-md-4 text-center text-XX">
                                <center>
                                    <label idioma="Tiempo Transcurrido"></label>
                                    <input type="text" class="form-control text-XX bg-warning text-center" id="CaTiempo" readonly value="0" style="width:200px">
                                </center>
                                <br />
                            </div>
                            <hr />
                            <div style="text-align:center" class="negativo text-danger"></div>
                            <!--TABLA CORREGIDA PATRON-->
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th colspan="8" class="text-center bg-gris" idioma="TOMA DE DATOS"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>1</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>2</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>3</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>4</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>5</th>
                                    <th class="text-center bg-gris">∆ <span idioma="Tiempo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Brazo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Posición"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">M<sub>1</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>2</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>3</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>4</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>5</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>T</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>L</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>G (90°)</sub></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                </tr>
                                <tbody id="TBSerie"></tbody>
                            </table>
                            <hr />
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label idioma="Observaciones"></label>
                                <textarea rows="4" class="form-control bg-amarillo" id="Observacion" onchange="GuardarTemporal()" name="Observacion">La calibración se realizó en las instalaciones permanentes de Calibration Service S.A.S.</textarea>
                            </div>
                        </div>
                        <hr />
                        <div id="CertificadoAnulado" class="text-XX text-danger">

                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-glow btn-info" type="button" onclick="ModalCotizacion()"><span idioma="Ver Cotización"></span></button>
                                <button class="btn btn-glow btn-primary" type="submit"><span idioma="Guardar Certificado"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="ImprimirPrevia()"><span idioma="Vista Previa"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="LlamarGenerarCertificado()"><span idioma="Generar Certificado"></span></button>
                                <button class="btn btn-glow btn-primary " type="button" onclick="ImprimirCertificado(1)">F6<span idioma="Imprimir Certificado"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" id="ButCertFirMan" onclick="ImprimirCertificado(2)"><span idioma="Imprimir Certificado sin Firma"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="VerCondiciones()"><span idioma="Condiciones Ambientales"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="HistorialCertificado()">F11 <span idioma="Historial de Certificado"></span></button>
                            </div>
                        </div>

                        <div id="FirmarCertificadoPT" class="hidden">
                            <div class="row">
                                <div class="col-md-12">
                                    <center>
                                        <label class="control-label" idioma="Firma del Especialista"></label><br>
                                        <canvas id="padfirmar" width="540px" height="160px" style="background-color:darkgray;"></canvas>
                                    </center>
                                </div>
                            </div>
                            
                            <div class="row text-center">
                                <button class="btn btn-glow btn-warning" type="button" onclick="$('#FirmarCertificadoPT').addClass('hidden'); clearCanvas(canvas,ctx);"><span idioma="Cerrar"></span></button>
                                <button type="button" class="btn btn-glow btn-danger" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
                                    Borra Firma
                                </button>
                                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="GenerarCertificado()"><span idioma="Generar Certificado"></span></button>
                            </div>
                            <hr />
                        </div>

                        <center><h3 style="color:blue; font-size:22px;"><span idioma="CALCULOS DE LA OPERACION"></span></h3></center>
                        <div class="form-group row">
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th colspan="8" class="text-center bg-gris"><span idioma="Lecturas obtenidas en el indicador en"></span> <span class="medida"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>1</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>2</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>3</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>4</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>5</th>
                                    <th class="text-center bg-gris">∆ <span idioma="Tiempo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Brazo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Posición"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">M<sub>1</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>2</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>3</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>4</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>5</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>T</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>L</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>G (90°)</sub></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                </tr>
                                <tbody id="LecturaNm"></tbody>
                            </table>
                            <hr />
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th colspan="8" class="text-center bg-gris"><span idioma="Lecturas obtenidas en el indicador (corregidas) en"></span> N·m</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>1</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>2</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>3</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>4</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>5</th>
                                    <th class="text-center bg-gris">∆ <span idioma="Tiempo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Brazo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Posición"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">M<sub>1</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>2</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>3</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>4</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>5</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>T</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>L</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>G (90°)</sub></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                </tr>
                                <tbody id="LecturaCNm"></tbody>
                            </table>
                            <hr />
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th colspan="8" class="text-center bg-gris"><span idioma="Lecturas (corregidas) en"></span> <span class="medida"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>1</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>2</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>3</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>4</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>5</th>
                                    <th class="text-center bg-gris">∆ <span idioma="Tiempo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Brazo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Posición"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">M<sub>1</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>2</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>3</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>4</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>5</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>T</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>L</sub></th>
                                    <th width="10%" class="text-center bg-gris">M<sub>G (90°)</sub></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                </tr>
                                <tbody id="LecturaCMe"></tbody>
                            </table>
                            <hr />
                            <table width="20%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="2" class="text-center bg-gris text-XX" idioma="Desviación Permisible"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="50%" class="text-center text-XX" id="DevPermitida1">6</th>
                                    <th width="50%" class="text-center text-XX" id="DevPermitida2">-6</th>
                                </tr>
                            </table>
                            <hr />
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th colspan="8" class="text-center bg-gris" idioma="Cálculo de desviaciones"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>1</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>2</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>3</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>4</th>
                                    <th class="text-center bg-gris"><span idioma="Serie"></span>5</th>
                                    <th class="text-center bg-gris" idioma="Promedio"></th>
                                    <th class="text-center bg-gris" idioma="Promedio"></th>
                                    <th class="text-center bg-gris" idioma="Promedio"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">A<sub>s1</sub></th>
                                    <th width="10%" class="text-center bg-gris">A<sub>s2</sub></th>
                                    <th width="10%" class="text-center bg-gris">A<sub>s3</sub></th>
                                    <th width="10%" class="text-center bg-gris">A<sub>s4</sub></th>
                                    <th width="10%" class="text-center bg-gris">A<sub>s5</sub></th>
                                    <th width="10%" class="text-center bg-gris">͞A<sub>s</sub></th>
                                    <th width="10%" class="text-center bg-gris">͞<font>M</font></th>
                                    <th width="10%" class="text-center bg-gris">͞<font>M</font></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">0</th>
                                </tr>
                                <tbody id="TBDesviacion"></tbody>
                            </table>
                            <hr />
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Repetibilidad"></th>
                                    <th colspan="8" class="text-center bg-gris">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">∆ <span idioma="Tiempo"></span></th>
                                    <th class="text-center bg-gris">∆ <span idioma="Longitud"></span></th>
                                    <th class="text-center bg-gris" idioma="Reproducibilidad"></th>
                                    <th class="text-center bg-gris" idioma="Resolución"></th>
                                    <th class="text-center bg-gris" idioma="Var Fuerza"></th>
                                    <th class="text-center bg-gris" idioma="Pos Montaje"></th>
                                    <th class="text-center bg-gris">U <span idioma="Patrón"></span></th>
                                    <th class="text-center bg-gris" idioma="Deriva Patrón"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">X</th>
                                    <th width="10%" class="text-center bg-gris">b'</th>
                                    <th width="10%" class="text-center bg-gris">b<sub>T</sub></th>
                                    <th width="10%" class="text-center bg-gris">b<sub>L</sub></th>
                                    <th width="10%" class="text-center bg-gris">b</th>
                                    <th width="10%" class="text-center bg-gris">r</th>
                                    <th width="10%" class="text-center bg-gris">∆ᵠ</th>
                                    <th width="10%" class="text-center bg-gris">Δγ</th>
                                    <th width="10%" class="text-center bg-gris">U<sub>p</sub></th>
                                    <th width="10%" class="text-center bg-gris"><sub>∆</sub></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                </tr>
                                <tbody id="TBRepetibilidad"></tbody>
                            </table>
                            <hr />
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="11" class="text-center bg-gris"><span idioma="ESTIMACIÓN DE INCERTIDUMBRES EN"></span> <span class="medida"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br><span idioma="Repetibilidad"></span><br>u(ᵟM<sub>b'</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br>∆ <span idioma="Tiempo"></span><br>u(ᵟM<sub>bt</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br>∆ <span idioma="Longitud"></span><br>u(ᵟM<sub>bL</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br><span idioma="Reproducibilidad"></span><br>u(ᵟM<sub>b</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br><span idioma="Resolución"></span><br>u(ᵟM<sub>rj</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br><span idioma="Resolución"></span><br>u(ᵟM<sub>rj0</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br><span idioma="Var Fuerza"></span><br>u(ᵟM<sub>∆ᵠ</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br><span idioma="Pos Montaje"></span><br>u(ᵟM<sub>Δγ</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br>U <span idioma="Patrón"></span><br>u(ᵟM<sub>tcm</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br>U <span idioma="Deriva"></span><br>u(ᵟM<sub>tcm</sub>)</th>
                                    <th class="text-center bg-gris"><span idioma="Contribución"></span><br>U <span idioma="Metodo"></span><br>u(ᵟM<sub>met</sub>)</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                    <th width="9%" class="text-center bg-gris">N·m</th>
                                </tr>
                                <tbody id="TBContribucion"></tbody>
                            </table>
                            <hr />
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Intervalo"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th colspan="8" class="text-center bg-gris"><span idioma="ESTIMACIÓN DE INCERTIDUMBRES EN"></span> <span class="medida"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Promedio"></th>
                                    <th class="text-center bg-gris"><span idioma="Desviación"></span> <br><span idioma="Promedio"></span></th>
                                    <th class="text-center bg-gris">u <br><span idioma="Combinada"></span></th>
                                    <th class="text-center bg-gris"><span idioma="Grados de"></span><br><span idioma="Libertad"></span></th>
                                    <th class="text-center bg-gris"><span idioma="Factor de"></span><br><span idioma="Cobertura"></span> </th>
                                    <th class="text-center bg-gris">U <br> <span idioma="Expandida"></span></th>
                                    <th class="text-center bg-gris">U <br> <span idioma="Expandida"></span></th>
                                    <th class="text-center bg-gris">U <br> <span idioma="Expandida"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">X<sub>a</sub></th>
                                    <th width="10%" class="text-center bg-gris">͞M</th>
                                    <th width="10%" class="text-center bg-gris">͞A<sub>s</sub></th>
                                    <th width="10%" class="text-center bg-gris">u<sub>c</sub></th>
                                    <th width="10%" class="text-center bg-gris">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">͞±U</th>
                                    <th width="10%" class="text-center bg-gris">͞±U</th>
                                    <th width="10%" class="text-center bg-gris">W</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">%</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">V<sub>eff</sub></th>
                                    <th class="text-center bg-gris medida">K</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">lbf·ft</th>
                                    <th class="text-center bg-gris medida">%</th>
                                </tr>
                                <tbody id="TBEstimacion0"></tbody>
                            </table>
                            <hr />
                            <table width="95%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th rowspan="2" class="text-center bg-gris" idioma="Intervalo"></th>
                                    <th rowspan="2" class="text-center bg-gris" idioma="Indicación del IBC"></th>
                                    <th colspan="8" class="text-center bg-gris"><span idioma="ESTIMACIÓN DE INCERTIDUMBRES EN"></span> N·m</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Promedio"></th>
                                    <th class="text-center bg-gris"><span idioma="Desviación"></span> <br /><span idioma="Promedio"></span></th>
                                    <th class="text-center bg-gris">u <br><span idioma="Combinada"></span></th>
                                    <th class="text-center bg-gris"><span idioma="Grados de"></span><br><span idioma="Libertad"></span></th>
                                    <th class="text-center bg-gris"><span idioma="Factor de"></span> <br><span idioma="Cobertura"></span> </th>
                                    <th class="text-center bg-gris">U <br> <span idioma="Expandida"></span></th>
                                    <th class="text-center bg-gris">U <br> <span idioma="Expandida"></span></th>
                                    <th class="text-center bg-gris">U <br> <span idioma="Expandida"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center bg-gris">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">X<sub>a</sub></th>
                                    <th width="10%" class="text-center bg-gris">͞M</th>
                                    <th width="10%" class="text-center bg-gris">͞A<sub>s</sub></th>
                                    <th width="10%" class="text-center bg-gris">u<sub>c</sub></th>
                                    <th width="10%" class="text-center bg-gris">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">͞±U</th>
                                    <th width="10%" class="text-center bg-gris">͞±U</th>
                                    <th width="10%" class="text-center bg-gris">W</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">%</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">V<sub>eff</sub></th>
                                    <th class="text-center bg-gris">K</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">N·m</th>
                                    <th class="text-center bg-gris">%</th>
                                </tr>
                                <tbody id="TBEstimacionN"></tbody>
                            </table>
                            <hr />
                            <div class="text-right">
                                <table width="30%" align="right" border="1" class="tabcertificado">
                                    <thead>
                                        <tr>
                                            <th colspan="4" class="text-center bg-gris">CMC (Publicada por ONAC)</th>
                                        </tr>
                                        <tr>
                                            <th width="5%" rowspan="2" class="text-center bg-gris">&nbsp;</th>
                                            <th width="50%" colspan="2" class="text-center bg-gris"><span idioma="Intervalo"></span> N·m</th>
                                            <th width="45%" rowspan="2" class="text-center bg-gris" idioma="Valor Recomendado"></th>
                                        </tr>
                                        <tr>
                                            <th class="text-center bg-gris" idioma="Desde"></th>
                                            <th class="text-center bg-gris" idioma="Hasta"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="TBPublicadaONAC"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Condiciones Ambientales"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="3" class="text-center bg-gris" idioma="Condiciones ambientales máximas"></th>
                                    <th colspan="3" class="text-center bg-gris" idioma="Condiciones ambientales mínimas"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="TEMPERATURA"></th>
                                    <th width="15%" class="text-center " id="TempMax">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">°C</th>
                                    <th width="25%" class="bg-gris" idioma="TEMPERATURA"></th>
                                    <th width="15%" class="text-center " id="TempMin">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">°C</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="bg-gris" idioma="HUMEDAD"></th>
                                    <th class="text-center " id="HumeMax">&nbsp;</th>
                                    <th class="text-center bg-gris">%HR</th>
                                    <th class="bg-gris" idioma="HUMEDAD"></th>
                                    <th class="text-center " id="HumeMin">&nbsp;</th>
                                    <th class="text-center bg-gris">%HR</th>
                                </tr>
                            </table>
                            <hr />
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="4" class="text-center bg-gris" idioma="Correcciones Condiciones ambientales"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="Temp máx"></th>
                                    <th width="25%"><input type="text" name="CoTempMax" id="CoTempMax" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th width="25%" class="bg-gris" idioma="Temp min"></th>
                                    <th width="25%"><input type="text" name="CoTempMin" id="CoTempMin" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="Hum rel máx"></th>
                                    <th width="25%"><input type="text" name="CoHumeMax" id="CoHumeMax" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th width="25%" class="bg-gris" idioma="Hum rel min"></th>
                                    <th width="25%"><input type="text" name="CoHumeMin" id="CoHumeMin" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                </tr>
                            </table>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="file" class="form-control" id="documento" accept=".csv" onchange="GuardarDocumento()" />

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <select class="form-control" id="Sensor" onchange="CambioSensor(this.value)" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button class="btn btn-glow btn-success" onclick="CargarTemperatura()" type="button"><span idioma="CARGAR ARCHIVO DE TEMPERATURA"></span></button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-glow btn-primary" onclick="AbrirGrafica()" type="button"><span idioma="Abrir Gráfica del Instrumento"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <thead>
                                    <tr class="tabcertr">
                                        <th colspan="8" class="text-center bg-gris" idioma="Datos del certificado termohigrometro"></th>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="12%" class="bg-gris text-center" idioma="Patrón"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Instrumento"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Corrección"></th>
                                        <th width="12%" class="bg-gris text-center">U</th>
                                        <th width="13%" class="bg-gris text-center" idioma="Patrón"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Instrumento"></th>
                                        <th width="12%" class="bg-gris text-center" idioma="Corrección"></th>
                                        <th width="12%" class="bg-gris text-center">U</th>
                                    </tr>
                                </thead>
                                <tbody id="TBTemperatura"></tbody>
                                <tr class="tabcertr">
                                    <th colspan="8" idioma="Mínimo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Temperatura"></th>
                                    <th class="text-center" id="MinTemp1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinTemp1">&nbsp;</th>
                                    <th class="text-center" id="MinTemp2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinTemp2">&nbsp;</th>
                                    <th class="text-center" id="MinTemp3">&nbsp;</th>
                                    <th class="text-center">Temp (°C)</th>
                                    <th class="text-center" id="ForMinTemp3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Humedad"></th>
                                    <th class="text-center" id="MinHume1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinHume1">&nbsp;</th>
                                    <th class="text-center" id="MinHume2">&nbsp;</th>
                                    <th class="text-center style=" background-color:moccasin"" id="ForMinHume2">&nbsp;</th>
                                    <th class="text-center" id="MinHume3">&nbsp;</th>
                                    <th class="text-center">Hum (%HR)</th>
                                    <th class="text-center" id="ForMinHume3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th colspan="8" idioma="Máximo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Temperatura"></th>
                                    <th class="text-center" id="MaxTemp1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxTemp1">&nbsp;</th>
                                    <th class="text-center" id="MaxTemp2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxTemp2">&nbsp;</th>
                                    <th class="text-center" id="MaxTemp3">&nbsp;</th>
                                    <th class="text-center">Temp (°C)</th>
                                    <th class="text-center" id="ForMaxTemp3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Humedad"></th>
                                    <th class="text-center" id="MaxHume1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxHume1">&nbsp;</th>
                                    <th class="text-center" id="MaxHume2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxHume2">&nbsp;</th>
                                    <th class="text-center" id="MaxHume3">&nbsp;</th>
                                    <th class="text-center">Hum (%HR)</th>
                                    <th class="text-center" id="ForMaxHume3">&nbsp;</th>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="GraTemperatura"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="GraHumedad"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse"><span id="Menu_Empresa" idioma="PAR TORSIONAL NOMINAL vs DESVIACIONES"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-9">
                        <canvas id="myChart1"></canvas>
                    </div>
                    <div class="col-md-3">
                        <h3><span idioma="DATOS DE LA GRÁFICA"></span></h3>
                        <table width="100%" align="center" border="1" class="tabcertificado">
                            <tbody id="TBGrafica1"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="PAR TORSIONAL NOMINAL vs DESVIACIÓN PROMEDIO"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-9">
                        <canvas id="myCharDesviacion"></canvas>
                    </div>
                    <div class="col-md-3">
                        <h3><span idioma="DATOS DE LA GRÁFICA"></span></h3>
                        <table width="100%" align="center" border="1" class="tabcertificado">
                            <tbody id="TBGrafica2"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalcotizacion" class="modal fade" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="DATOS DE LA COTIZACION"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Servicio de Calibración"></label><br>
                        <textarea class="form-control" id="CServicio" rows="4" name="Servicio" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Método"></label><br>
                        <textarea class="form-control" id="CMetodo" rows="4" name="Metodo" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Punto de Calibración"></label><br>
                        <textarea class="form-control" id="CPunto" rows="3" name="CPunto" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Observación de Calibración"></label><br>
                        <textarea class="form-control" id="CObservCerti" rows="3" name="CObservCerti" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Proxima Calibración"></label><br>
                        <input type="text" class="form-control" id="CProxima" name="CProxima" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Días de Entrega"></label><br>
                        <input type="text" class="form-control" id="CEntrega" name="CEntrega" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Asesor Comercial"></label><br>
                        <input type="text" class="form-control" id="CAsesorComer" name="CAsesorComer" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalInstrumento" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="INSTRUMENTO DEL INGRESO NÚMERO "></span><span id="ingresoinst"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Tipo de Indicacion"></label>
                        <select id="MIndicacion" name="MIndicacion" required style="width:100%;background-color:khaki;">
                            <option value="">--</option>
                            <option value="Digital">Digital</option>
                            <option value="Analógica">Analógica</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Clasificación"></label>
                        <select id="MClasificacion" name="MClasificacion" onchange="BuscarDescripcionEquipo()" style="width:100%;background-color:khaki;" required>
                            <option value="">--</option>
                            <option value="TIPO I">TIPO I</option>
                            <option value="TIPO II">TIPO II</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Clase"></label>
                        <select id="MClase" name="MClase" onchange="BuscarDescripcionEquipo()" style="width:100%; background-color:khaki;" required>
                            <option value="">--</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="G">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Instrumento"></label>
                        <input type="text" class="form-control" id="MInstrumento" name="MInstrumento" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Resolución"></label>
                        <input type="text" class="form-control text-XX bg-amarillo text-right" id="MResolucion" name="MResolucion" onfocus="FormatoEntrada(this, 1)" onkeyup="ValidarTexto(this,3)" required />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Tolerancia"></label>
                        <input type="text" class="form-control text-XX bg-amarillo text-right" id="MTolerancia" name="MTolerancia" onfocus="FormatoEntrada(this, 1)"  onkeyup="ValidarTexto(this,3)" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="ActualizarInstrumento()"><span idioma="Actualizar Instrumento"></span></button>
            </div>
        </div>
    </div>
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/PlaCertOpePrePT_06.js?unico=' + Math.round(Math.random() * 10000));
    //$.getScript(url + 'Scripts/charts/full/ParTorDesvia.js?unico=' + Math.round(Math.random() * 10000));
</script>




