﻿<div class="row">
    <div class="col-sm-12">
        <div class="tabbable page-tabs">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a href="#tabremision" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Relacionar Remisión"></span></a></li>
                <li id="proli7"><a href="#tabsolicitud" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Relacionar Solicitudes"></span></a></li>
                
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabremision">
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Relacionar Remisión por Asesor Comercial"></span></a></h3>
                                </div>

                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group row">

                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Remisión"></label>
                                        <input name="Remision" id="Remision" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Ingreso"></label>
                                        <input name="Ingreso" id="Ingreso" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Relacionado"></label>
                                        <select class="form-control" name="Relacionado" id="Relacionado" tabindex="11">
                                            <option value="0">NO</option>
                                            <option value="1">SI</option>
                                            <option value="-1">Todas</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Cliente"></label>
                                        <select name="Cliente" id="Cliente" class="form-control"  />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Asesor Comercial"></label>
                                        <select name="Asesor" id="Asesor" class="form-control"  />
                                    </div>

                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Fecha Desde"></label>
                                        <input type="date" name="FechaDesde" id="FechaDesde" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Fecha Hasta"></label>
                                        <input type="date" name="FechaHasta" id="FechaHasta" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="Consultar()"><span idioma="Buscar"></span></button>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-xs-12" style="min-height:400px">

                                        <table class="table display  table-bordered" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;">
                                            <thead>
                                                <tr class="bg-info">
                                                    <th width="3%"><span idioma="Nro"></span></th>
                                                    <th width="3%"><span idioma="Remisión"></span></th>
                                                    <th width="3%"><span idioma="Cotización"></span></th>
                                                    <th width="15%"><span idioma="Cliente/NIT"></span></th>
                                                    <th width="15%"><span idioma="Sede"></span></th>
                                                    <th width="15%"><span idioma="Contacto"></span></th>
                                                    <th><span idioma="Fecha Registro"></span></th>
                                                    <th><span idioma="Asesor Logistico"></span></th>
                                                    <th><span idioma="Cant. Equipos"></span></th>
                                                    <th><span idioma="Tiempo<br>Transcurrido"></span></th>
                                                    <th><span idioma="Asesor Comercial"></span></th>
                                                    <th><span idioma="Fecha<br>Asignación"></span></th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody id="TablaRelacion"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-glow btn-danger" onclick="RelacionarIngreso()">F1 <span idioma="Relacionar Remisión"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tabsolicitud">
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Relacionar Solicitud por Asesor Comercial"></span></a></h3>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group row">
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Solicitud"></label>
                                        <input name="Remision" id="SSolicitud" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Relacionado"></label>
                                        <select class="form-control" name="Relacionado" id="SRelacionado" tabindex="11">
                                            <option value="0">NO</option>
                                            <option value="1">SI</option>
                                            <option value="-1">Todas</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Cliente"></label>
                                        <select name="Cliente" id="SCliente" class="form-control"  />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Asesor Comercial"></label>
                                        <select name="Asesor" id="SAsesor" class="form-control"  />
                                    </div>

                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Fecha Desde"></label>
                                        <input type="date" name="FechaDesde" id="SFechaDesde" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Fecha Hasta"></label>
                                        <input type="date" name="FechaHasta" id="SFechaHasta" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarSolcitud()"><span idioma="Buscar"></span></button>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-xs-12" style="min-height:400px">
                                        <table class="table display  table-bordered" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;">
                                            <thead>
                                                <tr class="bg-info">
                                                    <th width="3%"><span idioma="Nro"></span></th>
                                                    <th width="3%"><span idioma="Solicitud"></span></th>
                                                    <th width="3%"><span idioma="Cotización"></span></th>
                                                    <th width="15%"><span idioma="Cliente/NIT"></span></th>
                                                    <th width="15%"><span idioma="Sede"></span></th>
                                                    <th width="15%"><span idioma="Contacto"></span></th>
                                                    <th><span idioma="Fecha Registro"></span></th>
                                                    <th><span idioma="Asesor Logistico"></span></th>
                                                    <th><span idioma="Cant. Equipos"></span></th>
                                                    <th><span idioma="Tiempo<br>Transcurrido"></span></th>
                                                    <th><span idioma="Asesor Comercial"></span></th>
                                                    <th><span idioma="Fecha<br>Asignación"></span></th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody id="TablaSolicitud"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-glow btn-danger" onclick="RelacionarSolicitud()">F2 <span idioma="Relacionar Solicitud"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalRelacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Relacionando Remisiones a Aseores"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Remisiones Seleccionadas"></label>
                        <textarea type="text" name="OSeleccion" id="OSeleccion" rows="2" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Asesor Logistico"></label>
                        <select name="OAsesor" id="OAsesor" class="form-control"  />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Observación Adicional"></label>
                        <textarea type="text" name="OObservacion" id="OObservacion" rows="4" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" id="GuardarRelacion"><span idioma="Relacionar Remisiones"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalEliminarRel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Eliminando Relación"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" value="0" id="EliRemision" />
                <input type="hidden" value="0" id="EliAsero" />
                <div class="form-group">
                    <div class="text-XX text-danger" id="detallemensaje"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" id="EliminarRelacion"><span idioma="Eliminar Remisiones"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/RelacionarRemision.js?unico=' + Math.round(Math.random() * 10000));
</script>




