﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Tabla de Precios"></span></a></h3>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <a class="btn btn-warning btn-icon" title="F1 Ayuda" href="javascript:ManualAyuda(3)"><i class="icon-question3"></i></a>
                        <button class="btn btn-success" type="button" onclick="NuevoPrecio()">F2 <span idioma="Nuevo Precio"></span></button>
                        <button class="btn btn-info" type="button" onclick="TablaPrecios()">F4 <span idioma="Actualizar Tabla"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Código"></label>
                            <input name="Codigo" id="Codigo" class="form-control" onchange="TablaPrecios()" autofocus />
                        </div>
                        <div class="col-xs-4 col-sm-5">
                            <label idioma="Servicio"></label>
                            <select name="Servicio" id="Servicio" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-5">
                            <label idioma="Proveedor"></label>
                            <select name="Proveedor" id="Proveedor" class="form-control" onchange="TablaPrecios()" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label idioma="Magnitudes"></label>
                            <select name="Magnitud" id="Magnitud" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label idioma="Equipos"></label>
                            <select name="Equipo" id="Equipo" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label idioma="Marca"></label>
                            <select name="Marca" id="Marca" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label idioma="Modelos"></label>
                            <select name="Modelo" id="Modelo" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                    </div>

                    <hr />
                    <div class="table-responsive">
                        <table class="table display table-bordered hover" id="TablaPrecios">
                            <thead>
                                <tr>
                                    <th width="3%">&nbsp;</th>
                                    <th width="8%">&nbsp;</th>
                                    <th width="5%" idioma="ID"></th>
                                    <th width="10%" idioma="Código"></th>
                                    <th width="65%" idioma="Servicio"></th>
                                    <th width="10%" idioma="Magnitud"></th>
                                    <th width="10%" idioma="Equipo"></th>
                                    <th width="5%" idioma="Medida"></th>
                                    <th width="5%" idioma="Desde"></th>
                                    <th width="5%" idioma="Hasta"></th>
                                    <th width="10%" idioma="Marca"></th>
                                    <th width="10%" idioma="Modelo"></th>
                                    <th width="10%" idioma="Proveedor"></th>
                                    <th width="10%" idioma="Costo"></th>
                                    <th width="10%" id="TitPrecio1">Precio1</th>
                                    <th width="10%" id="TitPrecio2">Precio2</th>
                                    <th width="10%" id="TitPrecio3">Precio3</th>
                                    <th width="10%" id="TitPrecio4">Precio4</th>
                                    <th width="10%" id="TitPrecio5">Precio5</th>
                                    <th width="10%" id="TitPrecio6">Precio6</th>
                                    <th width="10%" id="TitPrecio7">Precio7</th>
                                    <th width="10%" id="TitPrecio8">Precio8</th>
                                    <th width="10%" id="TitPrecio9">Precio9</th>
                                    <th width="10%" id="TitPrecio10">Precio10</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Modal_Precios" class="modal fade" role="dialog">
    <form id="FormGuardarPrecio">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Registro de Precios"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4">
                                    <label idioma="Magnitudes"></label>
                                    <select name="MMagnitud" id="MMagnitud" class="form-control" onchange="CargarEquipos(this.value)" style="width:100%" required></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="ID"></label>
                                    <input type="text" id="Precio_Id" name="Precio_Id" class="form-control text-XX text-center" value="0" readonly required />
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <label idioma="Codigo"></label>
                                    <input name="MCodigo" id="MCodigo" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-6">
                                    <label idioma="Tipo de Precio"></label>
                                    <select name="MTipoPrecio" id="MTipoPrecio" class="form-control" onchange="CambioPrecios(this.value)" disabled style="width:100%" required></select>
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    <label idioma="Servicio"></label>
                                    <select name="MServicio" id="MServicio" class="form-control" onchange="TipoServicioPrecio(this.value)" style="width:100%" required></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <label idioma="Equipos"></label>
                                    <select name="MEquipo" id="MEquipo" class="form-control" onchange="SeleccionarMagnitud(this.value)" style="width:100%" required></select>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xs-4 col-sm-3">
                                    <label idioma="Marca"></label>
                                    <select name="MMarca" id="MMarca" class="form-control" onchange="CargarModelos(this.value)" style="width:100%" required></select>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <label idioma="Modelos"></label>
                                    <select name="MModelo" id="MModelo" class="form-control" style="width:100%" required></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Medida"></label>
                                    <select name="MMedida" id="MMedida" class="form-control" style="width:100%" required></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Desde"></label>
                                    <input type="text" id="MDesde" name="MDesde" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control" required />
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Hasta"></label>
                                    <input type="text" id="MHasta" name="MHasta" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3)" onkeyup="ValidarTexto(this,3)" class="form-control" required />
                                </div>

                                <div class="col-xs-4 col-sm-8">
                                    <label idioma="Proveedor"></label>
                                    <select name="MProveedor" id="MProveedor" class="form-control" disabled style="width:100%" onchange="CambiarCostoProveeedor(this.value)" required />
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <label idioma="Costo Proveedor"></label>
                                    <input name="MCosto" id="MCosto" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" required value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="text-center">
                                <div class="form-group-min row">
                                    <img id="FotoPrecio" src="../imagenes/equipos_patron.jpg" onclick="CambiarFotoPrecio()" width="99%" />
                                </div>
                                <div class="form-group-min row">
                                    <button class="btn btn-glow btn-info" onclick="SubirFotoPrecio()" type="button">F6 <span idioma="Subir Foto"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    
                    <div class="panel-group block form-group">
                        <h3><span idioma="Debe de ingresar el precio sin el IVA"></span></h3>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio1" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio1" name="MPrecio1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="3" required />
                                    </div>
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio2" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio2" name="MPrecio2" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="4" required />
                                    </div>
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio3" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio3" name="MPrecio3" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="5" required />
                                    </div>
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio4" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio4" name="MPrecio4" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="6" required value="0"  />
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio5" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio5" name="MPrecio5" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="7" required value="0" />
                                    </div>
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio6" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio6" name="MPrecio6" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="8" required value="0" />
                                    </div>
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio7" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio7" name="MPrecio7" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="9" required value="0" />
                                    </div>
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio8" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio8" name="MPrecio8" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="10" required value="0" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio9" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio9" name="MPrecio9" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="11" required value="0" />
                                    </div>
                                    <div class="col-xs-4 col-sm-3">
                                        <label><span id="PLaPrecio10" idioma="Precio"></span></label>
                                        <input type="text" id="MPrecio10" name="MPrecio10" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" style="font-size:22px;" tabindex="12" required value="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" tabindex="34" type="button" onclick="LimpiarPrecio()">F2 <span idioma="Limpiar"></span></button>
                    <button class="btn btn-success" tabindex="33" type="submit" id="BtnGuardarPrecio">F10 <span idioma="Guardar"></span></button>
                    <button class="btn btn-warning" tabindex="34" type="button" data-dismiss="modal"><span idioma="Cerrar"></span> [Esc]</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Precios.js?unico=' + Math.round(Math.random() * 10000));
</script>




