﻿<div class="panel panel-primary" style="font-size:14px; color:black;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Fotos por Diligencias Realizadas"></span></a></h3>
            </div>
            <div class="col-sm-8 col-xs-12 text-right">
                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
            </div>
        </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="form-group row">
                <div class="col-xs-4 col-sm-2 col-md-2">
                    <label idioma="Clientes"></label>
                    <input class="form-control" type="radio" onchange="CargarComboTipo()" checked name="Tipo" id="Tipo1" style="width:100%" />
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2">
                    <label idioma="Proveedores"></label>
                    <input class="form-control" type="radio" onchange="CargarComboTipo()" name="Tipo" id="Tipo2" style="width:100%" />
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2">
                    <label idioma="Pendientes"></label>
                    <input class="form-control" type="checkbox" checked onchange="BuscarVueltasPendientes()" name="Pendientes" id="Pendientes" style="width:100%" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12">
                    <label id="TipoPersona" idioma="Cliente"></label>
                    <select class="form-control" id="Cliente" onchange="BuscarVueltasPendientes()" style="width:100%" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12 col-sm-12">
                    <table class="table display  table-bordered hover">
                        <thead>
                            <tr>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">Fecha</th>
                                <th width="3%">Estado</th>
                                <th idioma="Vuelta"></th>
                            </tr>
                        </thead>
                        <tbody id="TablaVueltas"></tbody>
                    </table>
                </div>
            </div>

            <hr />

            <div class="row">
                <div id="my_cameraing"></div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div class="row text-center">
                        <button class="btn btn-glow btn-success" onclick="TomarFoto()" type='button'><span idioma="F12 Capturar Foto"></span></button>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div class="panel panel-success" style="font-size:14px;">
                        <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i><span idioma="Fotos del Ingreso"></span></h6></div>
                        <div class="panel-body">
                            <center>
                                <div id="AlbunFotosRecoger">
                                </div>
                                <input type='hidden' name='id_imagen' id="id_imagen" value="">
                                <canvas id="tci6fotonueing" style="display:none;"></canvas>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
<div id="modalEjecutar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Ejecutar Vuelta"></span></h4>
            </div>
            <input type="hidden" id="IdEjecutar" value="0" />
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="CLIENTE"></label>
                        <input class="form-control" id="DCliente" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="VUELTA A EJECUTADA"></label>
                        <textarea class="form-control" rows="4" id="DVuelta"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <center>
                            <h3><span idioma="VUELTA EJECUTADA"></span></h3>
                            <select class="form-control" style="width:40%" id="EjeVuelta">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                                <option value="RECHAZADA">RECHAZADA</option>
                            </select>
                        </center>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="OBSERVACIÓN DE LA VUELTA"></label>
                        <textarea class="form-control" rows="4" id="OVuelta"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="GuaEjecVueltaFoto()"><span idioma="Ejecutar Vuelta"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/FotoRecoger.js?unico=' + Math.round(Math.random() * 10000));
</script>




