﻿<div class="panel panel-primary" style="font-size:14px; color:black;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Fotos por Entrega de devolución"></span></a></h3>
            </div>
            <div class="col-sm-8 col-xs-12 text-right">
                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                <button class="btn btn-glow btn-info" type="button" id="btnlimpiar" onclick="VerDevolucion()"><span idioma="Ver Devolucion"></span></button>
            </div>
        </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="form-group row">
                <div class="col-xs-12 col-sm-2">
                    <label idioma="Nró de Devolución"></label>
                    <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarDevolucion(this.value, event,0)" onblur="BuscarDevolucion(this.value, '',1)" pattern="[0-9]{1,12}" max="12" min="1" name="Devolucion" id="Devolucion" autofocus tabindex="0" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-sm-6">
                    <label idioma="Cliente"></label><br>
                    <input type="text" class="form-control" name="Cliente" id="Cliente" readonly />
                </div>
                <div class="col-xs-6 col-sm-6">
                    <label idioma="Contacto"></label>
                    <input type="text" class="form-control" name="Contacto" id="Contacto" readonly />
                </div>
                <div class="col-xs-6 col-sm-12">
                    <label idioma="Dirección"></label>
                    <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                </div>
                <div class="col-xs-6 col-sm-4">
                    <label idioma="Cantidad de Ingresos"></label>
                    <input type="text" class="form-control" name="Cantidad" id="Cantidad" readonly />
                </div>
                <div class="col-xs-6 col-sm-4">
                    <label idioma="Fecha de Registro"></label>
                    <input type="text" class="form-control" name="Fecha" id="Fecha" readonly />
                </div>
                <div class="col-xs-6 col-sm-4">
                    <label idioma="Asesor Logístico"></label>
                    <input type="text" class="form-control" name="Asesor" id="Asesor" readonly />
                </div>

                <div class="col-xs-12 col-sm-12">
                    <label idioma="Observación"></label><br>
                    <textarea class="form-control" id="Observacion" name="Observacion" readonly />
                </div>
            </div>

            <h3>ENTREGAR EQUIPO</h3>

            <div class="form-group row">
                <div class="col-xs-12 col-sm-6">
                    <label idioma="Recibió"></label><br>
                    <input type="text" class="form-control" name="Recibio" id="Recibio" />
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label idioma="Cargo"></label>
                    <input type="text" class="form-control" name="Cargo" id="Cargo" />
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label idioma="Nro. Identificación"></label>
                    <input type="text" class="form-control" name="Identificacion" id="Identificacion" />
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label idioma="Teléfono"></label>
                    <input type="text" class="form-control" name="Telefonos" id="Telefonos" />
                </div>
                <div class="col-xs-12 col-sm-12">
                    <label idioma="Observación del Cliente"></label>
                    <textarea type="text" class="form-control" name="ObservacionCliente" rows="2" id="ObservacionCliente" />
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label idioma="Empresa Envío"></label>
                    <select  class="form-control" name="EmpresaEnvio" id="EmpresaEnvio" style="width:100%" />
                </div>
                <div class="col-xs-6 col-sm-6">
                    <label idioma="Número de Guía"></label>
                    <input type="text" class="form-control" name="NumeroGuia" id="NumeroGuia" />
                </div>


            </div>

            <div class="form-group row">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <label class="control-label" idioma="Firma"></label><br>
                    <canvas id="padfirmarent" width="350px" height="250px" style="background-color:darkgray;"></canvas>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-glow btn-primary" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
                        <i class="glyphicon glyphicon-file"></i><span idioma="Borrar"></span>
                    </button>
                </div>
            </div>


            <hr />

            <div class="form-group row">
                <div class="col-xs-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover">
                            <thead>
                                <tr>
                                    <th width="3%">&nbsp;</th>
                                    <th width="3%">Fecha</th>
                                    <th width="3%">Estado</th>
                                    <th idioma="Vuelta"></th>
                                </tr>
                            </thead>
                            <tbody id="TablaVueltas"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div id="my_cameraent"></div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div class="row text-center">
                        <button class="btn btn-glow btn-success" onclick="TomarFoto()" type='button'><span idioma="F10 Capturar Foto"></span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-glow btn-danger" onclick="EntregarDevolucion()" type='button'><span idioma="F12 Entregar Devolución"></span></button>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-xs-12">
                    <div class="panel panel-success" style="font-size:14px;">
                        <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i><span idioma="Fotos del Ingreso"></span></h6></div>
                        <div class="panel-body">
                            <center>
                                <div id="AlbunFotosEnt">
                                </div>
                                <input type='hidden' name='id_imagen' id="id_imagen" value="">
                                <canvas id="tci6fotonueing" style="display:none;"></canvas>
                            </center>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div id="modalEjecutar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Ejecutar Vuelta"></span></h4>
            </div>
            <input type="hidden" id="IdEjecutar" value="0" />
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="CLIENTE"></label>
                        <input class="form-control" id="DCliente" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="VUELTA A EJECUTADA"></label>
                        <textarea class="form-control" rows="4" id="DVuelta"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <center>
                            <h3><span idioma="VUELTA EJECUTADA"></span></h3>
                            <select class="form-control" style="width:40%" id="EjeVuelta">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                                <option value="RECHAZADA">RECHAZADA</option>
                            </select>
                        </center>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="OBSERVACIÓN DE LA VUELTA"></label>
                        <textarea class="form-control" rows="4" id="OVuelta"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="GuaEjecVueltaFoto()"><span idioma="Ejecutar Vuelta"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/FotoEntregar.js?unico=' + Math.round(Math.random() * 10000));
</script>




