﻿
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span id="Menu_Empresa" idioma="Ingresos por ajustar"></span></h3>
            </div>
            
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-8">
                        <label idioma="Usuario"></label>
                        <select id="ClienteIngreso" class="form-control" onchange="ConsularReportesIngresos()" style="width:100%" />
                    </div>
                    <div class="col-md-4">
                        <label idioma="Vueltas Asignadas"></label>
                        <input id="Aprobadas" type="checkbox" onchange="ConsularReportesIngresos()" checked class="form-control text-center" style="width:100%">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table display  table-bordered" id="TablaReportar">
                        <thead>
                            <tr>
                                <th width="5%" idioma="Nro"></th>
                                <th width="15%" idioma="Asignación"></th>
                                <th width="40%" idioma="Vuelta"></th>
                                <th width="40%" idioma="Ehecución"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <iframe src="https://embed.waze.com/es/iframe?zoom=17&lat=4.5814528&lon=-74.1996487&ct=livemap&pin=1&desc=10&navigate=yes&utm_campaign=iFrame_expand_the_map&utm_expid=.z8gftr2fShy0HjCgmeawNQ.0&utm_referrer=" width="100%" height="750px"></iframe>
        
    </div>
</div>

<script>
    //$.getScript(url + 'js/AjusteIngreso.js?unico=' + Math.round(Math.random() * 10000));
    DesactivarLoad();
    TraducirIdioma($("#menu_idioma").val() * 1);
</script>




