﻿<div class="row">
    <div class="col-xs-10 col-sm-10">
        <h3><span idioma="Auditoria"></span></h3>
    </div>
    <div class="col-xs-2 col-sm-2 text-right">
        <a href="javascript:LlamarModalAyudas(3)" title="Ayuda de unifcar archivo">
            <img id="logoayuda" src="../images/Ayuda2.png" width="40px" />
        </a>
    </div>
</div>

<form>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <label idioma="Fecha"></label>
                    <input type="date" id="Fecha" class="form-control" tabindex="1" />
                </div>
                <div class="col-xs-6 col-md-4">
                    <label idioma="Almacén"></label>
                    <select id="Almacen" class="form-control" style="width:100%"></select>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Nuevo" onclick="Consultar()">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="table-responsive" style="min-height:380px">
                        <table class="table display  table-bordered" id="tablafactura">
                            <thead>
                                <tr>
                                    <th><span idioma="Factura"></span></th>
                                    <th><span idioma="Cliente"></span></th>
                                    <th><span idioma="Valor"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Abonos"></span></th>
                                    <th><span idioma="Saldo"></span></th>
                                    <th><span idioma="Fecha"></span></th>
                                    <th><span idioma="FechaAnula"></span></th>
                                    <th><span idioma="Producto"></span></th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            
                <div class="col-md-6 col-xs-12">
                    <div class="table-responsive" style="min-height:380px">
                        <table class="table display  table-bordered" id="tablaremision">
                            <thead>
                                <tr>
                                    <th><span idioma="Remisión"></span></th>
                                    <th><span idioma="Cliente"></span></th>
                                    <th><span idioma="Valor"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Fecha"></span></th>
                                    <th><span idioma="FechaAnula"></span></th>
                                    <th><span idioma="Producto"></span></th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            
            <hr />
            <div class="row">

                <div class="col-md-6">
                    <table class="table display  table-bordered">
                        <tr>
                            <th class="text-primary">&nbsp;</th>
                            <th class="text-primary" idioma="ARQUEO"></th>
                            <th class="text-primary" idioma="REPORTE"></th>
                            <th class="text-primary" idioma="DIFERENCIA"></th>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Contado"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo1" /></td>
                            <td><input type="text" class="no-borderpe" id="freporte1" /></td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia1" /></td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Secuencia Facturas Terminado"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo2" /></td>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia2" /></td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Secuencia Facturas Terminado"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo3" /></td>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia3" /></td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Anuladas"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo4" /></td>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia4" /></td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Anuladas de Hoy"></th>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="freporte5" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Anuladas Anterior"></th>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="freporte6" /></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table display  table-bordered">
                        <tr>
                            <th>&nbsp;</th>
                            <th class="text-primary" idioma="ARQUEO"></th>
                            <th class="text-primary" idioma="REPORTE"></th>
                            <th class="text-primary" idioma="DIFERENCIA"></th>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Crédito"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo1" /></td>
                            <td><input type="text" class="no-borderpe" id="freporte1" /></td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia1" /></td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Secuencia Facturas Terminado"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo2" /></td>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia2" /></td>
                        </tr>
                        <tr>
                            <th  class="text-primary text-right" idioma="Secuencia Facturas Terminado"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo3" /></td>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia3" /></td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Anuladas"></th>
                            <td><input type="text" class="no-borderpe" id="farqueo4" /></td>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="fdiferencia4" /></td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Anuladas de Hoy"></th>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="freporte5" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th class="text-primary text-right" idioma="Anuladas Anterior"></th>
                            <td>&nbsp;</td>
                            <td><input type="text" class="no-borderpe" id="freporte6" /></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/AuditoriaFac.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>
