﻿

<form>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <label idioma="Cierre Nro" style="font-size:18px;"></label>: &nbsp;&nbsp;<span id="NoCierre" style="font-size:18px;"></span> &nbsp;&nbsp;<label style="font-size:18px;"><span idioma="Fecha"></span>:&nbsp;&nbsp;</label><span id="fecha_arqueo" style="font-size:18px;"></span>&nbsp;&nbsp;
                </div>
                <div class="col-sm-6 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Con_Arqueo" onclick="javascript:$('#modalConsultar').modal('show')">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                    <button class="btn btn-glow btn-default hidden" type="button" tabindex="3" name="submit" id="Gua_Arqueo" onclick="GuardarArqueo()">
                        <i class="glyphicon glyphicon-save" title="Guardar"></i>
                        <span idioma="Guardar"></span>
                    </button>
                    <button class="btn btn-glow btn-default hidden" type="button" tabindex="3" name="submit" id="Imp_Arqueo" onclick="ImprimirArqueo()">
                        <i class="glyphicon glyphicon-print" title="Imprimir"></i>
                        <span idioma="Imprimir"></span>
                    </button>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tabbable page-tabs">
                <ul class="nav nav-tabs">
                    <li id="opcion1" class="active"><a href="#datos" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="DATOS"></span></a></li>
                    <li id="opcion2"><a href="#arqueo" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="ARQUEO"></span></a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="datos">
                        <div class="col-md-5">
                            <table border="0" width="100%" class="tdarqueo">
                                <tr>
                                    <th colspan="6" class="bg-primary" style="text-align:center" idioma="C O N T A D O"></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="F. Inicial Ter"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                    <td><span idioma="F. Final Ter"></span>:</td>
                                    <th class="bg-info text-right"><label  id="FFinConTer"></label></th>
                                    <td><span idioma="T. Facturas"></span>:</td>
                                    <th class="bg-info text-right" id="NoTerCon"></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="F. Inicial Talla"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTal"></label></th>
                                    <td><span idioma="F. Final Talla"></span>:</td>
                                    <th class="bg-info text-right"><label id="FFinConTal"></label></th>
                                    <td><span idioma="T. Facturas"></span>:</td>
                                    <th class="bg-info text-right"><label id="NoTalCon"></label></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td colspan="2"><span idioma="Valor Terminado"></span>:</td>
                                    <th width="20%" class="bg-info text-right"><label id="ValTerCon"></label></th>
                                    <td colspan="2"><span idioma="Valor Talla"></span>:</td>
                                    <th width="20%" class="bg-info text-right"><label id="ValTalCon"></label></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td colspan="2"><span idioma="Facturas Anuladas"></span>:</td>
                                    <th class="bg-info text-right"><label id="cant_anuladas_con"></label></th>
                                    <td colspan="2"><span idioma="Valor Anuladas"></span>:</td>
                                    <th class="bg-info text-right"><label id="anuladas_con"></label></th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <table border="0" width="100%" class="tdarqueo">
                                <tr>
                                    <th colspan="6" class="bg-primary" style="text-align:center" idioma="C R E D I T O"></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="F. Inicial Ter"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniCreTer"></label></th>
                                    <td><span idioma="F. Final Ter"></span>:</td>
                                    <th class="bg-info text-right"><label id="FFinCreTer"></label></th>
                                    <td><span idioma="T. Facturas"></span>:</td>
                                    <th class="bg-info text-right"><label id="NoTerCre"></label></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="F. Inicial Talla"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniCreTal"></label></th>
                                    <td><span idioma="F. Final Talla"></span>:</td>
                                    <th class="bg-info text-right"><label id="FFinCreTal"></label></th>
                                    <td><span idioma="T. Facturas"></span>:</td>
                                    <th class="bg-info text-right"><label id="NoTalCre"></label></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td colspan="2"><span idioma="Valor Terminado"></span>:</td>
                                    <th width="20%" class="bg-primary text-right"><label id="ValTerCre"></label></th>
                                    <td colspan="2"><span idioma="Valor Talla"></span>:</td>
                                    <th width="20%" class="bg-primary text-right"><label id="ValTalCre"></label></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td colspan="2"><span idioma="Facturas Anuladas"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                    <td colspan="2"><span idioma="Valor Anuladas"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-2">
                            <table border="0" width="100%" class="tdarqueo">
                                <tr>
                                    <th colspan="4" class="bg-primary" style="text-align:center" idioma="TRASLADOS"></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="L Oft"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                    <td><span idioma="Artículos"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="Monturas"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                    <td><span idioma="L Con"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="bg-primary" style="text-align:center" idioma="INGRESO"></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="L Oft"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                    <td><span idioma="Artículos"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="Monturas"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                    <td><span idioma="L Con"></span>:</td>
                                    <th class="bg-info text-right"><label id="FIniConTer"></label></th>
                                </tr>
                            </table>
                        </div> 
                        <div class="col-md-12">
                            <table border="0" width="100%" class="tdarqueo">
                                <tr>
                                    <th colspan="12" class="bg-primary" style="text-align:center" idioma="RECIBOS DE CAJA"></th>
                                </tr>
                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="R. Caja Inicial"></span>:</td>
                                    <th class="bg-info text-right"><label id="recibo_ini"></label></th>
                                    <td><span idioma="R. Caja Final"></span>:</td>
                                    <th class="bg-info text-right"><label id="recibo_fin"></label></th>
                                    <td><span idioma="T. R. Cajas"></span>:</td>
                                    <th class="bg-info text-danger text-right"><label id="valor_recibos"></label></th>
                                    <td><span idioma="Val X Consig R. Caja"></span>:</td>
                                    <th class="bg-info text-right"><label id="Bonos"></label></th>
                                    <td><span idioma="Valor CON"></span>:</td>
                                    <th class="bg-info text-right"><label id="TotalRC_CON"></label></th>
                                    <td><span idioma="Valor CRE"></span>:</td>
                                    <th class="bg-info text-right"><label id="TotalRC_CRE"></label></th>
                                </tr>

                                <tr style="color:black; font-weight:normal;">
                                    <td><span idioma="R. Caja Anulados"></span>:</td>
                                    <th class="bg-info text-right"><label id="cant_rc_anul"></label></th>
                                    <td colspan="2">&nbsp;</td>
                                    <td><span idioma="Valor R. Caja Anul"></span>:</td>
                                    <th class="bg-info text-right"><label id="valor_rc_anul"></label></th>
                                    <td><span idioma="RC Anul. CON"></span>:</td>
                                    <th class="bg-info text-right"><label id="valor_rc_con_anul"></label></th>
                                    <td><span idioma="RC Anul. CRE"></span>:</td>
                                    <th class="bg-info text-right"><label id="valor_rc_cre_anul"></label></th>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="col-md-12">
                            <hr />
                            <table border="0" width="100%" class="tdarqueo">

                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="bg-info" style="text-align:center" colspan="2" idioma="LENTES"></td>
                                    <td class="bg-info" style="text-align:center" colspan="2" idioma="MONTURAS"></td>
                                    <td class="bg-info" style="text-align:center" colspan="2" idioma="ARTICULOS"></td>
                                    <td class="bg-info" style="text-align:center" colspan="2" idioma="LENTES CONTACTO"></td>
                                </tr>
                                <tr>
                                    <td width="15%" class="text-primary" idioma="Ventas Contado en Efectivo"></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="LOConEfec" disabled /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="MOConEfec" disabled /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="VAConEfec" disabled /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="LCConEfec" disabled /></td>
                                </tr>
                                <tr>
                                    <td width="15%" class="text-primary" idioma="Ventas Contado en Cheque"></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="LOConCheq" /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="MOConCheq" /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="VAConCheq" /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="LCConCheq" /></td>
                                </tr>
                                <tr>
                                    <td width="15%" class="text-primary" idioma="Ventas Contado en Tarjeta"></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="LOConTarj" /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="MOConTarj" /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="VAConTarj" /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" disabled id="LCConTarj" /></td>
                                </tr>
                                <tr>
                                    <td width="15%" class="text-primary" idioma="Ventas a Crédito"></td>
                                    <td width="12%"><input type="text" class="no-borderpe bg-primary" style="color:white" id="LOCredito" readonly /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe bg-primary" style="color:white" id="MOCredito" readonly /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe bg-primary" style="color:white" id="VACredito" readonly /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe bg-primary" style="color:white" id="LCCredito" readonly /></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="15%" class="text-primary" idioma="Ventas a Crédito Especial"></td>
                                    <td width="12%"><input type="text" class="no-borderpe" disabled id="LOCreditoEsp" /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe" disabled id="MOCreditoEsp" /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe" disabled id="VACreditoEsp" /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe" disabled id="LCCreditoEsp"/></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr> 
                                    <td width="15%" class="text-primary" idioma="TOTAL VENTAS DEL DIA"></td>
                                    <td width="12%"><input type="text" class="no-borderpe" style="background-color:white" id="TotalVentasLO"  disabled /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe" style="background-color:white" id="TotalVentasMO" disabled /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe" style="background-color:white" id="TotalVentasVA" disabled /></td>
                                    <td>&nbsp;</td>
                                    <td width="12%"><input type="text" class="no-borderpe" style="background-color:white" id="TotalVentasLC" disabled /></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="15%" class="text-primary" idioma="PARA CONSIGNAR"></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="ConsignarLO" disabled /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="ConsignarMO" disabled /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="ConsignarVA" disabled /></td>
                                    <td width="12%">&nbsp;</td>
                                    <td><input type="text" class="no-borderpe" id="ConsignarLC" disabled /></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="arqueo">
                        <br /><br />
                        <div class="col-md-12">
                            <table border="0" width="100%" class="tdarqueo">
                                <tr>
                                    <td height="40px"  class="bg-info" style="text-align:center" colspan="2" idioma="INGRESOS"></td>
                                    <td height="40px" class="bg-info" style="text-align:center" colspan="2" idioma="CONSIGNACIONES"></td>
                                    <td height="40px" class="bg-info" style="text-align:center" colspan="2" idioma="EGRESOS"></td>
                                </tr>
                                <tr>
                                    <td height="40px" idioma="SALDO ANTERIOR"></td>
                                    <td><input type="text" class="no-borderarq" disabled id="TSaldoAnt" /></td>
                                    <td class="text-primary"><span id="banco0"></span></td>
                                    <td><input type="text" class="no-borderarq" id="VBanco0" readonly onclick="LlamarBanco(0)" /></td>
                                    <td idioma="R. Caja Menor"></td>
                                    <td><input type="text" class="no-borderarq" id="TCajaMenor" readonly onclick="LlamarRCaja(2,'Caja Menor')" /></td>
                                </tr>
                                <tr>
                                    <td height="40px" idioma="Ingresos del día"></td>
                                    <td><input type="text" class="no-borderarq" id="TVentas" disabled /></td>
                                    <td class="text-primary"><span id="banco1"></span></td>
                                    <td><input type="text" class="no-borderarq" id="VBanco1" readonly onclick="LlamarBanco(1)"/></td>
                                    <td idioma="Devoluciones y Descuentos"></td>
                                    <td><input type="text" class="no-borderarq" disabled id="TDevoDesc" /></td>
                                </tr>
                                <tr>
                                    <td height="40px" class="text-primary" idioma="Anticipos (Crédito)"></td>
                                    <td><input type="text" class="no-borderarq" id="TAnticipoCre" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarArqueo(this)"/></td>
                                    <td class="text-primary"><span id="banco2"></span></td>
                                    <td><input type="text" class="no-borderarq" id="VBanco2" onclick="LlamarBanco(2)" readonly/></td>
                                    <td class="text-primary" idioma="Reteción en la Fuente"></td>
                                    <td><input type="text" class="no-borderarq" id="TReteFuente" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarArqueo(this)"/></td>
                                </tr>
                                <tr>
                                    <td height="40px" idioma="Otros Ingresos"></td>
                                    <td><input type="text" class="no-borderarq" readonly id="TOIngreso" onclick="LlamarRCaja(1,'Otros Ingresos')" /></td>
                                    <td class="text-primary"><span id="banco3"></span></td>
                                    <td><input type="text" class="no-borderarq" id="VBanco3" onclick="LlamarBanco(3)" readonly/></td>
                                    <td class="text-primary" idioma="Retención I.C.A."></td>
                                    <td><input type="text" class="no-borderarq" id="TReteICA" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarArqueo(this)" /></td>
                                </tr>
                                <tr>
                                    <td height="40px" class="text-primary" idioma="Retención en la Fuente (Crédito)"></td>
                                    <td><input type="text" class="no-borderarq" id="TReteFuenteCre" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarArqueo(this)"  /></td>
                                    <td idioma="Cheques Post-Fechados" disabled></td>
                                    <td><input type="text" class="no-borderarq" /></td>
                                    <td class="text-primary" idioma="Anticipos"></td>
                                    <td><input type="text" class="no-borderarq" id="TAnticipo" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarArqueo(this)"  /></td>
                                </tr>
                                <tr>
                                    <td height="40px">&nbsp;</td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td colspan="2" rowspan="3" valign="top"><b><span id="DesTarjeta"></span></b></td>
                                    <td class="text-primary" idioma="C x C Empleados"></td>
                                    <td><input type="text" class="no-borderarq" id="TCCEmpleado" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarArqueo(this)"/></td>
                                </tr>
                                <tr>
                                    <td height="40px">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td idioma="Otros Egresos"></td>
                                    <td><input type="text" class="no-borderarq text-XX" id="TOEgresos" readonly onclick="LlamarRCaja(3,'Otros Egresos')"/></td>
                                </tr>
                                <tr>
                                    <td height="40px">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td idioma="Valor por Consignar"></td>
                                    <td><input type="text" class="no-borderarq text-XX" id="TConsignar" disabled /></td>
                                </tr>
                                <tr style="border-top:2px solid black">
                                    <td height="40px" class="text-success  text-LG" idioma="SUMAS IGUALES"></td>
                                    <td><input type="text" class="no-borderarq text-XX" disabled id="TIngresos" /></td>
                                    <td colspan="3" class="text-primary">&nbsp;</td>
                                    <td><input type="text" class="no-borderarq text-XX" disabled id="TEgresos" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="modalConsultar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Cierre"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Almacén"></label>
                        <select id="CAlmacen" style="width:100%"></select>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label idioma="Fecha de Cierre"></label>
                        <input type="date" class="form-control" id="CFecha">
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <label idioma="Número"></label>
                        <input type="number" min="0" class="form-control" id="CNumero" value="0">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="Consultar()"><span idioma="Consultar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalRCaja" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TipoRegistro"></span></h4>
                <input type="hidden" id="NumTipRegistro" />
                <input type="hidden" id="IdCajaMenor" />
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Concepto"></label>
                        <select id="CConcepto" tabindex="56" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label><a href="javascript:LlamarTerceros()" title="Registro de Terceros"><span idioma="Tercero"></span></a></label>
                        <select id="CTercero" tabindex="57" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-md-4 text-right">
                        <button class="btn btn-glow btn-primary"  type="button" onclick="GuardarCajaMenor()" id="Gua_CajaMenor"><span idioma="Agregar"></span></button>
                        <button class="btn btn-glow btn-danger"   type="button" onclick="LimpiarCajaMenor()" id="Lim_CajaMenor"><span idioma="Limpiar"></span></button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Factura"></label>
                        <input type="text" tabindex="58" class="form-control" id="CFactura" >
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Cantidad"></label>
                        <input type="text" class="form-control text-right" tabindex="59" id="CCantidad" onkeyup="ValidarTexto(this,1)">
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Valor Total"></label>
                        <input type="text" tabindex="60" class="form-control text-right" id="CValor" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)" >
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <label idioma="IVA"></label>
                        <input type="text" tabindex="61" class="form-control text-right" id="CIva" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)">
                    </div>

                    <div class="col-xs-2 col-md-2">
                        <label idioma="Rete ICA"></label>
                        <input type="text" tabindex="62" class="form-control text-right" id="CReteIca" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)">
                    </div>

                    <div class="col-xs-2 col-md-2">
                        <label idioma="Rete Fuente"></label>
                        <input type="text" min="0" tabindex="63" class="form-control text-right" id="CReteFuente" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)">
                    </div>

                </div>
                <div class="table-responsive" style="height:290px;overflow-y:auto">
                    <table class="table display  table-bordered" width="100%"  id="TablaEgresos">
                        <thead>
                            <tr>
                                <th idioma="Id"></th>
                                <th idioma="Concepto"></th>
                                <th idioma="Tercero"></th>
                                <th idioma="Factura"></th>
                                <th idioma="Cantidad"></th>
                                <th idioma="Valor Total"></th>
                                <th idioma="IVA"></th>
                                <th idioma="Rete ICA"></th>
                                <th idioma="Rete Fuente"></th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-XX"><b><span idioma="Acumulado"></span>:</b>&nbsp;&nbsp; <span id="TotalRCaja"></span></label>
                    </div>    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalTerceros" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Registro de Terceros"></span></h4>
                <input type="hidden" id="IdTercero" />
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Documento"></label>
                        <select id="TDocumento" tabindex="50" style="width:100%" onchange="CambioDocumento(this.value)">
                            <option value="NIT">NIT</option>
                            <option value="CC">RUT</option>
                            <option value="CC">CC</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Nit/Cédula"></label>
                        <div class="input-group">
                            <input name="TNit" id="TNit" type="text" tabindex="51" class="form-control" style="float:left; width:70%;" >
                            <input name="TControl" id="TControl" tabindex="52" type="number" min="0" max="9" maxlength="1" class="form-control text-center" onkeyup="calcularDigitoVerificacion('TNit',this)" style="float:left; width:30%;" >
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-7">
                        <label idioma="Razón Social ó Nombre Compelto"></label>
                        <input type="text" tabindex="55" class="form-control" id="TNombre" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-right">
                        <button class="btn btn-glow btn-primary" tabindex="54" type="button" onclick="GuardarTercero()"><span idioma="Agregar"></span></button>
                        <button class="btn btn-glow btn-danger" tabindex="55" type="button" onclick="LimpiarTercero()"><span idioma="Limpiar"></span></button>
                    </div>
                </div>
                <div class="table-responsive" style="height:300px;overflow-y:auto">
                    <table class="table display  table-bordered" width="100%" id="TablaTerceros">
                        <thead>
                            <tr>
                                <th idioma="Id"></th>
                                <th idioma="Documento"></th>
                                <th idioma="Nit/Cédula"></th>
                                <th idioma="Verificador"></th>
                                <th idioma="Razón Social ó Nombre Compelto"></th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                    
                </div>
            </div>
            <div class="modal-footer">
                
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalBanco" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TBancoConsig"></span></h4>
                <input type="hidden" id="NroBanco" />
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Efectivo"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="40" name="CEfectivo" id="CEfectivo" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Cheque"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="41" name="CCheque" id="CCheque" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <hr />
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Total"></label>
                        <input type="text" class="form-control text-right text-LG" readonly tabindex="42" name="CTotal" id="CTotal" value="" />
                    </div>
                    <hr />
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Planilla"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="43" name="CPlanilla" maxlength="15" id="CPlanilla" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="44" type="button" onclick="GuardarBanco()"><span idioma="Aceptar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalReciboCaja" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TBancoConsig"></span></h4>
                <input type="hidden" id="NroBanco" />
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Efectivo"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="40" id="RecEfectivo" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Tarjeta"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="41" id="RecTarjeta" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Cheque"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="41" id="RecCheque" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <hr />
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Total"></label>
                        <input type="text" class="form-control text-right text-LG" readonly tabindex="42"  id="RecTotal" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Arqueo.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>
