﻿<div class="row">
    <div class="col-xs-10 col-sm-10">
        <h3><span idioma="Reporte de arqueo por usuarios"></span></h3>
    </div>
    <div class="col-xs-2 col-sm-2 text-right">
        <a href="javascript:LlamarModalAyudas(3)" title="Ayuda de unifcar archivo">
            <img id="logoayuda" src="../images/Ayuda2.png" width="40px" />
        </a>
    </div>
</div>

<form>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Nuevo" onclick="Reporte(1)">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                    <button class="btn btn-glow btn-primary hidden" type="button" tabindex="4" name="submit" id="Nuevo" onclick="Reporte(2)">
                        <i class="fa fa-file-pdf-o"></i>
                        <span idioma="Reporte PDF"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-group block form-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 id="h1" class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                        </h6>
                        <div class="panel-body">
                            <div id="tPrecio1" class="panel-collapse collapse in">
                                <div class="form-group row">
                                    <div class="col-xs-6 col-md-3">
                                        <label idioma="Almacén"></label>
                                        <select id="Almacen" class="form-control" style="width:100%"></select>
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <label idioma="Fecha Desde"></label>
                                        <input type="date" id="FechaI" class="form-control" tabindex="1" />
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <label idioma="Fecha Hasta"></label>
                                        <input type="date" id="FechaF" class="form-control" tabindex="1" />
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <label idioma="Nro Arqueo"></label>
                                        <input type="text" id="NroArqueo" class="form-control" tabindex="1" />
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <label idioma="Usuario"></label>
                                        <select id="Usuarios" class="form-control" style="width:100%" />
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="table-responsive" id="divtablaconsulta">
                <table class="table display  table-bordered" id="tablaconsulta">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th><span idioma="CV"></span></th>
                            <th><span idioma="Almacén"></span></th>
                            <th><span idioma="Usuario"></span></th>
                            <th><span idioma="Numero"></span></th>
                            <th><span idioma="Fecha"></span></th>

                            <th><span idioma="Efectivo"></span></th>
                            <th><span idioma="Tarjeta"></span></th>
                            <th><span idioma="Cheque"></span></th>
                            <th><span idioma="ChuequePosFecha"></span></th>
                            <th><span idioma="ConsigCliente"></span></th>
                            <th><span idioma="SaldoAnterio"></span></th>
                            <th><span idioma="Ingresos"></span></th>
                            <th><span idioma="OtrosIngresos"></span></th>
                            <th><span idioma="CajaMenor"></span></th>
                            <th><span idioma="OtrosEgresos"></span></th>
                            <th><span idioma="PorConsignar"></span></th>
                            <th><span idioma="Banco1"></span></th>
                            <th><span idioma="Planilla1"></span></th>
                            <th><span idioma="Efectivo1"></span></th>
                            <th><span idioma="Cheque1"></span></th>
                            <th><span idioma="Banco2"></span></th>
                            <th><span idioma="Planilla2"></span></th>
                            <th><span idioma="Efectivo2"></span></th>
                            <th><span idioma="Cheque2"></span></th>
                            <th><span idioma="Banco3"></span></th>
                            <th><span idioma="Planilla3"></span></th>
                            <th><span idioma="Efectivo3"></span></th>
                            <th><span idioma="Cheque3"></span></th>
                            <th><span idioma="Banco4"></span></th>
                            <th><span idioma="Planilla4"></span></th>
                            <th><span idioma="Efectivo4"></span></th>
                            <th><span idioma="Cheque4"></span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/ReporteArqueoUsuario.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>
