﻿<div class="row">
    <div class="col-xs-10 col-sm-10">
        <h3><span idioma="Ingresos Recibidos (Forma de Pagos)"></span></h3>
    </div>
    <div class="col-xs-2 col-sm-2 text-right">
        <a href="javascript:LlamarModalAyudas(3)" title="Ayuda de unifcar archivo">
            <img id="logoayuda" src="../images/Ayuda2.png" width="40px" />
        </a>
    </div>
</div>

<form>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Nuevo" onclick="Reporte(1)">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                    <button class="btn btn-glow btn-primary" type="button" tabindex="4" name="submit" id="Nuevo" onclick="Reporte(2)">
                        <i class="fa fa-file-pdf-o"></i>
                        <span idioma="Reporte PDF"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-group block form-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 id="h1" class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                        </h6>
                        <div class="panel-body">
                            <div id="tPrecio1" class="panel-collapse collapse in">
                                <div class="form-group row">
                                    <div class="col-xs-6 col-md-5">
                                        <label idioma="Almacén"></label>
                                        <select id="Almacen" class="form-control" style="width:100%"></select>
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <label idioma="Fecha Desde"></label>
                                        <input type="date" id="FechaI" class="form-control" tabindex="1" />
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <label idioma="Fecha Hasta"></label>
                                        <input type="date" id="FechaF" class="form-control" tabindex="1" />
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <label idioma="Usuario"></label>
                                        <select id="Usuarios" class="form-control" style="width:100%" />
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbable page-tabs">
                <ul class="nav nav-tabs">
                    <li id="opcion1" class="active"><a href="#consultar" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Consulta"></span></a></li>
                    <li id="opcion2"><a href="#pdf" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="PDF"></span></a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="consultar">
                        <div class="table-responsive">
                            <table class="table display " id="tablaconsulta">
                                <thead>
                                    <tr>
                                        <th><span idioma="Forma Pago"></span></th>
                                        <th><span idioma="No Pago"></span></th>
                                        <th><span idioma="Valor"></span></th>
                                        <th><span idioma="Numero Cheque/Tarjeta"></span></th>
                                        <th><span idioma="Banco"></span></th>
                                        <th><span idioma="Fecha"></span></th>
                                        <th><span idioma="Usuario"></span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade in " id="pdf">
                        <iframe id="resultadopdf" width="100%" height="700px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/ReporteFormaPago.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>
