﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Certificados por Magnitudes"></span></a></h3>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <button class="btn btn-glow btn-info" type="button" id="btnguardar1" onclick="BuscarCertificados()">F10 <span idioma="Buscar"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Certificado"></label>
                            <input name="Certificado" id="Certificado" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso"></label>
                            <input name="Ingreso" id="Ingreso" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Cliente"></label>
                            <select name="Cliente" id="Cliente" class="form-control" style="width:100%" />
                        </div>

                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Estado"></label>
                            <select name="Estado" id="Estado" class="form-control" style="width:100%">
                                <option value="NoAprobado">No Aprobados</option>
                                <option value="Todos">Todos</option>
                                <option value="Registrado">Registrados</option>
                                <option value="Revisado">Revisados</option>
                                <option value="Aprobado">Aprobados</option>
                                <option value="Anulado">Anulados</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="FechaDesde" id="FechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="FechaHasta" id="FechaHasta" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Tecnico"></label>
                            <select name="Usuario" id="Usuario" class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Magnitudes"></label>
                            <select name="Magnitud" id="Magnitud" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Equipos"></label>
                            <select name="Equipo" id="Equipo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Marca"></label>
                            <select name="Marca" id="Marca" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Modelos"></label>
                            <select name="Modelo" id="Modelo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Intervalo"></label>
                            <select name="Intervalo" id="Intervalo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Serie"></label>
                            <input name="Serie" id="Serie" class="form-control" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Generado por"></label>
                            <select name="Generado" id="Generado" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="SISTEMA">Sistema</option>
                                <option value="EXCEL">Excel</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <label idioma="Versión"></label>
                            <select name="Version" id="Version" class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" width="100%" id="TablaCertificados">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="3%">&nbsp;</th>
                                    <th width="3%" idioma="Certificado"></th>
                                    <th width="18%" idioma="Cliente"></th>
                                    <th width="3%" idioma="Ingreso"></th>
                                    <th idioma="Fecha Aprobación<br>Fec Apro. Ajuste"></th>
                                    <th width="18%" idioma="A Nombre"></th>
                                    <th width="18%" idioma="Dirección"></th>
                                    <th width="18%" idioma="Observación"></th>
                                    <th width="7%" idioma="Proxima<br>Calibración"></th>
                                    <th width="18%" idioma="Equipo"></th>
                                    <th width="7%" idioma="Estado"></th>
                                    <th width="7%" idioma="Fecha"></th>
                                    <th width="7%" idioma="Tiempo<br>Reportar"></th>
                                    <th width="7%" idioma="Tiempo<br>Certificado"></th>
                                    <th width="10%" idioma="Generado"></th>
                                    <th width="10%" idioma="Especialista"></th>
                                    <th width="15%" idioma="Impreso"></th>
                                    <th width="15%" idioma="Sticker"></th>
                                    <th width="15%" idioma="Aprobado"></th>
                                    <th width="15%" idioma="Anulado"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModalCertificado" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="FomrEdiCertificado">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Modificar Certificado"></span> <span id="rpingreso"></span></h4>
                </div>
                <input type="hidden" id="NConcepto" name="NConcepto" />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-3">
                            <label idioma="Certificado"></label>
                            <input type="text" class="form-control text-center text-XX" name="NCertificado" id="NCertificado" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Fecha"></label>
                            <input type="text" class="form-control text-center text-XX" name="NFecha" id="NFecha" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Ingreso"></label><br>
                            <input type="text" class="form-control text-center text-XX" name="NIngreso" id="NIngreso" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Cliente"></label><br>
                            <input type="text" class="form-control text-XX12" name="NCliente" id="NCliente" readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Equipo"></label><br>
                            <div id="NEquipo" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="A Nombre de"></label><br>
                            <input type="text" class="form-control" name="NNombre" id="NNombre" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Dirección"></label><br>
                            <input type="text" class="form-control" name="NDireccion" id="NDireccion" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación"></label><br>
                            <textarea type="text" class="form-control" name="NObservacion" id="NObservacion" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3 col-sm-3">
                            <label idioma="Próxima Calibración"></label><br>
                            <input type="date" class="form-control" name="NProxima" id="NProxima" />
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <label idioma="Aplicar Tiempo"></label><br>
                            <select style="width:120px" id="TiempoCali" onchange="CambioTiempoCali(this.value,'')">
                                <option value="0">--</option>
                                <option value="1">1 Años</option>
                                <option value="2">2 Años</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" type="submit"><span idioma="Guardar"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="ModalAprobarCertificado" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="FomrAprobarCertificado">
            <input type="hidden" name="NUsuarioApro" id="ANUsuarioApro" value="0" />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Aprobar o Anular Certificado"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-3">
                            <label idioma="Certificado"></label>
                            <input type="text" class="form-control text-center text-XX" name="NCertificado" id="ANCertificado" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Fecha"></label>
                            <input type="text" class="form-control text-center text-XX" name="NFecha" id="ANFecha" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Ingreso"></label><br>
                            <input type="text" class="form-control text-center text-XX" name="NIngreso" id="ANIngreso" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Cliente"></label><br>
                            <input type="text" class="form-control text-XX12" name="NCliente" id="ANCliente" readonly />
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-12">
                                    <label idioma="Equipo"></label><br>
                                    <div id="ANEquipo" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-12">
                                    <label idioma="A Nombre de"></label><br>
                                    <input type="text" class="form-control" name="NNombre" id="ANNombre" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-12">
                                    <label idioma="Dirección"></label><br>
                                    <input type="text" class="form-control" name="NDireccion" id="ANDireccion" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-12">
                                    <label idioma="Observación"></label><br>
                                    <textarea type="text" class="form-control" rows="4" name="NObservacion" id="ANObservacion" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-3 col-sm-6">
                                    <label idioma="Próxima Calibración"></label><br>
                                    <input type="date" rows="7" class="form-control" name="NProxima" id="ANProxima" />
                                </div>
                                <div class="col-xs-3 col-sm-3">
                                    <label idioma="Aplicar Tiempo"></label><br>
                                    <select style="width:100%" id="ANCambio" onchange="CambioTiempoCali(this.value,'A')">
                                        <option value="0">--</option>
                                        <option value="1">1 Años</option>
                                        <option value="2">2 Años</option>
                                    </select>
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="javascript:VerPdfCertificado()" class="text-XX">Ver <br> Certificado</a>
                                </div>
                            </div>
                            <hr />
                            <div id="NResultados" class="text-XX"></div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-12">
                                    <label idioma="Observación de la anulación"></label><br>
                                    <textarea type="text" class="form-control" rows="4" name="NObservacionAnula" id="ANObservacionAnula" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <table width="100%" class="table table-bordered hover">
                                <thead>
                                    <tr>
                                        <th colspan="2">ITEMS PARA REVISAR</th>
                                    </tr>
                                    <tr>
                                        <th width="90%">Concepto</th>
                                        <th width="10%">Aplicar</th>
                                    </tr>
                                </thead>
                                <tbody id="TBItems"></tbody>
                            </table>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-5 text-left">
                        <button class="btn btn-glow btn-info boton" type="button" id="RevisarCertificado"><span idioma="Revisar"></span></button>
                        <button class="btn btn-glow btn-primary boton" type="button" onclick="HistoricoRevision('')"><span idioma="Histórico de Revisiones"></span></button>

                    </div>
                    <div class="col-md-7 text-right">
                        <button class="btn btn-glow btn-info boton" type="submit" id="btnactualizar" onclick="TipoAprobacion(1,1)"><span idioma="Actualizar y Aprobar"></span></button>
                        <button class="btn btn-glow btn-success boton" type="submit" id="btnaprobar" onclick="TipoAprobacion(1,0)"><span idioma="Aprobar"></span></button>
                        <button class="btn btn-glow btn-danger boton" type="button" id="btnanular" onclick="AnularCertificado(0)"><span idioma="Anular"></span></button>
                        <button class="btn btn-glow btn-danger" type="button" id="btnreemplazar" onclick="AnularCertificado(1)"><span idioma="Reemplazar el Certificado"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>
<div id="ModalRevisiones" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form id="FomrEdiCertificado">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Revisiones del Certificado"></span> <span id="rpcertificado"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="table-responsive">
                            <table class="table table-bordered hover display">
                                <thead>
                                    <tr>
                                        <th width="3%">#</th>
                                        <th width="8%">Fecha</th>
                                        <th width="40%">Items</th>
                                        <th width="34%">Observación</th>
                                        <th width="15%">Usuario</th>
                                    </tr>
                                </thead>
                                <tbody id="TBRevision"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Certificados.js?unico=' + Math.round(Math.random() * 10000));
</script>




