﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Tareas Pendientes"></span></a></h3>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <button class="btn btn-glow btn-info" type="button" onclick="BuscarTareas()">F10 <span idioma="Buscar"></span></button>
                        <button class="btn btn-glow btn-success" type="button" onclick="Programar()">F2 <span idioma="Programar"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso"></label>
                            <input name="Ingreso" id="Ingreso" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Remisión"></label>
                            <input name="Remision" id="Remision" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Cotizacion"></label>
                            <input name="Cotizacion" id="Cotizacion" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label idioma="Cliente"></label>
                            <select name="Cliente" id="Cliente" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="FechaDesde" id="FechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="FechaHasta" id="FechaHasta" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Asesor Comercial"></label>
                            <select name="Asesor" id="Asesor" class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Magnitudes"></label>
                            <select name="Magnitud" id="Magnitud" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Equipos"></label>
                            <select name="Equipo" id="Equipo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Marca"></label>
                            <select name="Marca" id="Marca" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Modelos"></label>
                            <select name="Modelo" id="Modelo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Intervalo"></label>
                            <select name="Intervalo" id="Intervalo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Serie"></label>
                            <input name="Serie" id="Serie" class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Cliente<br>Habitual"></label>
                            <select id="Habitual" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso<br>Cotizado"></label>
                            <select name="Cotizado" id="Cotizado" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Cotización<br>Aprobada"></label>
                            <select name="Aprobado" id="Aprobado" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Recibido<br>Laboratorio"></label>
                            <select id="RecibidoLab" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Ingreso<br>Reportado"></label>
                            <select id="Reportado" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="1">Acto para Calibrar</option>
                                <option value="2">Requiere Ajuste o Suministro</option>
                                <option value="3">Sin posibilidad de Ajuste</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ajuste<br>Aprobado"></label>
                            <select id="Ajuste" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso<br>Certificado"></label>
                            <select id="Certificado" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Informe<br>Técnico"></label>
                            <select id="Informe" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="No<br>Autorizado"></label>
                            <select id="NoAtorizado" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso<br>Convenio"></label>
                            <select id="Convenio" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Recibido<br>Logística"></label>
                            <select id="RecibidoLog" class="form-control" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO" selected>NO</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" width="100%" id="TablaTareasPendiente" style="font-size:11px">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="3%">&nbsp;</th>
                                    <th width="3%">&nbsp;</th>
                                    <th width="3%" idioma="Ingreso"></th>
                                    <th width="10%" idioma="Plantilla"></th>
                                    <th width="3%" idioma="Equipo"></th>
                                    <th width="3%" idioma="Rango"></th>
                                    <th width="3%" idioma="Sitio<br>Garantías<br>Convenio"></th>
                                    <th width="3%" idioma="Cliente"></th>
                                    <th width="18%" idioma="Fecha Ing"></th>
                                    <th width="18%" idioma="Tiempo Laboratorio"></th>
                                    <th width="18%" idioma="Cotización"></th>
                                    <th width="3%" idioma="Fecha Apro"></th>
                                    <th width="18%" idioma="Fecha Ajuste"></th>
                                    <th width="18%" idioma="Tiempo<br>Aprobación"></th>
                                    <th width="18%" idioma="Dias"></th>
                                    <th width="18%" idioma="Fecha<br>Entrega"></th>
                                    <th width="18%" idioma="Programación"></th>
                                    <th width="18%" idioma="Recibido<br> Laboratorio"></th>
                                    <th width="7%" idioma="Reportado"></th>
                                    <th width="18%" idioma="Certificado"></th>
                                    <th width="18%" idioma="Informe<br>Técnico"></th>
                                    <th width="18%" idioma="NoAutorizado"></th>
                                    <th width="18%" idioma="Recibido<br>Ingreso"></th>
                                    <th width="3%">ID</th>
                                    <th width="3%">Cod_Plantilla</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalProgramacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Programación de Ingreso"></span> <span id="rpingreso"></span></h4>
            </div>
            <input type="hidden" id="IdPro" name="IdPro" value="0" />
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Ingresos"></label>
                        <select rows="6" multiple class="form-control" name="NINgresos" onchange="CambioIngresoPro(this.value)" id="NINgresos" style="width:100%" />
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div id="DetalleIngreso" style="font-size:10px;text-align:center;">

                        </div>
                        <div id="AlbunFotosPro" style="min-height:300px;">

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-3">
                        <label idioma="Fecha Programación"></label><br>
                        <input type="date" id="FechaPro" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <label idioma="Hora Programación"></label><br>
                        <input type="time" id="HoraPro" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Especialista Técnico"></label><br>
                        <select id="EspecialistaPro" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Observación"></label><br>
                        <textarea type="text" class="form-control" rows="4" name="ObservacionPro" id="ObservacionPro" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="ProgramarIngreso()"><span idioma="Agregar Programación"></span></button>
                <button class="btn btn-glow btn-warning" type="button" onclick="CerrarProgramacion()"><span idioma="Cerrar"></span></button>
            </div>
        </div>

    </div>
</div>

<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/TareaPendiente.js?unico=' + Math.round(Math.random() * 10000));
</script>




