﻿
<div class="row">
    <div class="col-xs-4 col-sm-1">
        <label idioma="Remisión"></label>
        <input name="CRemision" id="CRemision" class="form-control" />
    </div>
    <div class="col-xs-4 col-sm-1">
        <label idioma="Ingreso"></label>
        <input name="CIngreso" id="CIngreso" class="form-control" />
    </div>
    <div class="col-xs-4 col-sm-1">
        <label idioma="Iden_Cliente"></label>
        <input name="CIdEquipo" id="CIdEquipo" class="form-control" />
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Cliente"></label>
        <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
    </div>

    <div class="col-xs-4 col-sm-1">
        <label idioma="Estado"></label>
        <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
            <option value="0">Todos</option>
            <option value="Ingresado">Ingresados</option>
            <option value="Cerrado">Cerradas</option>
        </select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Fecha Desde"></label>
        <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Fecha Hasta"></label>
        <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Usuarios"></label>
        <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%"></select>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-2">
        <label idioma="Magnitudes"></label>
        <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Equipos"></label>
        <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Marca"></label>
        <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Modelos"></label>
        <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Intervalo"></label>
        <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Serie"></label>
        <input name="CSerie" id="CSerie" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-2">
        <label idioma="Asesor Comercial"></label>
        <select name="CAseCome" id="CAseCome" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Tecnico Reportó"></label>
        <select name="CTecRepo" id="CTecRepo" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Tecnico Certificado"></label>
        <select name="CTecCer" id="CTecCer" class="form-control" style="width:100%"></select>
    </div>
    <div class="col-xs-4 col-sm-2">
        <label idioma="Fecha Entrega"></label>
        <input type="date" name="CFechaEntrega" id="CFechaEntrega" class="form-control" />
    </div>
    <div class="col-xs-4 col-sm-1">
        <label idioma="Perfil"></label>
        <select name="CPerfil" id="CPerfil" class="form-control" style="width:100%">
            <option value="1">General</option>
            <option value="2">Logistica</option>
            <option value="3">Comercial</option>
            <option value="4">Laboraotorio</option>
            <option value="3">Financiera</option>
        </select>
    </div>
    <div class="col-xs-4 col-sm-1">
        <label idioma="Graficar"></label>
        <select name="CGraficar" id="CGraficar" class="form-control" style="width:100%">
            <option value="0">NO</option>
            <option value="1">SI</option>
        </select>
    </div>
    <div class="col-xs-4 col-sm-2 text-right">
        <br>
        <button class="btn btn-glow btn-primary" type="button" onclick="ConsularIngresos()"><span idioma="Buscar"></span></button>
        <button class="btn btn-glow btn-info" type="button" onclick="ConsularIngresos()"><span idioma="Reportar"></span></button>
    </div>
</div>
<hr />
<div class="row">

    <div class="col-md-12 text-center">
        <label style="font-size:18px;color:green;"><input type="radio" name="Operaciones" checked id="Operacion1" /> <span idioma="OPERACIONES REALIZADAS"></span></label>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <label idioma="Cotizado"></label>
        <input type="checkbox" class="form-control" id="VCotizado" />
    </div>
    <div class="col-md-1">
        <label idioma="RecibidoLAb"></label>
        <input type="checkbox" class="form-control" id="VRecibidoLAb" />
    </div>
    <div class="col-md-1">
        <label idioma="Reportado"></label>
        <input type="checkbox" class="form-control" id="VReportado" />
    </div>
    <div class="col-md-1">
        <label idioma="EnvTercero"></label>
        <input type="checkbox" class="form-control" id="VEnvTercero" />
    </div>
    <div class="col-md-1">
        <label idioma="RecTercero"></label>
        <input type="checkbox" class="form-control" id="VRecTercero" />
    </div>
    <div class="col-md-1">
        <label idioma="Certificado"></label>
        <input type="checkbox" class="form-control" id="VCertificado" />
    </div>
    <div class="col-md-1">
        <label idioma="OrdenCompra"> </label>
        <input type="checkbox" class="form-control" id="VOrdenCompra" />
    </div>
    <div class="col-md-1">
        <label idioma="RecibidoIng"></label>
        <input type="checkbox" class="form-control" id="VRecibidoIng" />
    </div>
    <div class="col-md-1">
        <label idioma="Facturado"></label>
        <input type="checkbox" class="form-control" id="VFacturado" />
    </div>
    <div class="col-md-1">
        <label idioma="Devolución"></label>
        <input type="checkbox" class="form-control" id="VDevolucion" />
    </div>
    <div class="col-md-1">
        <label idioma="Entregado"></label>
        <input type="checkbox" class="form-control" id="VEntregado" />
    </div>
    <div class="col-md-1">
        <label idioma="Encuesta"></label>
        <input type="checkbox" class="form-control" id="VEncuesta" />
    </div>
</div>
<hr />
<div class="row">

    <div class="col-md-12 text-center">
        <label style="font-size:18px; color:red"><input type="radio" name="Operaciones" id="Operacion2" /><span idioma="OPERACIONES NO REALIZADAS"></span></label>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <label idioma="Cotizado"></label>
        <input type="checkbox" class="form-control" id="VNCotizado" />
    </div>
    <div class="col-md-1">
        <label idioma="RecibidoLAb"></label>
        <input type="checkbox" class="form-control" id="VNRecibidoLAb" />
    </div>
    <div class="col-md-1">
        <label idioma="Reportado"></label>
        <input type="checkbox" class="form-control" id="VNReportado" />
    </div>
    <div class="col-md-1">
        <label idioma="EnvTercero"></label>
        <input type="checkbox" class="form-control" id="VNEnvTercero" />
    </div>
    <div class="col-md-1">
        <label idioma="RecTercero"></label>
        <input type="checkbox" class="form-control" id="VNRecTercero" />
    </div>
    <div class="col-md-1">
        <label idioma="Certificado"></label>
        <input type="checkbox" class="form-control" id="VNCertificado" />
    </div>
    <div class="col-md-1">
        <label idioma="OrdenCompra"> </label>
        <input type="checkbox" class="form-control" id="VNOrdenCompra" />
    </div>
    <div class="col-md-1">
        <label idioma="RecibidoIng"></label>
        <input type="checkbox" class="form-control" id="VNRecibidoIng" />
    </div>
    <div class="col-md-1">
        <label idioma="Facturado"></label>
        <input type="checkbox" class="form-control" id="VNFacturado" />
    </div>
    <div class="col-md-1">
        <label idioma="Devolución"></label>
        <input type="checkbox" class="form-control" id="VNDevolucion" />
    </div>
    <div class="col-md-1">
        <label idioma="Entregado"></label>
        <input type="checkbox" class="form-control" id="VNEntregado" />
    </div>
    <div class="col-md-1">
        <label idioma="Encuesta"></label>
        <input type="checkbox" class="form-control" id="VNEncuesta" />
    </div>
</div>

<hr />
<div class="form-group row">
    <div class="table-responsive">
        <table class="table display  table-bordered hover display" id="TablaIngresos" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
            <thead>
                <tr>
                    <th width="5%">&nbsp;</th>
                    <th width="3%">&nbsp;</th>
                    <th><span idioma="Ingreso"></span></th>
                    <th><span idioma="Remisión"></span><br><span idioma="Usuario"></span><br><span idioma="Fecha"></span></th>
                    <th><span idioma="Sitio"></span><br><span idioma="Garantías"></span><br><span idioma="Convenio"></span></th>
                    <th><span idioma="Accesorios"></span></th>
                    <th><span idioma="Observación"></span><br><span idioma="Ingreso"></span></th>
                    <th width="15%"><span idioma="NIT"></span><br><span idioma="Cliente"></span></th>
                    <th width="18%"><span idioma="Magnitud"></span><br><span idioma="Equipo"></span><br><span idioma="Marca"></span><br><span idioma="Modelo"></span></th>
                    <th><span idioma="Rango"></span><br><span idioma="Serie"></span></th>
                    <th><span idioma="Plantilla"></span></th>
                    <th><span idioma="Aprobación"></span><br><span idioma="Cotización"></span></th>
                    <th><span idioma="Aprobación"></span><br><span idioma="Ajuste"></span></th>
                    <th><span idioma="Tiempo"></span><br><span idioma="en Laboratorio"></span></th>
                    <th><span idioma="Tiempo"></span><br><span idioma="desde la aprobación"></span></th>
                    <th><span idioma="Días"></span><br><span idioma="desde la aprobación"></span></th>
                    <th><span idioma="Fecha"></span><br><span idioma="Entrega"></span><br><span idioma="Días Entrega"></span></th>
                    <th><span idioma="Entrega"></span><br><span idioma="Programada"></span></th>
                    <th><span idioma="Solicitud"></span></th>
                    <th><span idioma="Cotización"></span></th>
                    <th><span idioma="RecibidoLab"></span></th>
                    <th><span idioma="RecibidoCom"></span></th>
                    <th><span idioma="Operaciones"></span><br><span idioma="Previas"></span></th>
                    <th><span idioma="Reportado"></span></th>
                    <th><span idioma="InformeTec"></span></th>
                    <th><span idioma="Informe"></span><br><span idioma="Tercerizado"></span></th>
                    <th><span idioma="NO AUTORIZADO"></span></th>
                    <th><span idioma="OrdenTercerizado"></span></th>
                    <th><span idioma="Salida"></span></th>
                    <th><span idioma="RecTercero"></span></th>
                    <th><span idioma="Certificado"></span></th>
                    <th><span idioma="RecIngreso"></span></th>
                    <th><span idioma="Orden"></span><br><span idioma="Compra"></span></th>
                    <th><span idioma="Facturado"></span></th>
                    <th><span idioma="Pagado"></span></th>
                    <th><span idioma="Devolución"></span></th>
                    <th><span idioma="Entregado"></span></th>
                    <th><span idioma="Encuesta"></span></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<hr />

<div class="form-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span idioma="Grafica del Ingreso por Magnitudes"></span></h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="col-md-12">
                    <canvas id="myCharBarra"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="form-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span idioma="Grafica del Ingreso General"></span></h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="col-md-12">
                    <canvas id="myCharBarra2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="form-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span idioma="Grafica del Ingreso Mensual por Operación"></span></h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label idioma="Operación"></label>
                        <select id="TipoOperacion" class="form-control" onchange="GraficarOperacion()" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option value="cotizado">Cotizados</option>
                            <option value="recibidolab">Recibidos en Laboratorio</option>
                            <option value="salidaterce">Salida a Tercerizar</option>
                            <option value="certificado">Certificados</option>
                            <option value="informetecnico">Informes Técnicos</option>
                            <option value="noautorizado">No Autorizados</option>
                            <option value="facturado">Facturados</option>
                            <option value="recibidoing">Recibido en Ingreso</option>
                            <option value="salida">Devoluciones</option>
                            <option value="entregado">Entregados</option>
                            <option value="recibidocli">Encuestas</option>
                        </select>
                    </div>
                    <div class="col-md-4 text-center">
                        <label idioma="Todas Magnitudes"></label>
                        <input id="TodasMagnitud" class="form-control" type="checkbox" onchange="GraficarOperacion()">
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" id="CIFechaDesde" class="form-control" onchange="GraficarOperacion()" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" id="CIFechaHasta" class="form-control" onchange="GraficarOperacion()" />
                    </div>
                </div>

                <div class="col-md-12">
                    <canvas id="myCharBarra3"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalDetalle" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulodetalle"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group">
                    <div class="table-responsive" id="detallemovimiento"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalEncuestaVer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="ENCUESTA SATISFACCIÓN DEL CLIENTE DEL INGRESO Nro"></span> <span id="NECIngreso"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-md-12">
                        <table class="table display  table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th width="90%" idioma="Pregunta"></th></th>
                                    <th width="10%" idioma="Respuesta"></th>
                                </tr>
                            </thead>
                            <tbody id="TBEncuesta"></tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="Observación Adicional"></label>
                        <textarea type="text" class="form-control" rows="2" name="ObservacionRe" id="ObservacionRe" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/MovIngrerso.js?unico=' + Math.round(Math.random() * 10000));
</script>




