﻿
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ajustar Ingreso"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-info" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Nró Ingreso"></label>
                            <input type="text" class="form-control text-center text-XX" onkeypress="return NumCheck(event, this,0)" maxlength="12" pattern="[0-9]{1,12}" max="12" min="1" name="IngresoReporte" id="IngresoReporte" autofocus tabindex="0" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Remisión"></label>
                            <input type="text" class="form-control text-center text-XX" id="Remision" readonly />
                        </div>
                        <div class="col-md-4">
                            <label idioma="Especialista Recibió"></label>
                            <input type="text" class="form-control" id="Usuario" readonly />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Fecha de Recibo"></label>
                            <input type="text" class="form-control" id="FechaIng" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Tiempo Trans"></label>
                            <input type="text" class="form-control" id="Tiempo" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Magnitud"></label><br>
                            <input type="text" class="form-control" name="Magnitud" id="Magnitud" readonly />
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Equipo"></label><br>
                            <input type="text" class="form-control" name="Equipo" id="Equipo" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Rango"></label><br>
                            <input type="text" class="form-control" name="Rango" id="Rango" readonly />
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Marca"></label>
                            <input type="text" class="form-control" name="Marca" id="Marca" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Modelo"></label>
                            <input type="text" class="form-control" name="Modelo" id="Modelo" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Serie" class="label-info"></label>
                            <input type="text" class="form-control" name="Serie" id="Serie" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="Garantía"></label>
                            <input type="text" class="form-control" name="Garantia" id="Garantia" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="En Sitio"></label>
                            <input type="text" class="form-control" name="Sitio" id="Sitio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <label idioma="Accesorio"></label><br>
                            <textarea class="form-control" id="Accesorio" rows="4" name="Accesorio" readonly />
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Ingreso"></label><br>
                            <textarea class="form-control" id="Observacion" rows="3" name="Observacion" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Recepción "></label><br>
                            <textarea class="form-control" id="ObservRecep" rows="3" name="ObservRecep" readonly />
                        </div>
                    </div>
                    <hr />
                    <h3>PLANTILLA</h3>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <select class="form-control" id="Plantilla" style="width:100%"></select>
                        </div>
                    </div>
                    <hr />
                    <h3><span idioma="ESTADO DEL AJUSTE"></span></h3>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Ajuste"></label><br>
                            <textarea class="form-control" id="Ajuste" rows="2" name="Ajuste" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Suministro"></label><br>
                            <textarea class="form-control" id="Suministro" rows="2" name="Suministro" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Fecha Envio"></label>
                            <input type="text" class="form-control" name="FechaEnvio" id="FechaEnvio" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-8">
                            <label idioma="Correo Envío"></label>
                            <input type="text" class="form-control" name="CorreoEnvio" id="CorreoEnvio" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Fecha Aprobación"></label>
                            <input type="text" class="form-control" name="FechaAprobacion" id="FechaAprobacion" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <label idioma="Estado del Ajuste"></label>
                            <input type="text" class="form-control" name="EstadoAjuste" id="EstadoAjuste" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación Aprobación"></label>
                            <textarea type="text" class="form-control" name="ObservacionAprobacion" id="ObservacionAprobacion" rows="2" readonly />
                        </div>
                    </div>
                    <hr />
                    <h3><span idioma="AJUSTE DE CALIBRACION"></span></h3>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Nro Ajuste"></label><br>
                            <input type="text" class="form-control text-center text-XX" name="NroAjuste" id="NroAjuste" disabled />
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Fecha"></label><br>
                            <input type="text" class="form-control text-center text-XX" name="FechaAjuste" id="FechaAjuste" disabled />
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Usuario"></label><br>
                            <input type="text" class="form-control text-center text-XX" name="UsuarioAjuste" id="UsuarioAjuste" disabled />
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Descripción del Ajuste"></label><br>
                            <textarea type="text" rows="10" class="form-control" name="DescripcionAjuste" id="DescripcionAjuste" readonly />
                        </div>
                    </div>

                    <hr />
                    <div class="form-group row">
                        <div class="col-md-6">
                            <h3><span idioma="SUMINISTROS DEL AJUSTE"></span></h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-glow btn-success" type="button" onclick="AgregarAnexos()"><span idioma="Agregar Suministro"></span></button>
                        </div>
                        <div class="col-md-12">
                            <table class="table display  table-bordered hover">
                                <thead>
                                    <tr>
                                        <th width="3%">#</th>
                                        <th width="97%" idioma="Suministro"></th>
                                        <th width="97%" idioma="Cantidad"></th>
                                        <th width="97%" idioma="Precio"></th>
                                        <th width="97%" idioma="Subtotal"></th>
                                    </tr>
                                </thead>
                                <tbody id="TbSuministros"></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Número de Foto"></label>
                            <select class="form-control" name="NumFoto" id="NumFoto" disabled onchange="MostrarFoto(1, this.value)">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Examine Foto del Ajuste"></label>
                            <input type="file" class="form-control" name="Documento" id="Documento" accept="image/*" onchange="GuardarDocumento(1)" disabled />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <img src="" id="FotoMan" width="95%" />
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Concepto"></label><br>
                            <select type="text" class="form-control" name="Concepto" id="Concepto" onchange="CambioConcepto(this.value)" style="width:100%">
                                <option value="">--Seleccione--</option>
                                <option value="1">Apto para Calibración</option>
                                <option value="3">Sin Posibilidad de Ajuste</option>
                                <option value="4">Requiere Sub-Contratación</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Nro Informe"></label>
                            <input type="text" class="form-control" name="InformeTecnico" id="InformeTecnico" disabled />
                        </div>
                        <div class="col-sm-5 text-right">
                            <br>
                            <button class="btn btn-glow btn-success" type="button" title="Guardar Ajuste" onclick="GuardarAjuste()"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="GenerarInforme()" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme()" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                            <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme()" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                            <button class="btn btn-glow btn-default" type="button" onclick="GenerarCertificado()" title="Generar Certificado"><span class="icon-grande">Certificado</span></button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación/Informe"></label><br>
                            <textarea type="text" rows="5" class="form-control" name="Observaciones" id="Observaciones" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Conclusiones"></label><br>
                            <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion" readonly />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Número de Foto"></label>
                            <select class="form-control" name="NumFoto1" id="NumFoto1" disabled onchange="MostrarFoto(1, this.value)">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Examine Foto del Informe Técnico"></label>
                            <input type="file" class="form-control" name="Documento" id="Documento" accept="image/*" onchange="GuardarDocumento(this.id)" disabled />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <img src="" id="FotoInf" width="95%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos por ajustar"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label idioma="Cliente"></label>
                            <select id="ClienteIngreso" class="form-control" onchange="ConsularReportesIngresos()" style="width:100%"/>
                        </div>
                        <div class="col-md-4">
                            <label idioma="Ajustes Aprobadas"></label>
                            <input id="Aprobadas" type="checkbox" onchange="ConsularReportesIngresos()" checked class="form-control text-center" style="width:100%">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table display  table-bordered" id="TablaReportar">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="Nro"></th>
                                    <th width="10%" idioma="Ingreso"></th>
                                    <th width="75%" idioma="Equipo"></th>
                                    <th width="10%"><br><span idioma="Ingresado"></span><br><span idioma="Reportado"></span><br><span idioma="Aprobado"></span></th>
                                    <th width="10%"><span idioma="Aprobación"></span></th>
                                    <th width="10%"><span idioma="Tiempos"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.getScript(url_cliente + 'js/AjusteIngreso.js?unico=' + Math.round(Math.random() * 10000));
    TraducirIdioma($("#menu_idioma").val() * 1);
</script>




