﻿
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-info" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Certificados"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Tipo de Certificado"></label>
                            <select class="form-control text-XX" id="Tipo" onchange="CambioDocumento(this.value)" style="width:100%">
                                <option value="1">INTERNO</option>
                                <option value="2">SUB-CONTRATADO</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-4 hidden" id="DivDocumento">
                            <label idioma="Tipo de Documento"></label>
                            <select class="form-control text-XX" id="TipoDocumento" onchange="CambioTipoDocumento(this.value)" style="width:100%">
                                <option value="1">CERTIFICADO</option>
                                <option value="2">INFORME TECNICO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Nró Ingreso"></label>
                            <input type="text" class="form-control text-center text-XX" onkeyup="BuscarIngreso(this.value, event,'1')" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="Ingreso" autofocus tabindex="0" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Remisión"></label>
                            <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                        </div>
                        <div class="col-md-4">
                            <label idioma="Especialista del Reporte"></label>
                            <input type="text" class="form-control" id="Usuario" disabled />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Fecha Reporte"></label>
                            <input type="text" class="form-control" id="FechaIng" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Tiempo Trans"></label>
                            <input type="text" class="form-control" id="Tiempo" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Magnitud"></label><br>
                            <input type="text" class="form-control" name="Magnitud" id="Magnitud" readonly />
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Equipo"></label><br>
                            <input type="text" class="form-control" name="Equipo" id="Equipo" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Rango"></label><br>
                            <input type="text" class="form-control" name="Rango" id="Rango" readonly />
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Marca"></label>
                            <input type="text" class="form-control" name="Marca" id="Marca" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label idioma="Modelo"></label>
                            <input type="text" class="form-control" name="Modelo" id="Modelo" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <label idioma="Serie" class="label-info"></label>
                            <input type="text" class="form-control" name="Serie" id="Serie" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="Garantía"></label>
                            <input type="text" class="form-control" name="Garantia" id="Garantia" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="En Sitio"></label>
                            <input type="text" class="form-control" name="Sitio" id="Sitio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <label idioma="Accesorio"></label><br>
                            <textarea class="form-control" id="Accesorio" rows="4" name="Accesorio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Ingreso"></label><br>
                            <textarea class="form-control" id="Observacion" rows="3" name="Observacion" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Recepción "></label><br>
                            <textarea class="form-control" id="ObservRecep" rows="3" name="ObservRecep" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Servicio de Calibración"></label><br>
                            <textarea class="form-control" id="Servicio" name="Servicio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Método"></label><br>
                            <textarea class="form-control" id="Metodo" name="Metodo" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Punto de Calibración"></label><br>
                            <textarea class="form-control" id="Punto" name="Punto" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Certificación"></label><br>
                            <textarea class="form-control" id="ObservCerti" name="ObservCerti" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="A Nombre de quién la Certificacion"></label>
                            <input type="text" class="form-control" name="NombreCe" id="NombreCe" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Dirección de la Certificación"></label>
                            <input type="text" class="form-control" name="DireccionCe" id="DireccionCe" readonly />
                        </div>
                    </div>
                    <div id="registrocertificado">

                    </div>
                    <hr />
                    <h3><span id="tituloDocumento" idioma="DATOS DEL CERTIFICADO"></span></h3>
                    <hr />
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-10">
                            <label idioma="Plantilla"></label>
                            <select id="NumCertificado" name="NumCertificado" onchange="CambioCertificado(this.value)" class="form-control text-XX" style="width:100%" />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Acreditado"></label>
                            <select id="AcreCertificado" name="AcreCertificado" class="form-control text-XX inactivo"  disabled style="width:100%">
                                <option value="">--</option>
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-4">
                            <label><span idioma="Número del "></span><span class="titulo" idioma="Certificado"></span></label>
                            <input id="Certificado" name="Certificado" class="form-control text-XX" required />
                        </div>
                        
                        <div class="col-xs-12 col-sm-4">
                            <label><span idioma="Fecha del "></span><span class="titulo" idioma="Certificado"></span></label>
                            <input type="date" id="FecCertificado" name="FecCertificado" onchange="ProximaCalibracion(this.value)" class="form-control text-XX inactivo" />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Próxima Calibración"></label>
                            <input type="date" id="ProCertificado" name="ProCertificado" class="form-control text-XX inactivo" />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="A Nombre de quién la Certificacion"></label>
                            <input type="text" class="form-control inactivo" name="NombreCerti" id="NombreCerti" required />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Dirección de la Certificación"></label>
                            <input type="text" class="form-control" name="DireccionCerti inactivo" id="DireccionCerti" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 text-right">
                            <br />
                            <button class="btn btn-glow btn-success" type="button" onclick="GuardarCertificado()"><span idioma="Guardar"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerCertificado()"><span idioma="Ver "></span><span class="titulo" idioma="Certificado"></span></button>
                            <button class="btn btn-glow btn-danger" type="button" onclick="EliminarCertificado()"><span idioma="Eliminar "></span><span class="titulo" idioma="Certificado"></span></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Examinar Archivo PDF"></label>
                            <input type="file" id="Documento" name="Documento" onchange="GuardarDocumento()" accept="application/pdf" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación"></label><br>
                            <textarea type="text" rows="3" class="form-control" name="Observaciones" id="Observaciones" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Certificados por Registrar"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table display  table-bordered" id="TablaReportar">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="Nro"></th>
                                    <th width="10%" idioma="Ingreso"></th>
                                    <th width="30%" idioma="Equipo"></th>
                                    <th width="25%" idioma="Plantilla"></th>
                                    <th width="10%" idioma="Fecha"><br><span idioma="Reportado"></span></th>
                                    <th width="10%" idioma="Tiempo"><br><span idioma="Transcurrido"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Certificado.js?unico=' + Math.round(Math.random() * 10000));
</script>




