﻿<div class="row col-md-12">
    <div class="tabbable page-tabs" id="tabcotizacion">
        <ul class="nav nav-tabs">
            <li id="proli2"><a class="active" href="#tabreportes" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Ingresos Reportados en el Laboratorio"></span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active " id="tabreportes">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Cotizado"></label>
                            <select class="form-control" name="CRecepcion" id="CRCotizado" tabindex="11" style="width:100%">
                                <option value="-1">TODOS</option>
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                                <option value="2">ACTOS PARA CALIBRAR</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Aprobado"></label>
                            <select class="form-control" name="CRAprobado" id="CRAprobado" tabindex="11" style="width:100%">
                                <option value="TODOS">Todos</option>
                                <option value="APROBADO AJUSTE / SUMINISTRO">Aprobar Ajuste/Suministro</option>
                                <option value="REALIZAR CERTIFICADO ERROR">Realizar el Certificado con el Error</option>
                                <option value="GENERAR INFORME DE DEVOLUCION">Generar Infrome de Devolución</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso"></label>
                            <input name="CIngreso" id="CRIngreso" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Cliente"></label>
                            <select name="CCliente" id="CRCliente" class="form-control"  style="width:100%" />
                        </div>

                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="CFechaDesde" id="CRFechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="CFechaHasta" id="CRFechaHasta" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Usuarios"></label>
                            <select name="CUsuario" id="CRUsuario" class="form-control" style="width:100%"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Magnitudes"></label>
                            <select name="CMagnitud" id="CRMagnitud" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Equipos"></label>
                            <select name="CEquipo" id="CREquipo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Marca"></label>
                            <select name="CMarca" id="CRMarca" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Modelos"></label>
                            <select name="CModelo" id="CRModelo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Intervalo"></label>
                            <select name="CIntervalo" id="CRIntervalo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Serie"></label>
                            <input name="CSerie" id="CRSerie" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Asesor"></label>
                            <select name="CAsesor" id="CAsesor" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="NO APROBADO"></label>
                            <input type="checkbox" checked name="CNAprobado" id="CNAprobado" class="form-control">
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="ENVIADO"></label>
                            <input type="checkbox" checked name="CEnviado" id="CEnviado" class="form-control">
                        </div>
                        <div class="col-xs-4 col-sm-8 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsularReportes()"><span idioma="Buscar"></span></button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" id="TablaReportes" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                <thead>
                                    <tr>
                                        <th width="3%">&nbsp;</th>
                                        <th width="3%"><span idioma="Ingreso"></span></th>
                                        <th width="3%"><span idioma="Plantilla"></span></th>
                                        <th width="3%"><span idioma="Remisión"></span></th>
                                        <th width="3%"><span idioma="Cotizado"></span></th>
                                        <th width="15%"><span idioma="Cliente/NIT"></span></th>
                                        <th width="15%"><span idioma="Teléfonos"></span></th>
                                        <th><span idioma="Magnitud<br>Equipo"></span></th>
                                        <th><span idioma="Marca<br>Modelo"></span></th>
                                        <th><span idioma="Rango<br>Serie"></span></th>
                                        <th><span idioma="Fecha Reporte"></span></th>
                                        <th width="15%"><span idioma="Observación"></span></th>
                                        <th width="15%"><span idioma="Reporte"></span></th>
                                        <th><span idioma="Fecha Envio"></span></th>
                                        <th><span idioma="Correo Envio"></span></th>
                                        <th><span idioma="Estado"></span></th>
                                        <th><span idioma="Aprobado por"></span></th>
                                        <th><span idioma="Fecha Aprobacion"></span></th>
                                        <th width="15%"><span idioma="Observación Aporbación"></span></th>
                                        <th><span idioma="Especialista"></span></th>
                                        <th><span idioma="Tiempo<br>Transcurrido"></span></th>
                                        <th width="3%">ID</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        
</div>

<div id="modalAprobarRepor" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Aprobar Reporte"></span></h4>
            </div>
            <input class="form-control" type="hidden" id="IdReporte">
            <div class="modal-body with-padding">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-control-label" idioma="Ingreso"></label>
                        <input class="form-control" type="text" id="AIngreso" disabled>
                    </div>
                    <div class="col-md-10">
                        <label class="form-control-label" idioma="Cliente"></label>
                        <input class="form-control" type="text" id="ACliente" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Contacto"></label>
                        <input class="form-control" type="text" id="AContacto" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Dirección"></label>
                        <input class="form-control" type="text" id="ADireccion" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Ajuste"></label>
                        <textarea class="form-control" rows="3" type="text" id="AAjuste" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Suministro"></label>
                        <textarea class="form-control" rows="3" type="text" id="ASuministro" disabled />
                    </div>
                    <div class="col-md-12">
                        <label class="form-control-label">Observación</label>
                        <textarea class="form-control" rows="2" type="text" id="AObservacion" disabled />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <label idioma="Operación"></label>
                        <select class="form-control" id="OpcionAproRepor" style="width:100%">
                            <option value="1">Aprobar Ajuste/Suministro</option>
                            <option value="2">Realizar el Certificado con el Error</option>
                            <option value="3">Generar Informe de Devolución</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control-label" idioma="Fecha"></label>
                        <input class="form-control" type="date" id="FechaRepor">
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" idioma="Hora"></label>
                        <input class="form-control" type="time" id="HoraRepor">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label idioma="Usuario Aprueba/Rechaza"></label>
                        <input class="form-control" id="UsuarioRepor" />
                    </div>
                    <div class="col-md-2">
                        <label idioma="Cédula"></label>
                        <input class="form-control" id="CedulaRepor" />
                    </div>
                    <div class="col-md-4">
                        <label idioma="Cargo"></label>
                        <input class="form-control" id="CargoRepor" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" idioma="Observación de Aprobación/Rechazo"></label>
                        <textarea class="form-control" id="ObservacionRepor" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" idioma="Adjuntar PDF Correo"></label>
                        <input type="file" name="ArchivoApro" id="ArchivoApro" onchange="GuardarDocumento(this.id)" accept="application/pdf" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="GuardarAproRepo()"><span idioma="Aprobar/Reprobar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="enviar_reporte" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarreporte">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Reporte del Ingreso Número"></span> <span id="spcotizacion"></span></h4>
                </div>
                <input type="hidden" id="NroReporte" value="0" />
                <input type="hidden" id="ePlantilla" value="0" />
                <input type="hidden" id="eMagnitud" value="0" />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);

    d = new Date();
    month = d.getMonth() + 1;
    day = d.getDate();

    var Anio = $.trim(d.getFullYear());
    Anio = $.trim(Anio.substr(2, 2))
    var CorreoEmpresa;
    var Empresa;
    
    output = d.getFullYear() + '-' +
        (month < 10 ? '0' : '') + month + '-01';

    output2 = d.getFullYear() + '-' +
        (month < 10 ? '0' : '') + month + '-' +
        (day < 10 ? '0' : '') + day;

    $("#CRFechaDesde").val(output);
    $("#CRFechaHasta").val(output2);

    $("#CRMagnitud").html(CargarCombo(1, 1));
    $("#CREquipo").html(CargarCombo(2, 1));
    $("#CRMarca").html(CargarCombo(3, 1));
    $("#CRCliente").html(CargarCombo(9, 1));
    $("#CRModelo").html(CargarCombo(5, 1, "", "-1"));
    $("#CRIntervalo").html(CargarCombo(6, 1, "", "-1"));
    $("#CRUsuario, #CAsesor").html(CargarCombo(13, 1));
        
    $("#TablaReportes > tbody").on("dblclick", "tr", function (e) {
        var row = $(this).parents("td").context.cells;
        var id = row[21].innerText;
        var datos = LlamarAjax("Laboratorio/DatosReporte", "id=" + id).split("|");
        if (datos[0] == "0") {
            var data = JSON.parse(datos[1]);
            $("#AIngreso").val(data[0].ingreso);
            $("#AContacto").val(data[0].contacto);
            $("#ACliente").val(data[0].cliente);
            $("#ADireccion").val(data[0].sede);
            $("#AAjuste").val(data[0].ajuste);
            $("#ASuministro").val(data[0].suministro);
            $("#AObservacion").val(data[0].observacion);
            $("#IdReporte").val(data[0].idreporte);

            $("#OpcionAproRepor").val("1").trigger("change");
            $("#UsuarioRepor").val("");
            $("#CedulaRepor").val("");
            $("#CargoRepor").val("");
            $("#ObservacionRepor").val("");
            
            $("#modalAprobarRepor").modal("show");
        } else {
            swal("Acción Cancelada", datos[1], "warning");
        }
            

    });

    function EnvioAjuste(ingreso, reporte, principal, cliente, correocontacto, plantilla, magnitud) {
        CorreoEmpresa = principal;
        Empresa = cliente;
        $("#NroReporte").val(reporte);
        $("#spcotizacion").html(ingreso);
        $("#eCliente").val(cliente);
        $("#ePlantilla").val(plantilla);
        $("#eMagnitud").val(magnitud);
        $("#eCorreo").val(principal + (correocontacto != "" ? ";" + correocontacto : ""));
        $("#ObserEnvio").val("");
        $("#enviar_reporte").modal("show");
    }

    $("#formenviarreporte").submit(function (e) {

        e.preventDefault();
        var observacion = $.trim($("#ObserEnvio").val())
        var correo = $.trim($("#eCorreo").val());
        var ingreso = $("#spcotizacion").html();
        a_correo = correo.split(";");
        var reporte = $("#NroReporte").val() * 1;
        var plantilla = $("#ePlantilla").val();
        var magnitud = $("#eMagnitud").val()*1;
        for (var x = 0; x < a_correo.length; x++) {
            if (ValidarCorreo($.trim(a_correo[x])) == 2) {
                $("#eCorreo").focus();
                swal(ValidarTraduccion("Acción Cancelada"), ValidarTraduccion("Formato de correo inválido") + ":" + a_correo[x], "warning");
                return false;
            }
        }
        var version = 0;
        if (magnitud == 6)
            version = 7;
        if (magnitud == 2)
            version = 6;
        ActivarLoad();
        setTimeout(function () {
            var parametros = "ingreso=" + ingreso + "&reporte=" + reporte + "&principal=" + CorreoEmpresa + " &e_email=" + correo + " &cliente=" + Empresa + " &observacion=" + observacion + "&plantilla=" + plantilla + "&magnitud=" + magnitud + "&version=" + version;
            var datos;
            if (reporte == 0)
                datos = LlamarAjax("Laboratorio/EnvioCotizacion", parametros);
            else
                datos = LlamarAjax("Laboratorio/EnvioReporte", parametros);
            DesactivarLoad();
            datos = datos.split("|");
            if (datos[0] == "0") {
                swal("", ValidarTraduccion(datos[1]) + " " + datos[2], "success");
                $("#enviar_reporte").modal("hide");
            } else
                swal("Acción Cancelada", datos[1], "warning");
        }, 15);

        return false;
    });

    
    function ConsularReportes() {
        var magnitud = $("#CRMagnitud").val() * 1;
        var equipo = $("#CREquipo").val() * 1;
        var modelo = $("#CRModelo").val() * 1;
        var marca = $("#CRMarca").val() * 1;
        var intervalo = $("#CRIntervalo").val() * 1;
        var ingreso = $("#CRIngreso").val() * 1;
        var serie = $.trim($("#CRSerie").val());
        var asesor = $("#CAsesor").val() * 1;
        var noaprobado = 0;
        var enviado = 0;

        if ($("#CNAprobado").prop("checked"))
            noaprobado = 1;

        if ($("#CEnviado").prop("checked"))
            enviado = 1;

        var cotizado = $("#CRCotizado").val() * 1;

        var remision = 0;
        var estado = $("#CRAprobado").val(); 
        var cliente = $("#CRCliente").val() * 1;
        var usuario = $("#CRUsuario").val() * 1;

        var fechad = $("#CRFechaDesde").val();
        var fechah = $("#CRFechaHasta").val();

        if (fechad == "" && fechah == "") {
            swal("", ValidarTraduccion("debe de ingresar una fecha o números de días"), "error");
            return false;
        }

        ActivarLoad();
        setTimeout(function () {
            var parametros = "remision=" + remision + "&cliente=" + cliente + "&ingreso=" + ingreso +
                "&fechad=" + fechad + "&fechah=" + fechah + "&magnitud=" + magnitud + "&equipo=" + equipo + "&marca=" + marca + "&modelo=" + modelo +
                "&intervalo=" + intervalo + "&serie=" + serie + "&usuario=" + usuario + "&cotizado=" + cotizado + "&estado=" + estado + "&asesor=" + asesor + "&enviado=" + enviado + "&noaprobado=" + noaprobado;
            var datos = LlamarAjax("Cotizacion/ConsulIngReportado", parametros);
            DesactivarLoad();

            var datajson = JSON.parse(datos);
            $('#TablaReportes').DataTable({
                data: datajson,
                bProcessing: true,
                bDestroy: true,
                columns: [
                    { "data": "enviar" },
                    { "data": "ingreso" },
                    { "data": "plantilla" },
                    { "data": "remision" },
                    { "data": "cotizado" },
                    { "data": "cliente" },
                    { "data": "telefono" },
                    { "data": "equipo" },
                    { "data": "marca" },
                    { "data": "rango" },
                    { "data": "fecha" },
                    { "data": "observacion" },
                    { "data": "reporte" },
                    { "data": "fechaenvio" },
                    { "data": "correoenvio" },
                    { "data": "estado" },
                    { "data": "aprobadopor" },
                    { "data": "fecaprobacion" },
                    { "data": "observacionapro" },
                    { "data": "usuario" },
                    { "data": "tiempo" },
                    { "data": "idreporte" }
                ],

                "language": {
                    "url": LenguajeDataTable
                },
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'csv', 'copy','colvis'
                ]
            });
        }, 15);
    }

    function GuardarDocumento(id) {
        var documento = document.getElementById(id);
        if ($.trim(documento.value) != "") {

            var file = documento.files[0];
            var data = new FormData();
            data.append('documento', file);
            var resultado = '';
            var direccion = url + "Cotizacion/AdjuntarExcel";
            $.ajax({
                url: direccion,
                type: 'POST',
                contentType: false,
                data: data,
                processData: false,
                async: false,
                success: function (datos) {
                    datos = datos.split("|");
                    if (datos[0] != "0") {
                        swal(ValidarTraduccion("Error al cargar el archivo"), "", "warning");
                    } else {
                        if (datos[2] != "XX")
                            swal(ValidarTraduccion(datos[2]), "", "warning");
                    }
                }
            });
        }
    }

    function GuardarAproRepo() {

        var ingreso = $("#AIngreso").val();
        var id = $("#IdReporte").val();
        var tipo = $("#OpcionAproRepor").val();
        var observacion = $.trim($("#ObservacionRepor").val());

        var usuario = $.trim($("#UsuarioRepor").val());
        var cedula = $.trim($("#CedulaRepor").val());
        var cargo = $.trim($("#CargoRepor").val());

        var fecha = $("#FechaRepor").val();
        var hora = $("#HoraRepor").val();

        var archivo = $.trim($("#ArchivoApro").val());

       
        if (fecha == "") {
            $("#FechaRepor").focus();
            swal("Acción Cancelada", "Debe de ingresar la fecha que aprueba o reprueba el ajuste/suministro", "warning");
            return false;
        } else {
            if (fecha > output2) {
                $("#FechaRepor").focus();
                swal("Acción Cancelada", "La fecha no puede ser mayor a la fecha actual", "warning");
                return false;
            }
        }

        if (hora == "") {
            $("#HoraRepor").focus();
            swal("Acción Cancelada", "Debe de ingresar la hora que aprueba o reprueba el ajuste/suministro", "warning");
            return false;
        }
        
        if (usuario == "") {
            $("#UsuarioRepor").focus();
            swal("Acción Cancelada", "Debe de ingresar el usuario que aprueba o reprueba el ajuste/suministro", "warning");
            return false;
        }

        if (cargo == "") {
            $("#CargoRepor").focus();
            swal("Acción Cancelada", "Debe de ingresar el cargo que aprueba o reprueba el ajuste/suministro", "warning");
            return false;
        }

        if (observacion == "") {
            $("#ObservacionRepor").focus();
            swal("Acción Cancelada", "Debe de ingresar una observación", "warning");
            return false;
        }

        if (archivo == "") {
            $("#ArchivoApro").focus();
            swal("Acción Cancelada", "Debe de ingresar el archivo pdf de la aprobación del cliente", "warning");
            return false;
        }

        var datos = LlamarAjax("Laboratorio/AprobarReporte", "ingreso=" + ingreso + "&id=" + id + "&opcion=" + tipo + "&observacion=" + observacion +
            "&usuario=" + usuario + "&cargo=" + cargo + "&cedula=" + cedula + "&fecha=" + fecha + "&hora=" + hora)
        datos = datos.split("|");
        if (datos[0] == "0") {
            ConsularReportes();
            NotificacionesCotiApro();
            $("#modalAprobarRepor").modal("hide");
            swal("", datos[1], "success");
        } else {
            swal("Acción Cancelada", datos[1], "warning");
        }
    }

    $('select').select2();
    DesactivarLoad();


</script>




