﻿
<div class="row">
    <div class="col-md-8">
        <form id="FormPrevia">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Operaciones previas al Certificado (Temperatura)"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-8 text-center text-XX">
                                <label idioma="Plantilla de Calibración"></label>
                                <select class="form-control" style="width:100%" id="Plantilla" name="Plantilla" onchange="BuscarIngreso(-1,'',0)">
                                    <option value="1">TERMÓMETRO DE VIDRIO</option>
                                    <option value="2">TERMÓMETRO INFRARROJO</option>
                                </select>
                            </div>
                            <div class="col-md-4 text-center text-XX">
                                <label idioma="Revisión"></label>
                                <select class="form-control" style="width:100%" id="Revision" name="Revision" onchange="ConfigurarTablas(this.value)">
                                    <option value="1">PRIMERA</option>
                                    <option value="2">SEGUNDA</option>
                                    <option value="3">TERCERA</option>
                                    <option value="4">CUARTA</option>
                                    <option value="5">QUINTA</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Nró Ingreso"></label>
                                <input type="text" class="form-control text-center text-XX" required onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarIngreso(this.value, event,'1')" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="Ingreso" autofocus tabindex="0" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Remisión"></label>
                                <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Especialista del Reporte"></label>
                                <input type="text" class="form-control" id="Usuario" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha Recibido"></label>
                                <input type="text" class="form-control" id="FechaRec" name="fecha" readonly />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Tiempo Trans"></label>
                                <input type="text" class="form-control" id="Tiempo" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <table width="100%" class="tabcertificado" border="1">
                                <tr class="tabcertr">
                                    <th colspan="4" class="text-XX text-center bg-gris" idioma="INFORMACIÓN DE LA CALIBRACIÓN"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Solicitante"></th>
                                    <td width="50%" id="Solicitante" style="padding-left:10px;">&nbsp;</td>
                                    <th width="20%" idioma="Número de Certificado"></th>
                                    <td width="15%" class="text-XX" id="Certificado" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Dirección"></th>
                                    <td id="Direccion" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Número de Ingreso"></th>
                                    <td id="TIngreso" class="text-XX" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Recepción"></th>
                                    <td id="FechaIng" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Calibración"></th>
                                    <td id="FechaCal" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Unidad de calibración"></th>
                                    <td id="Medida" style="padding-left:20px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Expedición"></th>
                                    <td id="FechaExp" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Próxima Calibración"></th>
                                    <td colspan="3" id="Proxima">&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                            <table width="100%" class="tabcertificado" border="1">
                                <tr class="tabcertr">
                                    <th colspan="6" class="text-XX text-center bg-gris" idioma="DATOS DEL INSTRUMENTO BAJO CALIBRACIÓN (IBC)"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Instrumeto"></th>
                                    <td style="padding-left:10px;" id="Equipo">&nbsp;</td>
                                    <th idioma="Intervalo de medición"></th>
                                    <td colspan="4" class="text-XX" style="padding-left:10px;" id="RangoMedida">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Fabricante"></th>
                                    <td width="45%" style="padding-left:10px;" id="Marca">&nbsp;</td>
                                    <th width="15%" idioma="División de escala"></th>
                                    <td width="20%"><input type="text" class="form-control sinbordecon text-XX bg-amarillo" onFocus="FormatoEntrada(this, 1)" onBlur="FormatoSalida(this,1,1)" onKeyUp="ValidarTexto(this, 3)" id="Division" name="Division" required /></td>
                                    <td width="5%"></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Modelo"></th>
                                    <td id="Modelo" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Resolución"></th>
                                    <td colspan="1"><input type="text" class="form-control sinbordecon text-XX bg-amarillo" id="Resolucion" name="Resolucion" onFocus="FormatoEntrada(this, 1)" onKeyUp="ValidarTexto(this, 3)" required /></td>
                                    <td colspan="2" style="padding-left:10px;" id="MedResolucion">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Serie"></th>
                                    <td id="Serie" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Método"></th>
                                    <th colspan="2"><select class="form-control" id="Metodo" name="Metodo" style="width:100%"></select> </th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Rango de banda µm"></th>
                                    <td colspan="1"><input type="text" class="form-control sinbordecon text-XX bg-amarillo" id="RangoBanda" name="RangoBanda" required /></td>
                                    <th idioma="Emisividad"></th>
                                    <td colspan="1"><input type="text" class="form-control sinbordecon text-XX bg-amarillo" id="Emisidad" name="Emisidad" onFocus="FormatoEntrada(this, 1)" onKeyUp="ValidarTexto(this, 3)" required /></td>
                                </tr>
                            </table>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-6 text-center text-XX">
                                    <label idioma="Número de Puntos"></label>
                                    <select class="form-control" style="width:100%" id="Puntos" name="Puntos" onchange="ConfigurarTablas(this.value)">
                                        <option value="1">1 PUNTOS</option>
                                        <option value="2">2 PUNTOS</option>
                                        <option value="3">3 PUNTOS</option>
                                        <option value="4">4 PUNTOS</option>
                                        <option value="5">5 PUNTOS</option>
                                        <option value="6">6 PUNTOS</option>
                                        <option value="7">7 PUNTOS</option>
                                        <option value="8">8 PUNTOS</option>
                                        <option value="9">9 PUNTOS</option>
                                        <option value="10">10 PUNTOS</option>
                                        <option value="11">11 PUNTOS</option>
                                        <option value="12">12 PUNTOS</option>
                                        <option value="13">13 PUNTOS</option>
                                        <option value="14">14 PUNTOS</option>
                                        <option value="15">15 PUNTOS</option>
                                        <option value="16">16 PUNTOS</option>
                                        <option value="17">17 PUNTOS</option>
                                        <option value="18">18 PUNTOS</option>
                                        <option value="19">19 PUNTOS</option>
                                        <option value="20">20 PUNTOS</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <table width="100%" border="1" class="tabcertificado">
                                        <tr class="tabcertr">
                                            <th colspan="8" class="text-XX text-center bg-gris" idioma="LECTURAS A CALIBRAR"></th>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th width="20%" class="text-center bg-gris" idioma="Nro Lectura"></th>
                                            <th width="80%" class="text-center bg-gris" idioma="Temperatura"></th>
                                        </tr>
                                        <tbody id="BodyCantLecturas"></tbody>
                                    </table>
                                </div>
                            </div>

                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label>Observaciones</label>
                                    <textarea type="text" class="form-control bg-amarillo" onchange="GuardarTemporal()" id="Observacion" name="Observacion" rows="3" required />
                                </div>
                            </div>
                            <hr />
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="8" class="text-XX text-center bg-gris" idioma="SELECCIÓN DE LOS PATRÓNES A UTILIZAR EN LA CALIBRACIÓN"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="5%" class="text-center bg-gris" idioma="Título"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Instrumento"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Marca"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Grado"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Intervalo"><br><span idioma="de medición"></span></th>
                                    <th width="12%" class="text-center bg-gris" idioma="Serie"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Certificado No"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Fecha de calibración"></th>
                                </tr>
                                <tr>
                                    <td id="CTitulo1">&nbsp;</td>
                                    <td id="CInstrumento1">&nbsp;</td>
                                    <td id="CMarca1">&nbsp;</td>
                                    <td id="CGrado1">&nbsp;</td>
                                    <td id="CIntervalo1">&nbsp;</td>
                                    <td><select id="CSerie1" class="form-control" style="width:100%" onchange="CambioPatron(this.value,1)" /><input id="CId1" value="0" type="hidden" /></td>
                                    <td id="CCertificado1">&nbsp;</td>
                                    <td id="CFechaCal1">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo2">&nbsp;</td>
                                    <td id="CInstrumento2">&nbsp;</td>
                                    <td id="CMarca2">&nbsp;</td>
                                    <td id="CGrado2">&nbsp;</td>
                                    <td id="CIntervalo2">&nbsp;</td>
                                    <td><select id="CSerie2" class="form-control" style="width:100%" onchange="CambioPatron(this.value,2)" /><input id="CId2" value="0" type="hidden" /></td>
                                    <td id="CCertificado2">&nbsp;</td>
                                    <td id="CFechaCal2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo3">&nbsp;</td>
                                    <td id="CInstrumento3">&nbsp;</td>
                                    <td id="CMarca3">&nbsp;</td>
                                    <td id="CGrado3">&nbsp;</td>
                                    <td id="CIntervalo3">&nbsp;</td>
                                    <td><select id="CSerie3" class="form-control" style="width:100%" onchange="CambioPatron(this.value,3)" /><input id="CId3" value="0" type="hidden" /></td>
                                    <td id="CCertificado3">&nbsp;</td>
                                    <td id="CFechaCal3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo4">&nbsp;</td>
                                    <td id="CInstrumento4">&nbsp;</td>
                                    <td id="CMarca4">&nbsp;</td>
                                    <td id="CGrado4">&nbsp;</td>
                                    <td id="CIntervalo4">&nbsp;</td>
                                    <td><select id="CSerie4" class="form-control" style="width:100%" onchange="CambioPatron(this.value,4)" /><input id="CId4" value="0" type="hidden" /></td>
                                    <td id="CCertificado4">&nbsp;</td>
                                    <td id="CFechaCal4">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo5">&nbsp;</td>
                                    <td id="CInstrumento5">&nbsp;</td>
                                    <td id="CMarca5">&nbsp;</td>
                                    <td id="CGrado5">&nbsp;</td>
                                    <td id="CIntervalo5">&nbsp;</td>
                                    <td><select id="CSerie5" class="form-control" style="width:100%" onchange="CambioPatron(this.value,5)" /><input id="CId5" value="0" type="hidden" /></td>
                                    <td id="CCertificado5">&nbsp;</td>
                                    <td id="CFechaCal5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo6">&nbsp;</td>
                                    <td id="CInstrumento6">&nbsp;</td>
                                    <td id="CMarca6">&nbsp;</td>
                                    <td id="CGrado6">&nbsp;</td>
                                    <td id="CIntervalo6">&nbsp;</td>
                                    <td><select id="CSerie6" class="form-control" style="width:100%" onchange="CambioPatron(this.value,6)" /><input id="CId6" value="0" type="hidden" /></td>
                                    <td id="CCertificado6">&nbsp;</td>
                                    <td id="CFechaCal6">&nbsp;</td>
                                </tr>
                            </table>
                            <hr />
                            <table width="100%" class="tabcertificado" border="1">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="text-XX text-center bg-gris" idioma="CONDICIONES EXTERNAS"></th>
                                    </tr>
                                    <tr>
                                        <th width="42%" class="text-center bg-gris" idioma="DESCRIPCIÓN"></th>
                                        <th width="8%" class="text-center bg-gris" idioma="SI"></th>
                                        <th width="8%" class="text-center bg-gris" idioma="NO"></th>
                                        <th width="8%" class="text-center bg-gris" idioma="NO APLICA"></th>
                                        <th width="40%" class="text-center bg-gris" idioma="OBSERVACIONES"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycondicion"></tbody>
                            </table>
                            <hr />
                        </div>
                        <div id="registroingreso"></div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-glow btn-primary" type="button" onclick="ModalCotizacion()" title="Ver Cotizaciones"><span class="icon-grande" data-icon="&#xe003;"></span></button>
                                <button class="btn btn-glow btn-success" type="submit" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="ReportarEquipo()" title="Reportar Equipo"><span class="icon-grande" data-icon="&#xe220;"></span></button>
                                <button class="btn btn-glow btn-default" type="button" onclick="GenerarCertificado()">Generar Certificado</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos por Reportar"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label idioma="Cliente"></label>
                            <select id="ClienteIngreso" class="form-control" onchange="ConsularReportesIngresos()" style="width:100%" />
                        </div>
                        <div class="col-md-4">
                            <label idioma="Cotizaciones Aprobadas"></label>
                            <input id="Aprobadas" type="checkbox" onchange="ConsularReportesIngresos()" checked class="form-control text-center" style="width:100%">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table display  table-bordered" id="TablaReportar">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="Nro"></th>
                                    <th width="10%" idioma="Ingreso"></th>
                                    <th width="75%" idioma="Equipo"></th>
                                    <th width="10%" idioma="Fecha"><br><span idioma="Reportado"></span></th>
                                    <th width="10%" idioma="Tiempo"><br><span idioma="Transcurrido"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalcotizacion" class="modal fade" tabindex="-1" role="dialog">
    
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="DATOS DE LA COTIZACION"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Servicio de Calibración"></label><br>
                        <textarea class="form-control" id="CServicio" rows="4" name="Servicio" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Método"></label><br>
                        <textarea class="form-control" id="CMetodo" rows="4" name="Metodo" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Punto de Calibración"></label><br>
                        <textarea class="form-control" id="CPunto" rows="3" name="CPunto" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Observación de Calibración"></label><br>
                        <textarea class="form-control" id="CObservCerti" rows="3" name="CObservCerti" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Proxima Calibración"></label><br>
                        <input type="text" class="form-control" id="CProxima" name="CProxima" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Días de Entrega"></label><br>
                        <input type="text" class="form-control" id="CEntrega" name="CEntrega" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Asesor Comercial"></label><br>
                        <input type="text" class="form-control" id="CAsesorComer" name="CAsesorComer" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>





<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/OperPrevTemperatura.js?unico=' + Math.round(Math.random() * 10000));
</script>




