﻿<div class="row">
    <div class="col-md-12">
        <form id="FormPrevia" onkeypress="return pulsar(event)">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Certificado (Temperatura-Termómetro Infrarrojo)"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                            <button class="btn btn-glow btn-danger" type="button" onclick="EliminarTemporal()"><span idioma="Eliminar Temporal"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Tipo de Certificado"></label>
                                <select class="form-control text-center" onchange="CambioCertificado(this.value)" required name="NumCertificado" id="NumCertificado" tabindex="0" style="width:100%">
                                    <option idioma="PRESIÓN POSITIVA" value="1"></option>
                                    <option idioma="PRESIÓN NEGATIVA" value="2"></option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Nró Ingreso"></label>
                                <input type="text" class="form-control text-center text-XX" required onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarIngresoNo(this.value, event,'1')" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="Ingreso" autofocus tabindex="1" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Remisión"></label>
                                <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Especialista del Reporte"></label>
                                <input type="text" class="form-control" id="Usuario" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha Recibido"></label>
                                <input type="text" class="form-control" id="FechaRec" name="fecha" readonly />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Tiempo Trans"></label>
                                <input type="text" class="form-control" id="Tiempo" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <table width="80%" class="tabcertificado" align="center" border="1">
                                <tr class="tabcertr">
                                    <th colspan="7" class="text-XX text-center bg-gris" idioma="INFORMACIÓN DE LA CALIBRACIÓN"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Solicitante"></th>
                                    <td id="Solicitante" style="padding-left:10px;"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required/></td>
                                    <th colspan="2" idioma="Número de Certificado"></th>
                                    <td colspan="3" class="text-XX" id="Certificado" style="padding-left:10px;"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required style="width:150px" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Dirección"></th>
                                    <td id="Direccion" style="padding-left:10px;"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required /></td>
                                    <th colspan="2" idioma="Número de Ingreso"></th>
                                    <td colspan="3" id="TIngreso" class="text-XX" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Recepción"></th>
                                    <td colspan="6" id="FechaIng" style="padding-left:10px;"><input type="date" class="sinbordecon text-XX2 bg-amarillo" required style="width:150px" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Calibración"></th>
                                    <td id="FechaCal" style="padding-left:10px;"><input type="date" class="sinbordecon text-XX2 bg-amarillo" required style="width:150px" /></td>
                                    <th colspan="2" idioma="Fecha de Expedición"></th>
                                    <td colspan="3" id="Medida" style="padding-left:20px;"><input type="date" class="sinbordecon text-XX2 bg-amarillo" required style="width:150px" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Próxima Calibración"></th>
                                    <td id="Proxima">
                                        <input type="date" name="ProximaCali" id="ProximaCali" onchange="GuardarTemporal()" style="width:220px" class="sinbordecon text-XX bg-amarillo" />
                                        <select style="width:120px" id="TiempoCali" onchange="CambioTiempoCali(this.value)">
                                            <option value="0">--</option>
                                            <option value="1">1 Años</option>
                                            <option value="2">2 Años</option>
                                        </select>
                                    </td>
                                    <th colspan="2" idioma="Unidad de Calibración">SI</th>
                                    <td colspan="3" class="medida" style="padding-left:20px;">&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                            <table width="80%" class="tabcertificado" align="center" border="1">
                                <tr class="tabcertr">
                                    <th colspan="5" class="text-XX text-center bg-gris" idioma="DATOS DEL INSTRUMENTO BAJO CALIBRACIÓN (IBC)"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Instrumeto"></th>
                                    <td colspan="1" style="padding-left:10px;" id="Equipo"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required  /></td>
                                    <th idioma="Rango de medida"></th>
                                    <td colspan="2" class="text-XX" style="padding-left:10px;" id="RangoMedida"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required style="width:150px" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fabricante"></th>
                                    <td style="padding-left:10px;" id="Marca"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required  /></td>
                                    <th idioma="Emisividad"></th>
                                    <td colspan="2" class="text-XX" style="padding-left:10px;"><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="0.9" id="EmisividadIBC" name="EmisividadIBC" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Modelo"></th>
                                    <td id="Modelo" style="padding-left:10px;"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required  /></td>
                                    <th><span idioma="Resolución"></span> <span class="medida"></span></th>
                                    <td colspan="2" class="text-XX" style="padding-left:10px;" id="Resolucion"><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="" id="Clase" name="Clase" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Serie"></th>
                                    <td width="50%" id="Serie" style="padding-left:10px;"><input type="text" class="sinbordecon text-XX2 bg-amarillo" required  /></td>
                                    <th width="15%" idioma="Rango de banda µm"></th>
                                    <td><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="" id="Clase" name="Clase" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" style="width:150px" />&nbsp;<span class="medida"></span></td>
                                </tr>
                            </table>
                            <br />
                        </div>

                        <div class="form-group row">
                            <div class="col-md-9">
                                <table width="100%" class="tabcertificado" align="center" border="1">
                                    <tr class="tabcertr">
                                        <th colspan="5" class="text-XX text-center bg-gris" idioma="DATOS DEL PATRON"></th>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th idioma="Instrumeto"></th>
                                        <td colspan="1" style="padding-left:10px;" id="Equipo">TERMOMETRO PATRON</td>
                                        <th idioma="Rango de medida"></th>
                                        <td colspan="2" class="text-XX" style="padding-left:10px;" id="RangoMedida">&nbsp;</td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th idioma="Marca"></th>
                                        <td style="padding-left:10px;" id="Marca">FLUKE</td>
                                        <th idioma="Emisividad"></th>
                                        <td colspan="2" class="text-XX" style="padding-left:10px;" id="DivEscala"><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="" id="Clase" name="Clase" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" style="width:150px" /></td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th idioma="Modelo"></th>
                                        <td id="Modelo" style="padding-left:10px;">4181</td>
                                        <th><span idioma="Resolución"></span> <span class="medida"></span></th>
                                        <td class="text-XX" id="Resolucion"><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="" id="Clase" name="Clase" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" style="width:150px" /></td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="15%" idioma="Serie"></th>
                                        <td width="50%" id="Serie" style="padding-left:10px;">165656</td>
                                        <th width="15%" idioma="U emisividad"></th>
                                        <td><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="0.049" id="UEmisividadP" name="UEmisividadP" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularTotal(this)" onkeyup="ValidarTexto(this, 3)" style="width:150px" />&nbsp;<span class="medida"></span></td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="15%" idioma="Certificado"></th>
                                        <td width="50%" id="Serie" style="padding-left:10px;">DID-23232-222</td>
                                        <th width="15%" idioma="Uniformidad  °C"></th>
                                        <td><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="0.25" id="UniformidadP" name="UniformidadP" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" style="width:150px" />&nbsp;<span class="medida"></span></td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="15%" idioma="Fecha Calibracion"></th>
                                        <td width="50%" id="Serie" style="padding-left:10px;">2018-08-10</td>
                                        <th width="15%" idioma="Estabilidad °C"></th>
                                        <td><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="0.2" id="EstabilidadP" name="EstabilidadP" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" style="width:150px" />&nbsp;<span class="medida"></span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <table width="100%" class="tabcertificado" align="center" border="1">
                                    <tr class="tabcertr">
                                        <th class="bg-gris text-XX" colspan="2" idioma="Incertidumbre"></th>
                                        <th class="bg-gris text-XX" colspan="2" idioma="Corrección"></th>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="10%" class="text-XX" idioma="m"></th>
                                        <td width="40%" class="text-XX text-right" style="padding-left:10px;" id="InsertidumbreMP">0.001508539</td>
                                        <th width="10%" class="text-XX" idioma="m"></th>
                                        <td width="40%" class="text-XX text-right" style="padding-left:10px;" id="CoreccionMP">6.60694E-05</td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th class="text-XX" idioma="b"></th>
                                        <td class="text-XX text-right" style="padding-left:10px;" id="InsertidumbreBP">
                                            -0.061523656
                                        </td>
                                        <th class="text-XX" idioma="b"></th>
                                        <td class="text-XX text-right" style="padding-left:10px;" id="CoreccionBP">
                                            -0.011658455
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-9">
                                <table width="100%" class="tabcertificado" align="center" border="1">
                                    <tr class="tabcertr">
                                        <th colspan="5" class="text-XX text-center bg-gris" idioma="DATOS DE LA FUENTE"></th>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th idioma="Instrumeto"></th>
                                        <td colspan="1" style="padding-left:10px;" id="Equipo">CUERPO OSCURO</td>
                                        <th idioma="Rango de medida"></th>
                                        <td colspan="2" class="text-XX" style="padding-left:10px;" id="RangoMedida">&nbsp;</td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th idioma="Marca"></th>
                                        <td style="padding-left:10px;" id="Marca">FLUKE</td>
                                        <th idioma="Emisividad"></th>
                                        <td colspan="2" class="text-XX" style="padding-left:10px;" id="DivEscala">9.5</td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th idioma="Modelo"></th>
                                        <td id="Modelo" style="padding-left:10px;">&nbsp;</td>
                                        <th><span idioma="Resolución"></span> <span class="medida"></span></th>
                                        <td colspan="2" class="text-XX" style="padding-left:10px;" id="Resolucion">0.01</td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="15%" idioma="Serie"></th>
                                        <td width="50%" id="Serie" style="padding-left:10px;">WEW-2222222</td>
                                        <th width="15%" idioma="U emisividad"></th>
                                        <td>0.95</td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="15%" idioma="Certificado"></th>
                                        <td width="50%" id="Serie" style="padding-left:10px;">WQWQW-QWQWQWQ</td>
                                        <th width="15%" idioma="Fecha Calibracion"></th>
                                        <td>2019-01-01</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <table width="100%" class="tabcertificado" align="center" border="1">
                                    <tr class="tabcertr">
                                        <th class="bg-gris text-XX" colspan="2" idioma="Incertidumbre"></th>
                                        <th class="bg-gris text-XX" colspan="2" idioma="Corrección"></th>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="10%" class="text-XX" idioma="m"></th>
                                        <td width="40%" class="text-XX text-right" style="padding-left:10px;" id="InsertidumbreMF">
                                            0.001364572
                                        </td>
                                        <th width="10%" class="text-XX" idioma="m"></th>
                                        <td width="40%" class="text-XX text-right" style="padding-left:10px;" id="CoreccionMF">
                                            5.79367E-05
                                        </td>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th class="text-XX" idioma="b"></th>
                                        <td class="text-XX text-right" style="padding-left:10px;" id="InsertidumbreBF">
                                            0.074596515
                                        </td>
                                        <th class="text-XX" idioma="b"></th>
                                        <td class="text-XX text-right" style="padding-left:10px;" id="CoreccionBF">
                                            -0.013531005
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <hr />

                        <table width="100%" align="center" border="1" class="tabcertificado">
                            <tr class="tabcertr">
                                <th class="text-center bg-gris" style="font-size:28px"><a data-toggle="collapse" href="#collapse2"><span idioma="SB"></span></a></th>
                            </tr>
                        </table>

                        <br />

                        <div id="collapse2" class="panel-collapse collapse in">

                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th width="10%" class="bg-gris text-XX14" idioma="r mm"></th>
                                    <td width="9%"><input type="text" name="SBRadio1" id="SBRadio1" value="80" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio2" id="SBRadio2" value="55.54" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio3" id="SBRadio3" value="50.57" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio4" id="SBRadio4" value="42.905" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio5" id="SBRadio5" value="33.175" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio6" id="SBRadio6" value="25.515" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio7" id="SBRadio7" value="20.405" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio8" id="SBRadio8" value="15.825" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio9" id="SBRadio9" value="12.865" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBRadio10" id="SBRadio10" value="0" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="bg-gris text-XX14" idioma="T"></th>
                                    <td width="9%"><input type="text" name="SBLectura1" id="SBLectura1" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura2" id="SBLectura2" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura3" id="SBLectura3" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura4" id="SBLectura4" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura5" id="SBLectura5" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura6" id="SBLectura6" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura7" id="SBLectura7" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura8" id="SBLectura8" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura9" id="SBLectura9" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                    <td width="9%"><input type="text" name="SBLectura10" id="SBLectura10" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-amarillo text-XX14" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="bg-gris text-XX14" idioma="Sr"></th>
                                    <td width="9%"><input type="text" name="SBSr1" id="SBSr1" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr2" id="SBSr2" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr3" id="SBSr3" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr4" id="SBSr4" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr5" id="SBSr5" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr6" id="SBSr6" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr7" id="SBSr7" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr8" id="SBSr8" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr9" id="SBSr9" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSr10" id="SBSr10" readonly class="form-control sinbordecon text-right" /></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="bg-gris text-XX14" idioma="Sigma %"></th>
                                    <td width="9%"><input type="text" name="SBSigma1" id="SBSigma1" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma2" id="SBSigma2" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma3" id="SBSigma3" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma4" id="SBSigma4" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma5" id="SBSigma5" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma6" id="SBSigma6" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma7" id="SBSigma7" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma8" id="SBSigma8" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma9" id="SBSigma9" readonly class="form-control sinbordecon text-right" /></td>
                                    <td width="9%"><input type="text" name="SBSigma10" id="SBSigma10" readonly class="form-control sinbordecon text-right" /></td>
                                </tr>
                            </table>

                            <br />

                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th width="10%" class="bg-gris text-XX14" idioma="f prueba"></th>
                                    <td width="9%"><input type="text" name="SBFPrueba11" id="SBFPrueba11" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba12" id="SBFPrueba12" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba13" id="SBFPrueba13" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba14" id="SBFPrueba14" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba15" id="SBFPrueba15" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba16" id="SBFPrueba16" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba17" id="SBFPrueba17" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba18" id="SBFPrueba18" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba19" id="SBFPrueba19" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba110" id="SBFPrueba110" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                </tr>
                            </table>

                            <br />

                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th width="10%" class="bg-gris text-XX14">&nbsp;</th>
                                    <td width="9%"><input type="text" name="SBFPrueba21" id="SBFPrueba21" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba22" id="SBFPrueba22" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba23" id="SBFPrueba23" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba24" id="SBFPrueba24" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba25" id="SBFPrueba25" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba26" id="SBFPrueba26" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba27" id="SBFPrueba27" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba28" id="SBFPrueba28" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba29" id="SBFPrueba29" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                    <td width="9%"><input type="text" name="SBFPrueba210" id="SBFPrueba210" readonly class="form-control sinbordecon text-right bg-gris" /></td>
                                </tr>
                            </table>

                            <hr />

                            <div class="row">
                                <div class="col-md-2">
                                    <table width="100%" align="center" border="1" class="tabcertificado">
                                        <tr class="tabcertr">
                                            <th width="20%" class="bg-gris text-XX14">Δλ</th>
                                            <td width="80%"><input type="text" name="SBDato1" id="SBDato1" value="6" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">λ0</th>
                                            <td><input type="text" name="SBDato2" id="SBDato2" value="11" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">A</th>
                                            <td><input type="text" name="SBDato3" id="SBDato3" value="9.36363636363636" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">B</th>
                                            <td><input type="text" name="SBDato4" id="SBDato4" value="178.363636363636" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">C</th>
                                            <td><input type="text" name="SBDato5" id="SBDato5" value="1" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">Eins</th>
                                            <td><input type="text" name="SBDato6" id="SBDato6" value="0.95" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">ebb</th>
                                            <td><input type="text" name="SBDato7" id="SBDato7" value="0.95" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">C2</th>
                                            <td><input type="text" name="SBDato8" id="SBDato8" value="14388" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <table width="100%" align="center" border="1" class="tabcertificado">
                                        <tr class="tabcertr">
                                            <th width="20%" class="bg-gris text-XX14">&nbsp;</th>
                                            <td width="80%"><input type="text" name="SBAdiDato1" id="SBAdiDato1" value="8" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th width="20%" class="bg-gris text-XX14">&nbsp;</th>
                                            <td width="80%"><input type="text" name="SBAdiDato2" id="SBAdiDato2" value="0.033333333" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">&nbsp;</th>
                                            <td><input type="text" name="SBAdiDato3" id="SBAdiDato3" value="6.591360569" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">&nbsp;</th>
                                            <td><input type="text" name="SBAdiDato4" id="SBAdiDato4" value="0.121722127" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">&nbsp;</th>
                                            <td><input type="text" name="SBAdiDato5" id="SBAdiDato5" value="" disabled class="form-control sinbordecon text-XX14 text-right" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">&nbsp;</th>
                                            <td><input type="text" name="SBAdiDato6" id="SBAdiDato6" value="900" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalularPruebla(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-8">
                                    <canvas id="myCharBarraSB"></canvas>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <table width="100%" align="center" border="1" class="tabcertificado">
                            <tr class="tabcertr">
                                <th class="text-center bg-gris" style="font-size:28px"><a data-toggle="collapse" href="#collapse3"><span idioma="Sakuma-Hattoria"></span></a></th>
                            </tr>
                        </table>

                        <br />

                        <div id="collapse3" class="panel-collapse collapse in">
                            <div class="row">
                                <div class="col-md-3">
                                    <table width="100%" align="center" border="1" class="tabcertificado">
                                        <tr class="tabcertr">
                                            <th width="50%" class="bg-gris text-XX14">Li (micro m)</th>
                                            <td width="60%"><input type="text" name="SHDato1" id="SHDato1" value="8" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">L0</th>
                                            <td><input type="text" name="SHDato2" id="SHDato2" value="11" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">DL</th>
                                            <td><input type="text" name="SHDato3" id="SHDato3" value="6" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">c2</th>
                                            <td><input type="text" name="SHDato4" id="SHDato4" value="14387.752" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">A</th>
                                            <td><input type="text" name="SHDato5" id="SHDato5" value="0" readonly onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">B</th>
                                            <td><input type="text" name="SHDato6" id="SHDato6" value="0" readonly onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">C</th>
                                            <td><input type="text" name="SHDato7" id="SHDato7" value="1" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table width="100%" align="center" border="1" class="tabcertificado">
                                        <tr class="tabcertr">
                                            <th width="50%" class="bg-gris text-XX14">Ls (micro)</th>
                                            <td width="60%"><input type="text" name="SHAdiDato1" id="SHAdiDato1" value="14" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th width="20%" class="bg-gris text-XX14">microm</th>
                                            <td width="80%"><input type="text" name="SHAdiDato2" id="SHAdiDato2" value="" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">microm</th>
                                            <td><input type="text" name="SHAdiDato3" id="SHAdiDato3" value="" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <th class="bg-gris text-XX14">micromK</th>
                                            <td><input type="text" name="SHAdiDato4" id="SHAdiDato4" value="" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table width="100%" align="center" border="1" class="tabcertificado">
                                        <tr class="tabcertr">
                                            <th colspan="2" class="bg-gris text-XX14">Deriva</th>
                                        </tr>
                                        <tr class="tabcertr">
                                            <td width="50%"><input type="text" name="DeriPDato1" id="DeriPDato1" value="35" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                            <td width="50%"><input type="text" name="DeriVDato1" id="DeriVDato1" value="0.001" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <td width="50%"><input type="text" name="DeriPDato2" id="DeriPDato2" value="100" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                            <td width="50%"><input type="text" name="DeriVDato2" id="DeriVDato2" value="0.003" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <td width="50%"><input type="text" name="DeriPDato3" id="DeriPDato3" value="200" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                            <td width="50%"><input type="text" name="DeriVDato3" id="DeriVDato3" value="0.004" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <td width="50%"><input type="text" name="DeriPDato4" id="DeriPDato4" value="350" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                            <td width="50%"><input type="text" name="DeriVDato4" id="DeriVDato4" value="0.001" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>
                                        <tr class="tabcertr">
                                            <td width="50%"><input type="text" name="DeriPDato5" id="DeriPDato5" value="500" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                            <td width="50%"><input type="text" name="DeriVDato5" id="DeriVDato5" value="0.004" required onfocus="FormatoEntrada(this, 1)" onchange="GuardarTemporal()" onkeyup="CalcularSakuma(this)" class="form-control sinbordecon text-right bg-celeste text-XX14" /></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <hr />
                            <div id="TabSakHatt">

                            </div>
                        </div>


                        <hr />

                        <table width="100%" align="center" border="1" class="tabcertificado">
                            <tr class="tabcertr">
                                <th class="text-center bg-gris" style="font-size:28px" idioma="TOMA DE DATOS"></th>
                            </tr>
                        </table>
                        <br />
                        <div class="col-md-4 text-center text-XX">
                            <center>
                                <label idioma="Hora de Inicio de la Calibración"></label>
                                <input type="text" class="form-control text-XX bg-warning text-center" id="CaHoraIni" readonly value="" style="width:200px">
                            </center>
                            <br />
                        </div>
                        <div class="col-md-4 text-center text-XX">
                            <center>
                                <label idioma="Hora Final de la Calibración"></label>
                                <input type="text" class="form-control text-XX bg-warning text-center" id="CaHoraFin" readonly value="0" style="width:200px">
                            </center>
                            <br />
                        </div>
                        <div class="col-md-4 text-center text-XX">
                            <center>
                                <label idioma="Tiempo Transcurrido"></label>
                                <input type="text" class="form-control text-XX bg-warning text-center" id="CaTiempo" readonly value="0" style="width:200px">
                            </center>
                            <br />
                        </div>
                        <hr />

                        <div id="DatosCalibracion">

                        </div>

                        <hr />
                        <div id="CertificadoAnulado" class="text-XX text-danger">

                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-glow btn-info" type="button" onclick="ModalCotizacion()"><span idioma="Ver Cotización"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="ReCalcular()"><span idioma="Re-Calcular"></span></button>
                                <button class="btn btn-glow btn-primary" type="submit"><span idioma="Guardar Certificado"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="ImprimirPrevia()"><span idioma="Vista Previa"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="LlamarGenerarCertificado()"><span idioma="Generar Certificado"></span></button>
                                <button class="btn btn-glow btn-primary " type="button" onclick="ImprimirCertificado()">F11 <span idioma="Imprimir Certificado"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="VerCondiciones()"><span idioma="Condiciones Ambientales"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="HistorialCertificado()">F11 <span idioma="Historial de Certificado"></span></button>
                            </div>
                        </div>
                        <div id="FirmarCertificadoPT" class="hidden">
                            <div class="row">
                                <div class="col-md-12">
                                    <center>
                                        <label class="control-label" idioma="Firma del Especialista"></label><br>
                                        <canvas id="padfirmar" width="540px" height="160px" style="background-color:darkgray;"></canvas>
                                    </center>
                                </div>
                            </div>

                            <div class="row text-center">
                                <button class="btn btn-glow btn-warning" type="button" onclick="$('#FirmarCertificadoPT').addClass('hidden'); clearCanvas(canvas,ctx);"><span idioma="Cerrar"></span></button>
                                <button type="button" class="btn btn-glow btn-danger" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
                                    Borra Firma
                                </button>
                                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="GenerarCertificado()"><span idioma="Generar Certificado"></span></button>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Condiciones Ambientales"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="3" class="text-center bg-gris" idioma="Condiciones ambientales máximas"></th>
                                    <th colspan="3" class="text-center bg-gris" idioma="Condiciones ambientales mínimas"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="TEMPERATURA"></th>
                                    <th width="15%" class="text-center " id="TempMax">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">°C</th>
                                    <th width="25%" class="bg-gris" idioma="TEMPERATURA"></th>
                                    <th width="15%" class="text-center " id="TempMin">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">°C</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="bg-gris" idioma="HUMEDAD"></th>
                                    <th class="text-center " id="HumeMax">&nbsp;</th>
                                    <th class="text-center bg-gris">%HR</th>
                                    <th class="bg-gris" idioma="HUMEDAD"></th>
                                    <th class="text-center " id="HumeMin">&nbsp;</th>
                                    <th class="text-center bg-gris">%HR</th>
                                </tr>
                            </table>
                            <hr />
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="4" class="text-center bg-gris" idioma="Correcciones Condiciones ambientales"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="Temp máx"></th>
                                    <th width="25%"><input type="text" name="CoTempMax" id="CoTempMax" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th width="25%" class="bg-gris" idioma="Temp min"></th>
                                    <th width="25%"><input type="text" name="CoTempMin" id="CoTempMin" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="Hum rel máx"></th>
                                    <th width="25%"><input type="text" name="CoHumeMax" id="CoHumeMax" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th width="25%" class="bg-gris" idioma="Hum rel min"></th>
                                    <th width="25%"><input type="text" name="CoHumeMin" id="CoHumeMin" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                </tr>
                            </table>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="file" class="form-control" id="documento" accept=".csv" onchange="GuardarDocumento()" />

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <select class="form-control" id="medidor" style="width:100%">
                                        <option  value="https://www.webstorage-service.com/data/viewcur.html?bsn=429A00BF&rsn=42BC0141">PT</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button class="btn btn-glow btn-success" onclick="CargarTemperatura()" type="button"><span idioma="CARGAR ARCHIVO DE TEMPERATURA"></span></button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-glow btn-primary" onclick="AbrirGrafica()" type="button"><span idioma="Abrir Gráfica del Instrumento"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <thead>
                                    <tr class="tabcertr">
                                        <th colspan="8" class="text-center bg-gris" idioma="Datos del certificado termohigrometro"></th>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="12%" class="bg-gris text-center" idioma="Patrón"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Instrumento"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Corrección"></th>
                                        <th width="12%" class="bg-gris text-center">U</th>
                                        <th width="13%" class="bg-gris text-center" idioma="Patrón"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Instrumento"></th>
                                        <th width="12%" class="bg-gris text-center" idioma="Corrección"></th>
                                        <th width="12%" class="bg-gris text-center">U</th>
                                    </tr>
                                </thead>
                                <tbody id="TBTemperatura"></tbody>
                                <tr class="tabcertr">
                                    <th colspan="8" idioma="Mínimo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Temperatura"></th>
                                    <th class="text-center" id="MinTemp1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinTemp1">&nbsp;</th>
                                    <th class="text-center" id="MinTemp2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinTemp2">&nbsp;</th>
                                    <th class="text-center" id="MinTemp3">&nbsp;</th>
                                    <th class="text-center">Temp (°C)</th>
                                    <th class="text-center" id="ForMinTemp3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Humedad"></th>
                                    <th class="text-center" id="MinHume1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinHume1">&nbsp;</th>
                                    <th class="text-center" id="MinHume2">&nbsp;</th>
                                    <th class="text-center style=" background-color:moccasin"" id="ForMinHume2">&nbsp;</th>
                                    <th class="text-center" id="MinHume3">&nbsp;</th>
                                    <th class="text-center">Hum (%HR)</th>
                                    <th class="text-center" id="ForMinHume3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th colspan="8" idioma="Máximo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Temperatura"></th>
                                    <th class="text-center" id="MaxTemp1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxTemp1">&nbsp;</th>
                                    <th class="text-center" id="MaxTemp2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxTemp2">&nbsp;</th>
                                    <th class="text-center" id="MaxTemp3">&nbsp;</th>
                                    <th class="text-center">Temp (°C)</th>
                                    <th class="text-center" id="ForMaxTemp3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Humedad"></th>
                                    <th class="text-center" id="MaxHume1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxHume1">&nbsp;</th>
                                    <th class="text-center" id="MaxHume2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxHume2">&nbsp;</th>
                                    <th class="text-center" id="MaxHume3">&nbsp;</th>
                                    <th class="text-center">Hum (%HR)</th>
                                    <th class="text-center" id="ForMaxHume3">&nbsp;</th>
                                </tr>

                            </table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="GraTemperatura"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="GraHumedad"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse"><span id="TituloLinea1" idioma="Corrección de la medición en (psi) vs Lectura en (psi)"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-9">
                        <canvas id="myChart1"></canvas>
                    </div>
                    <div class="col-md-3">
                        <h3><span idioma="DATOS DE LA GRÁFICA"></span></h3>
                        <table width="100%" align="center" border="1" class="tabcertificado" style="font-size:11px;">
                            <tbody id="TBGrafica1"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="TituloLinea2" idioma="Corrección ± Incertidumbre (psi) vs Valor Nominal (psi)"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-9">
                        <canvas id="myCharDesviacion"></canvas>
                    </div>
                    <div class="col-md-3">
                        <h3><span idioma="DATOS DE LA GRÁFICA"></span></h3>
                        <table width="100%" align="center" border="1" class="tabcertificado" style="font-size:11px;">
                            <tbody id="TBGrafica2"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma=""></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <canvas id="myCharBarra"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalcotizacion" class="modal fade" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="DATOS DE LA COTIZACION"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Servicio de Calibración"></label><br>
                        <textarea class="form-control" id="CServicio" rows="4" name="Servicio" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Método"></label><br>
                        <textarea class="form-control" id="CMetodo" rows="4" name="Metodo" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Punto de Calibración"></label><br>
                        <textarea class="form-control" id="CPunto" rows="3" name="CPunto" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Observación de Calibración"></label><br>
                        <textarea class="form-control" id="CObservCerti" rows="3" name="CObservCerti" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Proxima Calibración"></label><br>
                        <input type="text" class="form-control" id="CProxima" name="CProxima" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Días de Entrega"></label><br>
                        <input type="text" class="form-control" id="CEntrega" name="CEntrega" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Asesor Comercial"></label><br>
                        <input type="text" class="form-control" id="CAsesorComer" name="CAsesorComer" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/PlaCertTempIF.js?unico=' + Math.round(Math.random() * 10000));
</script>




