﻿
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Reportar Ingreso"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-info" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                        <button class="btn btn-glow btn-danger" type="button" onclick="HistorialReporteElimando()"><span idioma="Historial de Reportes Eliminados"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Nró Ingreso"></label>
                            <input type="text" class="form-control text-center text-XX" onkeypress="return NumCheck(event, this,0)" maxlength="12" pattern="[0-9]{1,12}" max="12" min="1" name="IngresoReporte" id="IngresoReporte" autofocus tabindex="0" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Remisión"></label>
                            <input type="text" class="form-control text-center text-XX" id="Remision" readonly />
                        </div>
                        <div class="col-md-4">
                            <label idioma="Especialista Recibió"></label>
                            <input type="text" class="form-control" id="Usuario" readonly />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Fecha de Recibo"></label>
                            <input type="text" class="form-control" id="FechaIng" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Tiempo Trans"></label>
                            <input type="text" class="form-control" id="Tiempo" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Magnitud"></label><br>
                            <input type="text" class="form-control" name="Magnitud" id="Magnitud" readonly />
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Equipo"></label><br>
                            <input type="text" class="form-control" name="Equipo" id="Equipo" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Rango"></label><br>
                            <input type="text" class="form-control" name="Rango" id="Rango" readonly />
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Marca"></label>
                            <input type="text" class="form-control" name="Marca" id="Marca" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Modelo"></label>
                            <input type="text" class="form-control" name="Modelo" id="Modelo" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Serie" class="label-info"></label>
                            <input type="text" class="form-control" name="Serie" id="Serie" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="Garantía"></label>
                            <input type="text" class="form-control" name="Garantia" id="Garantia" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="En Sitio"></label>
                            <input type="text" class="form-control" name="Sitio" id="Sitio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <label idioma="Accesorio"></label><br>
                            <textarea class="form-control" id="Accesorio" rows="4" name="Accesorio" readonly />
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Ingreso"></label><br>
                            <textarea class="form-control" id="Observacion" rows="3" name="Observacion" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Recepción "></label><br>
                            <textarea class="form-control" id="ObservRecep" rows="3" name="ObservRecep" readonly />
                        </div>
                    </div>
                    <h3><span idioma="Datos de la Cotización"></span></h3>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Servicio de Calibración"></label><br>
                            <textarea class="form-control" id="Servicio" rows="4" name="Servicio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Método"></label><br>
                            <textarea class="form-control" id="Metodo" rows="4" name="Metodo" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Punto de Calibración"></label><br>
                            <textarea class="form-control" id="Punto" rows="3" name="Punto" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Calibración"></label><br>
                            <textarea class="form-control" id="ObservCerti" rows="3" name="ObservCerti" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Proxima Calibración"></label><br>
                            <input type="text" class="form-control" id="Proxima" rows="2" name="Proxima" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Días de Entrega"></label><br>
                            <textarea type="text" class="form-control" id="Entrega" rows="2" name="Entrega" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Asesor Comercial"></label><br>
                            <textarea type="text" class="form-control" id="AsesorComer" rows="2" name="AsesorComer" readonly />
                        </div>
                    </div>

                    <hr />
                    <h3><span idioma="REPORTE DE AJUSTE DE CALIBRACION"></span></h3>
                    <hr />
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Plantilla</label>
                            <select type="text" class="form-control" name="Plantilla" id="Plantilla" style="width:100%" />
                        </div>
                    </div>
                    <hr />
                    <div class="tabbable page-tabs" id="tabreportaringreso">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Reporte1" onclick="javascript:NroReporte = 1;" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 1"></span></a></li>
                            <li><a href="#Reporte2" data-toggle="tab" onclick="javascript:NroReporte = 2;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 2"></span></a></li>
                            <li><a href="#Reporte3" data-toggle="tab" onclick="javascript:NroReporte = 3;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 3"></span></a></li>
                            <li><a href="#Reporte4" data-toggle="tab" onclick="javascript:NroReporte = 4;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 4"></span></a></li>
                            <li><a href="#Reporte5" data-toggle="tab" onclick="javascript:NroReporte = 5;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 5"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="Reporte1">
                                <input type="hidden" id="IdReporte1" value="0" />
                                <div id="registroingreso1"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label><br>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto1" onchange="CambioConcepto(this.value,1)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="8">Requiere Ajuste</option>
                                            <option value="7">Requiere Suministro</option>
                                            <option value="2">Requiere Ajuste y Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme1" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="GenerarInforme(1)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(1)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(1)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(1)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        <button class="btn btn-glow btn-default" type="button" onclick="EliminarReporte(1)" title="Eliminar Reporte"><span class="icon-grande" data-icon="&#xe0d8;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste1" readonly />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro1" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observaciones" id="Observaciones1" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion1" readonly />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto1" id="NumFoto1" disabled onchange="MostrarFoto(1, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento1" id="Documento1" accept="image/*" onchange="GuardarDocumentoAdjunto(this.id,4,'')" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan1" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte2">
                                <input type="hidden" id="IdReporte2" value="0" />
                                <div id="registroingreso2"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto2" onchange="CambioConcepto(this.value,2)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="8">Requiere Ajuste</option>
                                            <option value="7">Requiere Suministro</option>
                                            <option value="2">Requiere Ajuste y Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme2" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="GenerarInforme(2)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(2)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(2)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(2)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        <button class="btn btn-glow btn-default" type="button" onclick="EliminarReporte(2)" title="Eliminar Reporte"><span class="icon-grande" data-icon="&#xe0d8;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste2" readonly />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro2" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observaciones" id="Observaciones2" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion2" readonly />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto1" id="NumFoto2" disabled onchange="MostrarFoto(2, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento2" id="Documento2" accept="image/*" onchange="GuardarDocumentoAdjunto(this.id,4,'')" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan2" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte3">
                                <input type="hidden" id="IdReporte3" value="0" />
                                <div id="registroingreso3"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto3" onchange="CambioConcepto(this.value,3)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="8">Requiere Ajuste</option>
                                            <option value="7">Requiere Suministro</option>
                                            <option value="2">Requiere Ajuste y Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme3" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="GenerarInforme(3)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(3)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(3)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(3)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        <button class="btn btn-glow btn-default" type="button" onclick="EliminarReporte(3)" title="Eliminar Reporte"><span class="icon-grande" data-icon="&#xe0d8;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste3" readonly />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro3" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observaciones" id="Observaciones3" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion3" readonly />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto3" id="NumFoto3" disabled onchange="MostrarFoto(3, this.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento3" id="Documento3" accept="image/*" onchange="GuardarDocumentoAdjunto(this.id,4,'')" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan3" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte4">
                                <input type="hidden" id="IdReporte4" value="0" />
                                <div id="registroingreso4"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto4" onchange="CambioConcepto(this.value,4)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="8">Requiere Ajuste</option>
                                            <option value="7">Requiere Suministro</option>
                                            <option value="2">Requiere Ajuste y Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme4" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="GenerarInforme(4)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(4)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(4)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(4)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        <button class="btn btn-glow btn-default" type="button" onclick="EliminarReporte(4)" title="Eliminar Reporte"><span class="icon-grande" data-icon="&#xe0d8;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste4" readonly />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro4" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observaciones" id="Observaciones4" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion4" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto3" id="NumFoto4" onchange="MostrarFoto(4, this.value)" disabled>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento4" id="Documento4" accept="image/*" onchange="GuardarDocumentoAdjunto(this.id,4,'')" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan4" width="95%" />
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade in" id="Reporte5">
                                <input type="hidden" id="IdReporte5" value="0" />
                                <div id="registroingreso5"></div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-5">
                                        <label idioma="Concepto"></label>
                                        <select type="text" class="form-control" name="Concepto" id="Concepto5" onchange="CambioConcepto(this.value,5)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Apto para Calibración</option>
                                            <option value="8">Requiere Ajuste</option>
                                            <option value="7">Requiere Suministro</option>
                                            <option value="2">Requiere Ajuste y Suministro</option>
                                            <option value="5">Mantenimiento y Limpieza</option>
                                            <option value="3">Sin Posibilidad de Ajuste</option>
                                            <option value="4">Requiere Sub-Contratación</option>
                                            <option value="6">No Autorizado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Nro Informe"></label><br>
                                        <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme5" disabled />
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <br>
                                        <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                        <button class="btn btn-glow btn-primary" type="button" onclick="GenerarInforme(5)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(5)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(5)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(5)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        <button class="btn btn-glow btn-default" type="button" onclick="EliminarReporte(5)" title="Eliminar Reporte"><span class="icon-grande" data-icon="&#xe0d8;"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Ajuste"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste5" readonly />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label idioma="Suministro"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro5" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Observación/Informe"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Observaciones" id="Observaciones5" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12">
                                        <label idioma="Conclusiones"></label><br>
                                        <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion5" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-2">
                                        <label idioma="Número de Foto"></label>
                                        <select class="form-control" name="NumFoto5" id="NumFoto5" onchange="MostrarFoto(5, this.value)" disabled>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label idioma="Examine Foto del Ingreso"></label>
                                        <input type="file" class="form-control" name="Documento5" id="Documento5" accept="image/*" onchange="GuardarDocumentoAdjunto(this.id,4,'')" disabled />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="" id="FotoMan5" width="95%" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos por reportar"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-7">
                            <label idioma="Cliente"></label>
                            <select id="ClienteIngreso" class="form-control" onchange="ConsularReportesIngresos()" style="width:100%"/>
                        </div>  
                        <div class="col-md-5">
                            <label idioma="Busqueda"></label>
                            <select id="TipoTabla" class="form-control" style="width:100%" onchange="ConsularReportesIngresos()">
                                <option value="1">Tareas Asignadas</option>
                                <option value="2" selected>Cotizaciones Aprobadas</option>
                                <option value="3">Cotizaciones Aprobadas/No Aprobado</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table display  table-bordered" id="TablaReportar">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="Nro"></th>
                                    <th width="10%" idioma="Ingreso"></th>
                                    <th width="40%" idioma="Equipo"></th>
                                    <th width="25%" idioma="Plantilla"></th>
                                    <th width="10%"><span idioma="Recibido"></span><br /><span idioma="Aprobado"></span><br /><span idioma="Ajuste"></span></th>
                                    <th width="10%"><span idioma="Transcurrido"></span><br /><span idioma="Aprobado"></span><br /><span idioma="Ajuste"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="enviar_reporte" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarreporte">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Reporte del Ingreso Número"></span> <span id="spreporte"></span></h4>
                </div>
                <input type="hidden" class="form-control" id="eReporte" readonly />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalReportesEliminados" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Reportes Eliminados del Ingreso "></span><span id="rpIngreso"></span> </h4>
            </div>
            <input type="hidden" id="IdPro" name="IdPro" value="0" />
            <div class="modal-body with-padding">
                <div class="table-responsive">
                    <table class="table table-bordered hover" width="100%" id="TablaReporteEliminado">
                        <thead>
                            <tr>
                                <th>Nro</th>
                                <th>Plantilla</th>
                                <th>Concepto</th>
                                <th>Ajuste</th>
                                <th>Suministro</th>
                                <th>Observación</th>
                                <th>Conclusion</th>
                                <th>Reportado</th>
                                <th>Eliminado</th>
                                <th>Observación Eliminación</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


<script>
    $.getScript(url_cliente + 'js/ReportarIngreso.js?unico=' + Math.round(Math.random() * 10000));
    TraducirIdioma($("#menu_idioma").val() * 1);
</script>




