﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabcompras">
            <ul class="nav nav-tabs">
                <li class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar Compras"></span></a></li>
                <li><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcrear">
                    <form id="formmonturas" style="background-color:white">
                        <input type="hidden" name="NCompra" id="NCompra" disabled required />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Compras"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onblur="BuscarProveedor(this.value,1)" onkeyup="ValidarProveedor(this.value,0)" pattern="[0-9]{1,12}" max="12" min="1" name="Proveedor" id="Proveedor" autofocus tabindex="0" />
                                        </div>
                                        <div class="col-xs-10 col-sm-4">
                                            <label idioma="Nombre del Proveedor"></label><br>
                                            <input type="text" class="form-control" name="NombreProveedor" id="NombreProveedor" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="Compra"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarCompra(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Compra" id="Compra" tabindex="1" />
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="# Orden"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarOrdenCompra(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Orden" id="Orden" tabindex="2" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Ciudad/Departamento"></label>
                                            <input type="text" class="form-control" name="Ciudad" id="Ciudad" disabled tabindex="11" />
                                        </div>

                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha Compra"></label>
                                            <input type="date" class="form-control" name="FechaCom" id="FechaCom" onchange="CalcularFechas()" tabindex="11" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="hidden-xs col-sm-4">
                                            <label idioma="Dirección"></label><br>
                                            <input type="text" class="form-control" name="Direccion" id="Direccion" disabled />
                                        </div>

                                        <div class="col-xs-4 col-sm-3">
                                            <label idioma="Email"></label>
                                            <input type="text" class="form-control" name="Email" id="Email" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control" name="Telefonos" id="Telefonos" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="Tipo"></label>
                                            <select type="text" class="form-control" name="Tipo"onchange="CambioTipoCompra(this.value)" id="Tipo" style="width:100%">
                                                <option value="FACTURA">FACTURA</option>
                                                <option value="RECIBO">RECIBO</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Estado"></label>
                                            <input type="text" class="form-control" name="Estado" value="Temporal" id="Estado" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" id="SaldoProveedorDev"></div>

                        <div class="row">
                            <div id="divAnulaciones" class="col-md-12 hidden">
                                <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion" idioma="Prueba"></span></label>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table display table-bordered" width="100%" style="font-size:14px">
                                <thead>
                                    <tr class="bg-primary">
                                        <th width="3%" align="center" height="40px"><input type="checkbox" id="seleccionatodo" onchange="SeleccionarTodo()" class="form-control ocultar" /></th>
                                        <th width="5%" height="40px" idioma="Ingreso"></th>
                                        <th width="40%" height="40px" idioma="Descripción"></th>
                                        <th width="10%" height="40px" idioma="Centro Costo"></th>
                                        <th width="10px" align="center" height="40px" idioma="Cantidad"></th>
                                        <th width="110px" align="center" idioma="Valor Unitario"></th>
                                        <th width="60px" align="center" idioma="% Desc"></th>
                                        <th width="60px" align="center" idioma="IVA"></th>
                                        <th width="110px" align="center" idioma="Valor Total"></th>
                                        <th width="110px" align="center" idioma="Orden de Compra"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody id="bodyCompra"></tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="row" style="font-size:16px; display:none; font-weight:bold; color:black;" id="estadocuenta">
                            <div class="col-md-12">
                                <span idioma="Crédito"></span>: <span class="text-primary" id="clilimite">0.00</span>
                                <a href="javascript:ModalEstadoCuenta()"><span idioma="Saldo"></span>:</a> <span class="text-primary" id="clisaldo">0.00</span>
                                <span idioma="Consumo"></span>: <span class="text-primary" id="cliconsumo">0.00</span>
                                <span idioma="Disponible"></span>: <span class="text-primary" id="clidisponible">0.00</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn btn-glow-group" role="group">
                                    <button type="button" class="btn btn-glow btn-info" onclick="ModalProveedores()">F1 <span idioma="Proveedores"></span></button>
                                    <button type="button" class="btn btn-glow btn-info ocultar" onclick="ModalRecibos()">F10 <span idioma="Buscar Recibo"></span></button>
                                    <button class="btn btn-glow btn-warning ocultar" type="button" onclick="ModalArticulosCom()">F9 <span idioma="Artículo"></span></button>
                                    <button class="btn btn-glow btn-warning ocultar" type="button" onclick="ModalORegistroCom()">F12 <span idioma="Otro Servicio"></span></button>
                                    <button class="btn btn-glow btn-success ocultar" type="button" onclick="GuardarCompras()">F3 <span idioma="Guardar Compras"></span></button>
                                    <button type="button" class="btn btn-glow btn-warning" onclick="ContabilizarCompra(0)">F4 <span idioma="Asiento Contable"></span></button>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="ImprimirCompra(0,'')">F6 <span idioma="Imprimir"></span></button>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="VerAnexor()">F7 <span idioma="Anexos"></span></button>
                                    <button class="btn btn-glow btn-danger" type="button" onclick="Reemplazar()">F2 <span idioma="Reemplazar"></span></button>
                                    <button class="btn btn-glow btn-danger" type="button" onclick="AnularCompra()">F8 <span idioma="Anular"></span></button>
                                    <button class="btn btn-glow btn-warning ocultar" type="button" onclick="EliminarRegistrosSel()">F11 <span idioma="Eliminar"></span></button>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-9   col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Concepto"></label>
                                                <textarea type="text" class="form-control" name="Concepto" id="Concepto" rows="2">FACTURA DE COMPRA</textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-6">
                                                <label idioma="Número Recibo"></label>
                                                <input class="form-control text-XX text-center" id="Recibo" disabled />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tercero"></label>
                                                <input class="form-control" id="Tercero" type="text" disabled />
                                            </div>
                                            <div class="col-sm-2 col-xs-6">
                                                <label idioma="Fecha"></label>
                                                <input class="form-control" id="Fecha" type="text" disabled />
                                            </div>
                                            <div class="col-sm-2 col-xs-6">
                                                <label idioma="Monto"></label>
                                                <input class="form-control text-XX text-right" id="Monto" disabled />
                                            </div>
                                            <div class="col-sm-2 col-xs-6">
                                                <label idioma="Saldo"></label>
                                                <input class="form-control text-XX text-right" id="Pendiente" disabled />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Factura Externa"></label>
                                                <input class="form-control text-XX text-center" id="FacturaExterna" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Fecha de Vencimiento"></label>
                                                <input class="form-control text-XX text-center" id="FechaVencimiento" type="date" onchange="CalcularFechas()" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Días de Pago "></label>
                                                <input class="form-control text-XX text-center" id="PlazoPago" disabled />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Fecha de Registro"></label>
                                                <input class="form-control text-XX text-center" id="FechaReg" disabled />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Usuario"></label>
                                                <input class="form-control text-XX text-center" id="UsuarioReg" disabled />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Saldo de Factura"></label>
                                                <input class="form-control text-XX text-center" id="Saldo" value="0" disabled />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones"></label>
                                                <textarea type="text" class="form-control" name="Observaciones" id="Observaciones" rows="3" />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <h3><span idioma="Datos de la Anulación"></span></h3>
                                                <div id="DatosAnulacion"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Sub-Total"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tsubtotal" id="tsubtotal" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Descuento"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tdescuento" id="tdescuento" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Gravable"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tbaseimponible" id="tbaseimponible" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Exento"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="texcento" id="texcento" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="IVA"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tiva" id="tiva" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right"><a href="javascript:LlamarRetencionComp(1,'Retención Fuente')"><span idioma="Retención Fuente"></span></a></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tretefuente" id="tretefuente" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right"><a href="javascript:LlamarRetencionComp(2,'Retención I.V.A')"><span idioma="Retención I.V.A"></span></a></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="treteiva" id="treteiva" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right"><a href="javascript:LlamarRetencionComp(3,'Retención I.C.A')"><span idioma="Retención I.C.A"></span></a></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="treteica" id="treteica" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label text-right" idioma="Total a Pagar"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="ttotalpagar" id="ttotalpagar" disabled="" style="font-size:22px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Tipo"></label>
                                <select type="text" class="form-control" name="CTipo" id="CTipo" style="width:100%">
                                    <option value="TODOS">Todos</option>
                                    <option value="FACTURA">Facturas</option>
                                    <option value="RECIBO">Recibos</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Compra"></label>
                                <input name="CCompra" id="CCompra" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Orden"></label>
                                <input name="COrden" id="COrden" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <label idioma="Proveedor"></label>
                                <select name="CProveedor" id="CProveedor" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Estado"></label>
                                <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                                    <option value="Todos">Todas</option>
                                    <option value="Registrado">Registrados</option>
                                    <option value="Anulado">Anulados</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Vencida"></label>
                                <select name="CVencida" id="CVencida" class="form-control" style="width:100%">
                                    <option value="Todas">Todas</option>
                                    <option value="SI">SI</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3 text-right">
                                <br />
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarCompras()">F2 <span idioma="Consultar"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuario"></label>
                                <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaCompra" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr class="bg-gris">
                                            <th width="3%">&nbsp;</th>
                                            <th width="5%"><span idioma="Tipo"></span></th>
                                            <th width="5%"><span idioma="Compra"></span></th>
                                            <th width="5%"><span idioma="Orden"></span></th>
                                            <th><span idioma="Fecha"></span></th>
                                            <th><span idioma="Vencimiento"></span></th>
                                            <th width="15%"><span idioma="Proveedor"></span></th>
                                            <th><span idioma="Plazo<br>Pago"></span></th>
                                            <th><span idioma="Tiempo<br>Vencido"></span></th>
                                            <th width="15%"><span idioma="Telefono<br>Dirección"></span></th>
                                            <th><span idioma="Ciudad"></span></th>
                                            <th><span idioma=" Correo Electrónico"></span></th>
                                            <th><span idioma="Subtotal"></span></th>
                                            <th><span idioma="Descuento"></span></th>
                                            <th><span idioma="IVA"></span></th>
                                            <th><span idioma="ReteFuente"></span></th>
                                            <th><span idioma="ReteIVA"></span></th>
                                            <th><span idioma="ReteICA"></span></th>
                                            <th><span idioma="Total"></span></th>
                                            <th><span idioma="Saldo"></span></th>
                                            <th><span idioma="Estado"></span></th>
                                            <th><span idioma="Registro"></span></th>
                                            <th><span idioma="Anulación"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="enviar_factura" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarfactura">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Factura Número"></span> <span id="spfactura"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Proveedor"></label>
                            <input type="text" class="form-control" id="eProveedor" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdffactura" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalDetalleDFac" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulodetalle"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group">
                    <div id="detallemovimiento"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalRecibos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Recibo de Caja Menor"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Nro Recibo"></label>
                        <input name="MRecibo" id="MRecibo" class="form-control" onkeyup="CargarModalRecibos()" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Documento"></label>
                        <input name="MDocumento" id="MDocumento" class="form-control" onkeyup="CargarModalRecibos()" />
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <label idioma="Tercero"></label>
                        <input name="MTercero" id="MTercero" class="form-control" onkeyup="CargarModalRecibos()" />
                    </div>
                </div>
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="TablaModalCoRecibo">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Nro Recibo"></span></th>
                                <th width="20%"><span idioma="Tercero"></span></th>
                                <th width="20%"><span idioma="Concepto"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Monto"></span></th>
                                <th><span idioma="Recaudado"></span></th>
                                <th><span idioma="Pendiente"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalArticulosCom" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Artículos"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Grupo"></label>
                        <select id="CGrupo" class="form-control" onchange="CargarModalArticulosCom()" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Código ó Código de Barras"></label>
                        <input id="CCodigo" class="form-control" onkeyup="CargarModalArticulosCom()" />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <label idioma="Artículo/Marca/Modelo"></label>
                        <input id="CDescripcion" class="form-control" onkeyup="CargarModalArticulosCom()" />
                    </div>
                    <div class="col-xs-6 col-md-2 text-right">
                        <br>
                        <button class="btn btn-glow btn-success" type="button" onclick="ModalNuevoArticuloCom()">Nuevo Artículo</button>
                    </div>

                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaModalArticulosCom">
                        <thead>
                            <tr>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">ID</th>
                                <th width="5%"><span idioma="Código Interno"></span></th>
                                <th width="5%"><span idioma="Código Barras"></span></th>
                                <th><span idioma="Grupo"></span></th>
                                <th><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Artículo"></span></th>
                                <th><span idioma="Marca"></span></th>
                                <th><span idioma="Modelo"></span></th>
                                <th><span idioma="Presentación"></span></th>
                                <th><span idioma="Último Costo"></span></th>
                                <th><span idioma="Existencia"></span></th>
                                <th><span idioma="IVA"></span></th>
                                <th><span idioma="Cuenta Contable"></span></th>
                                <th><span idioma="Proveedor"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalNuevoArticuloCom" class="modal fade" role="dialog">
    <form id="FormAgregarArticuloCom">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Nuevo Artículo"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <input id="ComIdArticulo" name="ComIdArticulo" type="hidden" value="0" />
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Grupo"></label>
                        <div class="col-sm-5">
                            <select class="form-control" id="ComGrupo" onchange="ComCargarEquipos(this.value)" name="Grupo" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Tipo de Inventario"></label>
                        <div class="col-sm-5">
                            <select class="form-control" id="ComTipoInventario" name="TipoInventario" required style="width:100%">
                                <option value="">--Seleccione--</option>
                                <option value="SUMINISTRO">SUMINISTRO</option>
                                <option value="ACTIVO">ACTIVO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Código Barras"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="CodigoBarras" id="ComCodigoBarras" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label"><a href="javascript:ComAgregarOpcion(2,'ARTICULO','ComEquipo')"><span idioma="Artículo"></span> (+)</a></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Equipo" id="ComEquipo" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Presentación"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Presentacion" id="ComPresentacion" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label"><a href="javascript:ComAgregarOpcion(3,'MARCA','ComMarca')"><span idioma="Marcas"></span> (+)</a></label>
                        <div class="col-sm-5">
                            <select name="Marca" id="ComMarca" class="form-control" onchange="ComCargarModelos(this.value)" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3"><a href="javascript:ComAgregarOpcion(4,'MODELO','ComModelo')"><span idioma="Modelos:"></span> (+)</a></label>
                        <div class="col-sm-5">
                            <select id="ComModelo" name="Modelo" class="form-control" style="width:100%" required />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Descripción"></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="Descripcion" id="ComDescripcion" rows="2" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Proveedor"></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Proveedor" id="ComProveedor" style="width:100%" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span idioma="Ultimo Costo"></span></label>
                            <input type="text" id="ComUltimoCosto" name="UltimoCosto" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="7" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span idioma="IVA"></span></label>
                            <select type="text" id="ComIva" name="Iva" style="width:100%;font-size:22px;" />
                        </div>
                        <div class="col-xs-4 col-sm-6 text-right">
                            <br />
                            <button class="btn btn-glow btn-primary" type="button" onclick="ComCalcularPrecio()">Calcular Precios</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio1" idioma="Precio"></span>1</label>
                            <input type="text" id="ComPrecio1" name="Precio1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="3" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio2" idioma="Precio"></span>2</label>
                            <input type="text" id="ComPrecio2" name="Precio2" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="4" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio3" idioma="Precio"></span>3</label>
                            <input type="text" id="ComPrecio3" name="Precio3" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="5" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio4" idioma="Precio"></span>4</label>
                            <input type="text" id="ComPrecio4" name="Precio4" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="6" value="0" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio5" idioma="Precio"></span>5</label>
                            <input type="text" id="ComPrecio5" name="Precio5" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="7" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio6" idioma="Precio"></span>6</label>
                            <input type="text" id="ComPrecio6" name="Precio6" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="8" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio7" idioma="Precio"></span>7</label>
                            <input type="text" id="ComPrecio7" name="Precio7" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="9" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio8" idioma="Precio"></span>8</label>
                            <input type="text" id="ComPrecio8" name="Precio8" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="10" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio9" idioma="Precio"></span>9</label>
                            <input type="text" id="ComPrecio9" name="Precio9" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="11" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio10" idioma="Precio"></span>10</label>
                            <input type="text" id="ComPrecio10" name="Precio10" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="12" value="0" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-success" type="submit"><span idioma="Guardar Articulo"></span></button>
                </div>
            </div>
        </div>
    </form>

</div>

<div id="ModalOtroRegistroCom" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Agregar Otros Registro"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <form class="eventInsForm" action="#" method="post">
                    <input type="hidden" id="ComOIdRegistro" value="0" />
                    <div class="form-group-min row">
                        <div class="col-xs-4 col-md-4">
                            <label idioma="Ingreso"></label>
                            <input class="form-control text-XX text-right" id="ComOIngreso" tabindex="41" name="OIngreso" type="text" onkeyup="ValidarTexto(this,3)" />
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label idioma="Centro de Costo"></label>
                            <select class="form-control" id="ComCentro" tabindex="44" name="ComCentro" style="width:100%" />
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <label idioma="Otro Servicio"></label>
                            <select name="ComOServicio" id="ComOServicio" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <label>Descripción</label>
                            <textarea name="ComODescripcion" Id="ComODescripcion" class="form-control" autofocus rows="4" tabindex="40"></textarea>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Precio"></label>
                            <input class="form-control text-XX text-right" Id="ComOPrecio" tabindex="41" name="ComPrecio" type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="CalcularPOSerCom(this)" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Cantidad"></label>
                            <input class="form-control text-XX text-right" Id="ComOCantidad" tabindex="42" name="ComCantidad" type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="CalcularPOSerCom(this)" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="% Desc"></label>
                            <input class="form-control text-XX text-center" Id="ComODescuento" tabindex="43" name="ComDescuento" type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="CalcularPOSerCom(this)" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Iva"></label>
                            <select class="form-control" Id="ComOIva" tabindex="44" name="ComOIva" onchange="CalcularPOSerCom(this)" style="width:100%">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group-min row">
                        <div class="col-xs-6 col-md-3">
                            <label idioma="Valor Descuento"></label>
                            <input class="form-control text-XX text-right" Id="ComOVDescuento" readonly type="text" />
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label idioma="SubTotal Sin Desc."></label>
                            <input class="form-control text-XX text-right" Id="ComOVSubTotal" readonly type="text" />
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label idioma="IVA"></label>
                            <input class="form-control text-XX text-right" Id="ComOVIva" readonly type="text" />
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label idioma="Total-Neto"></label>
                            <input class="form-control text-XX text-right" Id="ComOVTotal" readonly type="text" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarOtroRegistroCom()"><span idioma="Limpiar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="AgregarOtroRegistroCom()"><span idioma="Agregar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalRetencionComp" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="desretencion"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input id="RTipoRetencion" type="hidden" value="0" />
                <div class="form-group-min row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Base del Cálculo"></label>
                        <center>
                            <input name="RSubTotal" id="RSubTotal" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5)" onchange="CalcularRetencionComp(this)" />
                        </center>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label>Porcentaje del Proveedor (<span id="RPorProveedor"></span>)%</label>
                        <select type="text" name="RPorcentaje" id="RPorcentaje" class="form-control" style="width:100%" onchange="CambioRetencionComp(this.value)"/>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Retención Aplicada"></label>
                        <center>
                            <input name="RRetencion" id="RRetencion" maxlength="12" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5)" onchange="CalcularRetencionComp(this)" />
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="AgregarRetencioComp()"><span idioma="Agregar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="ActualizarRetencioComp()"><span idioma="Actualizar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalAnexos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Anexos de la compra número "></span> <span id="anexocompra"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="row">
                    <div class="table-responsive" style="min-height:300px;">
                        <table class="table table-bordered hover">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>Archivo</th>
                                    <th width="5%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="TBodyAnexo">

                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="form-group row" id="DivAgregarAnexo">
                    <div class="col-md-10">
                        <label idioma="Archivo Tipo PDF"></label>
                        <input type="file" name="CArchivo"  id="CArchivo" onchange="GuardarDocumentoComp()" accept="application/pdf" class="form-control" />
                    </div>
                    <div class="col-md-2 text-right">
                        <br />
                        <button class="btn btn-glow btn-primary" type="button" onclick="AgregarArchivoComp()"><span idioma="Agregar"></span></button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalCotizacion" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Modal de Contabilización"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive">
                    <table class="table table-bordered hover display" width="100%">
                        <thead>
                            <tr class="bg-danger">
                                <th width="5%">&nbsp;</th>
                                <th width="65%">Cuentas</th>
                                <th width="15%">Débito</th>
                                <th width="15%">Crédito</th>
                            </tr>
                        </thead>
                        <tbody id="TbContabilidadComp"></tbody>
                    </table>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <label>Débitos</label>
                        <input class="form-control text-XX text-right" id="TDebitos" disabled />
                    </div>
                    <div class="col-md-4">
                        <label>Créditos</label>
                        <input class="form-control text-XX text-right" id="TCreditos" disabled />
                    </div>
                    <div class="col-md-4">
                        <label>Diferencia</label>
                        <input class="form-control text-XX text-right" id="TDiferencia" disabled />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-success" type="button" id="btncontabilizar" onclick="ContabilizarCompra(1)"><span idioma="Contabilizar"></span></button>
                <button class="btn btn-glow btn-danger" type="button" id="btneliminarconta" onclick="AnularContabilizacion()"><span idioma="Anular"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>



<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Compras.js?unico=' + Math.round(Math.random() * 10000));
</script>




