/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	min-height: 60px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 40px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(../images/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */




/* Header Style */
.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

    .codrops-top a {
        padding: 0px 10px;
        letter-spacing: 1px;
        color: #333;
        text-shadow: 0 -1px 0 #fff;
        display: inline-block;
    }

        .codrops-top a:hover {
            background: rgba(255,255,255,0.8);
            color: #000;
        }

    .codrops-top span.right {
        float: right;
    }

        .codrops-top span.right a {
            float: left;
            display: block;
        }

/* Demo Buttons Style */
.codrops-demos {
    float: right;
    clear: none;
    padding-top: 10px;
}

    .codrops-demos a {
        display: inline-block;
        margin: 10px 10px 10px 0;
        color: #666;
        font-weight: 700;
        line-height: 30px;
        border-bottom: 4px solid transparent;
    }

        .codrops-demos a:hover {
            color: #000;
            border-color: #000;
        }

        .codrops-demos a.current-demo,
        .codrops-demos a.current-demo:hover {
            color: #aaa;
            border-color: #aaa;
        }


.js .fixed-bar {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.js .gallery {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    background: #000 url(../images/black_denim.png);
    box-shadow: 0 2px 1px rgba(255,255,255,0.9), 0 -2px 1px rgba(255,255,255,0.9);
}

.lt-ie8 .elastislide-list {
    display: none;
}

@media screen and (max-width: 690px) {
    .codrops-demos {
        float: left;
        clear: both;
    }
}

/* Custom Elastislide Styling */

.demo-4 .elastislide-horizontal {
    background-color: transparent;
    border-radius: 20px 20px 0 0;
}

    .demo-4 .elastislide-horizontal.elastislide-loading {
        background-image: url(../images/loading_dark.gif);
    }

.demo-4 .elastislide-carousel ul li a {
    padding: 2px;
}

    .demo-4 .elastislide-carousel ul li a img {
        border-radius: 10px;
        border: none;
        box-shadow: 0 1px 2px #000;
    }

.demo-4 .elastislide-wrapper nav span {
    background-color: #666;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.demo-4 .image-preview img {
    border-radius: 0 0 20px 20px;
    max-width: 100%;
    display: block;
}

.demo-4 .elastislide-carousel ul li.current-img a img {
    box-shadow: 0 0 3px 2px rgba(62,235,255,0.8);
}

