﻿
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formProveedores" style="background-color:white">
                <input type="hidden" name="IdProveedor" id="IdProveedor" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Proveedores"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="CambioNIT()"><span idioma="Cambio de NIT/Cédula"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Documento"></label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="Documento" name="Documento" onblur="BuscarProveedor(this.value)" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Razón Social/Nombre"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Nombres" id="Nombres" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Nombre Comercial"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Comercial" id="Comercial">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Contacto"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Contacto" id="Contacto">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Teléfono"></label>
                                <div class="col-sm-2">
                                    <input type="text" name="Telefonos" id="Telefonos" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Celular"></label>
                                <div class="col-sm-2">
                                    <input type="text" id="Celular" name="Celular" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Correo Electrónico"></label>
                                <div class="col-sm-4">
                                    <input type="email" name="Email" id="Email" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="País"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="Pais" id="Pais" onchange="CambioDepartamento(this.value)" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label" idioma="Departamento"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="Departamento" onchange="CambioCiudad(this.value)" id="Departamento" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Ciudad"></label>
                                <div class="col-sm-4">
                                    <select type="text" class="form-control" name="Ciudad" id="Ciudad" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Dirección Principal"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Direccion" id="Direccion">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Forma de Pago"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="FormaPago" id="FormaPago" onchange="CambioTipoPro(this.value)" style="width:100%">
                                        <option value="CREDITO">CREDITO</option>
                                        <option value="CONTADO">CONTADO</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Plazo de Pago"></label>
                                <div class="col-sm-2">
                                    <input type="number" id="PlazoPago" name="PlazoPago" maxlength="3" required class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Rete Fuente"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="ReteFuente" id="ReteFuente" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Rete IVA"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="ReteIva" id="ReteIva" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Rete ICA"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="ReteIca" id="ReteIca" required style="width:100%" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Cuenta Contable"></label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="CuentaContable" id="CuentaContable" style="width:100%" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Estado" ></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="Estado" id="Estado" required style="width:100%">
                                        <option value="1">Activo</option>
                                        <option value="2">Pre-Bloqueo</option>
                                        <option value="3">Bloqueado</option>
                                        <option value="4">Inactivo</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="NIT/Cédula"></label>
                            <input name="MDocumento" id="MDocumento" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Razón Social"></label>
                            <input name="MCliente" id="MCliente" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Nombre Comercial"></label>
                            <input name="MComercial" id="MComercial" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Estado"></label>
                            <select name="MEstado" id="MEstado" class="form-control" style="width:100%">
                                <option value="-1">Todos</option>
                                <option value="1">Activos</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="País"></label>
                            <select name="MPais" id="MPais" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-1 text-center">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarProveedores()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaProveedores">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                    <th width="15%"><span idioma="Razón Social"></span></th>
                                    <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                    <th width="8%"><span idioma="Contacto"></span></th>
                                    <th width="5%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Dirección"></span></th>
                                    <th><span idioma="Telefonos"></span></th>
                                    <th><span idioma="Celular"></span></th>
                                    <th><span idioma="Correo Electrónico"></span></th>
                                    <th><span idioma="Ciudad"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="País"></span></th>
                                    <th><span idioma="Cuenta Contable"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioNitPro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Proveedor"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="12" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Proveedores.js?unico=' + Math.round(Math.random() * 10000));
</script>




