﻿
<div class="tabbable page-tabs" id="tab-clientes">
    <ul class="nav nav-tabs">
        <li class="active"><a id="lab_crearmodificar" href="#tabTablas" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Tablas Generales"></span></a></li>
        <li><a href="#tabmedidas" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Bancos/Cuentas/Tarjetas"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabTablas">
            <div class="tab-pane active fade in" id="tabmagnitud">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Tablas del Sistema"></span></a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label idioma="Tablas del Sistema"></label>
                                <select class="form-control" id="Tablas" name="Tablas" onchange="CargarTablas(this.value)" style="width:100%" />
                            </div>
                            <div class="col-sm-6 text-right">
                                <br />
                                <button id="but_add" class="btn btn-glow btn-default" type="button"><span idioma="Nuevo Registro"></span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="table-responsive" id="DivTablas">
                            <h3><span idioma="SELECCIONE UNA TABLA"></span></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'Scripts/js/bootstable.min.js?unico=' + Math.round(Math.random() * 10000));
</script>




