﻿


<script src="../Scripts/jquery.imgareaselect.min2.js"></script>
<script src="../Scripts/jscamara.js"></script>
<script src="../Scripts/webcam.js"></script>



<style>
    .imgareaselect-outer {
        opacity: 0.2;
        background-color: rgb(0, 0, 0);
    }

    .imgareaselect-border1, .imgareaselect-border2, .imgareaselect-border3, .imgareaselect-border4 {
        border: 2px dashed;
        z-index: 3;
        position: absolute;
    }
</style>

 <div class="tab-content">
            <div class="tab-pane fade active in" id="RegistroCarnet">
                <form id="FormCarnet">
                    <div class="col-sm-6">
                        <input type="hidden" name="id" id="id">
                        <div class="panel panel-primary" style="font-size:16px;">
                            <div class=" panel-heading "><h6 class="panel-title"><i class="icon-table"></i>Datos del Personal</h6></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                Cedula:
                                            </div>
                                            <div class="col-sm-5">
                                                <input name="im_cedula" id="im_cedula" class="form-control grande" required type="text" placeholder="23748213" onkeyup="BuscarCedula(event, this.value)">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                Nombres:
                                            </div>
                                            <div class="col-sm-9">
                                                <input name="im_nombres" id="im_nombres" class="form-control grande" readonly="" type="text" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                Apellido:
                                            </div>
                                            <div class="col-sm-9">
                                                <input name="im_apellidos" id="im_apellidos" readonly="" class="form-control grande" type="text" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                Estatus:
                                            </div>
                                            <div class="col-sm-4">
                                                <input name="im_sangre" id="im_sangre" readonly="" class="form-control grande" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="row ">
                                            <div class="col-sm-12 text-right">
                                                <div style="border:1px black solid; float:left; position:relative; overflow:hidden; width:200px; height:200px;">
                                                    <img id="im_fotoper" name="im_fotoper" src="../images/rostro.png" width="100%" alt="../images/rotros.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                PNF:
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <input readonly="" name="im_gerencia" id="im_gerencia" class="form-control grande" value="" required type="text">
                                        </input>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                NUCLEO:
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <input readonly="" name="nucleo" id="nucleo" class="form-control grande" value="" required type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                PERIODO:
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <input readonly="" name="idperiodoac" id="idperiodoac" class="form-control grande" value="" required type="text">
                                        </input>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <div class="panel-body">
                                    <button type="button" class="btn btn-danger" name="lp_Submit3" onclick="Limpiar()">Limpiar</button>
                                    <button type="submit" class="btn btn-success" name="lp_Submit5">IMPRIMIR CARNET</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-success" style="font-size:14px;">
                            <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Foto del Carnet</h6></div>
                            <div class="panel-body">
                                <div class="form-group row">
                                    <div class="col-sm-12">

                                        <div id="divfoto">
                                            <img src="../archivo/rostro.png" name="thumbnail" id="thumbnail" alt="Create Thumbnail" required />
                                        </div>
                                        <input type="hidden" name="x1" value="" id="x1" />
                                        <input type="hidden" name="y1" value="" id="y1" />
                                        <input type="hidden" name="x2" value="" id="x2" />
                                        <input type="hidden" name="y2" value="" id="y2" />
                                        <input type="hidden" name="w" value="" id="w" />
                                        <input type="hidden" name="h" value="" id="h" />
                                        <input name="im_id" id="im_id" value="0" type="hidden">
                                        <input name="id_nom" id="id_nom" value="0" type="hidden">
                                        <input name="sexo" id="sexo" value="0" type="hidden">


                                    </div>
                                </div>
                                <div class="form-group-px row">
                                    <div class="col-sm-12">
                                        <input id="im_archivo" type="file" onchange="CargarFoto()">
                                    </div>
                                </div>

                                <div id='botonera' class="form-group-px row">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-success" id='botonIniciar' type='button' data-toggle="modal" role="button" href="#default_modal">Iniciar Cámara</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>



        </div>
   

 <div id="default_modal" class="modal fade" tabindex="0" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body with-padding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-success" style="font-size:14px;">
                                <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Cámara Vídeo</h6></div>
                                <div class="panel-body">
                                    <video id="camara" autoplay></video>
                                    <script>
                                        Webcam.set({
                                            width: 430,
                                            height: 320,
                                            image_format: 'jpg'
                                        });
                                        Webcam.attach('#camara');

                                    </script>
                                    <div class="row text-center">
                                        <button class="btn btn-success" id='botonFoto' type='button'>Capturar Foto</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <form id="guardarfotocamara">
                                <div class="panel panel-success" style="font-size:14px;">
                                    <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Foto</h6></div>
                                    <div class="panel-body">
                                        <div id="fotocam">

                                        </div>
                                        <input type='hidden' name='id_imagen' id="id_imagen" value="">
                                        <div class="row text-center">
                                            <button class="btn btn-success" id="guardarfotocam" type='button'>Guardar Foto</button>
                                        </div>
                                        <canvas id="tci6fotonue" style="display:none;"></canvas>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" id="botonDetener222" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



<audio id="audio" name="audio" type="hidden">
    <source src="../media/camara.ogg" type="audio/ogg">

    </source>
</audio>

<script src="../Scripts/imprimircarnet.js"></script>


