﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Auditoría del Sistema"></span></a></h3>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <button class="btn btn-glow btn-info" type="button" id="btnguardar1" onclick="TablaAuditoria()">F2<span idioma="Buscar"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Módulos"></label>
                            <input name="Modulo" id="Modulo" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Acciones"></label>
                            <input name="Accion" id="Accion" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <label idioma="Usuario"></label>
                            <select name="Usuario" id="Usuario" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="FechaDesde" id="FechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="FechaHasta" id="FechaHasta" class="form-control" />
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-8">
                            <label idioma="Consula Realizada"></label>
                            <input name="Consulta" id="Consulta" class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" width="100%" id="TablaAuditoria" style="font-size:14px">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="8%" idioma="Fecha"></th>
                                    <th width="8%" idioma="Usuario"></th>
                                    <th width="15%" idioma="Módulo"></th>
                                    <th width="15%" idioma="Acción"></th>
                                    <th width="8%" idioma="IP"></th>
                                    <th width="30%" idioma="Consulta"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Auditoria.js?unico=' + Math.round(Math.random() * 10000));
</script>




