﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Respaldar Archivos"></span></a></h3>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <button class="btn btn-glow btn-info" type="button" id="btnguardar1" onclick="RespaldarArchivos()">F2 <span idioma="Respaldar Archivo"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <h3>Rutas para respaldar</h3>
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" width="100%" style="font-size:14px">
                                    <thead>
                                        <tr class="bg-gris">
                                            <th width="5%" idioma="Seleccione"></th>
                                            <th width="10%" idioma="Días"></th>
                                            <th width="10%" idioma="Horas"></th>
                                            <th width="70%" idioma="Ruta"></th>
                                            <th width="5%" idioma="Estado"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="TablaRespaldo"></tbody>
                                </table>
                                <hr>
                                
                                <h3>Unidades de discos disponibles:</h3>
                                <select class="form-control" style="width:100%" id="UnidadDisco">
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>Rutas Respaldadas</h3>
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" width="100%" id="TablaAuditoria" style="font-size:14px">
                                    <thead>
                                        <tr class="bg-gris">
                                            <th width="90%" idioma="Ruta"></th>
                                            <th width="10%" idioma="Descargar"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>Historial de Respaldo</h3>
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" width="100%" id="TablaAuditoria" style="font-size:14px">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="5%" idioma="Nro"></th>
                                    <th width="10%" idioma="Fecha"></th>
                                    <th width="10%" idioma="Usuario"></th>
                                    <th width="70%" idioma="Ruta"></th>
                                    <th width="5%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/RespaldoArchivo.js?unico=' + Math.round(Math.random() * 10000));
</script>




